<app-profile-pharmacy *ngIf="session.currentUser().role === USER_ROLE.ROLE_PHARMACY ||session.currentUser().role === USER_ROLE.ROLE_OPTICIAN"></app-profile-pharmacy>
<app-profile-customer *ngIf="session.currentUser().role === USER_ROLE.ROLE_CUSTOMER || session.currentUser().role === USER_ROLE.ROLE_DELIVERER"></app-profile-customer>