<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>{{'TITLE_MANAGE_PARTNER' | translate}}
                <small class="text-muted">{{'SUBTITLE_MANAGE_PARTNER' | translate }}</small>
            </h2>
        </div>
    </div>
</div>
<div *ngIf="selectedForShowDetails" class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>{{titleDetails.label | translate:titleDetails.params}}</strong></h2>
                <ul class="header-dropdown">
                    <li class="remove">
                        <a role="button" class="boxs-close"><i class="zmdi zmdi-close" (click)="closeDetails()"></i></a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-6">
                        <small class="text-muted">{{'FIELD_NAME' | translate }}: </small>
                        <p>{{selectedForShowDetails.name}}</p>
                        <hr>
                        <small class="text-muted">{{'FIELD_MAIL' | translate }}: </small>
                        <p>{{selectedForShowDetails.mail}}</p>
                        <hr>
                        <small class="text-muted">{{'FIELD_ADDRESS' | translate }}: </small>
                        <p>{{selectedForShowDetails.address.fullAddress}}</p>
                        <hr>
                        <small class="text-muted">{{'FIELD_RESP' | translate }}: </small>
                        <p>{{selectedForShowDetails.responsibleName}}
                        </p>
                        <hr>
                        <small class="text-muted">{{'FIELD_RIB' | translate }}: </small>
                        <p>{{selectedForShowDetails.rib}}
                        </p>
                        <hr>
                        <p><button class="btn-raised btn-success btn-round waves-effect" (click)="generateKey(selectedForShowDetails)">Regénérer la clé secrète</button></p>
                        <hr>
                    </div>
                    <div class="col-6">
                        <small class="text-muted">{{'FIELD_ACCESSKEY' | translate }}: </small>
                        <p>{{selectedForShowDetails.accessKey}}</p>
                        <hr>
                        <small class="text-muted">{{'FIELD_PHONE_NUMBER' | translate }}: </small>
                        <p>{{selectedForShowDetails.phoneNumber}}</p>
                        <hr>
                        <small class="text-muted">{{'FIELD_SIRET' | translate }}: </small>
                        <p>{{selectedForShowDetails.siret}}
                        </p>
                        <hr>
                        <small class="text-muted">{{'FIELD_RESP' | translate }}: </small>
                        <p>{{selectedForShowDetails.responsibleLastname}}
                        </p>
                        <hr>
                        <small class="text-muted">{{'FIELD_BIC' | translate }}: </small>
                        <p>{{selectedForShowDetails.bic}}
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div [hidden]="hideEditForm" class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>{{titleForm.label | translate:titleForm.params}}</strong></h2>
                <ul class="header-dropdown">
                    <li class="remove">
                        <a role="button" class="boxs-close"><i class="zmdi zmdi-close" (click)="closeEdit()"></i></a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <form [formGroup]="formGroup">
                    <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">
                        <input type="text" class="form-control col-3 inline-block" name="mail"
                            placeholder="{{'FIELD_MAIL' | translate }}" formControlName="mail">
                        <input type="text" class="form-control col-3 inline-block" name="name"
                            placeholder="{{'FIELD_NAME' | translate }}" formControlName="name">
                        <input type="text" class="form-control col-3 inline-block" name="phoneNumber"
                            placeholder="{{'FIELD_PHONE_NUMBER' | translate }}" formControlName="phoneNumber">
                    </div>
                    <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">
                        <input type="text" class="form-control col-3 inline-block" name="responsibleName"
                            placeholder="{{'FIELD_RESP_NAME' | translate }}" formControlName="responsibleName">
                        <input type="text" class="form-control col-3 inline-block" name="responsibleLastname"
                            placeholder="{{'FIELD_RESP_LASTNAME' | translate }}" formControlName="responsibleLastname">
                    </div>
                    <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">
                        <input type="text" class="form-control col-4 inline-block" name="fullAddress"
                            placeholder="{{'FIELD_ADDRESS' | translate}}" #address>
                    </div>
                    <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">
                        <input type="text" class="form-control col-3 inline-block" name="siret"
                            placeholder="{{'FIELD_SIRET' | translate }}" formControlName="siret">
                        <input type="text" class="form-control col-3 inline-block" name="rib"
                            placeholder="{{'FIELD_RIB' | translate }}" formControlName="rib">
                        <input type="text" class="form-control col-3 inline-block" name="bic"
                            placeholder="{{'FIELD_BIC' | translate }}" formControlName="bic">
                    </div>
                    <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">
                        <button (click)="submitForm()" type="button" [disabled]="!formGroup.valid"
                            class="col-6btn btn-raised btn-success btn-round waves-effect">{{'CONFIRM' |
                            translate}}</button>
                    </div>
                </form>
                <div *ngIf="error" class="alert alert-danger" style="margin-top: 10px;">
                    {{error | translate}}
                </div>
            </div>
        </div>
    </div>
</div>

<div [hidden]="hideList" class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>Liste des Partenaires</strong></h2>
            </div>
            <div class="body table-responsive">
                <div *ngIf="errorList" class="alert alert-danger">
                    {{errorList | translate}}
                </div>
                <div *ngIf="successList" class="alert alert-success">
                    {{successList | translate}}
                </div>
                <button (click)="add()" class="btn btn-success btn-icon  btn-icon-mini btn-round">
                    <i class="zmdi zmdi-account-add"></i>
                </button>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{'COL_EMAIL_ADDRESS' | translate }}</th>
                            <th>{{'COL_NAME' | translate }}</th>
                            <th>{{'FIELD_PHONE_NUMBER' | translate }}</th>
                            <th>{{'FIELD_ADDRESS' | translate }}</th>
                            <th>{{'COL_STATUS' | translate }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let partner of list">
                            <td class="break-word">{{partner.mail}}</td>
                            <th class="break-word" scope="row">{{partner.name}}</th>
                            <th class="break-word" scope="row">{{partner.phoneNumber}}</th>
                            <td class="break-word">{{ partner.address.fullAddress }}</td>
                            <td><span [ngClass]="{'badge-danger': partner.status==='DELETED', 
                                'badge-warning':partner.status==='BLOCKED', 
                                'badge-success':partner.status==='ACTIVE'  }" class="badge m-l-10">{{partner.status |
                                    translate}}</span></td>
                            <td style="text-align: center" *ngIf="session.currentAdmin()._id !== partner._id">
                                <button tooltip="{{'TOOLTIP_SHOW_DETAILS' | translate}}" (click)="showDetails(partner)"
                                    class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round btn-default"><i
                                        class="zmdi zmdi-info"></i></button>
                                <button tooltip="{{'TOOLTIP_EDIT_ACCOUNT' | translate}}" (click)="edit(partner)"
                                    class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round btn-success"><i
                                        class="zmdi zmdi-edit"></i></button>
                                <button tooltip="{{'TOOLTIP_UNLOCK_ACCOUNT' | translate}}"
                                    *ngIf="partner.status === 'BLOCKED'" (click)="changeStatus(partner, 'ACTIVE')"
                                    class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round btn-warning"><i
                                        class="zmdi zmdi-lock-open"></i></button>
                                <button tooltip="{{'TOOLTIP_BLOCK_ACCOUNT' | translate}}"
                                    *ngIf="partner.status === 'ACTIVE'" (click)="changeStatus(partner, 'BLOCKED')"
                                    class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round btn-warning"><i
                                        class="zmdi zmdi-lock"></i></button>
                                <button tooltip="{{'TOOLTIP_DELETE_ACCOUNT' | translate}}" type="button"
                                    *ngIf="partner.status !== 'DELETED'" (click)="changeStatus(partner, 'DELETED')"
                                    class="btn btn-icon btn-simple btn-icon-mini btn-round btn-danger">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Identifiants du partenaire</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12" style="word-break: break-word;">
                <p>
                    Veuillez noter ces identifiants pour l'envoyer au partenaire car il ne sera pas possible de
                    récupérer la clé secrète.
                </p>
                <ul>
                    <li>accessKey: {{responseAfterCreation.accessKey}}</li>
                    <li>secretKey: {{responseAfterCreation.secretKey}}</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button (click)="d('Cross click')" class="col-6btn btn-raised btn-success btn-round waves-effect"
            type="button">C'est noté !</button>
    </div>
</ng-template>