<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">{{topic.title}}</h1>
          <ol class="breadcrumb">
            <li><a href="#" title="Home">{{'BY' | translate }} {{topic.author.lastName}} {{topic.author.name}}</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-page-main-wrapper">
  <div class="container">
    <div class="row right-sidebar">
      <main class="col-lg-9 main-content">
        <div class="blog-single-post blog-post">
          <div class="post-info">
            <h2 class="post-title">{{topic.title}}</h2>
            <div class="post-meta">
              <span class="meta-author"><i class="fa fa-user-o"></i><a> {{topic.author.lastName}}
                  {{topic.author.name}}</a></span>
              <span class="meta-date"><i class="fa fa-calendar-times-o" aria-hidden="true"></i>
                {{ topic.insertAt | date:'dd LLLL yyyy HH:mm'}}</span>
              <span class="meta-category"><i class="fa fa-folder-o" aria-hidden="true"></i>
                <a>{{topic.category.title | translate}}</a></span>
            </div>
            <div class="post-des">
              {{topic.description}}
            </div>
          </div>
        </div>
        <div class="comment-area">
          <h3 class="ca-title">{{topic.messages.length}} {{'COMMENTS' | translate}}</h3>
          <ol class="comment-list">
            <li class="comment" *ngFor="let message of topic.messages">
              <article class="comment-body">
                <div class="comment-author">
                  <img src="{{message.author.avatar === undefined ? 'assets/img/user.svg': fileService.getPublicUrl(message.author.avatar)}}" alt="">
                </div>
                <div class="comment-content">
                  <div class="comment-metadata">
                    <span class="author-name"><a >{{message.author.lastName + ' ' + message.author.name}}</a></span>
                    <span class="post-date">{{ message.insertAt | date:'dd LLLL yyyy HH:mm'}}</span>
                  </div>
                  <div class="comment-txt">
                      {{message.content}}
                  </div>
                </div>
              </article>
            </li>
          </ol>
          <div class="comment-respond">
            <h3 class="ca-title">{{'TITLE_LEAVE_A_COMMENT' | translate}}</h3>
            <form class="comment-form" [formGroup]="messageFormGroup">
              <div class="form-group">
                <textarea  formControlName="content" class="form-control" rows="5" placeholder="Message" name="content"></textarea>
              </div>
              <div class="text-lg-left">
                <button type="submit" class="btn fill-style" [disabled]="!messageFormGroup.valid" (click)="submit()">
                    {{'BTN_POST_COMMENT' | translate}}
                </button>
              </div>
            </form>
          </div>
        </div>
      </main>

      <aside class="col-3 sidebar">
        <div class="widget widget-search">
          <form role="search" class="widget-search-form">
            <div class="input-group">
              <input type="text" class="form-control" (change)="setSearchText($event)"
                placeholder="{{'SEARCH_INPUT' | translate}}" [attr.aria-label]="'SEARCH_INPUT' | translate"
                autocomplete="off">
              <span class="input-group-btn">
                <button class="btn" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
        </div>
        <div class="widget widget-tags">
          <h2 class="widget-title">{{'TITLE_CATEGORIES' | translate}}</h2>
          <div class="tagcloud">
            <a class="pointer-link" (click)="setAllCategory()">{{'ALL_CATEGORY' | translate}}</a>
            <a *ngFor="let category of categories" class="pointer-link"
              (click)="setSelectedCategory(category)">{{category.title | translate}}</a>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>

<div class="container margin_60_35">
  <div class="row">

    <div class="col-md-9">

      <div id="comments">
        <ol>
          <li *ngFor="let message of topic.messages">
            <div class="avatar"><a href="#"><img style="width : 50px; height: 50px;"
                  src="{{message.author.avatar === undefined ? 'assets/img/user.svg': message.author.avatar}}"
                  alt=""></a></div>
            <div class="comment_right clearfix">
              <div class="comment_info">
                {{'BY' | translate }} <a></a><span>|</span>
              </div>
              <p>
              </p>
            </div>
          </li>
        </ol>
      </div><!-- End Comments -->

      <form [formGroup]="messageFormGroup">
        <div class="form-group">
          <textarea formControlName="content" name="message" class="form-control styled" style="height:150px;"
            placeholder="Message"></textarea>
        </div>
        <div class="form-group">
          <button [disabled]="!messageFormGroup.valid" (click)="submit()"
            class="btn_1">{{'BTN_POST_COMMENT' | translate}}</button>
        </div>
      </form>
    </div><!-- End col-md-9-->

    <aside class="col-md-3" id="sidebar">

      <div class="widget">
        <div id="custom-search-input-blog">
          <div class="input-group col-md-12">
            <input type="text" class="form-control input-lg" (change)="setSearchText($event)"
              placeholder="{{'SEARCH_INPUT' | translate}}">
            <span class="input-group-btn">
              <button class="btn btn-info btn-lg" type="button">
                <i class="icon-search-1"></i>
              </button>
            </span>
          </div>
        </div>
      </div><!-- End Search -->
      <hr>
      <div class="widget">
        <h4>{{'TITLE_CATEGORIES' | translate}}</h4>
        <ul id="cat_nav_blog">
          <li class="pointer-link"><a (click)="setAllCategory()">{{'ALL_CATEGORY' | translate}}</a></li>
          <li *ngFor="let category of categories" class="pointer-link"><a
              (click)="setSelectedCategory(category)">{{category.title | translate}}</a></li>
        </ul>
      </div><!-- End widget -->

    </aside><!-- End aside -->
  </div>
</div>