<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>{{'TITLE_MANAGE_PROMO_CODE' | translate}}
                <small class="text-muted">{{'SUBTITLE_MANAGE_PROMO_CODE' | translate }}</small>
            </h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div [hidden]="hideEditForm" class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>{{titleForm.label | translate:titleForm.params}}</strong></h2>
                            <ul class="header-dropdown">
                                <li class="remove">
                                    <a role="button" class="boxs-close"><i class="zmdi zmdi-close"
                                            (click)="closeEdit()"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form [formGroup]="promoCodeFormGroup">
                                <div class="row justify-content-md-center" style="margin-top: 10px;">
                                    <div class="col-lg-4 col-md-4">
                                        <b>{{'FIELD_CODE_PROMO' | translate}}</b>
                                        <div class="input-group">
                                            <input type="text" formControlName="promoCode"
                                                class="form-control" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <b>{{'FIELD_USED_TIME_MAX' | translate}}</b>
                                        <div class="input-group">
                                            <input type="number" formControlName="usedTimeMax"
                                                class="form-control money-dollar" placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <b>{{'FIELD_PERCENTAGE' | translate}}</b>
                                        <div class="input-group">
                                            <input type="number" formControlName="percentage"
                                                class="form-control money-dollar" placeholder="">
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">
                                    <button (click)="submitForm()" type="button" [disabled]="!promoCodeFormGroup.valid"
                                        class="col-6btn btn-raised btn-success btn-round waves-effect">{{'CONFIRM' | translate}}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body table-responsive">
                    <button type="button" (click)="displayAddForm()"
                        class="btn btn-success btn-icon btn-icon-mini btn-round hidden-sm-down">
                        <i class="zmdi zmdi-plus-circle"></i>
                    </button>
                    <table
                        class="table table-hover m-b-0 c_list footable footable-1 footable-paging footable-paging-center breakpoint breakpoint-md">
                        <thead>
                            <tr class="footable-header">
                                <th class="footable-sortable" style="display: table-cell;">
                                    {{'FIELD_CODE_PROMO' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs" class="footable-sortable" style="display: table-cell;">
                                    {{'FIELD_USED_TIME' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs sm md" class="footable-sortable">
                                    {{'FIELD_USED_TIME_MAX' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs sm md" class="footable-sortable">
                                    {{'FIELD_PERCENTAGE' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th>{{'COL_STATUS' | translate }}</th>
                                <th data-breakpoints="xs" class="footable-sortable footable-last-visible"
                                    style="display: table-cell;">{{'COL_ACTION' | translate}}<span
                                        class="fooicon fooicon-sort"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td *ngIf="promoCodeList.length === 0" colspan="6" style="text-align: center;">
                                    {{'NO_DATA' | translate}}</td>
                            </tr>
                            <tr *ngFor="let promoCode of promoCodeList">
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{promoCode.promoCode | translate}}
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{promoCode.usedTimes}}
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <span class="phone">
                                        {{promoCode.usedTimeMax}}
                                    </span>
                                </td>
                                <td style="display: table-cell;">
                                    <span class="phone">
                                        {{promoCode.percentage}}
                                    </span>
                                </td>
                                <td><span [ngClass]="{'badge-danger': promoCode.status==='DISABLED',
                                    'badge-success':promoCode.status==='ENABLED'  }"
                                        class="badge m-l-10">{{promoCode.status | translate}}</span></td>
                                <td class="footable-last-visible" style="display: table-cell;">
                                    <button tooltip="{{'TOOLTIP_EDIT' | translate}}" (click)="displayEditForm(promoCode)"
                                        class="btn btn-success btn-icon btn-simple btn-icon-mini btn-round"><i
                                            class="zmdi zmdi-edit"></i></button>
                                    <button tooltip="{{'TOOLTIP_ENABLE' | translate}}" *ngIf="promoCode.status === 'DISABLED'" (click)="changeStatus(promoCode, 'ENABLED')"
                                        class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round btn-warning"><i
                                            class="zmdi zmdi-lock-open"></i></button>
                                    <button tooltip="{{'TOOLTIP_DISABLE' | translate}}" *ngIf="promoCode.status === 'ENABLED'" (click)="changeStatus(promoCode, 'DISABLED')"
                                        class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round btn-warning"><i
                                            class="zmdi zmdi-lock"></i></button>
                                    <button tooltip="{{'TOOLTIP_DELETE' | translate}}" (click)="deleteElement(promoCode._id)"
                                        class="btn btn-danger btn-icon btn-simple btn-icon-mini btn-round"><i
                                            class="zmdi zmdi-delete"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
            <div class="card" *ngIf="promoCodeList.length > 0">
                <div class="body">
                    <ul class="pagination pagination-primary m-b-0">
                        <li class="page-item" [ngClass]="{'disabled': page <= 0}"><a class="page-link"
                                (click)="changePage(page-1)"><i class="zmdi zmdi-arrow-left"></i></a>
                        </li>
                        <li class="page-item active"><a class="page-link">{{page+1}}</a></li>
                        <li class="page-item" *ngIf="((page + 1 ) * limit) < nbTotal"><a class="page-link"
                                (click)="changePage(page+1)"><i class="zmdi zmdi-arrow-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>









<!-- 
                                <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">

                                        <div class="col-lg-4 col-md-4">
                                            <b>{{'FIELD_TIME_OF_USE' | translate}}</b>
                                            <div class="input-group">
                                                <span class="input-group-addon"><i class="zmdi zmdi-time-countdown"></i>
                                                </span>
                                                <input type="text" formControlName="timeToUse"
                                                    class="form-control money-dollar"
                                                    placeholder="{{'FIELD_PLACEHOLDER_TIME_TO_USE' | translate}}">
                                            </div>
                                        </div>
                                    </div> -->