<ion-content>

    <div class="row h-100">
        <div class="col-xs-12 col-sm-12">
            <div class="rest-container">
                <div class="scan-your-card-container-none">
                    <form action="/" method="post" id="payment-form">

                        <div class="form-row">
                            <div id="card-element">
                                <!-- a Stripe Element will be inserted here. -->
                            </div>

                            <!-- Used to display Element errors -->
                            <div id="card-errors" role="alert"></div>
                        </div>

                        <div class="btn-save" style="text-align: center;">
                            <button class="btn btn-primary" style="width: 90%;">{{'SAVE_CARD' | translate}} <span class="far fa-save"></span>
                            </button>
                        </div>
                    </form>

                </div>
            </div>
        </div>

    </div>
</ion-content>