@media screen and (max-width: 575.98px){
 	.apropos-rowReverse-reponsvie{
 		flex-direction: column-reverse;
 	}
 }

@media screen and (max-width: 575.98px){
	.apropos-images-wrapper{
		width: 220px;
	}
}

@media screen and (min-width: 411px) and (max-width: 411px){
	.apropos-images-wrapper{
		width: 220px;
	}
}

@media screen and (min-width: 280px) and (max-width: 280px){
	.apropos-images-wrapper{
		width: 142px;
	}
}



@media screen and (max-width: 575.98px){
	.apropos-images-reponsvie{
		margin: -3% 14% 0%!important;
	}
}


@media screen and (max-width: 575.98px){
	.apropos-text-reponsvie{
		text-align: center!important;
	}
}





