<head> <meta name="viewport" content="width=device-width"/></head>

<section class="home-4-banner main-banner main-slider" >
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-7">
        <div class="banner-content">
          <h1 class="title"  >A propos de Livmed’s</h1>
        </div>
      </div>
      <div class="col-lg-6 col-md-4 offset-lg-0 offset-md-1">
        <div class="img-wrapper img-right banner-img">
          <img src="assets/images/apropos/Livmed's equipe.png" alt="La startup française Livmed’s lance un service innovant, la livraison de produits de pharmacie à domicile ">
        </div>
      </div>
    </div>
  </div>
</section>

<div class="blog-page-main-wrapper bg-color" >

  <section class="h4-awesome-feature bg-color">
    <div class="container">
      <div class="s-title">
        <h2 class="wow">Notre idée </h2>
        <p><I>Livmed’s : une plateforme ludique, intuitive et complète. </I> </p>
      </div>
      <div style="text-align: center;    border-radius: 40px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
    height: 100%;">
        <p style="
    padding-top: 43px;
    padding-bottom: 43px;
    padding-left: 43px;
    padding-right: 43px;
">Les deux fondateurs sont des jeunes entrepreneurs dont les mamans sont chacune atteintes de maladies chroniques.
          Régulièrement confrontés à l’urgence et au monde médical et pharmaceutique, ils pensent alors au phénomène de l'ubérisation.
          La santé étant primordiale pour tous, Livmed’s permet de répondre au risque de rupture de soins.
          Cette problématique touchant des millions de personnes, la création d’un système de livraison de médicaments à domicile 24h/7j paraissait donc indispensable.
          C’est ainsi que Livmed’s est née en Février 2020.
        </p>

      </div>
    </div>
  </section>

  <section class="h4-awesome-feature ">
  <div class="container  bg-color">
    <div class="s-title">
      <h2 class="wow"> Une start-up RSE </h2>
    </div>
    <div class="row align-items-center"  style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
           height: 100%;
           margin: 0% 6% 3%;" >
      <div class="col-lg-6" style="padding-top: 62px;
    padding-bottom: 43px;
    padding-left: 43px;">
        <div class="apropos-images-wrapper" >
          <img  style="width: 100%;margin: -3% -1% 0%;" src="assets/images/apropos/Livmed's livraison patient.jpeg" loading="lazy" alt="Pour faciliter l’accès aux soins, Livmed’s met en place l’application de livraison express de médicaments" ><br>
        </div>
      </div>
      <div class="col-lg-6 ">
        <div >
          <div style="text-align: center; margin: 6% 0% 9%;">
            <h3 style="padding-bottom: 13px;"><b>Le bien-être de nos clients</b></h3>
            <p class="text-service-body" class="apropos-text-reponsvie" style="    text-align: justify;
    margin: -3% 0% -6%;
    font-size: 14px;
    padding-right: 25px;">Nous aspirons à faciliter l’accès aux soins pour tous et à améliorer le bien-être de nos clients. Pour cela, nous mettons en place un service rapide et efficace : la livraison des médicaments et produits de parapharmacie à domicile en 30 minutes. Via notre application et site internet, nos clients peuvent se faire livrer à leur domicile ou celui d’un proche, voire même à leur lieu de travail. Nous avons conçu pour vous, une application ludique et ergonomique afin que chacun puisse commander en toute simplicité, ceci avec ou sans ordonnance. De plus, notre hébergeur de données de santé agréé certifie la protection de vos informations personnelles.</p>
          </div>
        </div>
      </div>
    </div>


    <div class="row align-items-center apropos-rowReverse-reponsvie"    style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
           height: 100%;
           margin: 0% 6% 3%;" >
      <div class="col-lg-6">
        <div >
          <div  style="text-align: center; margin: 6% 0% 9%;">
            <h3 style="padding-bottom: 13px;" ><b>Des livreurs éco-responsables</b></h3>
            <p class="text-service-body"  class="apropos-text-reponsvie" style="    text-align: justify;
    margin: -3% 0% -6%;
    padding-left: 25px;
    font-size: 14px;">Nous recrutons avec soin les coursiers chez Livmed's, car nous avons conscience de l'importance des produits transportés. Nous mettons donc à leur disposition des sacs isothermes conformes aux normes du transport médical permettant ainsi la bonne conservation des médicaments. De plus, la confidentialité est assurée car le livreur reçoit un colis scellé garantissant ainsi le secret médical.
              Nos livreurs ont l’obligation d’effectuer leurs missions en véhicules propres (vélo ou scooter électrique), assurant des livraisons éco-responsables.
              Enfin, Livmed's est la plateforme qui rémunère le mieux ses livreurs dans l’optique de les responsabiliser et de les motiver.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 " style="padding-top: 62px;
    padding-bottom: 43px;
    padding-right: 43px;">
        <div class="apropos-images-wrapper" >
          <img style="width: 100%;margin: -3% -1% 0%;"  class="apropos-images-reponsvie" src="assets/images/apropos/Livmed's livreur eco-responsable.jpeg" loading="lazy"  alt="Livmed’s recrute avec soin ses livreurs pour assurer une livraison conforme aux normes du transport médical"><br>
        </div>
      </div>
    </div>


    <div class="s-title" style="margin-bottom: 4%;">
      <h2 class="wow" style="padding-top: 20px;"> Notre savoir-faire  </h2>
    </div>

    <div class="row align-items-center" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
           height: 100%;
           margin: 0% 6% 3%;" >
      <div class="col-lg-6" style="padding-top: 62px;
    padding-bottom: 43px;
    padding-left: 43px;">
        <div class="apropos-images-wrapper">
          <img style="width: 100%;margin: -3% -1% 0%;" src="assets/images/apropos/Livmed's aide pharmacies.jpeg" loading="lazy" alt=" Livmed’s propose aux officines un service de livraison de médicaments aux clients qui est totalement gratuit"><br>
        </div>
      </div>
      <div class="col-lg-6 ">
        <div >
          <div style="text-align: center; margin: 6% 0% 9%;">
            <h3 style="padding-bottom: 13px;"><b>Une aide aux pharmacies </b></h3>
            <p class="text-service-body" class="apropos-text-reponsvie" style="    text-align: justify;
    margin: -3% 0% -6%;
    padding-right: 25px; font-size: 14px;">Nous aspirons à faciliter le travail des professionnels de santé, un secteur où le manque de personnel est de plus en plus problématique. Notre objectif étant aussi de désengorger les officines, nous proposons un service totalement gratuit et sans engagement pour celles-ci. Nos pharmacies partenaires auront ainsi accès à une nouvelle clientèle, présente sur notre application, et inviter leurs clients à utiliser ce service sans avoir à déléguer la tâche au personnel de l’officine. Rejoindre Livmed’s, c’est passer à l’ère du digital et moderniser l’accès aux soins.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center apropos-rowReverse-reponsvie" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
           height: 100%;
           margin: 0% 6% 3%;">
      <div class="col-lg-6">
        <div >
          <div style="text-align: center; margin: 6% 0% 9%;">
            <h3 style="padding-bottom: 13px;"><b>Dossier médical partagé (DMP) </b></h3>
            <p class="text-service-body" class="apropos-text-reponsvie" style="    text-align: justify;
    margin: -3% 0% -6%;
    padding-left: 25px; font-size: 14px;">Les professionnels de santé tels que les pharmaciens, les infirmiers et les docteurs ont accès au dossier médical partagé. Il permet d'avoir une gestion digitale et rapide et d’avoir un suivi direct du patient et connaître ainsi ses antécédents médicaux (traitements, résultats d'examens, allergies...) afin de l'accompagner au mieux dans sa prise en charge. Les données de santé étant cryptées sur notre plateforme, seuls les professionnels de santé y ont accès. Via les numéros de sécurité sociale fournis sur l’application, le pharmacien a accès au DMP du patient. Ces derniers peuvent choisir de rendre certaines informations inaccessibles s'ils le souhaitent. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 " style="padding-top: 62px;
    padding-bottom: 43px;
    padding-right: 43px;">
        <div class="apropos-images-wrapper">
          <img style="width: 100%;margin: -3% -1% 0%;" class="apropos-images-reponsvie" src="assets/images/apropos/Livmed's DMP Pharmacien.jpg" loading="lazy"  alt="Le DMP est intégré sur la plateforme Livmed’s afin que les pharmaciens puissent accompagner au mieux les patients"><br>
        </div>
      </div>
    </div>


    <div class="row align-items-center" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
           height: 100%;
           margin: 0% 6% 3%;">
    <div class="col-lg-6" style="padding-top: 62px;
    padding-bottom: 43px;
    padding-left: 43px;">
      <div class="apropos-images-wrapper" >
        <img style="width: 100%;margin: -3% -1% 0%;" src="assets/images/apropos/Livmed's conseil pharmacien patient.jpeg" loading="lazy" alt="Livmed’s met à disposition un système de chat entre pharmacien et patient lors de la commande de médicaments"><br>
      </div>
    </div>
    <div class="col-lg-6 ">
      <div >
        <div style="text-align: center; margin: 6% 0% 9%;">
          <h3 style="padding-bottom: 13px;"><b>Interaction et conseil  <br> pharmacien-patient</b></h3>
          <p class="text-service-body" class="apropos-text-reponsvie" style="    text-align: justify;
    margin: -3% 0% -6%;
    padding-right: 25px; font-size: 14px;">Notre service de livraison de médicaments à domicile a pour objectif de conserver le contact entre le pharmacien et le client. En effet, le client et le pharmacien ont plusieurs possibilités qui s’offrent à eux afin de communiquer. Soit via un système de tchat en temps réel ou bien directement via un appel téléphonique. Ainsi, le client garde le conseil de son pharmacien. Par exemple, si le produit commandé est indisponible, le pharmacien peut alors proposer un générique ou un substitut. Grâce au DMP, le pharmacien a accès à tous les antécédents médicaux du client et peut ainsi s’adapter à ses besoins et à sa situation médicale.</p>
        </div>
      </div>
    </div>
    </div>


    <div class="row align-items-center apropos-rowReverse-reponsvie" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
           height: 100%;
           margin: 0% 6% 3%;">
    <div class="col-lg-6">
      <div >
        <div style="text-align: center; margin: 6% 0% 9%;">
          <h3 style="padding-bottom: 13px;"><b>Suivez votre livraison en temps réel</b></h3>
          <p class="text-service-body" class="apropos-text-reponsvie" style="    text-align: justify;
    margin: -3% 0% -6%;
    padding-left: 25px; font-size: 14px;">Lors de leur commande, les utilisateurs du service Livmed’s ont la possibilité de suivre toutes les étapes de la livraison. Une fois qu’un livreur est mandaté sur la course, le client a accès à sa position grâce au système de géolocalisation. Ainsi, il peut voir en temps réel le trajet de son livreur depuis la pharmacie jusqu’à son domicile. De plus, le client peut également communiquer avec le livreur assigné à sa commande via un système de tchat en temps réel, afin de fluidifier et simplifier le déroulement de la livraison. Par exemple, si le client a oublié de renseigner son complément d’adresse, il peut le notifier à son livreur via le tchat. </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 " style="padding-top: 62px;
    padding-bottom: 43px;
    padding-right: 43px;">
      <div class="apropos-images-wrapper" >
        <img style="width: 100%;margin: -3% -1% 0%;"  class="apropos-images-reponsvie" src="assets/images/apropos/Livmed's suivre livraison.jpeg" loading="lazy"  alt="Application Livmed’s permet de suivre la géolocalisation de la livraison de médicaments et le trajet du livreur"><br>
      </div>
    </div>
  </div>
  </div>
  </section>
</div>

