<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">{{'TITLE_CGU' | translate}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-page-main-wrapper">
  <div class="container">

    <div class="row justify-content-center full-width">
      <p>
          1. Le Site Web présenté a été créé en France.
          En l'utilisant, vous acceptez les conditions générales d’utilisation générales décrites ci-après, sans préjudice
          de tous recours de nature délictuelle ou contractuelle pouvant être exercés par la, Société LIV MED’S.
          Tout litige portant sur l’interprétation ou l’exécution d’un engagement contractuel prévu au présent site est de
          la compétence exclusive des tribunaux Français faisant usage de la Loi Française.<br><br>
          2. Le site Web présenté et l’ensemble de sa base de données, video, textes, images , programmes, cgi, est la
          propriété exclusive, pleine et entière de la Société LIV MED’S, et est préservé par le Droit d’auteur régit par la
          Loi du 11 mars 1957 et la Loi du 3 juillet 1985<br><br>
          3. Le droit d'auteur ne vous autorise qu’à visionner son contenu à titre personnel et privé, à l’exclusion de
          toute visualisation ou diffusion publique. L’autorisation de reproduction ne vous est concédée que sous forme
          numérique sur votre ordinateur de consultation aux fins de visualisation des pages consultées par votre logiciel
          de navigation. L’impression papier est autorisée aux fins de copie privée à l’usage exclusif du copiste au sens de
          l’article L. 122-5 2° du Code de la Propriété Intellectuelle. La création d'un lien hypertexte sur le Site Web est
          autorisée sans frame vers l’adresse de la page d’accueil du site Livmed’s.fr à l’exclusion de toute autre adresse.<br><br>
          4. Toute autre utilisation non expressément visée aux présentes conditions n’est pas autorisée et nécessite
          l’accord exprès et préalable de LIV MED’S. Il ne vous est pas permis en dehors des utilisations expressément
          concédées ci-dessus, notamment: de reproduire les marques et logos de LIV MED’S, de réaliser des liens hypertextes
          profonds sur tout élément du Site Web autre que la page d’accueil, d’utiliser ou d’extraire en tout ou en partie
          les bases de données utilisées par le Site Web, d’utiliser tous programmes ou cgi utilisés par le Site Web, etc.
          <br><br>
          5. Toute représentation totale ou partielle du Site Web et des contenus qui y sont associés par quelque procédé
          que ce soit, sans l'autorisation expresse de LIV MED’S ou des tiers propriétaires des éléments diffusés sur le
          Site Web, est interdite et constituerait une contre façon sanctionnée par les articles L.335-2 et suivants du Code
          de la propriété intellectuelle. Il en est de même des bases de données figurant sur le Site Web, qui sont
          protégées par les dispositions de la loi du 1er juillet 1998 portant transposition dans le Code de la propriété
          intellectuelle de la directive européenne du 11 mars 1996 relative à la protection juridique des bases de données.<br><br>
          6. Les marques et logos figurant sur le Site Web sont des marques déposées et protégées. Toute reproduction totale
          ou partielle de ces marques ainsi que toute représentation totale ou partielle de ces marques et/ou logos sans
          l'autorisation expresse de LIV MED’S est prohibée au sens du Code de la propriété intellectuelle.<br><br>
          7. Le Site Web peut comporter un certain nombre d'images fixes représentant des personnes. Il est rappelé que les
          personnes ont un droit absolu sur leur image et que nul ne peut la reproduire sans une autorisation écrite de LIV
          MED’S.<br><br>
          8. L'utilisateur du Site Web reconnaît disposer de la compétence et des moyens nécessaires pour accéder et
          utiliser ce Site Web sous sa seule responsabilité.<br><br>
          9. Les informations présentes sur le présent Site Web ont été compilées à partir de plusieurs sources et sont
          sujettes à changement sans préavis.<br><br>
          10. LIV MED’S ne garantit pas l’exactitude, la complétude, l’ adéquation du Site Web ou de l’information qu’il
          contient, ni que ladite information a été vérifiée par LIV MED’S.<br><br>
          11. LIV MED’S décline toute responsabilité pouvant découler d’ une quelconque information contenue dans le présent
          Site Web.<br><br>
          12. LIV MED’S ne garantit pas l’existence ou la disponibilité de toute offre ou annonce mentionnée dans le présent
          Site Web.<br><br>
          13. Dans la mesure où vous utiliseriez le Site Web aux fins de produire de quelconques contributions ou contenus
          constituant un message intelligible et accessible au public, telles que, notamment : offres ou demandes d’emploi,
          des commentaires, des annonces, etc..., vous vous engagez à ce que ces contributions et contenus soient conformes
          à l’ordre public et respectent le droits des tiers au regard des Lois et Règlements applicables. LIV MED’S
          n’assume aucune responsabilité éditoriale au titre de ces contributions ou contenus qui ne font pas l’objet d’une
          modération a priori, et qui sont simplement techniquement hébergés par LIV MED’S, au sens de l’article 6 de la loi
          n°2004575 du 21 Juin 2004
    
          relative à la Confiance dans l’Economie Numérique. LIV MED’S se réserve la faculté de suspendre ou supprimer, sans
          formalité préalable, ni préavis, et sans aucune justification, tous contenus ou contributions, ce que vous
          acceptez expressément. LIV MED’S pourra ainsi suspendre ou supprimer ces contenus ou contributions, si, selon son
          appréciation, ceux-ci sont en infraction avec les présentes dispositions, ou s’il lui était notifié le caractère
          illicite de ces contenus ou contributions. En utilisant le présent Site Web, vous assumez les risques relatifs à
          la complétude, l’exactitude, l’adéquation ou l’actualité de l’information.
          14. L'utilisateur est informé que, lors de ses visites sur le Site Web, un cookie peut s'installer automatiquement
          sur son logiciel de navigation. Le cookie est un bloc de données qui ne permet pas d'identifier l'utilisateur mais
          sert à enregistrer des informations relatives à la navigation de celui-ci sur le Site Web. Le cookie est conservé
          pendant une durée de 1 an. Le paramétrage du logiciel de navigation permet d'être informé de la présence du cookie
          et éventuellement de le refuser.<br><br>
          15. Les informations susceptibles d’être collectées sur le présent site sont exclusivement destinées à sa mise en
          œuvre par LIV MED’S. Vous disposez d’un droit d’accès, de modification, de rectification et de suppression des
          données qui vous concernent (articles 38 et s. de la loi susvisée dite Informatique et Libertés). Ce droit peut
          être exercé en adressant un courrier à LIV MED’S, 1 Avenue de Suède – 06000 NICE ou un email à l’adresse :
          sas.livmeds@gmail.com<br><br>
          16. Le présent Site Web peut être amené à transmettre ces informations à des tiers, notamment à des fins de
          prospection commerciale. L’autorisation de l’utilisateur lui sera alors demandée à l’occasion de la collecte de
          ces informations. Si l’utilisateur ne le souhaite pas, ou s’il souhaite ultérieurement s’y opposer, il lui est
          loisible de faire connaître son refus aux adresses ci dessus indiquées.<br><br>
          17. Pour estimer la fréquentation du Site Web ou détecter d'éventuelles intrusions informatiques, le présent Site
          Web exploite les données de connexion au site (date, heure, adresse Internet Protocol de l'ordinateur d'un
          visiteur, page consultée).
          <br><br>
          <strong>Contacts:</strong><br>
          Société éditrice : LIV MED’S - SAS<br>
          Siège social : 1 Avenue de Suède – 06000 NICE e-Mail : sas.livmeds@gmail.com<br>
          Hébergeur : Amazon
      </p>
    </div><!-- End row -->
  </div><!-- End container -->
</div>