<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">FAQ</h1>
          <ol class="breadcrumb">
            <li><a href="#" title="Home">Les réponses à vos questions</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-page-main-wrapper">
  <div class="container">
    <div class="row flex-lg-row-reverse left-sidebar">
      <main class="col-lg-9 main-content">
        <div class="post-row">
          <div class="row gutter-40">
            <div class="row">

              <h3 id="delivery" class="nomargin_top">{{'CAT_DELIVERY' | translate}}</h3>
              <div class="col-lg-12">
                <div class="accordion" id="iconicAccordion">
                  <div *ngFor="let question of questions.delivery; let i = index" class="card accordion-item">
                    <div class="accordion-header" id="accordionHeading{{i + 'delivery'}}">
                      <h5 class="mb-0">
                        <button class="accordion-btn collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#accordionItem' + i  + 'delivery'"
                          aria-expanded="false" [attr.aria-controls]="'accordionItem' + i  + 'delivery'">
                          <span class="accordion-title">{{question.question}}</span>
                          <span class="accordion-arrow"><i class="arrow_carrot-down"></i></span>
                        </button>
                      </h5>
                    </div>

                    <div id="accordionItem{{i  + 'delivery'}}" class="collapse" [attr.aria-labelledby]="'accordionHeading' + i  + 'delivery'"
                      data-parent="#iconicAccordion">
                      <div class="card-body accordion-body">{{question.answer}}</div>
                    </div>
                  </div>
                </div>
              </div>

              <h3 id="myData">{{'CAT_MY_DATA' | translate}}</h3>
              <div class="col-lg-12">
                <div class="accordion" id="iconicAccordion">
                  <div *ngFor="let question of questions.myData; let i = index" class="card accordion-item">
                    <div class="accordion-header" id="accordionHeading{{i + 'myData'}}">
                      <h5 class="mb-0">
                        <button class="accordion-btn collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#accordionItem' + i  + 'myData'"
                          aria-expanded="false" [attr.aria-controls]="'accordionItem' + i  + 'myData'">
                          <span class="accordion-title">{{question.question}}</span>
                          <span class="accordion-arrow"><i class="arrow_carrot-down"></i></span>
                        </button>
                      </h5>
                    </div>

                    <div id="accordionItem{{i  + 'myData'}}" class="collapse" [attr.aria-labelledby]="'accordionHeading' + i  + 'myData'"
                      data-parent="#iconicAccordion">
                      <div class="card-body accordion-body">{{question.answer}}</div>
                    </div>
                  </div>
                </div>
              </div>

              <h3 id="payment">{{'CAT_PAYMENT' | translate}}</h3>
              <div class="col-lg-12">
                <div class="accordion" id="iconicAccordion">
                  <div *ngFor="let question of questions.payment; let i = index" class="card accordion-item">
                    <div class="accordion-header" id="accordionHeading{{i + 'payment'}}">
                      <h5 class="mb-0">
                        <button class="accordion-btn collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#accordionItem' + i  + 'payment'"
                          aria-expanded="false" [attr.aria-controls]="'accordionItem' + i  + 'payment'">
                          <span class="accordion-title">{{question.question}}</span>
                          <span class="accordion-arrow"><i class="arrow_carrot-down"></i></span>
                        </button>
                      </h5>
                    </div>

                    <div id="accordionItem{{i  + 'payment'}}" class="collapse" [attr.aria-labelledby]="'accordionHeading' + i  + 'payment'"
                      data-parent="#iconicAccordion">
                      <div class="card-body accordion-body">{{question.answer}}</div>
                    </div>
                  </div>
                </div>
              </div>

              <h3 id="help">{{'CAT_HELP' | translate}}</h3>
              <div class="col-lg-12">
                <div class="accordion" id="iconicAccordion">
                  <div *ngFor="let question of questions.help; let i = index" class="card accordion-item">
                    <div class="accordion-header" id="accordionHeading{{i + 'help'}}">
                      <h5 class="mb-0">
                        <button class="accordion-btn collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#accordionItem' + i  + 'help'"
                          aria-expanded="false" [attr.aria-controls]="'accordionItem' + i  + 'help'">
                          <span class="accordion-title">{{question.question}}</span>
                          <span class="accordion-arrow"><i class="arrow_carrot-down"></i></span>
                        </button>
                      </h5>
                    </div>

                    <div id="accordionItem{{i  + 'help'}}" class="collapse" [attr.aria-labelledby]="'accordionHeading' + i  + 'help'"
                      data-parent="#iconicAccordion">
                      <div class="card-body accordion-body">{{question.answer}}</div>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </div>
      </main>
      <aside class="col-lg-3 sidebar">
        <div class="widget widget-search">
          <form role="search" class="widget-search-form">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="{{'SEARCH_INPUT' | translate }}" aria-label="Search for..."
                autocomplete="off">
              <span class="input-group-btn">
                <button class="btn" type="button"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
        </div>
        <div class="widget widget-tags">
          <h2 class="widget-title">Les catégories</h2>
          <div class="tagcloud">
            <ul>
              <li><a (click)="scroll('delivery')" class="active">{{'CAT_DELIVERY' | translate}}</a> </li>
              <li><a (click)="scroll('myData')">{{'CAT_MY_DATA' | translate}}</a> </li>
              <li><a (click)="scroll('payment')">{{'CAT_PAYMENT' | translate}}</a> </li>
              <li><a (click)="scroll('help')">{{'CAT_HELP' | translate}}</a> </li>
            </ul>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
