<ion-content>
  <div class="container margin_60_35">

    <div class="row">
      <div class="col-md-3">
        <a class="btn_full" (click)="createDelivery()">To be delivered</a>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="box_style_2" id="main_menu">
          <h2 class="inner">MY DELIVERIES</h2>
          <a href="javascript:;" (click)="refreshList()" class="load_more_bt wow fadeIn" data-wow-delay="0.2s">Refresh list</a>
          <p *ngIf="deliveries.length == 0">
            No deliveries
          </p>
          <div class="strip_list" *ngFor="let delivery of deliveries">
              <div class="row">
                <div class="col-md-9 col-sm-9">
                  <div class="desc">
                    <h3>Ref: {{delivery.reference}}</h3>
                    <div class="type">
                      <strong>Pharmacy:</strong> {{delivery.merchant.name}}
                    </div>
                    <div class="location">
                      <strong>Status: <span [ngClass]="delivery.statusClass">{{delivery.status}}</span></strong>
                    </div>
                    <div class="location">
                      <strong>Address pharmacy:</strong> {{delivery.merchant.address.address}}, {{delivery.merchant.address.codePostal}} {{delivery.merchant.address.city}}
                    </div>
                  </div>
                </div>
                <div class="col-md-3 col-sm-3">
                  <div class="go_to">
                    <div>
                      <a class="btn_1">View details</a>
                    </div>
                  </div>
                  <a *ngIf="delivery.status === 'IN_DELIVERY'" class="btn_full margin-top" (click)="displayMap(delivery._id)">Follow my delivery</a>
                  <a *ngIf="delivery.status === 'AWAITING_VALIDATION'" class="btn_full red margin-top">Cancel delivery</a>
                </div>
              </div><!-- End row-->
            </div><!-- End strip_list-->
        </div>
      </div>
    </div>
  </div>
</ion-content>