<h3>Information</h3>
<p>
  {{ 'DOC_NOT_SENDED' | translate}}
</p>
<div mat-dialog-actions>
  <button mat-button (click)="cancel()">{{'BTN_CANCEL' | translate}}</button>
  <button mat-button (click)="goToSendDoc()">{{'BTN_GO_TO_SEND_DOC' | translate}}</button>
</div>