 .zoom:hover {
    transform: scale(3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
    z-index: 9999;
  }

.load_more_bt{
    border: 0 !important;
}

.blue-color{
  color: #78cfcf;
}

.green{
  color: #85c99d;
}

.yellow{
  color: #FC0;
}

.red-span{
  color: #D8418F;
}
.delivery-card:first-child{
  margin-top: 0px;
}
.delivery-card{
  margin-top: 40px;
}

.ok{
  color: green;
  font-weight: bolder;
}


.app-icon[data-count]:not([data-count=""]):not([data-count="0"]):after {
	position: relative;
    right: 0px;
    top: 0px;
    content: attr(data-count);
    font-size: 100%;
    padding: 0.8em;
    border-radius: 30em;
    line-height: .75em;
    color: white;
    background: red;
    text-align: center;
    min-width: 1.5em;
    font-weight: bold;
}
