<ion-content>
  <div class="row h-100">
    <div class="col-xs-12 col-sm-12">

        <div class="rest-container">
            <div class="text-center header-icon-logo-margin header-icon-logo-margin-bottom">
                <div class="profile-picture-container">
                    <img src="assets/images/bank.svg" alt="Bank">
                </div>
                <div class="text-info-margin">{{'BANK_INFORMATION' | translate}}<br/> Information</div>
            </div>

            <!--Bank Information fields Container Start-->
            <div class="all-container-with-classes all-container">
                <form class="width-100">

                    <!--Bank Information Input Field Start-->
                    <div class="form-group">
                        <label class="label-title font-roboto">Name of Beneficiary</label>
                        <div class="input-group">
                            <input class="form-control form-control-with-padding font-weight-light" type="text" autocomplete="off" name="name" value="Jonathan McBerly" placeholder="Beneficiary Name">
                        </div>
                    </div>
                    <!--Bank Information Input Field End-->

                    <!--Bank Information Input Field Start-->
                    <div class="form-group">
                        <label class="label-title font-roboto">Bank Name</label>
                        <div class="input-group">
                            <input class="form-control form-control-with-padding font-weight-light" type="text" autocomplete="off" name="bank_name" value="CARTUBANK" placeholder="Bank Of Amerifca">
                        </div>
                    </div>
                    <!--Bank Information Input Field End-->

                    <!--Bank Information Input Field Start-->
                    <div class="form-group">
                        <label class="label-title font-roboto">Account Number (IBAN)</label>
                        <div class="input-group">
                            <input class="form-control form-control-with-padding font-weight-light" type="text" autocomplete="off" name="account_num" value="GD345DW20000091201" placeholder="123321567987">
                        </div>
                    </div>
                    <!--Bank Information Input Field End-->

                    <!--Bank Information Input Field Start-->
                    <div class="form-group">
                        <label class="label-title font-roboto">SWIFT</label>
                        <div class="input-group">
                            <input class="form-control form-control-with-padding font-weight-light" type="text" autocomplete="off" name="swift" value="CARTU 33GEO" placeholder="Swift Code">
                        </div>
                    </div>
                    <!--Bank Information Input Field End-->
                </form>
            </div>
            <!--Bank Information fields Container End-->

            <div class="all-container all-container-with-classes">
                <div class="form-control-margin text-center">
                    <a href="payment-method.html" class="btn btn-dark text-uppercase ">Save <span class="far fa-save"></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
</ion-content>
