<ion-content>
    <div class="row h-100">
        <div class="col-xs-12 col-sm-12 remaining-height">
    
            <div class="rest-container">
                <div class="all-wide-container trip-history-driver-container">
    
                    <!--Balance Container Start-->
                    <div class="balance-card-container">
                        <div class="label-title all-container">Balance: </div>
                        <div class="font-20 all-container">{{stats.totalGain}} EUR</div>
                        <!-- <div class="w-100 graph-container">
                            <canvas id="canvas" class="h-100"></canvas>
                        </div> -->
                    </div>
                    <!--Balance Container Start-->
    
                    <!--Search Container Start-->
                    <!-- <div class="form-group search-history">
                        <div class="input-group light-field">
                            <input class="form-control" type="text" autocomplete="off" name="search" placeholder="Rechercher">
                            <div class="input-group-append">
                                <span class="fas fa-search"></span>
                            </div>
                        </div>
                    </div> -->
                    <!--Search Container End-->
    
                    <div class="all-sales-history-items">
    
                        <!--Sale History Item Start-->
                        <a *ngFor="let delivery of deliveries" class="href-decoration-none">
                            <div class="display-flex align-items-center sales-history-item">
                            <div class="all-wide-container">
                                <img style="width: 32px; height: 32px;border-radius: 20px;" src="{{delivery.customer && delivery.customer.avatar ? fileService.getPublicUrl(delivery.customer.avatar) :'assets/images/man.svg'}}" alt="Profile Picture">
                            </div>
                            <div class="width-100">
                                <div *ngIf="!delivery.isBtoB && !delivery.isForCustomer">{{delivery.customer.name + ' ' + delivery.customer.lastName}}</div>
                                <div *ngIf="delivery.isForCustomer">{{delivery.nameCustomer + ' ' + delivery.lastCustomer}}</div>
                                <div><span class="label-title font-15 font-weight-normal">Référence:</span> {{delivery.reference}}</div>
                            </div>
                            <div class="float-right">
                                <div class="blue-price text-right">{{delivery.invoice.amountDeliverer}} €</div>
                                <div class="font-13">{{delivery.formatDate}}</div>
                            </div>
                        </div>
                        </a>
                        <!--Sale History Item End-->
    
                    </div>
    
                    <!--Load More Button Start-->
                    <div class="load-more" *ngIf="total > limit">
                        <button type="button" (click)="loadMore()" class="btn btn-dark text-uppercase load-more">{{'BTN_MORE' | translate}}</button>
                    </div>
                    <!--Load More Button End-->
    
                </div>
            </div>
        </div>
    
    </div>
</ion-content>
