.text-service-body {
    max-width: 60%;
    margin-left: 20%;
  }

  .partners-logo-dim {
    height: 80px;
    width: auto;
  }

  .img-right {
    width: 300px!important;
    float: right!important;
  }


  @media screen and (max-width: 575.98px){
  .newsletterIframe {
      height:400px;
      padding-left: 0%!important;
  }
  }



.flip-card {
  background-color: transparent;
  width: 201px;
  height: 434px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #bbb;
  color: black;
}

.flip-card-back {
  background-color: #f92395;
  color: white;
  transform: rotateY(180deg);
}


video {
  width:100%;
/*
    position: relative;
    top: 54%;
    left: 50%;
    width: auto;
    height: auto;
    z-index: -100;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    -webkit-transition: 1s opacity;
    transition: 1s opacity;
    */
}



