<video    autoplay  loop>
  <source src="assets/video/charlotte.mp4" type="video/mp4">
</video>

<section  class=" home-4-banner main-banner main-slider" id="banner"> <!--home-4-banner-->

    <div class="swiper-container iconic-main-slider home-4-slider iconic-top-slider w-100">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-7">
                            <div class="banner-content">
                                <h1 class="title" data-wow-duration=".65s" data-wow-delay=".1s">Soignez-vous sans bouger
                                    de chez
                                    vous</h1>
                                <span class="sub-title" data-wow-duration=".65s" data-wow-delay=".3s">Rapide, simple et
                                    sécurisé avec ou sans ordonnance.</span>
                                <div class="btn-wrapper">
                                    <a class="btn store-btn fill-style" data-wow-duration=".65s" data-wow-delay=".4s"
                                        href="https://play.google.com/store/apps/details?id=com.livmeds"><svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="26px">
                                            <path fill-rule="evenodd" fill="rgb(96, 56, 247)"
                                                d="M19.618,13.605 L15.283,16.531 L12.240,13.090 L15.570,9.324 L19.618,12.058 C19.857,12.219 20.000,12.508 20.000,12.832 C20.000,13.154 19.857,13.442 19.618,13.605 ZM0.662,-0.003 L10.427,5.850 L14.882,8.859 L11.691,12.469 L0.662,-0.003 ZM-0.000,25.689 L0.010,0.502 L11.142,13.090 L-0.000,25.689 ZM14.596,16.996 L10.443,19.799 L0.824,25.998 L11.691,13.710 L14.596,16.996 Z" />
                                        </svg> <span>Google Play</span></a>
                                    <a class="btn store-btn fill-style" data-wow-duration=".65s" data-wow-delay=".6s"
                                        href="https://apps.apple.com/us/app/livmeds/id1510261512?l=fr&ls=1"><svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="24px">
                                            <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                                                d="M18.423,9.825 C17.802,10.691 17.490,11.644 17.490,12.687 C17.490,13.828 17.820,14.856 18.481,15.769 C19.141,16.681 19.897,17.262 20.749,17.510 C20.376,18.662 19.787,19.814 18.983,20.967 C17.749,22.773 16.519,23.675 15.294,23.675 C14.825,23.675 14.155,23.527 13.284,23.233 C12.461,22.938 11.738,22.792 11.116,22.792 C10.532,22.792 9.853,22.943 9.077,23.248 C8.302,23.561 7.671,23.716 7.182,23.716 C5.728,23.716 4.287,22.524 2.861,20.138 C1.454,17.732 0.751,15.414 0.751,13.184 C0.751,11.082 1.292,9.360 2.373,8.014 C3.445,6.687 4.804,6.023 6.450,6.023 C7.139,6.023 7.986,6.162 8.991,6.438 C9.987,6.715 10.647,6.854 10.973,6.854 C11.403,6.854 12.088,6.696 13.026,6.384 C14.002,6.071 14.830,5.913 15.509,5.913 C16.648,5.913 17.667,6.213 18.567,6.811 C19.065,7.143 19.562,7.605 20.060,8.194 C19.304,8.812 18.759,9.355 18.423,9.825 ZM13.600,5.084 C13.083,5.581 12.566,5.913 12.049,6.080 C11.695,6.181 11.197,6.259 10.556,6.314 C10.585,4.940 10.958,3.757 11.676,2.761 C12.384,1.776 13.581,1.093 15.265,0.715 C15.275,0.743 15.287,0.794 15.301,0.867 C15.315,0.941 15.327,0.992 15.337,1.020 C15.337,1.057 15.339,1.102 15.344,1.157 C15.349,1.213 15.351,1.259 15.351,1.297 C15.351,1.858 15.212,2.486 14.935,3.175 C14.648,3.867 14.203,4.503 13.600,5.084 Z" />
                                        </svg> <span>App Store</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 offset-lg-0 offset-md-1">
                            <div class="img-wrapper img-right banner-img">
                                <img src="assets/images/screenshot/livmeds_application.png" alt="livmeds premier accès a l'applicatio">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-7">
                            <div class="banner-content">
                                <h1 class="title" data-wow-duration=".65s" data-wow-delay=".1s">Faites-vous livrer vos
                                    médicaments rapidement</h1>
                                <span class="sub-title" data-wow-duration=".65s" data-wow-delay=".3s">Où que vous soyez,
                                    quand vous voulez...</span>
                                <div class="btn-wrapper">
                                    <a class="btn store-btn fill-style" data-wow-duration=".65s" data-wow-delay=".4s"
                                        href="https://play.google.com/store/apps/details?id=com.livmeds"><svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="20px" height="26px">
                                            <path fill-rule="evenodd" fill="rgb(96, 56, 247)"
                                                d="M19.618,13.605 L15.283,16.531 L12.240,13.090 L15.570,9.324 L19.618,12.058 C19.857,12.219 20.000,12.508 20.000,12.832 C20.000,13.154 19.857,13.442 19.618,13.605 ZM0.662,-0.003 L10.427,5.850 L14.882,8.859 L11.691,12.469 L0.662,-0.003 ZM-0.000,25.689 L0.010,0.502 L11.142,13.090 L-0.000,25.689 ZM14.596,16.996 L10.443,19.799 L0.824,25.998 L11.691,13.710 L14.596,16.996 Z" />
                                        </svg> <span>Google Play</span></a>
                                    <a class="btn store-btn  fill-style" data-wow-duration=".65s" data-wow-delay=".6s"
                                        href="https://apps.apple.com/us/app/livmeds/id1510261512?l=fr&ls=1"><svg
                                            xmlns="http://www.w3.org/2000/svg"
                                            xmlns:xlink="http://www.w3.org/1999/xlink" width="21px" height="24px">
                                            <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                                                d="M18.423,9.825 C17.802,10.691 17.490,11.644 17.490,12.687 C17.490,13.828 17.820,14.856 18.481,15.769 C19.141,16.681 19.897,17.262 20.749,17.510 C20.376,18.662 19.787,19.814 18.983,20.967 C17.749,22.773 16.519,23.675 15.294,23.675 C14.825,23.675 14.155,23.527 13.284,23.233 C12.461,22.938 11.738,22.792 11.116,22.792 C10.532,22.792 9.853,22.943 9.077,23.248 C8.302,23.561 7.671,23.716 7.182,23.716 C5.728,23.716 4.287,22.524 2.861,20.138 C1.454,17.732 0.751,15.414 0.751,13.184 C0.751,11.082 1.292,9.360 2.373,8.014 C3.445,6.687 4.804,6.023 6.450,6.023 C7.139,6.023 7.986,6.162 8.991,6.438 C9.987,6.715 10.647,6.854 10.973,6.854 C11.403,6.854 12.088,6.696 13.026,6.384 C14.002,6.071 14.830,5.913 15.509,5.913 C16.648,5.913 17.667,6.213 18.567,6.811 C19.065,7.143 19.562,7.605 20.060,8.194 C19.304,8.812 18.759,9.355 18.423,9.825 ZM13.600,5.084 C13.083,5.581 12.566,5.913 12.049,6.080 C11.695,6.181 11.197,6.259 10.556,6.314 C10.585,4.940 10.958,3.757 11.676,2.761 C12.384,1.776 13.581,1.093 15.265,0.715 C15.275,0.743 15.287,0.794 15.301,0.867 C15.315,0.941 15.327,0.992 15.337,1.020 C15.337,1.057 15.339,1.102 15.344,1.157 C15.349,1.213 15.351,1.259 15.351,1.297 C15.351,1.858 15.212,2.486 14.935,3.175 C14.648,3.867 14.203,4.503 13.600,5.084 Z" />
                                        </svg> <span>App Store</span></a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-4 offset-lg-0 offset-md-1">
                            <div class="img-wrapper img-right banner-img">
                              <img style="height:auto" src="assets/images/screenshot/livmeds_carte-vitale.png" alt="livmeds page carte vitale application">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="particles"></div>

</section><!-- banner -->
<section class="h4-about s-padding s-pb-large">
    <div class="angle-shape">
        <svg height='250'>
            <rect width="100%" height='250'></rect>
        </svg>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="img-wrapper img-center h4-about-img-wrapper">
                  <img src="assets/images/screenshot/livmeds_pharmacies_partenaires.png"  loading="lazy" class="about-img1 wow slideInLeft" alt="livmeds ipad pharmacies partenaires">
                </div>
            </div>
            <div class="col-lg-5 offset-lg-2 align-items-center">
                <div class="about-content">

                  <h2>Je choisis parmi nos 230 pharmacies partenaires</h2>
                  <p align="justify">Fini l'attente en pharmacie!<br>
                    Livmed’s est un service de livraison de médicaments disponible 24h/24 et 7j/7
                    vous permettant de vous faire livrer vos médicaments avec ou sans ordonnance, ainsi
                    que vos produits de parapharmacie, à n’importe quel moment et dans n’importe quelle circonstance.
                    Notre service est désormais présent dans les villes de :
                    <B>  Aix-en-Provence, Ajaccio, Antibes, Antony, Argenteuil, Asnières-sur-Seine, Aubervilliers, Bastia, Besançon,
                      Biguglia, Bourges, Bordeaux, Brest, Cadaujac, Cagnes-sur-Mer, Cannes, Cenon, Choisy-le-roi, Clermont-Ferrand,
                      Corte, Draguignan, Floirac, Fontenay-sous-Bois, Fréjus, Garges-lès-Gonesse, Gentilly, Gilette, Gradignan, Clichy,
                      Hyères, Isola, Lantosque, La Colle-sur-Loup, La Rochelle, Le Cannet, Le Havre, Le Plessis-Bouchard, Lille, Lyon,
                      Magny-Cours, Mandelieu-la-Napoule, Marseille, Menton, Montgeron, Montpellier, Montreuil, Nancy, Nanterre, Nantes,
                      Nice, Noisy-le-Grand, Orléans, Paris, Pau, Pessac, Poitiers, Porto-Vecchio, Reims, Rennes, Roquebillière, Rouen,
                      Saint-Denis, Saint-Raphaël, Saint-Laurent-du-Var, Sens, Six-Fours-les-Plages, Strasbourg, Théoule-sur-Mer, Toulon,
                      Toulouse, Tours, Troyes, Villeneuve-Loubet ... </B> et très
                    prochainement dans toute la France.</p>
                  <div class="btn-wrapper">
                        <a (click)="doCommand()" class="btn fill-style btn-fill-blue pointer-link">SE FAIRE LIVRER</a>
                        <a href="https://livmeds.app.link/appli" class="btn">TÉLÉCHARGER
                            L'APPLICATION</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="floating-shapes" *ngIf="!isSafari">
      <span data-parallax='{"x": 150, "y": -20, "rotateZ":500}'><img src="assets/images/fl-shape-1.png" alt=""></span>
      <span data-parallax='{"x": 250, "y": 150, "rotateZ":500}'><img src="assets/images/fl-shape-2.png" alt=""></span>
      <span data-parallax='{"x": -180, "y": 80, "rotateY":2000}'><img src="assets/images/fl-shape-3.png" alt=""></span>
      <span data-parallax='{"x": -20, "y": 180}'><img src="assets/images/fl-shape-4.png" alt=""></span>
      <span data-parallax='{"x": 300, "y": 70}'><img src="assets/images/fl-shape-5.png" alt=""></span>
      <span data-parallax='{"x": 250, "y": 180, "rotateZ":1500}'><img src="assets/images/fl-shape-6.png" alt=""></span>
      <span data-parallax='{"x": 180, "y": 10, "rotateZ":2000}'><img src="assets/images/fl-shape-7.png" alt=""></span>
      <span data-parallax='{"x": 250, "y": -30, "rotateX":2000}'><img src="assets/images/fl-shape-8.png" alt=""></span>
      <span data-parallax='{"x": 60, "y": -100}'><img src="assets/images/fl-shape-9.png" alt=""></span>
      <span data-parallax='{"x": -30, "y": 150, "rotateZ":1500}'><img src="assets/images/fl-shape-10.png" alt=""></span>
    </div>
</section><!-- about -->


<section class="h4-awesome-feature bg-color s-padding  s-pb-large" id="feature">
    <div class="angle-shape sec-color">
        <svg height='250'>
            <rect width="100%" height='250'></rect>
        </svg>
    </div>
    <div class="container">
        <div class="s-title">
            <h2 class="wow">LIVMED's, comment ça marche ?</h2>
            <p>Les étapes pour se faire livrer ses médicaments.</p>
        </div>

      <div class="row" style="text-align: center;" >
        <div class="col-lg-3" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;" >
            <img class="partners-logo-dim" style="opacity: 100;    height: 130px;
    width: 130px;"   src="assets/images/sign-up-customer/Livmed's Inscrivez-vous.png" loading="lazy"   alt=" Inscription via l’application Livmed’s pour profiter de service de livraison rapide de médicaments à domicile">
            <h4>1</h4>
            <h5 style="margin: 1% 9% 1%;"> <B>Je m'inscris</B> </h5>
            <br>
            <p>Je crée mon compte particulier, je complète le formulaire. Je suis prêt à commander !</p>
          </div>
        </div>

        <div class="col-lg-3" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo"  style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;">
            <img class="partners-logo-dim" style="opacity: 100;    height: 130px;width: 130px;"  src="assets/images/sign-up-customer/Livmed's Sélectionnez pharmacie .png" loading="lazy"  alt=" Une large sélection d’officines pour commander la livraison de médicaments et de parapharmacie">
            <h4>2</h4>
            <h5 style="margin: 1% 9% 1%;"><B>Je choisis ma pharmacie</B> </h5>
            <br>
            <p>Parmi nos 230 pharmacies partenaires. Je scanne mon ordonnance et/ou sélectionne mes produits de parapharmacie.</p>
          </div>
        </div>
        <div class="col-lg-3" style=" color: rgb(0 0 0 / 87%);" >
          <div class="partner-logo" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;">
            <img  class="partners-logo-dim" style="opacity: 100;    height: 130px; width: 130px;"  src="assets/images/sign-up-customer/Livmed's payez livraison .png" loading="lazy"   alt=" Paiement sécurisé via l’application pour le service de livraison express de médicaments">
            <h4>3</h4>
            <h5 style="margin: 1% 9% 1%;"><B>Je règle ma commande</B></h5>
            <br>
            <p>J’enregistre ma carte bancaire et je paie en toute sécurité.</p>
          </div>
        </div>
        <div class="col-lg-3" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;">
            <img class="partners-logo-dim"  style="opacity: 100; height: 130px; width: 130px;" src="assets/images/sign-up-customer/Livmed's Suivez livraison.png"   loading="lazy" alt="Suivi de position de livreur Livmed’s en temps réel via l’application">
            <h4>4</h4>
            <h5 style="margin: 1% 9% 1%;"><B>Je me fais livrer</B></h5>
            <br>
            <p>Je peux suivre en temps réel le trajet de mon livreur, de la pharmacie jusqu’à mon domicile.</p>
          </div>
        </div>
      </div>

<!--
        <div class="row align-items-center">
            <div class="col-lg-3 col-md-6">
                <div class="icon-box awf-item wow slideInUp">
                    <div class="icon-box-icon">
                        <img style="height: auto;
                        width: 156px;
                        margin-right: auto;
                        display: block;
                        margin-left: auto;" class="center" src="assets/images/livmeds_inscription_aplication.png" loading="lazy" alt="livmeds page d'inscription sur l'aplication">
                    </div>
                    <div class="icon-box-details">
                      <h3 class="icon-box-title center" style="text-align: center;">1</h3>
                      <h3 class="icon-box-title center" style="width: 100%; text-align: center;">Je m'inscris</h3>
                      <p>Je crée mon compte particulier, je complète le formulaire. Je suis prêt à commander !</p>
                    </div>
                </div>
                <div class="icon-box awf-item mb-md-0 wow slideInUp" data-wow-delay=".1s">
                    <div class="icon-box-icon">
                        <img style="height: auto;
                                    width: 200px;
                                    margin-right: auto;
                                    display: block;
                                    margin-left: auto;" class="center" src="assets/images/livmeds_pharmacie_livraison.png" loading="lazy" alt="livmeds choix des produits pharmaceutiques">
                      </div>
                      <div class="icon-box-details">
                        <h3 class="icon-box-title center" style="text-align: center;">2</h3>
                        <h3 class="icon-box-title center" style="text-align: center;">Je choisis ma pharmacie</h3>
                        <p>Parmi nos 230 pharmacies partenaires. Je scanne mon ordonnance et/ou sélectionne mes produits de parapharmacie. </p>
                      </div>
                </div>
            </div>
            <div class="col-lg-3 offset-lg-1 col-md-6">
                <div class="icon-box awf-item wow slideInUp" style="margin: 9%;">
                    <div class="icon-box-icon">
                      <img style="height: auto;
                                  display: block;
                                  width: 160px;
                                  margin-right: auto;
                                  margin-left: auto;" src="assets/images/livmeds_paiement_application.png" loading="lazy" alt="livmeds page paiement application">
                    </div>
                    <div class="icon-box-details">
                      <h3 class="icon-box-title center" style="text-align: center;">3</h3>
                      <h3 class="icon-box-title center" style="text-align: center;">Je règle ma commande</h3>
                      <p>J’enregistre ma carte bancaire et je paie en toute sécurité.</p>
                    </div>
                  </div>
                  <div class="icon-box awf-item mb-0 wow slideInUp" data-wow-delay=".1s">
                    <div class="icon-box-icon">
                      <img style="height: auto;
                                  display: block;
                                  width: 130px;
                                  margin-right: auto;
                                  margin-left: auto;" src="assets/images/livmeds_livraison.png" loading="lazy" alt="livmeds livraison à domicile ">
                    </div>
                    <div class="icon-box-details"style="margin-top: 3%;">
                      <h3 class="icon-box-title center" style="text-align: center;">4</h3>
                      <h3 class="icon-box-title center" style="text-align: center;">Je me fais livrer</h3>
                      <p>Je peux suivre en temps réel le trajet de mon livreur, de la pharmacie jusqu’à mon domicile.</p>
                    </div>
                  </div>
            </div>
            <div class="col-lg-3 offset-lg-1">
                <div style="width: 100%;" class="img-wrapper img-center wow slideInUp mb-5 mb-lg-0">
                  <img src="assets/images/livmeds_géolocalisation_livreur.jpg" loading="lazy" alt="livmeds je géolocalise le livreur par l'application">
                </div>
            </div>
        </div>
      -->
    </div>
</section><!-- awesome-feature -->
<section class="faq-sec s-padding bg-color  s-pb-large" id="services">
    <div class="angle-shape sec-color">
        <svg height='250'>
            <rect width="100%" height='250'></rect>
        </svg>
    </div>
    <div class="s-title">
        <h2 style="margin-top: -5%;">Nos Services</h2>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="faq-sec-img">
                    <img class="wow slideInLeft" src="assets/images/livmeds_pharmacien_dmp.jpg" loading="lazy" alt="livmeds dossier médical partagé"><br>
          <div style="text-align: center;">
            <h3><b>Gardez le conseil de votre pharmacien</b></h3>
            <p class="text-service-body">Grace au Dossier Médical Partagé, votre pharmacien aura accès à toutes vos informations
              de santé : traitements, résultats d'examen, allergies...</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 ">
        <div class="faq-sec-img">
          <img style="width: 60%;" class="wow slideInLeft" src="assets/images/livmeds_suivi_livraison.jpg" loading="lazy"  alt="livmeds suivi livraison en temps réel"><br>
          <div style="text-align: center;">
            <h3><b>Suivez votre livraison en temps réel</b></h3>
            <p class="text-service-body">Vous pourrez suivre toutes les étapes de votre livraison de la pharmacie jusqu'à chez vous grace
              à la géolocalisation</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="faq-sec-img">
          <img class="wow slideInLeft" src="assets/images/livmeds_planification_livraison.jpg" loading="lazy" alt="livmeds planifier la livraison "><br>
          <div style="text-align: center;">
            <h3><b>Planifiez la livraison pour vous ou un proche</b></h3>
            <p class="text-service-body">
              Vous n'avez pas le temps de passer en pharmacie . Planifiez votre commande
              et elle sera traitée par votre pharmacien à la date et l’heure souhaitée.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 ">
        <div class="faq-sec-img">
          <img style="width: 60%;" class="wow slideInLeft" src="assets/images/livmeds_tchat_pharmacien.jpg" loading="lazy"  alt="livmeds je communique avec ma pharmacie"><br>
          <div style="text-align: center;">
            <h3><b>Gardez le contact de votre pharmacien</b></h3>
            <p class="text-service-body">
              Chattez directement sur l'application ou par téléphone pour bénéficier du conseil
              de votre pharmacien et de ses recommandations sur l’usage des produits.
            </p>
          </div>
        </div>
      </div>
      <div class="row align-items-center">
        <div class="col-lg-6">
          <div class="faq-sec-img">
            <img class="wow slideInLeft" src="assets/images/livmeds_commande-professionnel.jpg" loading="lazy" alt="livmeds médecins commande pour le compte de son patient"><br>
            <div style="text-align: center;">
              <h3><b>Professionnel de santé ou prescripteur</b></h3>
              <p class="text-service-body">
                Nous avons pensé aux personnes ne sachant pas utiliser d’applications.
                Les médecins ou infirmiers peuvent commander pour le compte de leurs patients.
              </p>
            </div>
            </div>
            </div>
            <div class="col-lg-6 ">
              <div class="faq-sec-img">
                <img style="width: 60%;" class="wow slideInLeft" src="assets/images/livmeds_livraison_express.jpg" loading="lazy" alt="livmeds livraison rapide 24/7"><br>
                <div style="text-align: center;">
                  <h3><b>Leader de la livraison de médicament express</b></h3>
                  <p class="text-service-body">
                    Bénéficiez d'une livraison rapide et sécurisée : disponible 24/24h,
                    7/7j dans un délai de 30 minutes. Ce délai permet de satisfaire vos besoins les plus urgents.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="h3-app-screenshot  bg-color s-padding" style="padding-top: 12%;" >
      <div class="container"  id="screenshot">
        <div class="s-title">
            <h2 style="margin-top: -30%;">Aperçu de l'application</h2>
        </div>
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="screenshot-mockup-wrapper">
                    <div class="swiper-container app-screenshot-slider-3">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <div class="flip-card">
                              <div class="flip-card-inner">
                                <div class="flip-card-front">
                                  <div class="app-screenshot-item style-3">
                                    <img src="assets/images/screenshot/livmeds_accessibilite_application.jpg" loading="lazy" alt="livmeds accéssible à tous  ">
                                  </div>
                                </div>
                                <div class="flip-card-back">
                                  <p  style="margin: 50% 18% 0%;"><B>Particulier ou professionnel </B>, sélectionnez la catégorie qui vous correspond.</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="swiper-slide">
                            <div class="flip-card">
                              <div class="flip-card-inner">
                                <div class="flip-card-front">
                                  <div class="app-screenshot-item style-3">
                                    <img src="assets/images/screenshot/livmeds_Inscription_application.jpg" loading="lazy" alt="livmeds incription connection application">
                                  </div>
                                </div>
                                <div class="flip-card-back">
                                  <p  style="margin: 50% 18% 0%;">Inscrivez-vous sur l’application via <B>votre compte Facebook, Apple ou votre adresse mail.</B></p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="swiper-slide">
                            <div class="flip-card">
                              <div class="flip-card-inner">
                                <div class="flip-card-front">
                                  <div class="app-screenshot-item style-3">
                                    <img src="assets/images/screenshot/livmeds_insertion_application.jpg" loading="lazy" alt="livmeds insertion carte vitale">
                                  </div>
                                </div>
                                <div class="flip-card-back">
                                  <p  style="margin: 50% 18% 0%;">Renseignez votre <B>carte vitale</B> et/ou votre <B>mutuelle</B> afin de pouvoir vous faire <B>rembourser</B> les médicaments pris en charge par la <B>CPAM</B>.</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="swiper-slide">
                            <div class="flip-card">
                              <div class="flip-card-inner">
                                <div class="flip-card-front">
                                  <div class="app-screenshot-item style-3">
                                    <img src="assets/images/screenshot/livmeds_choisirProduit_application.jpg" loading="lazy" alt="livmeds choix de produit parapharmacie">
                                  </div>
                                </div>
                                <div class="flip-card-back">
                                  <p  style="margin: 50% 18% 0%;">Choisissez vos <B>produits de parapharmacie</B> dans la E-galerie de notre application.</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="swiper-slide">
                            <div class="flip-card">
                              <div class="flip-card-inner">
                                <div class="flip-card-front">
                                  <div class="app-screenshot-item style-3">
                                    <img src="assets/images/screenshot/livmeds_scanner_application.jpg" loading="lazy" alt="livmeds je scenne mon ordonnance">
                                  </div>
                                </div>
                                <div class="flip-card-back">
                                  <p  style="margin: 50% 18% 0%;">Transmettez vos <B>ordonnances</B> directement via la <B>photothèque ou l’appareil photo</B> de votre mobile.</p>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="swiper-slide">
                            <div class="flip-card">
                              <div class="flip-card-inner">
                                <div class="flip-card-front">
                                  <div class="app-screenshot-item style-3">
                                    <img src="assets/images/screenshot/livmeds_commander_application.jpg" loading="lazy" alt="livmeds je commande  la livraison ">
                                  </div>
                                </div>
                                <div class="flip-card-back">
                                  <p  style="margin: 50% 18% 0%;">Appuyez sur <B>“Valider”</B> pour envoyer votre <B>demande de livraison</B> au pharmacien.</p>
                                </div>
                              </div>
                            </div>
                          </div>


                          <div class="swiper-slide">
                            <div class="flip-card">
                              <div class="flip-card-inner">
                                <div class="flip-card-front">
                                  <div class="app-screenshot-item style-3">
                                    <img src="assets/images/screenshot/livmeds_localisation_application.jpg" loading="lazy" alt="livmeds je localise ma commande">
                                  </div>
                                </div>
                                <div class="flip-card-back">
                                  <p  style="margin: 50% 18% 0%;">Suivez votre commande en <B>temps réel</B> sur la carte.</p>
                                </div>
                              </div>
                            </div>
                          </div>


                          <div class="swiper-slide">
                            <div class="flip-card">
                              <div class="flip-card-inner">
                                <div class="flip-card-front">
                                  <div class="app-screenshot-item style-3">
                                    <img src="assets/images/screenshot/livmeds_reception_application.jpg" loading="lazy" alt="livmeds je comfirme la réception de ma livraison">
                                  </div>
                                </div>
                                <div class="flip-card-back" >
                                  <p style="margin: 50% 18% 0%;">Recevez votre commande directement <B>chez vous</B> en seulement <B>30 minutes</B>.</p>
                                </div>
                              </div>
                            </div>
                          </div>


                          <!--
                            <div class="swiper-slide">
                              <div class="app-screenshot-item style-3">
                                <img src="assets/images/screenshot/livmeds_accessibilite_application.jpg" loading="lazy" alt="livmeds accéssible à tous  ">
                              </div>
                            </div>
                            <div class="swiper-slide">
                              <div class="app-screenshot-item style-3">
                                <img src="assets/images/screenshot/livmeds_Inscription_application.jpg" loading="lazy" alt="livmeds incription connection application">
                              </div>
                            </div>
                            <div class="swiper-slide">
                              <div class="app-screenshot-item style-3">
                                <img src="assets/images/screenshot/livmeds_insertion_application.jpg" loading="lazy" alt="livmeds insertion carte vitale">
                              </div>
                            </div>
                            <div class="swiper-slide">
                              <div class="app-screenshot-item style-3">
                                <img src="assets/images/screenshot/livmeds_choisirProduit_application.jpg" loading="lazy" alt="livmeds choix de produit parapharmacie">
                              </div>
                            </div>
                            <div class="swiper-slide">
                              <div class="app-screenshot-item style-3">
                                <img src="assets/images/screenshot/livmeds_scanner_application.jpg" loading="lazy" alt="livmeds je scenne mon ordonnance">
                              </div>
                            </div>
                            <div class="swiper-slide">
                              <div class="app-screenshot-item style-3">
                                <img src="assets/images/screenshot/livmeds_commander_application.jpg" loading="lazy" alt="livmeds je commande  la livraison ">
                              </div>
                            </div>
                            <div class="swiper-slide">
                              <div class="app-screenshot-item style-3">
                                <img src="assets/images/screenshot/livmeds_localisation_application.jpg" loading="lazy" alt="livmeds je localise ma commande">
                              </div>
                            </div>
                            <div class="swiper-slide">
                              <div class="app-screenshot-item style-3">
                                <img src="assets/images/screenshot/livmeds_reception_application.jpg" loading="lazy" alt="livmeds je comfirme la réception de ma livraison">
                              </div>
                            </div>
                            -->
                          </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- app-screenshot -->
<section class="mapLivmed  bg-color s-pb-large " >
  <div class="container" id="mapLivMed">
    <div class="s-title">
      <h2>Où nous trouver </h2>
    </div>
    <div class="left">
      <!--<iframe src="https://snazzymaps.com/embed/301169" width="100%" height="700px"  sandbox="allow-scripts" ></iframe>-->
      <iframe src="https://snazzymaps.com/embed/313992" width="100%" height="700px" style="border-radius: 19px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(248 36 147);
    /*border-color: #54bbec;*/
    border: none;
    "></iframe>

    </div>
  </div>
</section>
<section class="video">
    <div class="video-sec size-large bg-img bg-2">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="video-play-content">
                      <div class="video-play-btn">
                        <a href="https://www.youtube.com/embed/_GP29uaRnC4" data-rel="lightbox-popup">
                          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="15px"
                               height="20px">
                            <path fill-rule="evenodd" fill="rgb(255, 255, 255)"
                                  d="M-0.001,1.104 C-0.001,2.027 -0.001,18.234 -0.001,18.872 C-0.001,19.698 0.872,20.312 1.734,19.829 C2.425,19.442 13.233,11.631 14.411,10.962 C15.185,10.523 15.172,9.478 14.411,9.038 C13.563,8.548 2.702,0.697 1.699,0.152 C0.964,-0.247 -0.001,0.194 -0.001,1.104 Z"/>
                          </svg>
                        </a>
                      </div>
                      <h2 class="title">REGARDER LE TUTORIEL</h2>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- video -->
    <div class="angle-shape">
        <svg height='250'>
            <rect width="100%" height='250'></rect>
        </svg>
    </div>
</section>
<section class="faq-sec s-padding bg-color  s-pb-large" id="faq">
    <div class="angle-shape sec-color">
        <svg height='250'>
            <rect width="100%" height='250'></rect>
        </svg>
    </div>
    <div class="s-title">
        <h2>Foire aux questions</h2>
        <p>Trouvez les réponses aux questions fréquemment posées</p>
    </div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
              <div class="faq-sec-img">
                <img class="wow slideInLeft" style="margin-top: 15%;"src="assets/images/screenshot/livmeds_application_faq.png"  loading="lazy" alt="livmeds foire aux questions ">
              </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <div class="accordion" id="iconicAccordion">
                    <div class="card accordion-item">
                        <div class="accordion-header" id="accordionHeading1">
                          <h5 class="mb-0">
                            <button class="accordion-btn" type="button" data-toggle="collapse" data-target="#accordionItem1"
                                    aria-expanded="true" aria-controls="accordionItem1">
                              <span class="accordion-icon"><i class="icon-settings"></i></span>
                              <span
                                class="accordion-title">Puis-je laisser un avis sur mon livreur et lui laisser un pourboire?</span>
                              <span class="accordion-arrow"><i class="arrow_carrot-down"></i></span>
                            </button>
                          </h5>
                        </div>

                        <div id="accordionItem1" class="collapse show" aria-labelledby="accordionHeading1"
                            data-parent="#iconicAccordion">
                            <div class="card-body accordion-body">
                                Bien sûr ! Vouz avez la possibilité de noter la course de votre livreur afin de lui permettre de
                                s’améliorer ou de le féliciter pour son professionnalisme. Vous pouvez également lui rajouter en fin de
                                course un pourboire si vous avez été satisfait de sa prestation.
                              </div>
                        </div>
                    </div>
                    <div class="card accordion-item">
                        <div class="accordion-header" id="accordionHeading2">
                            <h5 class="mb-0">
                                <button class="accordion-btn collapsed" type="button" data-toggle="collapse"
                                    data-target="#accordionItem2" aria-expanded="false" aria-controls="accordionItem2">
                                    <span class="accordion-icon"><i class="icon-support"></i></span>
                                    <span class="accordion-title">Puis-je me faire livrer des médicaments classés dangereux?</span>
                                    <span class="accordion-arrow"><i class="arrow_carrot-down"></i></span>
                                </button>
                            </h5>
                        </div>
                        <div id="accordionItem2" class="collapse" aria-labelledby="accordionHeading2"
                            data-parent="#iconicAccordion">
                            <div class="card-body accordion-body">
                                Non, certaines classes de médicaments ne peuvent être livrées! Les médicaments stupéfiants ou assimilés
                              </div>
                        </div>
                    </div>
                    <div class="card accordion-item">
                        <div class="accordion-header" id="accordionHeading3">
                            <h5 class="mb-0">
                                <button class="accordion-btn collapsed" type="button" data-toggle="collapse"
                                    data-target="#accordionItem3" aria-expanded="false" aria-controls="accordionItem3">
                                    <span class="accordion-icon"><i class="icon-rocket"></i></span>
                                    <span class="accordion-title">Est-il possible de se faire livrer des produits sans ordonnance?</span>
                                    <span class="accordion-arrow"><i class="arrow_carrot-down"></i></span>
                                </button>
                            </h5>
                        </div>
                        <div id="accordionItem3" class="collapse" aria-labelledby="accordionHeading3"
                            data-parent="#iconicAccordion">
                            <div class="card-body accordion-body">
                                Oui. En effet, sur l'application il vous sera possible de sélectionner tous types de produits de
                                pharmacie et de parapharmacie via notre rubrique E-shop en plus de vos médicaments sur ordonnance. !
                              </div>
                        </div>
                    </div>
                    <div class="card accordion-item">
                        <div class="accordion-header" id="accordionHeading4">
                            <h5 class="mb-0">
                                <button class="accordion-btn collapsed" type="button" data-toggle="collapse"
                                    data-target="#accordionItem4" aria-expanded="false" aria-controls="accordionItem4">
                                    <span class="accordion-icon"><i class="icon-diamond"></i></span>
                                    <span class="accordion-title">Quels sont les délais et les horaires de livraison?</span>
                                    <span class="accordion-arrow"><i class="arrow_carrot-down"></i></span>
                                </button>
                            </h5>
                        </div>
                        <div id="accordionItem4" class="collapse" aria-labelledby="accordionHeading4"
                            data-parent="#iconicAccordion">
                            <div class="card-body accordion-body">
                                Nous vous garantissons un délai de livraison assuré en moins de 30 minutes 24h/24h 7j/7j grâce aux
                                pharmacies de garde partenaires. !
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="partners s-padding bg-color" >
  <div class="container" id="partners">
        <div class="s-title">
            <h2 style="margin-top: -20%;">Nos partenaires</h2>
            <p>Ils nous font confiance et nous soutiennent.</p>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="swiper-container partners-slider">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="partner-logo">
                                <a href="https://www.magasins-u.com" target="_blank">
                                  <img style="height: 70px;margin-top: 3%;"  src="assets/images/partenaire/hyper-u.png" loading="lazy"  alt="logo Hyper-u">
                                  <!-------------a faire-->
                                </a>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="partner-logo">
                              <a href="https://www.dmp.fr/" target="_blank">
                                <img class="partners-logo-dim" src="assets/images/partenaire/logo-dmp.png" loading="lazy"  alt="logo dmp">
                              </a>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="partner-logo">
                              <a href="http://www.ovb-assurances.com/" target="_blank">
                                <img style="transform: scale(1.8);margin-top: 6%;" class="partners-logo-dim" src="assets/images/partenaire/LOGO-OVB.png" loading="lazy"   alt="logo OVB">
                              </a>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="partner-logo">
                              <a href="https://lenval.org/" target="_blank">
                                <img class="partners-logo-dim" src="assets/images/partenaire/fondation-lenval-logo.png" loading="lazy"  alt="logo fondation lenval">
                              </a>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="partner-logo">
                              <a href="https://www.chu-nice.fr/" target="_blank">
                                <img class="partners-logo-dim" src="assets/images/partenaire/chu-nice-logo.png"  loading="lazy" alt="logo chu de nice">
                              </a>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="partner-logo">
                              <a href="https://www.credit-agricole.fr/" target="_blank">
                                <img class="partners-logo-dim" src="assets/images/partenaire/logo-credit-agricole.png" loading="lazy" alt="logo credit agricole ">
                              </a>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="partner-logo">
                              <a href="https://aws.amazon.com/fr/" target="_blank">
                                <img class="partners-logo-dim" src="assets/images/partenaire/awsLogo.png" loading="lazy" alt="logo aws">
                              </a>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="partner-logo">
                              <a href="https://lafrenchtech.com/fr/" target="_blank">
                                <img style="transform: scale(2);" class="partners-logo-dim" src="assets/images/partenaire/logo-french-tech.png"  loading="lazy" alt="logo french tech  ">
                              </a>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="partner-logo">
                              <a href="https://www.bpifrance.fr/" target="_blank">
                                <img class="partners-logo-dim" src="assets/images/partenaire/logo_bpifrance.png" loading="lazy" alt=" logo bpifrance">
                              </a>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="partner-logo">
                              <a href="https://www.maregionsud.fr/" target="_blank">
                                <img style="transform: scale(2.1);" class="partners-logo-dim" src="assets/images/partenaire/logo-region-sud.png"  loading="lazy" alt="logo region PACA ">
                              </a>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="partner-logo" >
                              <a href="https://esante.gouv.fr/labels-certifications/hebergement-des-donnees-de-sante" target="_blank">
                                <img class="partners-logo-dim" src="assets/images/partenaire/logo-HADS.png" loading="lazy" alt=" logo herbergement des données de sante ">
                              </a>
                            </div>
                          </div>
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </div>
    </div>
</section><!-- partners -->
<section class="partners s-padding bg-color" id="parle">
    <div class="container">
      <div class="s-title">
        <p>Ils parlent de nous.</p>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="swiper-container partners-slider">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
              <div class="partner-logo">
                <a href="http://detours.canal.fr/livmeds-un-service-24-24-pour-se-faire-livrer-des-medicaments-en-moins-de-30-minutes/" target="_blank">
                  <img src="assets/images/partenaire/Canalplus_Logo.png" loading="lazy" target="_blank" alt=" logo canalplus">
                </a>
              </div>
            </div>
              <div class="swiper-slide">
                <div class="partner-logo">
                  <a href="https://www.azur-tv.fr/" target="_blank">
                    <img src="assets/images/partenaire/azurtv.png" loading="lazy" target="_blank" alt=" logo azurtv">
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="partner-logo">
                  <a
                    href="https://www.nicematin.com/sante/faites-vous-livrer-vos-medicaments-a-domicile-grace-a-cette-application-nicoise-610975" target="_blank">
                    <img  src="assets/images/partenaire/nice-matin.png" loading="lazy" target="_blank" alt=" logo nice matin">
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="partner-logo">
                  <a
                    href="https://www.lequotidiendupharmacien.fr/un-service-de-livraison-de-medicaments-sur-le-modele-duber" target="_blank">
                    <img  src="assets/images/partenaire/Logo-Le-Quotidien.png" loading="lazy" target="_blank" alt="logo le quotidien">
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="partner-logo">
                  <a href="http://www.kissfm.cc/" target="_blank">
                    <img  src="assets/images/partenaire/Logo-Kiss-FM.png"  loading="lazy" target="_blank" alt="logo kiss FM">
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="partner-logo">
                  <a href="https://nicepresse.com/nice-livemed-ubereat-livraison-medicaments-cote-d-azur/" target="_blank">
                    <img  src="assets/images/partenaire/LogoNicePresse.png" loading="lazy" target="_blank" alt="logo Nice Presse ">
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="partner-logo">
                  <a
                    href=" https://www.nice-premium.com/societe,149/sante,57/des-medicaments-livres-a-domicile-grace-a-livmed-s,29587.html" target="_blank">
                    <img  src="assets/images/partenaire/nice-premium.png" loading="lazy" target="_blank" alt="logo nice prenium">
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="partner-logo">
                  <a href=" https://region-sud.latribune.fr/innovation/2021-03-12/comment-livmed-s-uberise-la-livraison-de-medicaments-en-accelere-879870.html" target="_blank">
                    <img  src="assets/images/partenaire/logo-latribune.png" loading="lazy" target="_blank" alt="logo la tribune ">
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="partner-logo">
                  <a href="https://www.youtube.com/watch?v=T1a2PrTseyw" target="_blank">
                    <img style="transform: scale(1.3);height: 32px;margin-top: 14px;" src="assets/images/partenaire/Logo-France-TV.png"  loading="lazy" target="_blank" alt="logo france TV ">
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="partner-logo">
                  <a href="https://france3-regions.francetvinfo.fr/provence-alpes-cote-d-azur/cree-par-deux-amis-a-nice-une-start-up-de-livraison-de-medicaments-a-domicile-se-developpe-partout-en-france-2077663.html" target="_blank">
                    <img style="transform: scale(1.3);height: 32px;margin-top: 14px;" src="assets/images/partenaire/France3_paca.png"  loading="lazy" target="_blank" alt="logo france 3 provence alpes cote d'azur ">
                  </a>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="partner-logo">
                  <a href="https://actu.fr/provence-alpes-cote-d-azur/nice_06088/ces-nicois-ont-cree-le-uber-des-medicaments-pour-recevoir-vos-prescriptions-a-domicile_41910832.html" target="_blank">
                    <img style="transform: scale(1.3);height: 32px;margin-top: 14px;" src="assets/images/partenaire/Actu-fr-Logo.png"  loading="lazy" target="_blank" alt="logo france 3 provence alpes cote d'azur ">
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div>
      </div>
    </div>
  </section><!-- parle de nous -->
  <section class="h4-testimonial s-padding bg-color" id="opinion-client">
    <div class="angle-shape sec-color">
        <svg height='250'>
            <rect width="100%" height='250'></rect>
        </svg>
    </div>
    <div class="container">
        <div class="s-title">
            <h2>Ce que disent les clients</h2>
        </div>
        <div class="row testimonial-slider-row">
            <div class="col-12">
                <div class="testimonial-slider-wrapper">
                    <div class="swiper-container testimonial-slider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testimonial-item style-3">
                                    <div class="testimonial-content">
                                        Application très simple d’utilisation . Il est possible de se faire livrer au travail ! Cela m’a
                                        permis un gain de temps considérable et de ne pas patientier en pharmacie . Superbe idée . Je
                                        recommande !
                                        <span class="quote-mark">,,</span>
                                    </div>
                                    <div class="testimonial-meta">
                                        <div class="author-img">
                                            <img src="assets/images/customer/amelie_chevalier.jpg" loading="lazy" alt="">
                                        </div>
                                        <div class="t-meta-info">
                                            <h4 class="reviewer-name">Amélie Chevalier</h4>
                                            <div class="rating-star">
                                                <i class=" icon_star_alt"></i>
                                                <i class=" icon_star_alt"></i>
                                                <i class=" icon_star_alt"></i>
                                                <i class=" icon_star_alt"></i>
                                                <i class=" icon_star_alt"></i>
                                                <span>
                                                    <i class="icon_star"></i>
                                                    <i class="icon_star"></i>
                                                    <i class="icon_star"></i>
                                                    <i class="icon_star"></i>
                                                    <i class="icon_star-half_alt"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-item style-3">
                                    <div class="testimonial-content">Je chercher le moyen de me faire livrer mes médicaments étant femme
                                        au foyer , j’ai decouvert livmed’s superbe , rapide , sécurisé et confidentiel . cela me permet de
                                        m’occuper des mes enfants en bas âges tous en commandant les produits infantiles . C’est génial !
                                        <span class="quote-mark">,,</span>
                                    </div>
                                    <div class="testimonial-meta">
                                        <div class="author-img">
                                            <img src="assets/images/customer/morgane_lepine.jpg" loading="lazy" alt="">
                                        </div>
                                        <div class="t-meta-info">
                                            <h4 class="reviewer-name">Morgane Lépine</h4>
                                            <div class="rating-star">
                                                <i class=" icon_star_alt"></i>
                                                <i class=" icon_star_alt"></i>
                                                <i class=" icon_star_alt"></i>
                                                <i class=" icon_star_alt"></i>
                                                <i class=" icon_star_alt"></i>
                                                <span>
                                                    <i class="icon_star"></i>
                                                    <i class="icon_star"></i>
                                                    <i class="icon_star"></i>
                                                    <i class="icon_star"></i>
                                                    <i class="icon_star-half_alt"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-item style-3">
                                    <div class="testimonial-content">application très ludique , j’ai scanner mon ordonnance et je me suis
                                    laisser suivre par les instructions , 30 min plus tard le livreur était là avec mes médicaments . Je
                                    recommande fortement .
                                        <span class="quote-mark">,,</span>
                                    </div>
                                    <div class="testimonial-meta">
                                        <div class="author-img">
                                            <img src="assets/images/customer/hagda_prata.jpg" loading="lazy" alt="">
                                        </div>
                                        <div class="t-meta-info">
                                            <h4 class="reviewer-name">Hagda Prata</h4>
                                            <div class="rating-star">
                                                <i class=" icon_star_alt"></i>
                                                <i class=" icon_star_alt"></i>
                                                <i class=" icon_star_alt"></i>
                                                <i class=" icon_star_alt"></i>
                                                <i class=" icon_star_alt"></i>
                                                <span>
                                                    <i class="icon_star"></i>
                                                    <i class="icon_star"></i>
                                                    <i class="icon_star"></i>
                                                    <i class="icon_star"></i>
                                                    <i class="icon_star-half_alt"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testimonial-item style-3">
                                    <div class="testimonial-content">J’ai voulu commander des produits parapharmaceutiques , livmeds me la
                                        Permis . Bravo ! Et j’en vous remercie !
                                        <span class="quote-mark">,,</span>
                                    </div>
                                    <div class="testimonial-meta">
                                        <div class="author-img">
                                            <img src="assets/images/customer/marie_renou.jpg" loading="lazy" alt="">
                                        </div>
                                        <div class="t-meta-info">
                                            <h4 class="reviewer-name">Marie Renou</h4>
                                            <div class="rating-star">
                                                <i class=" icon_star_alt"></i>
                                                <i class=" icon_star_alt"></i>
                                                <i class=" icon_star_alt"></i>
                                                <i class=" icon_star_alt"></i>
                                                <i class=" icon_star_alt"></i>
                                                <span>
                                                    <i class="icon_star"></i>
                                                    <i class="icon_star"></i>
                                                    <i class="icon_star"></i>
                                                    <i class="icon_star"></i>
                                                    <i class="icon_star-half_alt"></i>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="testimonial-btn-next"><i class="arrow_right"></i></div>
                <div class="testimonial-btn-prev"><i class="arrow_left"></i></div>
            </div>
        </div>
    </div>
</section><!-- testimonial -->
<section class="bg-img bg-3 h4-get-the-app" id="download">
    <div class="overlay"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 pt-5">
                <div class="get-the-app-content">
                    <h2>Téléchargez l’application</h2>
                    <p>Tout d’abord, téléchargez l’application sur App Store ou Google Play afin de profiter pleinement de nos
                        services.</p>
                      <div class="apps-store-btn-wrpper">
                        <a href="https://play.google.com/store/apps/details?id=com.livmeds" class="app-store-btn"  target="_blank">
                          <img src="assets/images/livmed-disponible-google-play.png" loading="lazy" alt="télécharger l'appliciation livmed's sur google play">
                        </a>
                        <a href="https://apps.apple.com/us/app/livmeds/id1510261512?l=fr&ls=1" class="app-store-btn"  target="_blank">
                          <img src="assets/images/livmed-disponible-app-store.png" loading="lazy"  alt="télécharger l'appliciation livmed's sur app store">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 d-none d-lg-block">
                <div class="img-wrapper  h4-get-the-app-img">
                    <img class="wow slideInUp" src="assets/images/livmeds_telecharger_application.png" loading="lazy" alt="livmeds je télécharge l'application" style="float: right;">
                  </div>
            </div>
        </div>
    </div>
    </section><!-- newsletter -->
    <section class="h4-newsletter  bg-color" id="newsletter" style="padding-top: 5%;   padding-bottom: 5%;">
      <div class="container">
        <div class="s-title">
          <h2>Newsletter </h2>
        </div>
        <iframe src="https://cdn.forms-content.sg-form.com/5839914f-ebc1-11eb-9e7a-766141293174" frameborder="0" scrolling="no"
                width="100%" height="400px" style=" padding-left: 18%;"></iframe>
          <!--<iframe class="mj-w-res-iframe newsletterIframe" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"
                  src="https://app.mailjet.com/widget/iframe/6iTG/J3T" width="100%" height="200px" style=" padding-left: 18%;"></iframe>
          <script type="text/javascript" src="https://app.mailjet.com/statics/js/iframeResizer.min.js"></script>-->

      </div>
    </section><!-- get-the-app -->
    <section class="h4-contact bg-color" id="contact"  style="padding-bottom: 5%;">
        <div class="container">
        <div class="row">
            <div class="col-lg-5">
                <div class="iconic-contact-info">
                    <div class="contact-info-head">
                        <h2>Contactez-nous</h2>
                        <p>N’hésitez pas à nous contacter pour toute question ou renseignement :</p>
                    </div>
                    <ul class="f-contact-list">
                        <li><span>Adresse:</span> 1 Avenue de suède, 06000 Nice</li>
                        <li><span>Appelez-nous:</span> 04 83 43 27 33</li>
                        <li><span>Email:</span> sas.livmeds@gmail.com</li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1">
                <form c [formGroup]="messageFormGroup">
                    <div class="form-row">
                      <div class="form-group col-md-6">
                        <input aria-label="Nom" formControlName="name" type="text" class="form-control" placeholder="Nom"
                               name="name">
                      </div>
                      <div class="form-group col-md-6">
                        <input aria-label="E-mail" formControlName="mail" type="email" class="form-control" placeholder="Email"
                               name="email">
                      </div>
                    </div>
                    <div class="form-group">
                      <input aria-label="Sujet" formControlName="subject" type="text" class="form-control" placeholder="Sujet"
                             name="subject">
                    </div>
                    <div class="form-group">
                      <textarea aria-label="Votre message" formControlName="message" class="form-control" rows="5"
                                placeholder="Message" name="message"></textarea>
                    </div>
                    <div class="text-lg-right">
                      <button (click)="submitContact()" type="submit" class="btn fill-style" [disabled]="!messageFormGroup.valid">
                        ENVOYER LE MESSAGE
                      </button>
                    </div>
                  </form>
            </div>
        </div>
    </div>
</section><!-- contact -->
