<ion-content>
  <div class="row h-100">
    <div class="col-xs-12 col-sm-12">

      <div class="rest-container">
        <div class="text-center header-icon-logo-margin header-icon-logo-margin-extra">
          <img src="assets/images/logo.png" class="logo-app" alt="Main Logo">
        </div>

        <!--Sign Up Container Start-->
        <div class="sign-up-form-container text-center">
          <form class="width-100" [formGroup]="resetFormGroup">

            <!--Sign Up Form Field Start-->
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="fas fa-envelope icon-color"></span>
                </div>
                <input class="form-control" formControlName="mail" type="text" autocomplete="off" name="email"
                  placeholder="Email">
              </div>
            </div>
            <!--Sign Up Form Field End-->

            <div class="form-submit-button">
              <a class="btn btn-primary text-uppercase font-weight-normal"
                (click)="submit()">{{'SEND_EMAIL' | translate}}</a>
            </div>
          </form>
        </div>
        <!--Sign Up Container Start-->

      </div>
    </div>

  </div>
</ion-content>