<ion-content>
  <div class="row h-100">
    <div class="col-xs-12 col-sm-12">

      <div class="rest-container">
        <div class="text-center header-icon-logo-margin header-icon-logo-margin-extra" style="    margin-top: 5%;">
          <img src="assets/images/logo.png"  alt="Main Logo" style="width: 60%;">
        </div>

        <!--Sign Up Container Start-->
        <div class="sign-up-form-container text-center">
          <form class="width-100" [formGroup]="loginFormGroup">

            <!--Sign Up Form Field Start-->
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="fas fa-envelope icon-color"></span>
                </div>
                <input autocomplete="off" class="form-control" formControlName="mail" type="text" autocomplete="off"
                  name="email" placeholder="Email">
              </div>
            </div>
            <!--Sign Up Form Field End-->

            <!--Sign Up Form Field Start-->
            <app-password-field idInput="loginPassword" formControlName="password" placeholder="{{'FIELD_PASSWORD' | translate}}">
            </app-password-field>
            <!--Sign Up Form Field End-->

            <!--Setting Item Start-->
            <div class="form-group">
              <span  style="vertical-align: middle; margin-right:10px;" >{{'REMEMBER_ME' | translate}}</span>
              <label class="switch"  style="vertical-align: top;">
                <input type="checkbox"(change)="rememberMe($event.target.checked)">
                <span class="slider"  ></span>
              </label>
              <span class="clearfix"></span>
            </div>
            <!--Setting Item End-->

            <div class="have-an-account text-center">
              <a (click)="lostPassword()" class="regular-link">{{'PASSWORD_LOST' | translate}}</a>
            </div>

            <div class="form-submit-button">
              <a class="btn btn-primary text-uppercase font-weight-normal"
                (click)="submit()">{{'SIGN_IN' | translate}}</a>
            </div>
          </form>

          <a class="btn btn-center width-100 display-block btn-secondary btn-padding-1 reduce-padding"
             (click)="loginFacebook()"  style="margin-bottom: 3%;width: 83%;" ><i class="fab fa-facebook-f"  style="    margin-right: 4%;" ></i> <span style="font-size: 81%;">{{'LOGIN_WITH_FACEBOOK' | translate}}</span></a>
          <button *ngIf="platform.is('ios')" class="btn-apple" (click)="loginApple()" style="width: 83%;" ><span style="font-size: 81%;">  {{'LOGIN_WITH_APPLE' | translate}}</span></button>

        </div>
        <!--Sign Up Container Start-->

      </div>
    </div>
  </div>

</ion-content>