.modal-dialog{
    width: 100%;
}
form{
    width: 100%;
}
.vertical-align-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-flow: column nowrap;
    text-align: center;
}

.reduce-padding{
    padding: 10px !important;
    height: 45px;
    line-height: 22px;
    padding: 9px 26px;
    width: 100%;
    cursor: pointer;
    border-radius: 7px;
    font-size: 24px;
    max-height: 56px;
}

.btn-apple{
    background-color: black !important;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    color: white;
    padding: 9px 26px;
    width: 100%;
    cursor: pointer;
    border-radius: 7px;
    font-size: 24px;
    max-height: 56px;
}