<ion-content>

  <div class="row h-100">
    <div class="col-xs-12 col-sm-12">
      <div class="rest-container">
        <div class="text-center header-icon-logo-margin header-icon-logo-margin-extra">
          <img src="assets/images/logo.png" class="logo-app" alt="Main Logo">
        </div>
        <div class="address-title">{{'COMMANDS_DETAILS'|translate}}</div>

        <!--Promocode Container Start-->
        <div class="promocode-container pb-0">
          <div class="row">
            <div class="col-12">
              <h4>{{'DELIVERY_FEE' | translate}} :
                <strong
                  *ngIf="invoice.codePromoInformation  && invoice.codePromoInformation.status === 'ENABLED' && invoice.promoAmount && invoice.promoAmount > 0"
                  style="text-decoration-line: line-through;">
                  {{formatNumber(invoice.amountDeliverer + invoice.platformFee -
                  invoice.feeManagement) | currency:'EUR':true}}
                </strong>
                <strong>
                  {{formatNumber(invoice.amountDeliverer + invoice.platformFee -
                  invoice.feeManagement - invoice.promoAmount) | currency:'EUR':true}}
                </strong>
              </h4>
              <h4
                *ngIf="invoice.codePromoInformation && invoice.codePromoInformation.status === 'ENABLED'">
                <strong>{{'FIELD_CODE_PROMO' | translate: {percentage: invoice.codePromoInformation.percentage}
                  }}</strong>
              </h4>
              <h4>{{'TOTAL_AMOUNT' | translate}} :
                <strong
                  *ngIf="invoice.codePromoInformation && invoice.amountCustomerBeforeCodePromo && invoice.codePromoInformation.status === 'ENABLED'"
                  style="text-decoration-line: line-through;">{{formatNumber(invoice.amountCustomerBeforeCodePromo)
                  | currency:'EUR':true}} </strong>
                <strong>{{formatNumber(invoice.amountCustomer) | currency:'EUR':true}}</strong>
              </h4>
              <div *ngFor="let product of invoice.products">
                <div>
                  <a *ngIf="!product.status || product.status !== 'DELETED'"
                    class="payment-options-list disabled href-decoration-none" style="display: flex; 
                            border: 1px solid #B7B7B7; color: #B7B7B7; margin: 16px 0px; font-size: 18px;">
                    <span class="icon" style="width: 70px; height: 70px;">
                      <img src="{{product.image?fileService.getPublicUrl(product.image):'assets/images/pills.svg'}}"
                        alt="pills icon"></span>
                    {{product.description}}<br>
                    {{'QUANTITY' | translate}}: {{product.quantity}}<br>
                    {{'UNIT_AMOUNT' | translate}}: {{product.unitAmount}} €<br>
                    {{'PRODUCT_AMOUNT' | translate}}: {{product.quantity * product.unitAmount}} €<br>
                    {{product.comment?('COMMENT' + ': ' + product.comment):'' | translate}}<br>
                  </a>
                  <a *ngIf="product.status && product.status === 'DELETED'"
                    class="payment-options-list disabled href-decoration-none" style="display: flex; 
                            border: 1px solid #B7B7B7; color: #B7B7B7; margin: 16px 0px; font-size: 18px;">
                    <span class="icon" style="width: 70px; height: 70px;">
                      <img src="{{product.image?fileService.getPublicUrl(product.image):'assets/images/pills.svg'}}"
                        alt="pills icon"></span>
                    {{product.description}}<br>
                    {{'QUANTITY' | translate}}: {{product.quantity}}<br>
                    {{'PRODUCT_NOT_AVAILABLE' | translate}}<br>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--Promocode Container End-->
      </div>
    </div>
  </div>
</ion-content>