<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">{{'TITLE_DELIVERY_BTOB' | translate}}</h1>
          <ol class="breadcrumb">
            <li class="item-current"><span>{{'SUBTITLE_DELIVERY_BTOB' | translate}}</span></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-page-main-wrapper">
  <div class="container">
    <form [formGroup]="deliveryFormGroup">
      <div class="row justify-content-center">
        <div class="col-12">
          <div class="row">
            <div [hidden]="!hideListAddresses" class="col-6">
              <input type="text" class="form-control form-white" name="fullAddress"
                placeholder="{{'FIELD_FULL_ADDRESS' | translate}}" #address>
            </div>
            <div [hidden]="hideListAddresses" class="col-6">
              <p *ngIf="myAddresses.length === 1">
                Vous n'avez aucune adresse enregistrée
              </p>
              <select style="height: 100%; max-height: 66px;" *ngIf="myAddresses.length > 1" class="form-control"
                formControlName="address">
                <option *ngFor="let address of myAddresses"  [value]="address._id" [hidden]="address.favoriteAddress">
                  {{address.fullAddress}}
                </option>
              </select>
            </div>
            <div class="col-6">
              <button [hidden]="!hideListAddresses"  style="margin-right: 10px; background-color: #54BBEC; color: #fff; margin-bottom: 20px;"
                type="submit" (click)="showListAddresses()" class="btn btn-submit">
                {{'USE_ADDRESSE_ALREADY_EXIST' | translate }}
              </button>
              <button [hidden]="hideListAddresses"  style="margin-right: 10px; background-color: #54BBEC; color: #fff; margin-bottom: 20px;"
                type="submit" (click)="enterNewAddress()" class="btn btn-submit">
                {{'USE_NEW_ADDRESS' | translate }}
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <input type="number" class="form-control form-white" name="nbPackage"
                placeholder="{{'FIELD_NB_PACKAGE' | translate}}" formControlName="nbPackage" required>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="alert alert-danger" role="alert" *ngIf="cards.length == 0">
                Aucun moyen de paiement enregistré ! <a routerLink="/cards">Cliquez-ici</a>
              </div>
              <select style="height: 100%; max-height: 66px;" class="form-control" name="cardId" id="cardId" formControlName="cardId">
                <option [value]="null" disabled selected>Sélectionner votre moyen de paiement</option>
                <option *ngFor="let card of cards" [value]="card.id">
                  XXXX XXXX XXXX {{card.card.last4 +' / Exp: ' + card.card.exp_month + '/' + card.card.exp_year}}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center full-width">
        <div class="col-md-12">
          <div class="checkbox-holder text-left">
            <div class="checkbox">
              <label for="bigPackage"><input type="checkbox" formControlName="bigPackage" name="bigPackage" />
                {{'LABEL_BIG_PACKAGE' | translate}}</label>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center full-width">
        <div class="col-md-12">
          <button type="submit" class="btn btn-submit" (click)="submit()" [disabled]="!deliveryFormGroup.valid">
            {{'BTN_CREATE_DELIVERY' | translate}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>