<ion-content>
    <div class="row h-100">
        <div class="col-xs-12 col-sm-12">
    
            <div class="rest-container paypal">
                <div class="text-center header-icon-logo-margin">
                    <div class="profile-picture-container">
                        <img src="assets/icons/paypal.svg"  class="paypal-icon" alt="Paypal Logo">
                    </div>
                </div>
                <div class="text-center margin-top-25">{{'ADD_YOUR_PAYPAL_ACCOUNT' | translate}}</div>
    
                <!--Paypal Email Address Info Start-->
                <div class="sign-up-form-container">
                    <form class="width-100">
    
                        <!--Email Address Field Start-->
                        <div class="form-group text-center">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span>
                                        <span class="fas fa-envelope icon-color"></span>
                                    </span>
                                </div>
                                <input class="form-control" type="email" name="email" placeholder="Paypal Email Address">
                            </div>
                        </div>
                        <!--Email Address Field End-->
    
                        <div class="form-submit-button small-padding text-center">
                            <a class="btn btn-dark text-uppercase">{{'ADD_THIS_ACCOUNT' | translate}}</a>
                        </div>
                        <div class="form-group">
    
                            <!--Email Option Start-->
                            <label class="font-weight-light width-100">
                                <input type="radio" name="email" class="margin-right-15"> sale@web-technology.cc
                                <span class="float-right remove-email-paypal">
                                    <img src="assets/icons/cross.svg" alt="Close Icon">
                                </span>
                            </label>
                            <!--Email Option End-->
    
                            <!--Email Option Start-->
                            <label class="font-weight-light width-100">
                                <input type="radio" name="email" class="margin-right-15" checked> sale@your-domain.com
                                <span class="float-right remove-email-paypal">
                                    <img src="assets/icons/cross.svg" alt="Close Icon">
                                </span>
                            </label>
                            <!--Email Option End-->
                        </div>
                    </form>
                </div>
                <!--Paypal Email Address Info End-->
            </div>
        </div>
    
    </div>
</ion-content>
