<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>{{title | translate}}
                <small class="text-muted">{{'SUBTITLE_MANAGE_DELIVERIES' | translate }}</small>
            </h2>
        </div>
    </div>
</div>
<div class="container-fluid">

    <div *ngIf="deliverySelected" class="row clearfix">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <div class="card">
                <div class="header">
                    <h2><strong>{{titleDetails.label | translate:titleDetails.params}}</strong></h2>
                    <ul class="header-dropdown">
                        <li class="remove">
                            <a role="button" class="boxs-close"><i class="zmdi zmdi-close"
                                    (click)="closeDetails()"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-6">
                            <small class="text-muted">{{'COL_REFERENCE' | translate }}: </small>
                            <p>{{deliverySelected.reference}}</p>
                            <hr>
                            <small class="text-muted">{{'FIELD_CUSTOMER' | translate }}: </small>
                            <p *ngIf="!deliverySelected.isForCustomer && !deliverySelected.isBtoB">
                                {{deliverySelected.customer.lastName + ' ' + deliverySelected.customer.name}}</p>
                            <p *ngIf="deliverySelected.isForCustomer">
                                {{deliverySelected.lastnameCustomer + ' ' + deliverySelected.nameCustomer}}</p>
                            <hr>
                            <small class="text-muted">{{'FIELD_MERCHANT' | translate }}: </small>
                            <p>
                                {{deliverySelected.merchant.name}}
                            </p>
                            <hr>
                            <small class="text-muted">{{'FIELD_DELIVERER' | translate }}: </small>
                            <p>{{deliverySelected.deliverer ? deliverySelected.deliverer.lastName + ' ' +
                                deliverySelected.deliverer.name:'Non attribué'}}
                            </p>
                            <hr>
                            <small class="text-muted">{{'STEP_PACKAGE_GIVEN_TO_DELIVERER' | translate }}: </small>
                            <p>{{deliverySelected.packageGivenToDeliverer?'Oui':'Non'}}</p>
                            <hr>
                            <small class="text-muted">{{'STEP_DELIVERER_REACH_CUSTOMER' | translate }}: </small>
                            <p>{{deliverySelected.delivererReachDestination?'Oui':'Non'}}</p>
                            <hr>
                            <small class="text-muted">{{'STEP_DELIVERY_SUCCESS_BY_CUSTOMER' | translate }}: </small>
                            <p>{{deliverySelected.checkDeliverySuccessfullyByCustomer?'Oui':'Non'}}</p>
                            <hr>
                        </div>
                        <div class="col-6">
                            <small class="text-muted">{{'FIELD_ADDRESS' | translate }}: </small>
                            <p>{{deliverySelected.address.fullAddress}}</p>
                            <hr>
                            <small class="text-muted">{{'FIELD_DELIVERY_DATE' | translate }}: </small>
                            <p>{{deliverySelected.deliveryDate | date:'dd LLLL yyyy HH:mm'}}</p>
                            <hr>
                            <small class="text-muted">{{'COL_STATUS' | translate }}: </small>
                            <p>{{deliverySelected.status | translate}}</p>
                            <hr>
                            <small class="text-muted">{{'FIELD_AMOUNT' | translate }}: </small>
                            <p>{{deliverySelected.invoice ? (formatService.formatNumber(deliverySelected.invoice.amountCustomer)): 'En attente'}}</p>
                            <hr>
                            <small class="text-muted">{{'STEP_PACKAGE_RECOVER_BY_DELIVERER' | translate }}: </small>
                            <p>{{deliverySelected.recoveredPackageByDeliverer?'Oui':'Non'}}</p>
                            <hr>
                            <small class="text-muted">{{'STEP_DELIVERY_SUCCESS_BY_DELIVERER' | translate }}: </small>
                            <p>{{deliverySelected.checkDeliverySuccessfullyByDeliverer?'Oui':'Non'}}</p>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body table-responsive">
                    <table
                        class="table table-hover m-b-0 c_list footable footable-1 footable-paging footable-paging-center breakpoint breakpoint-md">
                        <thead>
                            <tr class="footable-header">
                                <th>{{'COL_REFERENCE' | translate }}</th>
                                <th class="footable-sortable" style="display: table-cell;">
                                    {{'FIELD_CUSTOMER' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th *ngIf="deliveryType === 'INTERNAL'" data-breakpoints="xs" class="footable-sortable" style="display: table-cell;">
                                    {{'FIELD_MERCHANT' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th *ngIf="deliveryType === 'EXTERNAL'" data-breakpoints="xs" class="footable-sortable" style="display: table-cell;">
                                        {{'FIELD_PARTNER' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs sm md" class="footable-sortable">
                                    {{'FIELD_DELIVERER' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs sm md" class="footable-sortable">
                                    {{'FIELD_AMOUNT' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs sm md" class="footable-sortable">
                                    {{'FIELD_ADDRESS' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs sm md" class="footable-sortable">
                                    {{'FIELD_DELIVERY_DATE' | translate}}<span class="fooicon fooicon-sort"></span>
                                </th>
                                <th>{{'COL_STATUS' | translate }}</th>
                                <th data-breakpoints="xs" class="footable-sortable footable-last-visible"
                                    style="display: table-cell;">{{'COL_ACTION' | translate}}<span
                                        class="fooicon fooicon-sort"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td *ngIf="deliveries.length === 0" colspan="8" style="text-align: center;">
                                    {{'NO_DATA' | translate}}</td>
                            </tr>
                            <tr *ngFor="let delivery of deliveries">
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{delivery.reference | translate}}
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <p class="c_name" *ngIf="!delivery.isForCustomer && !delivery.isBtoB">
                                        {{delivery.customer.lastName}} {{delivery.customer.name}}
                                    </p>
                                    <p class="c_name" *ngIf="delivery.isForCustomer">
                                        {{delivery.lastnameCustomer}} {{delivery.nameCustomer}}
                                    </p>
                                    <p class="c_name" *ngIf="delivery.isBtoB">
                                        Livraison BtoB
                                    </p>
                                </td>
                                <td *ngIf="deliveryType === 'INTERNAL'" style="display: table-cell;">
                                    <span class="phone">
                                        {{delivery.merchant.name}}
                                    </span>
                                </td>
                                <td *ngIf="deliveryType === 'EXTERNAL'" style="display: table-cell;">
                                    <span class="phone">
                                        {{delivery.partner.name}}
                                    </span>
                                </td>
                                <td style="display: table-cell;">
                                    <span class="phone">
                                        {{delivery.deliverer ? delivery.deliverer.lastName + ' ' +
                                        delivery.deliverer.name : ''}}
                                    </span>
                                </td>
                                <td style="display: table-cell;">
                                    <span class="phone" *ngIf="!delivery.isBtoB">
                                        {{delivery.invoice ? (formatService.formatNumber(delivery.invoice.amountCustomer)): 'En attente'}}
                                    </span>
                                    <span class="phone" *ngIf="delivery.isBtoB">
                                        {{delivery.invoice ? (formatService.formatNumber(delivery.invoice.amountMerchant)): 'En attente'}}
                                    </span>
                                </td>
                                <td style="display: table-cell;">
                                    <span class="phone">
                                        {{delivery.address.fullAddress}}
                                    </span>
                                </td>
                                <td style="display: table-cell;">
                                    <span class="phone">
                                        {{delivery.deliveryDate | date:'dd LLLL yyyy HH:mm'}}
                                    </span>
                                </td>
                                <td><span [ngClass]="{'badge-danger': delivery.status==='DISABLED',
                                        'badge-success':delivery.status==='ENABLED'  }"
                                        class="badge m-l-10">{{delivery.status | translate}}</span></td>
                                <td class="footable-last-visible" style="display: table-cell;">
                                    <button tooltip="{{'TOOLTIP_SHOW_DETAILS' | translate}}" (click)="showDetails(delivery)"
                                        class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round btn-default"><i
                                            class="zmdi zmdi-info"></i></button>
                                    <button tooltip="{{'TOOLTIP_ASSIGN_DELIVERER' | translate}}" *ngIf="delivery.status === 'STAND_BY'" (click)="open(content, delivery)"
                                        class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round btn-warning"><i
                                            class="zmdi zmdi-assignment-account"></i></button>
                                    <button tooltip="{{'TOOLTIP_TAKE_BY_ADMIN' | translate}}" *ngIf="['VALID', 'IN_DELIVERY'].includes(delivery.status)"
                                        (click)="changeStatus(delivery)"
                                        class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round btn-warning"><i
                                            class="zmdi zmdi-lock"></i></button>
                                    <button tooltip="{{'TOOLTIP_CHANGE_STATUS_TO_DELIVERED' | translate}}" *ngIf="['IN_DELIVERY'].includes(delivery.status)"
                                        (click)="changeStatusToDelivered(delivery)"
                                        class="btn btn-primary btn-icon btn-simple btn-icon-mini btn-round btn-warning"><i
                                            class="zmdi zmdi-case-check"></i></button>
                                    <button tooltip="{{'TOOLTIP_CANCEL_DELIVERY' | translate}}" *ngIf="![
                                                'REFUSED', 
                                                'REFUSED_AMOUNT', 
                                                'RETURN_PACKAGE',
                                                'DELIVERED',
                                                'CANCELLED'
                                            ].includes(delivery.status)" (click)="cancel(delivery._id)"
                                        class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round"><i
                                            class="zmdi zmdi-block"></i></button>
                                    <button tooltip="{{'TOOLTIP_DELETE_DELIVERY' | translate}}"  (click)="deleteElement(delivery._id)"
                                        class="btn btn-danger btn-icon btn-simple btn-icon-mini btn-round"><i
                                            class="zmdi zmdi-delete"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
            <div class="card" *ngIf="deliveries.length > 0">
                <div class="body">
                    <ul class="pagination pagination-primary m-b-0">
                        <li class="page-item" [ngClass]="{'disabled': page <= 0}"><a class="page-link"
                                (click)="changePage(page-1)"><i class="zmdi zmdi-arrow-left"></i></a>
                        </li>
                        <li class="page-item active"><a class="page-link">{{page+1}}</a></li>
                        <li class="page-item" *ngIf="((page + 1 ) * limit) < nbTotal"><a class="page-link"
                                (click)="changePage(page+1)"><i class="zmdi zmdi-arrow-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Assigner un livreur</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <input type="text" (change)="selectEvent($event)" (input)="onChangeSearch($event)" list="dynmicUserIds" />
        <datalist id="dynmicUserIds">
            <option *ngFor="let item of data" [value]="item._id">{{item.lastName + ' ' + item.name + ' - mail: ' +
                item.mail}}</option>
        </datalist>
    </div>
    <div class="modal-footer">
        <button (click)="submit()" class="col-6btn btn-raised btn-success btn-round waves-effect" type="button">Assigner
            ce livreur</button>
    </div>
</ng-template>