<ion-content>
  <div class="row h-100">
    <div class="col-xs-12 col-sm-12">
      <div class="rest-container">
        <div class="text-center header-icon-logo-margin">
          <img src="assets/images/logo.png" class="logo-app" alt="Main Logo">
        </div>
        <div class="address-title">{{title | translate}}</div>

        <!-- Add New Address Start-->
        <div class="sign-up-form-container text-center">

          <form class="width-100" [formGroup]="registerFormGroup">

            <!--Sign Up Input Field Start-->
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="fas fa-user icon-color"></span>
                </div>
                <input class="form-control" formControlName="lastname" type="text" autocomplete="off" name="lastname"
                  placeholder="{{'FIELD_LASTNAME' | translate}}">
              </div>
            </div>
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="fas fa-user icon-color"></span>
                </div>
                <input class="form-control" formControlName="name" type="text" autocomplete="off" name="name"
                  placeholder="{{'FIELD_NAME' | translate}}">
              </div>
            </div>
            <div class="form-group">
              <div class="display-flex justify-content-between">
                <span class="position-relative " (click)="fileInputSocialSecurity.click()">
                  <img src="assets/icons/upload.svg" alt="Upload Icon">
                </span>
                <span class="text-uppercase">{{'SOCIAL_SECURITY_NUMBER' | translate}}</span>
                <span *ngIf="actualCustomer === null" (click)="socialSecurityNumberUrl = null" class="delete-btn">
                  <img src="assets/icons/delete.svg" alt="Delete Icon">
                </span>
              </div>
              <div class="scan-your-card-prompt margin-top-5">
                <div class="position-relative">
                  <div class="upload-picture-container">
                    <div class="upload-camera-container text-center">
                      <div *ngIf="socialSecurityNumberUrl" class="row justify-content-center">
                        <div class="col-6">
                          <img src="{{socialSecurityNumberUrl}}" alt="Rib Icon">
                        </div>
                      </div>
                      <span *ngIf="!socialSecurityNumberUrl" class="camera">
                        <img src="{{'assets/icons/photocamera.svg'}}" alt="Camera Icon">
                      </span>
                    </div>
                  </div>
                  <input class="scan-prompt" type="file" accept="image/*"
                    (change)="changeFile($event, 'UPLOAD_SOCIAL_SECURITY', 'socialSecurityNumber')"
                    #fileInputSocialSecurity>
                </div>
              </div>
            </div>

            <div class="form-group">
              <div class="display-flex justify-content-between">
                <span class="position-relative " (click)="fileInputMutual.click()">
                  <img src="assets/icons/upload.svg" alt="Upload Icon">
                </span>
                <span class="text-uppercase">{{'FIELD_MUTUAL' | translate}}</span>
                <span *ngIf="actualCustomer === null" (click)="mutualUrl = null" class="delete-btn">
                  <img src="assets/icons/delete.svg" alt="Delete Icon">
                </span>
              </div>
              <div class="scan-your-card-prompt margin-top-5">
                <div class="position-relative">
                  <div class="upload-picture-container">
                    <div class="upload-camera-container text-center">
                      <div *ngIf="mutualUrl" class="row justify-content-center">
                        <div class="col-6">
                          <img src="{{mutualUrl}}" alt="Rib Icon">
                        </div>
                      </div>
                      <span *ngIf="!mutualUrl" class="camera">
                        <img src="{{'assets/icons/photocamera.svg'}}" alt="Camera Icon">
                      </span>
                    </div>
                  </div>
                  <input class="scan-prompt" type="file" accept="image/*"
                    (change)="changeFile($event, 'UPLOAD_MUTUAL', 'mutual')" #fileInputMutual>
                </div>
              </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control h-100" id="phone-input-new-customer" type="tel" name="phone"
                        autocomplete="off" data-intl-tel-input-id="0" placeholder="(201) 555-0123"
                        formControlName="phoneNumber">
                </div>
            </div>
            <app-address-input [defaultValue]="address?address:undefined" (onChange)="setAddress($event)"></app-address-input>

            <div class="form-submit-button" (click)="submit()"
              [attr.disabled]="!registerFormGroup.valid ? true : null">
              <a class="btn btn-primary text-uppercase">{{'SAVE' | translate}}</a>
            </div>
          </form>
        </div>
        <!-- Add New Address End-->

      </div>
    </div>

  </div>
</ion-content>