<div class="form-group">
  <div class="input-group"
  [class.input-invalid]="invalid">
    <div class="input-group-prepend">
      <span>
        <span class="fas fa-map-marker-alt icon-color"></span>
      </span>
    </div>
    <input  (blur)="validate($event.target.value)"  
      #address class="form-control" 
      value="{{defaultValue}}" 
      type="text" 
      autocomplete="off" name="address" placeholder="Adresse *">
  </div>
  <div *ngIf="invalid">
    <p  class="text-danger text-required" *ngIf="invalid">
      {{'FIELD_REQUIRED' | translate}}, {{'ADDR_NEED_TO_SELECT_IN_LIST' | translate}}
    </p>
  </div>
</div>