<ion-content>
    <div class="row h-100">
        <div class="col-xs-12 col-sm-12">
    
            <div class="rest-container">
                <div class="text-center header-icon-logo-margin header-icon-logo-margin-extra">
                    <div class="profile-picture-container">
                        <img src="assets/images/wallet.svg" alt="Wallet" id="logoWallet">
                    </div>
                </div>
                <div class="address-title">{{'TITLE_MY_WALLET' | translate}}</div>
    
                <!--Wallet Options Container Start-->
                <div class="sign-up-form-container">
                    <div class="width-100">
                        <!--Option Container Start-->
                        <!-- <div class="border-bottom-primary">
                            <a routerLink="/withdraw-history" class="home-options-list href-decoration-none">
                                {{'TITLE_WITHDRAW_HISTORY' | translate}}
                                <span class="icon choose float-right">
                                    <img src="assets/icons/angle-right.svg" alt="Angle Right Icon">
                                </span>
                            </a>
                        </div> -->
                        <!--Option Container End-->
    
                        <!--Option Container Start-->
                        <div class="border-bottom-primary">
                            <a routerLink="/sales-history" class="home-options-list href-decoration-none">
                                {{'TITLE_TRIP_HISTORY' | translate}}
                                <span class="icon choose float-right">
                                    <img src="assets/icons/angle-right.svg" alt="Angle Right Icon">
                                </span>
                            </a>
                        </div>
                        <!--Option Container End-->
    
                        <!--Option Container Start-->
                        <!-- <div class="border-bottom-primary">
                            <a routerLink="/add-payout-methods" class="home-options-list href-decoration-none">
                                {{'TITLE_ADD_PAYOUT_METHODS' | translate}}
                                <span class="icon choose float-right">
                                    <img src="assets/icons/angle-right.svg" alt="Angle Right Icon">
                                </span>
                            </a>
                        </div> -->
                        <!--Option Container End-->
    
                    </div>
                </div>
                <!--Wallet Options Container End-->
    
            </div>
        </div>
    
    </div>
</ion-content>
