<ion-content>
    <div class="container margin_60_35">
      <div class="row">
        <div class="col-md-6">
          <div class="box_style_2" id="main_menu">
            <h2 class="inner">DELIVERIES AVAILABLE</h2>
            <a href="javascript:;" (click)="refreshList()" class="load_more_bt wow fadeIn" data-wow-delay="0.2s">Refresh list</a>
            <p *ngIf="deliveries.length == 0">
              No deliveries available
            </p>
            <div class="strip_list" *ngFor="let delivery of deliveries">
                <div class="row">
                  <div class="col-md-9 col-sm-9">
                    <div class="desc">
                      <h3>Ref: {{delivery.reference}}</h3>
                      <div class="type">
                        <strong>Pharmacy:</strong> {{delivery.merchant.name}}
                      </div>
                      <div class="type">
                        <strong>Customer:</strong> {{delivery.customer.name}}
                      </div>
                      <div class="location">
                        <strong>Status: <span [ngClass]="delivery.statusClass">{{delivery.status}}</span></strong>
                      </div>
                      <div class="location">
                        <strong>Address pharmacy:</strong> {{delivery.merchant.address.address}}, {{delivery.merchant.address.codePostal}} {{delivery.merchant.address.city}}
                      </div>
                      <div class="location">
                        <strong>Address customer:</strong> {{delivery.address.address}}, {{delivery.address.codePostal}} {{delivery.address.city}}
                      </div>
                    </div>
                  </div>
                  <div class="col-md-3 col-sm-3">
                    <div class="go_to">
                      <div>
                        <a *ngIf="deliveryAccepted.id !== delivery._id " [class.isDisabled]="deliveryAccepted.accepted || delivery.status === 'DELIVERED'" (click)="acceptThisDelivery(delivery._id)" class="btn_1">Accept this delivery</a>
                        <a *ngIf="deliveryAccepted.accepted && deliveryAccepted.id === delivery._id" (click)="displayMap(delivery._id)" class="btn_1">Go there</a>
                      </div>
                    </div>
                  </div>
                </div><!-- End row-->
              </div><!-- End strip_list-->
          </div>
        </div>
      </div>
    </div>
  </ion-content>