<div class="page-header">
    <div class="page-header-image" style="background-image:url(assets/images/login.jpg)"></div>
    <div class="container">
        <div class="col-md-12 content-center">
            <div class="card-plain">
                <form class="form" method="" action="">
                    <div class="header">
                        <div class="logo-container" style="width: 152px; margin-bottom: 0px;">
                            <img src="assets/images/logo.png" alt="">
                        </div>
                        <h5>{{'CONNECT' | translate}}</h5>
                    </div>
                    <div class="content">
                        <div class="input-group input-lg">
                            <input type="text" class="form-control" name="mail" placeholder="Entrer adresse E-Mail"
                                [(ngModel)]="user.mail">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-account-circle"></i>
                            </span>
                        </div>
                        <div class="input-group input-lg">
                            <input type="password" placeholder="Mot de passe" name="password" class="form-control"
                                [(ngModel)]="user.password" />
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-lock"></i>
                            </span>
                        </div>
                    </div>
                    <div class="footer text-center">
                        <div *ngIf="error" class="alert alert-danger">
                            {{error}}
                        </div>
                        <a class="btn l-cyan btn-round btn-lg btn-block waves-effect waves-light"
                            (click)="submitLogin()">Connexion</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <nav>
                <ul>
                    <li><a href="#">Contactez-nous</a></li>
                    <li><a href="#">À propos de nous</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </nav>
            <div class="copyright">
                &copy;
                <!-- <script>
                    document.write(new Date().getFullYear())
                </script> -->
                2019,
                <span>Propriété de l'entreprise <a href="#" target="_blank">LivMed's</a></span>
            </div>
        </div>
    </footer>
</div>