<head> <meta name="viewport" content="width=device-width"/></head>
<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">Nous contacter </h1>
          <ol class="breadcrumb">
            <li><a href="#" title="Home"></a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<section class="h4-contact s-padding bg-color" id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <div class="iconic-contact-info">
          <div class="contact-info-head">
            <h2>Contactez-nous</h2>
            <p>N’hésitez pas à nous contacter pour toute question ou renseignement :</p>
          </div>
          <ul class="f-contact-list">
            <li><span>Adresse:</span> 1 Avenue de suède, 06000 Nice</li>
            <li><span>Appelez-nous:</span> 04 83 43 27 33</li>
            <li><span>Email:</span> sas.livmeds@gmail.com</li>
          </ul>
        </div>
      </div>
      <div class="col-lg-6 offset-lg-1">
        <form c [formGroup]="messageFormGroup">
          <div class="form-row">
            <div class="form-group col-md-6">
              <input aria-label="Nom" formControlName="name" type="text" class="form-control" placeholder="Nom"
                     name="name">
            </div>
            <div class="form-group col-md-6">
              <input aria-label="E-mail" formControlName="mail" type="email" class="form-control" placeholder="Email"
                     name="email">
            </div>
          </div>
          <div class="form-group">
            <input aria-label="Sujet" formControlName="subject" type="text" class="form-control" placeholder="Sujet"
                   name="subject">
          </div>
          <div class="form-group">
            <textarea aria-label="Votre message" formControlName="message" class="form-control" rows="5"
                      placeholder="Message" name="message"></textarea>
          </div>
          <div class="text-lg-right">
            <button (click)="submitContact()" type="submit" class="btn fill-style" [disabled]="!messageFormGroup.valid">
              ENVOYER LE MESSAGE
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section><!-- contact -->
