<h1 mat-dialog-title *ngIf="!showForgetPassword"><i class="icon_lock_alt"></i> {{'MENU_LOGIN' | translate}}</h1>
<h1 mat-dialog-title *ngIf="showForgetPassword"><i class="icon_lock_alt"></i> {{'TITLE_RESET_PASSWORD' | translate}}
</h1>
<div mat-dialog-content>
  <form *ngIf="!showForgetPassword" action="#" class="popup-form" id="myLogin">
    <div *ngIf="error" id="pass-info" class="weakpass">{{error}}</div>
    <input type="text" class="form-control form-white" name="mail" [(ngModel)]='user.mail' placeholder="E-mail"
      required>
    <input type="password" class="form-control form-white" name="password" [(ngModel)]='user.password'
      placeholder="Password" required>
    <div class="text-left pointer-link" style="padding:20px">
      <a  class="no-link" (click)="displayForgetPassword()">{{'FORGOT_PASSWORD' | translate}}</a>
    </div>
    <div class="text-left pointer-link" style="padding:20px">
      <a class="no-link" (click)="redirectToSubscribe()" style="color:blue;"><B>{{'NO_ACCOUNT_SUBSCRIBE' | translate}}</B></a>
    </div>
  </form>

  <input *ngIf="showForgetPassword" type="text" class="form-control form-white" name="mail" [(ngModel)]='user.mail'
    placeholder="E-mail" required>
</div>
<div mat-dialog-actions>

  <div class="col-12">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <button type="submit" class="btn btn-submit" (click)="onNoClick()" style="margin-bottom: 20px; width:100%;">Annuler</button>
      </div>
      <div class="col-md-6 col-sm-12">
        <button *ngIf="!showForgetPassword" type="submit" class="btn btn-submit" style="width:100%;" (click)="submit()"
          [disabled]="!user.mail || !user.password">Se
          connecter</button>
          <button *ngIf="showForgetPassword" type="submit" class="btn btn-submit" style="width:100%;" (click)="sendForgetPassword()"
            [disabled]="!user.mail"> Valider</button>
      </div>
    </div>
  </div>
</div>
