<div class="container">
  <div class="row justify-content-center">
    <div class="col-6">
      <iframe *ngIf="contract" [src]="contract" style="width: 100%;" height="800"></iframe>
      <!-- <iframe *ngIf="!env && session.currentUser().status === 'AWAITING_VALIDATION' && contract" [src]="contract" style="width: 100%;" height="800"></iframe> -->
      <!-- <span *ngIf="!env && session.currentUser().status === 'ACTIVE' && !contract">Vous n'avez pas de document signé, veuillez contactez un administrateur.</span>
          <span *ngIf="env && session.currentUser().status === 'ACTIVE'">Le document signé apparaîtra à cet endroit. 
            L'API tiers générant les signatures n'autorise pas la génération de document signé tant que l'application sera en phase de test.</span> -->
    </div>
    <div class="col-6">
      <div class="row justify-content-center">
        <div class="col-md-4" style="text-align: center; padding:20px;">
          <h3>{{'KBIS' | translate}}</h3>
          <div class="box_style_2 hidden-xs" id="help">
            <div id="thumb" style="background-color: transparent; ">
              <input style="display: none" type="file" (change)="changeFile($event, 'UPLOAD_KBIS', 'kbis')"
                #fileInputKbis>
              <img (click)="fileInputKbis.click()" src="{{kbisUrl?kbisUrl:'assets/images/upload.svg'}}" alt=""
                style="width: 100%; height: 100%;">
            </div>
          </div>
        </div>
        <div class="col-md-4" style="text-align: center; padding:20px;">
          <h3>{{'RIB' | translate}}</h3>
          <div class="box_style_2 hidden-xs" id="help">
            <div id="thumb" style="background-color: transparent;">
              <input style="display: none" type="file" (change)="changeFile($event, 'UPLOAD_RIB', 'rib')" #fileInputRib>
              <img (click)="fileInputRib.click()" src="{{ribUrl?ribUrl:'assets/images/upload.svg'}}" alt=""
                style="width: 100%; height: 100%;">
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center" style="margin-top: 20px;"
        [hidden]="session.currentUser().status !== 'AWAITING_VALIDATION'">
        <div class="col-10 category">
          <h3>{{'TAGLINE' | translate}}</h3>
          <p>{{'INSTRUCTION_TAGLINE_DOCUMENTS' | translate}}</p>

          <canvas #canvasElement style="border: 3px solid #54BBEC;width:100% !important; height: 300px;">
            Veuillez utiliser Google Chrome
          </canvas>

          <button (click)="clearCanvas()" style="font-weight: 600; margin-top: 48px;" type="button"
            class="btn btn-primary w-100 text-uppercase btn-accept">{{'CLEAR_TAGLINE' | translate}}</button>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-8">

          <button (click)="sign()" style="font-weight: 600; margin-top: 48px;" type="button"
            [disabled]="!documentsFormGroup.valid" *ngIf="session.currentUser().status === 'AWAITING_VALIDATION'"
            class="btn btn-primary w-100 text-uppercase btn-accept">{{'SIGN' | translate}}</button>

          <button (click)="update()" style="font-weight: 600; margin-top: 48px;" type="button"
            [disabled]="!documentsFormGroup.valid" *ngIf="session.currentUser().status === 'ACTIVE'"
            class="btn btn-primary w-100 text-uppercase btn-accept">{{'UPDATE_DOCUMENTS' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

</div><!-- End container -->