<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">{{'TITLE_RESET_PASSWORD' | translate }}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-page-main-wrapper">
  <div class="container">
    <div class="row">
      <main class="col-12 main-content">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <form [formGroup]="passwordForm">
              <div class="row justify-content-center">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>{{'FIELD_PASSWORD' | translate }}</label>
                    <input formControlName="password" type="password" class="form-control" id="name_contact">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>{{'FIELD_CONFIRM_PASSWORD' | translate }}</label>
                    <input formControlName="confirmPassword" type="password" class="form-control" id="name_contact">
                  </div>
                </div>
              </div>
              <hr style="border-color:#dddddd;">
              <div class="text-center">
                <button [disabled]="!passwordForm.valid || passwordForm.value.password !== passwordForm.value.confirmPassword" class="col-4" type="submit" class="btn btn-submit"
                  (click)="submit()">
                  {{'BTN_SUBMIT' | translate }}
                </button>
              </div>
            </form>
          </div><!-- End col  -->
        </div>
      </main>
    </div>
  </div>
</div>