<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>{{'TITLE_MANAGE_CUSTOMERS' | translate}}
                <small class="text-muted">{{'SUBTITLE_MANAGE_CUSTOMERS' | translate }}</small>
            </h2>
        </div>
    </div>
</div>
<div *ngIf="selectedForShowDetails" class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>{{titleDetails.label | translate:titleDetails.params}}</strong></h2>
                <ul class="header-dropdown">
                    <li class="remove">
                        <a role="button" class="boxs-close"><i class="zmdi zmdi-close" (click)="closeDetails()"></i></a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-6">
                        <small class="text-muted">{{'FIELD_LASTNAME' | translate }}: </small>
                        <p>{{selectedForShowDetails.lastName}}</p>
                        <hr>
                        <small class="text-muted">{{'FIELD_MAIL' | translate }}: </small>
                        <p>{{selectedForShowDetails.mail}}</p>
                        <hr>
                        <small class="text-muted">{{'FIELD_ADDRESS' | translate }}: </small>
                        <p>{{userService.getFavoriteAddress(selectedForShowDetails.addresses).fullAddress}}</p>
                        <hr>
                    </div>
                    <div class="col-6">
                        <small class="text-muted">{{'FIELD_FIRSTNAME' | translate }}: </small>
                        <p>{{selectedForShowDetails.name}}</p>
                        <hr>
                        <small class="text-muted">{{'FIELD_PHONE_NUMBER' | translate }}: </small>
                        <p>{{selectedForShowDetails.phoneNumber}}</p>
                        <hr>
                        <small class="text-muted">{{'FIELD_COMP_ADDRESS' | translate }}: </small>
                        <p>{{userService.getFavoriteAddress(selectedForShowDetails.addresses).compAddress || 'Non renseigné'}}
                        </p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div [hidden]="hideEditForm" class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>{{titleForm.label | translate:titleForm.params}}</strong></h2>
                <ul class="header-dropdown">
                    <li class="remove">
                        <a role="button" class="boxs-close"><i class="zmdi zmdi-close" (click)="closeEdit()"></i></a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <form [formGroup]="formGroup">

                    <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">
                        <input type="text" class="form-control col-3 inline-block" name="name"
                            placeholder="{{'FIELD_LASTNAME' | translate }}" formControlName="lastName">
                        <input type="text" class="form-control col-3 inline-block" name="name"
                            placeholder="{{'FIELD_FIRSTNAME' | translate }}" formControlName="name">
                        <input type="text" class="form-control col-3 inline-block" name="name"
                            placeholder="{{'FIELD_PHONE_NUMBER' | translate }}" formControlName="phoneNumber">
                    </div>
                    <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">
                        <input type="text" class="form-control col-4 inline-block" name="fullAddress"
                            placeholder="{{'FIELD_ADDRESS' | translate}}" #address>
                        <input type="text" class="form-control col-4 inline-block" name="name"
                            placeholder="{{'FIELD_COMP_ADDRESS' | translate }}" formControlName="compAddress">
                        <input type="text" class="form-control col-4 inline-block" name="mail"
                            placeholder="{{'FIELD_MAIL' | translate }}" formControlName="mail">
                    </div>
                    <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">
                        <input type="password" placeholder="{{'FIELD_PASSWORD' | translate }}" name="password"
                            class="form-control col-3 inline-block" formControlName="password" />
                        <input type="password" placeholder="{{'FIELD_CONFIRM_PASSWORD' | translate }}" name="password"
                            class="form-control col-3 inline-block" formControlName="passwordConfirm" />
                    </div>
                    <div>
                        <div class="row justify-content-md-center" style="margin-top: 10px;">
                            <div class="col-3">
                                <b>{{'FIELD_MUTUAL' | translate}}</b>
                                <input style="display: none" type="file"
                                    (change)="onFileChanged($event, 'changeMutual')" #fileInput>
                                <a (click)="fileInput.click()" class="">
                                    <img src="{{!mutualUrl ? 'assets/images/files-and-folders.svg': mutualUrl}}"
                                        class="rounded-circle" alt="product-image">
                                </a>
                            </div>
                            <div class="col-3">
                                <b>{{'FIELD_SOCIAL_SECURITY_NUMBER' | translate}}</b>
                                <input style="display: none" type="file"
                                    (change)="onFileChanged($event, 'changeSocialSecurityNumber')" #fileInputSocial>
                                <a (click)="fileInputSocial.click()" class="">
                                    <img src="{{!socialSecurityNumberUrl ? 'assets/images/files-and-folders.svg': socialSecurityNumberUrl}}"
                                        class="rounded-circle" alt="product-image">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">
                        <button (click)="submitForm()" type="button" [disabled]="!formGroup.valid"
                            class="col-6btn btn-raised btn-success btn-round waves-effect">{{'CONFIRM' | translate}}</button>
                    </div>
                </form>
                <div *ngIf="error" class="alert alert-danger" style="margin-top: 10px;">
                    {{error | translate}}
                </div>
            </div>
        </div>
    </div>
</div>

<div [hidden]="hideList" class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>Liste des clients</strong></h2>
            </div>
            <div class="body table-responsive">
                <div *ngIf="errorList" class="alert alert-danger">
                    {{errorList | translate}}
                </div>
                <div *ngIf="successList" class="alert alert-success">
                    {{successList | translate}}
                </div>
                <button (click)="addAdmin()" class="btn btn-success btn-icon  btn-icon-mini btn-round">
                    <i class="zmdi zmdi-account-add"></i>
                </button>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-4">
                        <div class="input-group">
                            <input (keyup.enter)="refreshList()" type="text" class="form-control" [(ngModel)]="text" placeholder="Rechercher (nom, prénom, mail, ville)">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-search"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-3">
                        <button (click)="refreshList()" type="button" 
                            class="col-6btn btn-raised btn-success btn-round waves-effect">{{'SEARCH_INPUT' | translate}}</button>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{'COL_LAST_NAME' | translate }}</th>
                            <th>{{'COL_NAME' | translate }}</th>
                            <th>{{'COL_EMAIL_ADDRESS' | translate }}</th>
                            <th>{{'COL_CONNECTION_TYPE' | translate}}</th>
                            <th>{{'COL_REFERRER' | translate }}</th>
                            <th>{{'COL_STATUS' | translate }}</th>
                            <th>{{'COL_CONNECTED' | translate }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of listUsers">
                            <th class="break-word" scope="row">{{user.lastName}}</th>
                            <th class="break-word" scope="row">{{user.name}}</th>
                            <td class="break-word">{{user.mail}}</td>
                            <td class="break-word">{{'CONNECT_WITH_' + user.connectionType | translate}}</td>
                            <td class="break-word">{{ user.referrer?(user.referrer.lastName + ' ' + user.referrer.name):'' }}</td>
                            <td><span [ngClass]="{'badge-danger': user.status==='DELETED', 
                                'badge-warning':user.status==='BLOCKED', 
                                'badge-success':user.status==='ACTIVE'  }"
                                    class="badge m-l-10">{{user.status | translate}}</span></td>
                            <td>
                                <span [ngClass]="{'badge-danger': !user.lastDevice, 
                                                'badge-success':user.lastDevice  }"
                                    class="badge m-l-10">{{(user.lastDevice?'CONNECTED':'DISCONNECTED') | translate}}</span>
                            </td>
                            <td style="text-align: center" *ngIf="session.currentAdmin()._id !== user._id">
                                <button tooltip="{{'TOOLTIP_SHOW_DETAILS' | translate}}" (click)="showDetails(user)"
                                    class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round btn-default"><i
                                        class="zmdi zmdi-info"></i></button>
                                <button tooltip="{{'TOOLTIP_EDIT_ACCOUNT' | translate}}" (click)="editAdmin(user)"
                                    class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round btn-success"><i
                                        class="zmdi zmdi-edit"></i></button>
                                <button tooltip="{{'TOOLTIP_UNLOCK_ACCOUNT' | translate}}" *ngIf="user.status === 'BLOCKED'" (click)="changeStatus(user, 'ACTIVE')"
                                    class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round btn-warning"><i
                                        class="zmdi zmdi-lock-open"></i></button>
                                <button tooltip="{{'TOOLTIP_BLOCK_ACCOUNT' | translate}}" *ngIf="user.status === 'ACTIVE'" (click)="changeStatus(user, 'BLOCKED')"
                                    class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round btn-warning"><i
                                        class="zmdi zmdi-lock"></i></button>
                                <button tooltip="{{'TOOLTIP_DISCONNECT_ACCOUNT' | translate}}" (click)="unlock(user)" *ngIf="user.lastDevice"
                                    class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round btn-default"><i
                                        class="zmdi zmdi-devices-off"></i></button>
                                <button tooltip="{{'TOOLTIP_DELETE_ACCOUNT' | translate}}" type="button" *ngIf="user.status !== 'DELETED'"
                                    (click)="changeStatus(user, 'DELETED')"
                                    class="btn btn-icon btn-simple btn-icon-mini btn-round btn-danger">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card" *ngIf="listUsers.length > 0">
            <div class="body">
                <ul class="pagination pagination-primary m-b-0">
                    <li class="page-item" [ngClass]="{'disabled': page <= 0}"><a class="page-link"
                            (click)="changePage(page-1)"><i class="zmdi zmdi-arrow-left"></i></a>
                    </li>
                    <li class="page-item active"><a class="page-link">{{page+1}}</a></li>
                    <li class="page-item" *ngIf="((page + 1 ) * limit) < nbTotal"><a class="page-link"
                            (click)="changePage(page+1)"><i class="zmdi zmdi-arrow-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>