<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <style type="text/css" rel="stylesheet" media="all">
        body {
            font-family: Times, serif;
            color: rgb(0, 0, 0);
            font-style: normal;
        }

        h1 {
            font-size: 22px;
            font-weight: bold;
        }

        h3 {
            font-size: 10px;
            font-weight: bold;
        }

        p {
            font-size: 10px;
        }

        body {
            padding: 100px;
        }

        li{
            font-size: 10px;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">LIV MED’S -CONTRAT DE PRESTATIONS DE SERVICES</h1>
    <h3>Entre :</h3>
    <p>
        Nom ou raison sociale : {{lastname}} {{name}}
    </p>
    <p>
        Travailleur indépendant domicilié à : {{fullAddress}}
    </p>
    <p>
        Code postal : {{zipCode}} Ville : {{city}}
    </p>
    <p>
        Tel : {{phoneNumber}} GSM : {{phoneNumber}}
    </p>
    <p>
        E mail : {{mail}}
    </p>
    <p>
        N° SIRET : {{siret}}
    </p>
    <h3>Ci-dessous dénommé « Le Livreur partenaire »</h3>
        <strong>{{lastname}} {{name}}</strong>
    <p>
        Et
    </p>
    <h3>La Société LIV MED’S</h3>
    <p>
        Société Anonyme par actions simplifiée, inscrite au Registre du Commerce et des Sociétés de NICE sous le N°
        :………………..
    </p>
    <p>
        Ayant son siège social à 06000 NICE, 1 Avenue de Suèdeet représentée par son Président et/ou son Directeur
        Général en exercice dûment mandaté(s).
    </p>
    <h3>Ci-dessous dénommée « LIV MED’S »</h3>
    <br />
    <br />
    <h3>PREAMBULE :</h3>
    <p>
        LIV MED’S a pour objet la mise en relation de clients consommateurs, de professionnels de santé et de coursiers.
        Grace à son site WEB, son application et ses opérations de communications, elle apporte une véritable valeur
        ajoutée à ces différents partenaires.
        Le service de « Courses » exige un « know-how » particulier et pour ce faire, LIV MED’S a décidé de faire appel
        à un prestataire indépendant disposant des compétences nécessaires.
        Le Livreur partenaire, disposant de l’expérience et des matériels nécessaires dans le domaine de la course
        rapide, bénéficie de tous les fondamentaux nécessaires à l’exécution de sa prestation ; il travaille déjà pour
        d’autres plate forme utilisant les mêmes services ; ceci étant une condition substantielle au présent contrat.
        Afin de répondre aux exigences de transport des produits médicaux et pharmaceutiques, LIV MED’S fournira au
        Livreur partenaire les contenants nécessaires au transport de ces produits.
        Les parties sont des partenaires indépendants. Le Livreur partenaire reconnait qu’aucun élément du présent
        contrat ne saurait faire de lui un salarié de LIV MED’S ; il n’est soumis à aucun contrôle quant à sa façon
        d’exécuter sa mission. LIV MED’S, afin de remplir son rôle de mise en relation, contrôlera uniquement la bonne
        exécution de la tâche confiée au Livreur partenaire.
        Le livreur partenaire pourra fournir son service soit personnellement soit par l’intermédiaire d’un Tiers qu’il
        aura engagé ou substitué. ; en conséquence le terme « Livreur partenaire » utilisé dans le présent contrat,
        pourra couvrir soit le Livreur partenaire lui-même, soit le tiers engagé ou substitué.
    </p>
    <h3>IL A ETE CONVENU CE QUI SUIT</h3>
    <p>
        Le présent contrat prend effet à la date du : {{taglineDate}}
        Le présent contrat restera en vigueur durant une durée indéterminée sauf résiliation par l’une des parties comme
        vu en supra.
    </p>
    <h3>FOURNITURE DE SERVICES</h3>
    <p>
        Le livreur partenaire reste libre d’organiser la fourniture de ses services à tout moment.
        Par « Services », il faut entendre la prise en charge de produits pharmaceutiques ou de para pharmacie auprès de
        professionnels de santé partenaires de LIV MED’S. Toutes les informations nécessaires à ces prises en charge
        sont fournies par l’application LIV MED’S.
        A tout moment, chaque partie au présent contrat reste libre de fournir à l’autre partie une prestation ; le
        livreur partenaire est même libre de proposer ses services à des tiers et même à des concurrents de LIV MED’S.
        Il est libre de décider quand et où, il se connectera sur l’application pour effectuer des courses ;
        l’application étant ainsi faite que le Livreur partenaire reste maître du moment et du lieu de ses prestations..
        Lorsqu’il se connecte, le livreur partenaire reste libre d’accepter ou de refuser la course qui lui est
        proposée.
        Lorsque le livreur partenaire décide de fournir ses services, il doit :
        après avoir confirmé une prise en charge, se rendre chez le Partenaire de Santé pour récupérer les articles
        commandés et les livrer à l’adresse convenue en restant libre de son itinéraire, tout en respectant les délais
        impartis par le client.
        Il fera preuve de toute la diligence supposée par son expérience dans l’accomplissement de sa tâche.
    </p>
    <h3>L’EQUIPEMENT DE LA PRESTATION</h3>
    <p>
        Le livreur partenaire fournira le matériel nécessaire pour fournir son service et notamment son propre outil
        GSM, son vélo, vélo électrique, scooter ou vélomoteur.
        Lors de sa prestation, il devra respecter toutes les exigences en matière de sécurité routière, être en
        possession de toute capacité en fonction du véhicule utilisé, et que ce dernier soit en parfait état de
        circulation.
        Il ne prendra pas et ne devra pas être sous l’emprise, d’alcool ou de stupéfiant.
    </p>
    <h3>FACTURATION</h3>
    <p>
        LIV MED’S paiera au Livreur partenaire la prestation correspondant à chaque course effectuée.
        La livraison s’entend de la prise en charge chez le(s) Partenaire(s) de santé et la livraison chez un ou
        plusieurs clients si commandes multiples.
        Le prix de la prestation est indiqué au Livreur partenaire par l’application afin qu’il l’accepte ; en cas de
        refus du prix, la prestation est annulée.
        Afin de faciliter sa facturation, l’application LIV MED’S permet au Livreur partenaire d’établir sa facturation
        sur la base des prestations effectuées. A cette fin le Livreur partenaire donne mandat à LIV MED’S d’établir une
        facture en son nom et pour sin compte, cette facture correspondant aux services fournis.
        Le livreur partenaire reste seul responsable des éléments de sa facturation qui lui sera réglée pat virement sur
        le compte bancaire qu’il aura désigné.
        Il reste libre d’émettre ses factures en dehors du système proposé au travers de l’application LIV MED’S.
        Si le client donne une gratification, celle-ci reste acquise au Livreur partenaire.
        En tant que travailleur indépendant, le Livreur partenaire reste seul responsable de la comptabilisation, de la
        déclaration et du paiement de ses cotisations fiscales et sociales. Il fournira, si la demande lui en est faite,
        tout justificatif de ces contributions, à LIV MED.
    </p>
    <h3>GARANTIES</h3>
    <p>
        La condition substantielle du présent contrat réside dans le fait que le Livreur partenaire garantit à LIV MED’S
        que :
        <ul>
            <li>Il met en œuvre pour l’exécution de sa prestation toutes les capacités et connaissances nécessaires</li>
            <li>Il dispose de toutes les autorisations nécessaires à l’exécution de sa prestation et ce quel que soit le
                lieu
                d’exécution sur le territoire métropolitain</li>
            <li>Il respectera toutes les obligations du code de la route et veillera à ce que sa prestation soit
                toujours
                conforme à toutes les normes de sécurité et de salubrité</li>
            <li>Il permettra aux clients consommateurs de suivre la bonne exécution de la course acceptée en ayant
                recours à l’utilisation de méthodes satellitaires</li>
            <li>Il informera LIV MED’S de toute situation qui pourrait compromettre la bonne exécution de ses
                prestations.</li>
        </ul>
    </p>
    <h3>ASSURANCE ET RESPONSABILITE</h3>
    <p>
        Le Livreur partenaire utilisant son propre moyen de locomotion à moteur (scooter, cyclomoteur ou moto) devra
        pouvoir fournir à tout moment, l’attestation de responsabilité civile le couvrant, lui-même ainsi que tout
        délégué ou substitué.
        En sa qualité de travailleur indépendant, qu’il effectue lui-même la prestation, qu’il la délègue ou qu’il la
        substitue, le Livreur partenaire reconnait expressément qu’il est responsable vis-à-vis de LIV MED’S de tout
        préjudice subi par LIV MED’S dans le cadre du service fourni ; et il autorise expressément LIV MED’S à compenser
        tout montant du dit préjudice avec les sommes qui lui sont dues au titre de l’ exécution du présent contrat.
    </p>
    <h3>DELEGATION</h3>
    <p>
        Du fait de l’indépendance de sa situation, le Livreur partenaire peut déléguer l’exécution de sa prestation à
        tout préposé, sous-traitant ou substitué.
        Il ne pourra le faire si cette personne avait déjà collaboré avec LIV MED’S et que son contrat avait été résilié
        quelle qu’en soit la raison.
        Le préposé, sous-traitant ou substitué devra disposer des mêmes compétences et il répondra aux exigences de
        Garantie comme énoncées en infra.
    </p>
    <h3>JUSTIFICATIONS</h3>
    <p>A tout moment, le Livreur partenaire doit pouvoir justifier, à moindre demande de LIV MED’S, de toutes les pièces
        et attestations justifiant de ses capacités et garanties, ainsi que toutes les mises à jour administratives
        pouvant lui incomber.
    </p>
    <h3>RESILIATION DU PRESENT CONTRAT</h3>
    <p>
        Le livreur partenaire peut à tout moment, et sans avoir à en justifier les motifs, résilier son contrat de
        prestation de services. Pour ce faire il adressera un avis écrit même par courrier électronique à LIV MED’S.
        De son côté, LIV MED’S pourra résilier le contrat à tout moment et quel qu’en soit le motif.
        Un préavis sera néanmoins nécessaire qui tiendra compte de l’antériorité du lien contractuel, savoir :
        <ul>
            <li>48 heures, si la relation contractuelle est inférieure à 3 mois.</li>
            <li>7 jours, si la relation contractuelle est comprise entre 3 et 6 mois.</li>
            <li>14 jours, si la relation contractuelle est comprise entre 6 mois et 1 an.</li>
            <li>1 mois, si la relation contractuelle est supérieure à 1 an.</li>
        </ul>
    </p>
    <p>
            Par relation contractuelle, il faut entendre la date de la première livraison.
            Chacune des parties pourra résilier le contrat à tout moment et sans préavis, en cas de manquement grave de
            l’autre partie à ses obligations, y compris si ce manquement est causé par un préposé, sous-traitant ou délégué.
    </p>
    <h3>CONFIDENTIALITE</h3>
    <p>
        Le livreur partenaire ne pourra en aucun cas utiliser à des fins personnelles les informations en sa possession
        concernant LIV MED’S, son activité, ses partenaires et les clients consommateurs. Il ne pourra, les transmettre
        à qui que ce soit de façon onéreuse ou à titre gratuit sans devoir en répondre du fait du préjudice subi.
    </p>
    <h3>DIVERS</h3>
    <p>
        En application des articles 1219 et 1220 du Code Civil, chaque partie a le droit de ne pas exécuter son
        obligation si l’autre partie ne s’acquitte pas de la sienne.
        Le Livreur partenaire respectera toutes les lois, réglementations et conventions concernant le Droit des
        personnes humaines et notamment celles concernant le travail dissimulé ; ceci étant également pour tout
        sous-traitant ou substitué.
        Le présent contrat est strictement personnel au Livreur partenaire, il ne peut en aucun cas être cédé y compris
        à un sous-traitant ou à un substitué.
        Le présent contrat annule et remplace, le cas échéant, toute convention antérieure.
        Le présent contrat est soumis au droit Français et de la compétence exclusive des tribunaux de commerce.
    </p>
    <p style="margin-top: 30px; font-weight: bold;">
            Fait en deux exemplaires originaux
    </p>
    <p style="margin-top: 30px; font-weight: bold;">
            A Nice, le {{taglineDate}}
    </p>

    <p style="margin-top: 30px; font-weight: bold;">
            Le Livreur partenaire
    </p>
    <p style="margin-top: 30px; font-weight: bold;">
            LIV MED’S
    </p>
</body>

</html>