<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="x-apple-disable-message-reformatting" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title></title>
    <style type="text/css" rel="stylesheet" media="all">
        body {
            font-family: Times, serif;
            color: rgb(0, 0, 0);
            font-style: normal;
        }

        h1 {
            font-size: 22px;
            font-weight: bold;
        }

        h2 {
            font-size: 16px;
            font-weight: bold;
        }

        h3 {
            font-size: 10px;
            font-weight: bold;
        }

        p {
            font-size: 10px;
        }

        body {
            padding: 100px;
        }

        .row {
            display: flex;
            justify-content: center;
        }
    </style>
</head>

<body>
    <h1 style="text-align: center;">LIV MED’S - CONTRAT DE PARTENARIAT</h1>
    <h2 style="text-align: center;">Avec un professionnel de Santé</h2>
    <h3>Entre :</h3>
    <p>
        Nom ou raison sociale : {{shopName}}
    </p>
    <p>
        Qualification professionnelle : {{role}}
    </p>
    <p>Adresse : {{fullAddress}}
    </p>
    <p>
        Code postal : {{zipCode}} Ville : {{city}}
    </p>
    <p>
        Tel : {{phoneNumber}} GSM : {{phoneNumber}}
    </p>
    <p>
        E-mail : {{mail}}
    </p>
    <p>
        N° SIRET : {{siret}}
    </p>
    <h3>Ci-dessous dénommé « LE PARTENAIRE »</h3>
    <p>{{name}} {{lastname}}</p>
    <p>
        Et
    </p>
    <h3>La Société LIV MED’S</h3>
    <p>
        Société Anonyme par actions simplifiée, inscrite au Registre du Commerce et des Sociétés de NICE sous le N°
        :………………..
    </p>
    <p>
        Ayant son siège social à 06000 NICE, 1 Avenue de Suède et représentée par son Président et/ou son Directeur
        Général en exercice dûment mandaté(s).
    </p>
    <h3>Ci-dessous dénommée « LIV MED’S »</h3>
    <h3>OBJET DU CONTRAT :</h3>
    <p>
        La Société sert au partenaire qui l’accepte aux conditions ci-dessous, d’<strong>intermédiaire
            commercial</strong>via son site WEB : « LIVMEDS.COM »
    </p>
    <h3 style="text-align: center;">OBJET DU CONTRAT :</h3>
    <p>
        VILLE DE LIVRAISON :
        ................................................................................................
    </p>
    <p>
        TYPES DE PRODUITS :
        .................................................................................................
    </p>
    <p>
        JOURS ET HORAIRES D’OUVERTURE :............................................................................
    </p>
    <p>
        Le partenaire reconnait avoir pris connaissance des conditions générales figurant ci-après et les accepte comme
        faisant partie intégrante du présent contrat.
    </p>
    <p>
        Pour toutes contestations relatives à l’interprétation ou à l’exécution du présent contrat, les parties font
        expressément attribution de juridiction au tribunal de Commerce de NICE seul compétent, nonobstant pluralité de
        défendeurs ou appel en garantie.
    </p>
    <div class="row">
        <div style="flex: 1;">
            <p>
                Pour LE PARTENAIRE
            </p>
            <p>
                Nom {{lastname}}
            </p>
            <p>
                Prénom {{name}}
            </p>
            <p>
                Cachet et signature
            </p>
        </div>
        <div style="flex: 1;">
            <p>
                Pour la SOCIETE
            </p>
            <p>
                Nom................................
            </p>
            <p>
                Prénom..............................
            </p>
            <p>
                Cachet et signature
            </p>
        </div>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h3 style="text-align: center;">CONDITIONS GENERALES DE PARTENARIAT (CGP)</h3>
    <h3>I – Champ d’application des CGP – Opposabilité</h3>
    <p>
        Les présentes conditions générales constituent le socle du partenariat commercial entre LA SOCIETE LIVMED’S et ses PARTENAIRES professionnels et sont systématiquement remises à chaque partenaire comme visé à l’article 33 de l’ordonnance N° 86-1243 du 1er décembre 1986 modifiée.
        Sauf convention particulière arrêtée entre les deux parties par écrit, le fait d’entrer en relation avec « la Société » LIVMED’S implique l’adhésion pleine et entière sans réserve du « Partenaire » à ces CGP, à l’exclusion de tout autre document précontractuel. 
        Aucune condition particulière posée par le Partenaire ne peut prévaloir sur les CGP, sauf acceptation formelle et écrite de la Société LIVMED’S. 
        Toute autre condition contraire serait inopposable à la Société LIVMED’S, sauf acceptation expresse et écrite de sa part. 
        Le fait que la Société ne se prévale pas, à un moment donné, de l’une quelconque des présentes CGP ne peut être interprété comme étant une renonciation à se prévaloir ultérieurement de l’une quelconque desdites conditions. 
    </p>
    <h3>II – Objet du contrat</h3>
    <p>2-1 – La Société LIVMED’S exploite un site WEB et une plateforme de mises en relation (application digitale) qui lui appartiennent, destinés à mettre en rapport les Partenaires avec les demandeurs et consommateurs privés.
    </p>
    <p>2-2 – La Société LIVMED’S propose à son Partenaire de servir, via le site WEB, l’application internet mobile, le serveur vocal, d’intermédiaire avec les personnes physiques ou morales désirant passer commandes auprès de lui (LES CLIENTS)., de présenter les produits et de transmettre les commandes enregistrées sur son site WEB au partenaire.
    </p>
    <p>2-3 La Société LIVMED’S n’agit pas au nom et pour le compte des clients, pas plus qu’au nom du Partenaire. Elle met en rapport des personnes désireuses de conclure des opérations commerciales. Elle n’est pas partie au contrat de vente entre le consommateur final et le Partenaire.
    </p>
    <p>
        2-4 Le Partenaire s’engage à travailler exclusivement avec la société LIVMED’S à l’exclusion de tout concurrent direct (plateforme de mise en relation), cependant le partenaire aura toujours la possibilité d’effectuer ses livraisons avec ses propres clients et avec le prestataire de son choix.
    </p>
    <h3>III – Obligations mises à la charge du Partenaire</h3>
    <p>
        3-1 Le Partenaire s’engage à agir de façon loyale envers la Société LIVMED’S ; il reconnait les avantages qui découlent de cette forme de relations instaurée par l’intermédiaire de la Société LIVMED’S et accepte en conséquence de souscrire les obligations ci-après dans leur intégralité et sans réserve.
        Le Partenaire s’engage à n’appliquer aucune discrimination entre le prix de ses prestations proposées via le site WEB de la Société et les prix en vigueur sur le lieu de son exploitation professionnelle
        Il s’engage à traiter avec la même diligence les commandes faites sur le site WEB et l’application mobile de la société LIVMED’S.
        Il s’engage ainsi à préparer les produits commandés dans les meilleurs délais sans distinguer l’origine de la commande.
    </p>
    <p>
        3-2 Restrictions et rejet : Lorsque le commande contient des produits soumis à des restrictions d’âge ou d’ordre public, le Partenaire devra sous sa seule responsabilité s’assurer du respect de ces règles.
        Le partenaire doit utiliser ses meilleurs efforts pour accepter toutes les commandes. Lorsque le partenaire souhaite rejeter une commande, il communique immédiatement de son impossibilité de livrer cette commande en appelant le service hot line et par tous autres moyens de communication.
    </p>
    <h3>IV – Obligations mises à la charge de la Société</h3>
    <p>
        4-1 La Société LIVMED’S s’engage à transmettre dans les meilleurs délais la commande au Partenaire
    </p>
    <p>
        4-2 Elle s’engage à conserver une trace de la transaction électronique sur un support adéquat et inaltérable
    </p>
    <p>
        4-3 Elle s’engage à faire toute promotion du site WEB et l’application mobile sur Internet et d’autres supports de communication.
    </p>
    <p>
        4-4 Elle doit communiquer aux Clients une adresse de courrier électronique pour recueillir leurs remarques
    </p>
    <p>
        4-5 Le Partenaire doit notifier à la Société LIVMED’S toute difficulté de fonctionnement de son extranet ou de son interface qui pourrait entrainer des difficultés dans le traitement des commandes.
    </p>
    <p>
        4-6 La Société LIVMED’S peut mettre à jour à tout moment l’extranet utilisé par le Partenaire pour recevoir les commandes.
    </p>
    <p>
        4-7 L’extranet est la propriété de la Société LIVMED’S ; en cas de résiliation du contrat de partenariat, la Société LIVMED’S supprimera l’accès au partenaire, sans aucune indemnisation, ce qui est expressément accepté dès à présent par le Partenaire.
    </p>
    <p>
        4-8 La Société LIVMED’S, pour les obligations mises à sa charge par le présent contrat, est tenue à une obligation de moyens.
    </p>
    <h3>V – Rémunération de la Société</h3>
    <p>
        <strong>5-1 La Société LIVMED’S facture au client consommateur final une prestation forfaitaire correspondant à sa mission d’intermédiation et aux frais de livraison.</strong>
    </p>
    <p>
        <strong>5-2 Valeur des produits commandés : </strong>c’est le montant total facturé par le Partenaire au client, qui comprend la valeur nette de la marchandise ; les frais de livraison sont à la charge de la Société et inclus dans la prestation définie au 5-1
    </p>
    <p>
        5-2-1 : Si les produits sont pris en charge par la sécurité sociale, aucune prestation financière n’existe entre le Partenaire et la Société LIVMED’S.
    </p>
    <p>
        5-2-2 : Sur les produits de parapharmacie, le Prestataire facture le client consommateur lors de l’acceptation de la commande, et sur ce montant facturé, la Société LIVMED’S appliqueras en sus de cette facture 10% correspondant à ses frais de gestion. 
    </p>
    <p>
        5-2-3 : La Société reversera au Partenaire le montant net de sa facture initiale, sous un délai de 10 jours.
    </p>
    <p>
       <strong>5-3 La Société LIVMED’S n’est en aucun cas responsable de tout impayé ou incident de paiement constaté entre le Partenaire et le Client consommateur.</strong>
    </p>
    <h3>VI – Durée du contrat et renouvellement</h3>
    <p>
        6-1 : Le présent contrat entre en vigueur à compter de l’acceptation des conditions générales de partenariats et sa validation par nos services interne. Le partenariat est valable pour une durée initiale de un an. Ce contrat est renouvelable par tacite reconduction par période d’un an.
    </p>
    <p> 
        6-2 : la partie au contrat qui ne souhaiterait pas la poursuite du contrat de partenariat devra le notifier à l’autre partie par lettre recommandée avec avis de réception moyennant un préavis de 15 jours, sans que l’autre partie ne puisse prétendre à une quelconque indemnité.
    </p>
    <h3>VII – Résiliation du contrat pour manquement</h3>
    <p>
        La Société LIVMED’S pourra résilier de plein droit le présent contrat immédiatement et sans préavis en cas de manquement du Partenaire à ses obligations contractuelles ou en cas de manquement grave à ses obligations délictuelles.
    </p>
    <h3>VIII – Limitation de responsabilité</h3>
    <p>
        La Société LIVMED’S ne saurait voir sa responsabilité engagée à l’égard de ses partenaires en cas de défaillance technique de son site WEB et ou application internet.
    </p>
    <h3>IX – Garanties</h3>
    <p>
        Le partenaire garantit être titulaire de toutes les autorisations nécessaires à l’exercice de son activité.
        Le partenaire garantit la Société LIVMED’S contre toutes les réclamations, revendications ou recours de tiers de quelque nature qu’ils/quelles soient eu égard à l’exécution du présent contrat, liées ou consécutives à l’exécution des commandes passées sur le site WEB et ou application internet, notamment en cas d’informations erronées, trompeuses ou inexistantes, en cas de non- respect pris en termes de délai, de produits ou de qualité, ou en cas de violation d’un quelconque droit d’un tiers.
        
        En conséquence, la Société LIVMED’S ne sera en aucun cas responsable envers les Clients, les consommateurs et plus généralement envers tous les Tiers de tous dommages et autres conséquences éventuelles qui résulteraient pour eux des commandes passées sur le site web et ou applications, des conditions dans lesquelles le Partenaire exerce son activité.
        Le Partenaire s’engage à assurer garantir la Société LIVMED’S de toute condamnation qui serait requise contre elle dans toute action judiciaire ou revendication quelconque intentée contre elle eut égard à l’exécution des présentes, et prendra à sa charge toutes conséquences préjudiciables qui en résulteraient pour la Société LIVMED’S.
        Cette garantie couvre tout litige notamment mais non exclusivement avec un consommateur et/ou client en relation avec une prestation du Partenaire.
    </p>
    <h3>X – Clientèle</h3>
    <p>
        Le Partenaire reconnait expressément que l’ensemble des informations relatives aux internautes, collectées à l’occasion des visites du site LIV MED’S et de son application internet sont et demeurent la propriété exclusive de la Société
        Le partenaire s’engage expressément à utiliser les données qui lui sont transmises que pour la bonne exécution des commandes qui lui sont passées et à ne pas conserver ces données dans son fichier client, ni à les céder ou transmettre à tout Tiers.
        Le Partenaire reconnait que toute mise en relation par la Société LIVMED’S constitue une clientèle propre à la Société LIVMED’S. Le Partenaire s’interdit de solliciter directement ou de démarcher sous quelque forme que ce soit et par quelque moyen que ce soit, les clients de la Société LIVMED’S avec lesquels il a été préalablement mis en relation. Il s’engage notamment à ne pas laisser de dépliants, prospectus, livrets ou tout autre document lié à son enseigne au moment de la livraison
        Le non- respect d’une des clauses du présent §X, entrainerait immédiatement la résiliation du contrat aux torts exclusifs du Partenaire qui pourra être poursuivi pour la totalité du préjudice subi.
    </p>
    <h3>XI – Promotion commerciale su dite WEB</h3>
    <p>
        La Société LIVMED’S décidera seule des actions promotionnelles du site WEB et ou application internet qui pourront être entreprises par tous moyens et supports de communication.
        La Société LIVMED’S pourra mettre à disposition du Partenaire une signalétique standard et normalisée ; le Partenaire pourra avec l’accord express de la Société LIVMED’S, utiliser dans le strict respect de ces normes, le logo et l’adresse internet du site WEB et ou application internet de la Société LIVMED’S.
    </p>
    <h3>XII – SITES PARTENAIRE</h3>
    <p>
        <strong>Si le Partenaire a son propre site WEB</strong>, la Société peut à sa seule discrétion, à la demande du Partenaire, permettre et/ou activer un lien entre le site Web de la Société LIVMED’S et le site Web du Partenaire.
        Tous les droits de propriété intellectuelle sur le lien, y compris le logo du Partenaire, sont la propriété exclusive de la Société LIVMED’S qui s’interdit tout autre usage du logo autre que l’usage de ce dernier pour indiquer le lien de redirection sur le site de la Société LIVMED’S.
        La Société LIVMED’S peut à tout moment et pour quelque raison, demander au Partenaire de fermer ce lien et de désactiver son site internet
        Sans aucune exception, toutes les commandes passées par les clients redirigés soit d’un site partenaire créé par la Société, soit du site internet du Partenaire sont considérées comme des commandes de la Société LIVMED’S.
    </p>
    <h3>XIII – Marque</h3>
    <p>
        Le Partenaire s’interdit expressément et sans aucune dérogation possible, d’intégrer la marque LIV MED’S ou toute autre dénomination pouvant prêter à confusion, dans sa raison sociale, sa dénomination, sa dénomination commerciale, et il s’engage à maintenir toujours clairement la distinction entre sa société et la Société LIVMED’S vis-à-vis des tiers.
    </p>
    <h3>XIV – Propriété intellectuelle</h3>
    <p>
        Le Partenaire concède à la Société LIVMED’S, pendant la durée du présent contrat, un droit d’utiliser sa dénomination sociale, éventuellement toute marque ou nom commercial, pour présenter son activité et/ou sa devanture virtuelle sur le site WEB et ou application internet, pour tout annuaire référençant ses Partenaires ou tout autre document ou action publicitaire(s) utile(s) au développement commercial.
        Le Partenaire accorde à la Société LIVMED’S toute autorisation pour utiliser sa dénomination et autres droits de propriété intellectuelle aux fins de la fourniture de ses services, et ce, pour la durée du présent contrat, sachant que le Partenaire garantit à la Société LIVMED’S que ces attributs pouvant être inclus sur le site, ne violent d’aucune manière et ne portent aucune atteinte à la propriété intellectuelle d’une tierce partie (y compris, dans, toute licence ou contrat de franchise)
        Si un tiers faisait une réclamation contre la Société LIVMED’S pour la violation de ses droits de propriété intellectuelle, concernant tout nom, logo, documents, fournis par le Partenaire, ce dernier devra indemniser et tenir pleinement la Société LIVMED’S indemnisée contre les pertes, dommages ou réclamations de toute nature et tous les coûts qui en découlent.
    </p>
    <h3>XV – Cession de contrat</h3>
    <p>
        Même en cas de cession de son activité, le Partenaire s’interdit de céder le présent contrat à titre onéreux ou gratuit sans l’accord express de la Société LIVMED’S.
    </p>
    <h3>XVI – Domiciliation et attribution de juridiction</h3>
    <p>
        Les parties élisent domicile en leur siège respectif.
        Pour toutes contestations relatives à l’interprétation ou à l’exécution du présent contrat, les parties font expressément attribution à la juridiction au tribunal de Commerce de NICE, seul compétent, nonobstant pluralité de défendeurs ou appel en garantie.
    </p>
    <h3>XVII – Avenants</h3>
    <p>
        Les présentes conditions générales de partenariat peuvent être modifiées par avenant écrit ; il est convenu que tous les avenants qui pourraient ainsi être établis seront considérés comme faisant partie intégrante du présent contrat et soumis à toutes ses clauses et conditions, même s’ils devaient ne pas s’y référer expressément.
    </p>
    <p style="margin-top: 30px;">
        Bon pour inscription ferme et définitive <br>
        Lu et approuvé
    </p>
    <p style="margin-top: 30px;">
        Nom Prénom et signature du Partenaire
    </p>
</body>

</html>