<ion-content>
    <div class="row h-100">
        <div class="col-xs-12 col-sm-12">

            <div class="rest-container">

                <!--Profile Information Container Start-->
                <div class="text-center header-icon-logo-margin">
                    <div class="profile-picture-container">
                        <img (click)="changeAvatar()" class="img-avatar"
                            src="{{session.currentUser().avatar === 'undefined' ? 'assets/images/man.svg': session.currentUser().avatar}}"
                            alt="Profile Picture">
                        <span class="fas fa-camera">
                        </span>
                    </div>
                    <div class="display-flex flex-column">
                        <span class="profile-name">{{session.currentUser().name}}
                            {{session.currentUser().lastName}}</span>
                        <span class="profile-email font-weight-light">{{session.currentUser().mail}}</span>
                    </div>
                </div>
                <!--Profile Information Container End-->


                <!--Profile Information Fields Container Start-->
                <div class="sign-up-form-container text-center">

                    <div *ngIf="session.currentUser().role === 'ROLE_CUSTOMER' && (!session.currentUser().referralCode || session.currentUser().referralCode === 'undefined')"
                        class="form-submit-button" (click)="generateReferralCode()">
                        <a class="btn btn-primary text-uppercase">{{'BTN_GENERATE_REFERRAL' | translate}}</a>
                    </div>
                    <div *ngIf="session.currentUser().role === 'ROLE_CUSTOMER' && (session.currentUser().referralCode && session.currentUser().referralCode !== 'undefined')"
                        class="sign-up-form-container text-center">
                        <p (click)="shareReferralCode()">
                            Votre code parrain: {{session.currentUser().referralCode}} <span
                                class="fas fa-share-square"></span>
                        </p>
                    </div>

                    <form class="width-100" [formGroup]="profileFormGroup">

                        <!--Sign Up Field Start-->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span>
                                        <img src="assets/icons/avatar-light.svg" alt="Avatar Icon">
                                    </span>
                                </div>
                                <input class="form-control" formControlName="lastName" type="text" autocomplete="off"
                                    name="lastName" placeholder="{{'FIELD_LASTNAME' | translate}}">
                            </div>
                        </div>
                        <!--Sign Up Field End-->

                        <!--Sign Up Field Start-->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span>
                                        <img src="assets/icons/avatar-light.svg" alt="Avatar Icon">
                                    </span>
                                </div>
                                <input class="form-control" formControlName="name" type="text" autocomplete="off"
                                    name="name" placeholder="{{'FIELD_NAME' | translate}}">
                            </div>
                        </div>
                        <!--Sign Up Field End-->

                        <div class="form-group" *ngIf="session.currentUser().role === 'ROLE_CUSTOMER'">
                            <div class="display-flex justify-content-between">
                                <span class="position-relative " (click)="chooseFile('UPLOAD_SOCIAL_SECURITY', 'socialSecurityNumber')">
                                    <img src="assets/icons/upload.svg" alt="Upload Icon">
                                </span>
                                <span class="text-uppercase">{{'SOCIAL_SECURITY_NUMBER' | translate}}</span>
                            </div>
                            <div class="scan-your-card-prompt margin-top-5" (click)="chooseFile('UPLOAD_SOCIAL_SECURITY', 'socialSecurityNumber')">
                                <div class="position-relative">
                                    <div class="upload-picture-container" >
                                        <div class="upload-camera-container text-center">
                                            <div *ngIf="socialSecurityNumberUrl" class="row justify-content-center">
                                                <div class="col-6">
                                                    <img src="{{socialSecurityNumberUrl}}" alt="Rib Icon">
                                                </div>
                                            </div>
                                            <span *ngIf="!socialSecurityNumberUrl" class="camera">
                                                <img src="{{'assets/icons/photocamera.svg'}}" alt="Camera Icon">
                                            </span>
                                        </div>
                                    </div>
                                    <!-- <input class="scan-prompt" type="file" accept="image/*"
                                        (change)="changeFile($event, 'UPLOAD_SOCIAL_SECURITY', 'socialSecurityNumber')"
                                        #fileInputSocialSecurity> -->
                                </div>
                            </div>
                        </div>

                        <div class="form-group" *ngIf="session.currentUser().role === 'ROLE_CUSTOMER'">
                            <div class="display-flex justify-content-between">
                                <span class="position-relative " (click)="chooseFile('UPLOAD_MUTUAL', 'mutual')">
                                    <img src="assets/icons/upload.svg" alt="Upload Icon">
                                </span>
                                <span class="text-uppercase">{{'FIELD_MUTUAL' | translate}}</span>
                            </div>
                            <div class="scan-your-card-prompt margin-top-5" (click)="chooseFile('UPLOAD_MUTUAL', 'mutual')">
                                <div class="position-relative">
                                    <div class="upload-picture-container">
                                        <div class="upload-camera-container text-center">
                                            <div *ngIf="mutualUrl" class="row justify-content-center">
                                                <div class="col-6">
                                                    <img src="{{mutualUrl}}" alt="Rib Icon">
                                                </div>
                                            </div>
                                            <span *ngIf="!mutualUrl" class="camera">
                                                <img src="{{'assets/icons/photocamera.svg'}}" alt="Camera Icon">
                                            </span>
                                        </div>
                                    </div>
                                    <!-- <input class="scan-prompt" type="file" accept="image/*"
                                        (change)="changeFile($event, 'UPLOAD_MUTUAL', 'mutual')" #fileInputMutual> -->
                                </div>
                            </div>
                        </div>

                        <!--Sign Up Field Start-->
                        <div class="form-group">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span>
                                        <img src="assets/icons/envelope.svg" alt="Envelope Icon">
                                    </span>
                                </div>
                                <input class="form-control" formControlName="mail" type="text" autocomplete="off"
                                    name="email" placeholder="Email">
                            </div>
                        </div>
                        <!--Sign Up Field End-->

                        <!--Sign Up Field Start-->
                        <div class="form-group">
                            <div class="input-group">
                                <input class="form-control h-100" id="phone-input-profile" type="tel" name="phone"
                                    autocomplete="off" data-intl-tel-input-id="0" placeholder="(201) 555-0123"
                                    formControlName="phoneNumber">
                            </div>
                        </div>
                        <!--Sign Up Field End-->

                        <!--Sign Up Field Start-->
                        <div class="form-group"
                            *ngIf="session.currentUser().role === 'ROLE_DOCTOR' || session.currentUser().role === 'ROLE_NURSE'">
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span>
                                        <span class="fas fa-building icon-color"></span>
                                    </span>
                                </div>
                                <input class="form-control" formControlName="siret" type="text" autocomplete="off"
                                    placeholder="{{'FIELD_SIRET' | translate}}">
                            </div>
                        </div>
                        <!--Sign Up Field End-->

                        <div class="form-group" style="text-align: left;"
                            *ngIf="session.currentUser().role === 'ROLE_DELIVERER'">
                            <span>{{'FIELD_TYPE_DELIVERER' | translate}}</span>
                            <!--Email Option Start-->
                            <label class="font-weight-light width-100" *ngFor="let type of typesDeliverer">
                                <input type="radio" formControlName="typeDeliverer" class="margin-right-15"
                                    [value]="type._id"> {{type.label | translate}}
                            </label>
                            <!--Email Option End-->
                        </div>

                        <!--Sign Up Field Start-->
                        <app-password-field *ngIf="session.currentUser().connectionType === 'MAIL'"
                            [formControl]="profileFormGroup.controls['currentPassword']"
                            placeholder="{{'FIELD_CURRENT_PASSWORD' | translate}}">
                        </app-password-field>
                        <!--Sign Up Field End-->

                        <!--Sign Up Field Start-->
                        <app-password-field *ngIf="session.currentUser().connectionType === 'MAIL'"
                            [formControl]="profileFormGroup.controls['newPassword']"
                            placeholder="{{'FIELD_NEW_PASSWORD' | translate}}">
                        </app-password-field>
                        <!--Sign Up Field End-->

                        <div class="form-submit-button" (click)="submit()"
                            [attr.disabled]="!profileFormGroup.valid ? true : null">
                            <a class="btn btn-primary text-uppercase">{{'BTN_SUBMIT' | translate}}</a>
                        </div>
                    </form>

                    <div *ngIf="session.currentUser().role === 'ROLE_DELIVERER'">
                        <h2>{{'YOUR_BANK_INFORMATION' | translate}}</h2>
                        <p *ngIf="profile && profile.accountId">
                            {{'AUTOMATIC_PAYOUT' | translate}}: <strong style="color: #00b894;">{{'ENABLED' |
                                translate}}</strong><br>
                            {{'PAYOUT_INFORMATION' | translate}}
                        </p>
                        <p *ngIf="profile && !profile.accountId">
                            {{'AUTOMATIC_PAYOUT' | translate}}: <strong style="color: #d63031;">{{'DISABLED' |
                                translate}}</strong><br>
                            {{'FIRST_TIME_PAYOUT_INFORMATION' | translate}}
                        </p>
                        <p style="margin-top: 20px;">
                            {{'FILES_REQUIREMENTS' | translate}}:<br>
                            {{'AUTHORIZED_FORMAT' | translate}}: PDF, JPEG, PNG<br>
                            {{'MAX_FILE_SIZE' | translate}}: 16MB
                        </p>
    
                        <form [formGroup]="bankAccountForm">
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span>
                                            <span class="fas fa-building icon-color"></span>
                                        </span>
                                    </div>
                                    <input formControlName="account_holder_name" type="text" class="form-control"
                                        name="account-holder-name"
                                        placeholder="{{'FIELD_ACCOUNT_HOLDER_NAME' | translate}}">
                                </div>
                            </div>
    
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span>
                                            <span class="fas fa-building icon-color"></span>
                                        </span>
                                    </div>
                                    <input formControlName="account_number" type="text" class="form-control"
                                        name="account-number" placeholder="{{'FIELD_ACCOUNT_NUMBER' | translate}}">
                                </div>
                            </div>
                        </form>
    
                        <form [formGroup]="bankAccountOtherDataForm">
    
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span>
                                            <span class="fas fa-building icon-color"></span>
                                        </span>
                                    </div>
                                    <input formControlName="payoutDay" type="text" class="form-control" name="payoutDay"
                                        placeholder="{{'FIELD_PAYOUT_DAY' | translate}}">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span>
                                            <span class="fas fa-building icon-color"></span>
                                        </span>
                                    </div>
                                    <input formControlName="tax_id" type="text" class="form-control" name="tax_id"
                                        placeholder="{{'FIELD_NIF' | translate}}">
                                </div>
                            </div>
    
    
                            <div class="form-group">
                                <div class="display-flex justify-content-between">
                                    <span class="position-relative " (click)="fileInputFileFront.click()">
                                        <img src="assets/icons/upload.svg" alt="Upload Icon">
                                    </span>
                                    <span class="text-uppercase">{{'FIELD_KBIS_FRONT' | translate}}</span>
                                </div>
                                <div class="scan-your-card-prompt margin-top-5">
                                    <div class="position-relative">
                                        <div class="upload-picture-container" (click)="choosePhoto('companyDocFront')">
                                            <div class="upload-camera-container text-center">
                                                <span class="camera">
                                                    <img src="{{fieldDocumentFrm('companyDocFront') && fieldDocumentFrm('companyDocFront').value ? 'assets/images/v1/global/checked.svg': 'assets/images/v1/global/id-card.svg'}}"
                                                        alt="Camera Icon">
                                                </span>
                                            </div>
                                        </div>
                                        <input style="display: none" type="file"
                                            (change)="onBankAccountFileChanged($event, 'companyDocFront')"
                                            #fileInputFileFront>
                                    </div>
                                </div>
                            </div>
    
    
                            <div class="form-group">
                                <div class="display-flex justify-content-between">
                                    <span class="position-relative " (click)="fileInputFileBack.click()">
                                        <img src="assets/icons/upload.svg" alt="Upload Icon">
                                    </span>
                                    <span class="text-uppercase">{{'FIELD_KBIS_BACK' | translate}}</span>
                                </div>
                                <div class="scan-your-card-prompt margin-top-5">
                                    <div class="position-relative">
                                        <div class="upload-picture-container" (click)="choosePhoto('companyDocBack')">
                                            <div class="upload-camera-container text-center">
                                                <span class="camera">
                                                    <img src="{{fieldDocumentFrm('companyDocBack') && fieldDocumentFrm('companyDocBack').value ? 'assets/images/v1/global/checked.svg': 'assets/images/v1/global/id-card.svg'}}"
                                                        alt="Camera Icon">
                                                </span>
                                            </div>
                                        </div>
                                        <input style="display: none" type="file"
                                            (change)="onBankAccountFileChanged($event, 'companyDocBack')"
                                            #fileInputFileBack>
                                    </div>
                                </div>
                            </div>
    
                            <div class="row" style="margin-top: 20px;">
                                <div class="col-12">
                                    <label>Date de naissance du responsable</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row justify-content-center">
                                    <div class="input-group col-3">
                                        <input type="text" class="form-control" name="dobDay"
                                            placeholder="{{'FIELD_DOB_DAY' | translate }}" formControlName="dobDay">
                                    </div>
                                    <div class="input-group col-3 offset-1">
                                        <input type="text" class="form-control " name="dobMonth"
                                            placeholder="{{'FIELD_DOB_MONTH' | translate }}" formControlName="dobMonth">
                                    </div>
                                    <div class="input-group col-4 offset-1">
                                        <input type="text" class="form-control" name="dobYear"
                                            placeholder="{{'FIELD_DOB_YEAR' | translate }}" formControlName="dobYear">
                                    </div>
                                </div>
                            </div>
    
    
                            <div class="form-group">
                                <div class="display-flex justify-content-between">
                                    <span class="position-relative " (click)="fileInputPersonFront.click()">
                                        <img src="assets/icons/upload.svg" alt="Upload Icon">
                                    </span>
                                    <span class="text-uppercase">{{'FIELD_PERSON_RESP_FRONT' | translate}}</span>
                                </div>
                                <div class="scan-your-card-prompt margin-top-5">
                                    <div class="position-relative">
                                        <div class="upload-picture-container" (click)="choosePhoto('personDocFront')">
                                            <div class="upload-camera-container text-center">
                                                <span class="camera">
                                                    <img src="{{fieldDocumentFrm('personDocFront') && fieldDocumentFrm('personDocFront').value ? 'assets/images/v1/global/checked.svg': 'assets/images/v1/global/id-card.svg'}}"
                                                        alt="Camera Icon">
                                                </span>
                                            </div>
                                        </div>
                                        <input style="display: none" type="file"
                                            (change)="onBankAccountFileChanged($event, 'personDocFront')"
                                            #fileInputPersonFront>
                                    </div>
                                </div>
                            </div>
    
    
                            <div class="form-group">
                                <div class="display-flex justify-content-between">
                                    <span class="position-relative " (click)="fileInputPersonBack.click()">
                                        <img src="assets/icons/upload.svg" alt="Upload Icon">
                                    </span>
                                    <span class="text-uppercase">{{'FIELD_PERSON_RESP_BACK' | translate}}</span>
                                </div>
                                <div class="scan-your-card-prompt margin-top-5">
                                    <div class="position-relative">
                                        <div class="upload-picture-container" (click)="choosePhoto('personDocBack')">
                                            <div class="upload-camera-container text-center">
                                                <span class="camera">
                                                    <img src="{{fieldDocumentFrm('personDocBack') && fieldDocumentFrm('personDocBack').value ? 'assets/images/v1/global/checked.svg': 'assets/images/v1/global/id-card.svg'}}"
                                                        alt="Camera Icon">
                                                </span>
                                            </div>
                                        </div>
                                        <input style="display: none" type="file"
                                            (change)="onBankAccountFileChanged($event, 'personDocBack')"
                                            #fileInputPersonBack>
                                    </div>
                                </div>
                            </div>
                            <div class="form-submit-button" (click)="profile && profile.accountId?editBankAccount():addBankAccount()">
                                <a class="btn btn-primary text-uppercase">{{'BTN_SEND' | translate}}</a>
                            </div>
                        </form>
                    </div>
                </div>
                <!--Profile Information Fields Container End-->

            </div>
        </div>

        <!--Terms And Conditions Agreement Container Start-->
        <div class="col-xs-12 col-sm-12 text-center sms-rate-text font-roboto flex-end margin-bottom-30">
            <div class="container-sms-rate-text width-100 font-11">
                <span class="light-gray font-weight-light">En vous inscrivant vous êtes d'accord avec nos </span>
                <br />
                <a (click)="openCgu()" class="dark-link">
                    <span class="font-weight-light">Conditions générales d'utilisation</span>
                </a>
            </div>
        </div>
        <!--Terms And Conditions Agreement Container End-->
    </div>
</ion-content>