<ion-content>

  <div class="row h-100">
    <div class="col-xs-12 col-sm-12">
      <div class="rest-container">
        <div class="text-center header-icon-logo-margin header-icon-logo-margin-extra">
          <img src="assets/images/logo.png" class="logo-app" alt="Main Logo">
        </div>
        <div class="address-title">{{'TITLE_PROMO_CODE'|translate}}</div>

        <!--Promocode Container Start-->
        <div class="promocode-container pb-0">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span>
                  <span class="fas fa-ticket-alt icon-color"></span>
                </span>
              </div>
              <input class="form-control" type="text" autocomplete="off" name="promo" placeholder="{{'ADD_PROMO_CODE'|translate}}">
            </div>
          </div>
          <div class="activate-btn">
            <button type="button" class="btn btn-dark font-weight-normal">{{'ACTIVATION'|translate}}</button>
          </div>
        </div>
        <!--Promocode Container End-->
      </div>
    </div>
  </div>
</ion-content>