<h1 mat-dialog-title>{{'VALIDATE_TAGLINE' | translate}}</h1>
<div mat-dialog-content>
  <p>
    Vous allez recevoir par SMS un code pour valider votre signature sur le contrat.
  </p>
  <form  [formGroup]="pinForm" class="popup-form">
    <input type="text" class="form-control form-white" formControlName="code"  name="code" placeholder="Code"
      required>
  </form>
</div>
<div mat-dialog-actions>
  <button type="submit" class="btn btn-submit" (click)="onNoClick()" style="margin-right: 10px;">Annuler</button>
  <button type="submit" class="btn btn-submit" (click)="submit()" [disabled]="!pinForm.valid"> Valider</button>
</div>