<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">{{'TITLE_VALIDATION_DELIVERY' | translate}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-page-main-wrapper">
  <div class="container">

    <div class="row justify-content-center full-width">

      <div class="row justify-content-center col-md-6">

        <button style="margin-right: 10px; background-color: #54BBEC; color: #fff; margin-bottom: 20px;"
          (click)="prevOrder()" class="col-5 btn btn-submit" *ngIf="indexOrder > 0 ">
          <span class="icon-arrow-left"></span> Précédent
        </button>
        <button style="margin-right: 10px; background-color: #54BBEC; color: #fff; margin-bottom: 20px;"
          (click)="nextOrder()" class="col-5 btn btn-submit" *ngIf="indexOrder+1 < delivery.image.length">
          Suivant <span class="icon-arrow-right"></span>
        </button>
        <div class="col-md-12">
          <div class="zoom">
            <img (click)="seeImage('FIELD_CERTIFICATE', delivery.image)" style="width: 100%;"
              src="{{delivery.image && delivery.image.length > 0?url:'assets/images/logo.png'}}" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <form [formGroup]="productFormGroup">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <label>{{'FIELD_PRODUCT_DESCRIPTION' | translate }}</label>
                <input formControlName="description" type="text" class="form-control" id="name_contact"
                  name="name_contact">
              </div>
            </div>
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <label>{{'FIELD_COMMENT' | translate }}</label>
                <input formControlName="comment" type="text" class="form-control" id="comment" name="comment">
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label>{{'FIELD_PRODUCT_QUANTITY' | translate }}</label>
                <input formControlName="quantity" type="number" class="form-control" id="name_contact"
                  name="name_contact">
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label>{{'FIELD_PRODUCT_UNITARY_AMOUNT' | translate }}</label>
                <input formControlName="unitAmount" type="number" class="form-control" id="name_contact"
                  name="name_contact">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="text-center col-md-6 col-sm-6">
              <button [disabled]="!productFormGroup.valid" class="btn btn-submit" (click)="addProduct()">
                {{'BTN_ADD_PRODUCT' | translate }}
              </button>
            </div>
          </div>
          <hr style="border-color:#ddd;">
        </form>
        <div *ngIf="products.length === 0" class="main_title">
          <p>{{'NO_PRODUCT_ADDED' | translate}}</p>
        </div>

        <mat-card *ngFor="let product of products" class="example-card">
          <mat-card-header *ngIf="product.status !== 'DELETED'">
            <mat-card-title>
              <img src={{product.image}} style="width: 20%;">
              <span><!--{{'PRODUCT' | translate}}:--> {{product.description}}</span>
            </mat-card-title>
            <mat-card-subtitle>{{'FIELD_PRODUCT_QUANTITY' | translate }}: <strong>{{product.quantity}}</strong>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content *ngIf="product.status !== 'DELETED'">
            <div class="location">
              {{'FIELD_PRODUCT_UNITARY_AMOUNT' | translate}}:
              <strong *ngIf="!product._id">{{product.unitAmount | currency:'EUR':true}}</strong>
              <input (change)="editAmountProduct(product, $event)" style="margin-bottom: 20px;" *ngIf="product._id"
                type="number" class="form-control" placeholder="{{'FIELD_PRODUCT_UNITARY_AMOUNT' | translate}}">
            </div>
            <div class="location">
              {{'FIELD_TOTAL_PRODUCT' | translate}}:
              <strong>{{product.unitAmount * product.quantity | currency:'EUR':true}}</strong>
            </div>
            <div class="location" *ngIf="product.comment">
              {{'FIELD_COMMENT' | translate}}:
              <strong>{{product.comment}}</strong>
            </div>
          </mat-card-content>
          <mat-card-actions *ngIf="product.status !== 'DELETED'">
            <button style="margin-right: 10px;" type="submit" class="btn btn-submit red"
              (click)="deleteProduct(product)">
              <i class="icon-trash"></i>
            </button>
          </mat-card-actions>
        </mat-card>

        <div class="row" style="margin-top: 20px; margin-bottom: 40px;">
          <div class="text-center col-md-12 col-sm-12">
            {{'FIELD_TOTAL_AMOUNT_WITHOUT_FEE' | translate}}:
            <strong>{{totalAmountWithoutFee | currency:'EUR':true}}</strong>
          </div>
        </div>
        <div class="row">
          <div class="text-center col-md-12 col-sm-12">
            <button [disabled]="!totalAmountWithoutFee || totalAmountWithoutFee === 0" class="btn btn-submit"
              (click)="validDelivery()">
              {{'BTN_SUBMIT' | translate }}
            </button>
          </div>
        </div>
      </div><!-- End col-md-9-->

    </div><!-- End row -->
    <app-tchat *ngIf="deliveryChat" [delivery]="deliveryChat" [hideCloseBtn]="true" [minimized]="true"></app-tchat>
  </div><!-- End container -->
</div>
