<h1 mat-dialog-title> {{data.title | translate}}</h1>
<div mat-dialog-content>
  <!-- <a href="{{data.url}}">  -->
  <button (click)="download(data.imageData[indexOrder])" class="btn btn-submit red" style="margin-bottom: 20px;"
    type="button">{{"DOWNLOAD_IMAGE" | translate}}</button>
  <!-- </a> -->

  <div class="row justify-content-center">

    <button style="margin-right: 10px; background-color: #54BBEC; color: #fff; margin-bottom: 20px;"
      (click)="prevOrder()" class="col-5 btn btn-submit"  *ngIf="indexOrder > 0 ">
      <span class="icon-arrow-left"></span> Précédent
    </button>
    <button style="margin-right: 10px; background-color: #54BBEC; color: #fff; margin-bottom: 20px;"
      (click)="nextOrder()" class="col-5 btn btn-submit"  *ngIf="indexOrder+1 < data.imageData.length">
      Suivant <span class="icon-arrow-right"></span>
    </button>
  </div>

  <img id="imgToDisplay" src="{{url}}" style="width: 100%" />
</div>
<div mat-dialog-actions>
  <button type="submit" class="btn btn-submit" (click)="onNoClick()" style="margin-right: 10px;">Fermer</button>
</div>