<ion-content>
    <div class="row h-100">
        <div class="col-xs-12 col-sm-12">
            <div class="rest-container">
                <div class="address-title">{{'TITLE_DOCUMENTS' | translate}}</div>

                <!--Personal ID Fields Container Start-->
                <div class="all-container all-container-with-classes">
                    <form class="width-100">

                        <div class="form-submit-button text-center"
                            *ngIf="session.currentUser().status === 'AWAITING_VALIDATION'">
                            <a (click)="showContract()"
                                class="btn btn-primary text-uppercase  w-100 btn-accept btn-blue">{{'SHOW_CONTRACT' | translate}}</a>
                        </div>


                        <!--Upload Front Start-->
                        <div class="display-flex justify-content-between"
                            *ngIf="session.currentUser().role === 'ROLE_DELIVERER'">
                            <span class="position-relative">
                                <img src="assets/icons/driver-registration-dark.svg" alt="Upload Icon">
                                <input class="scan-prompt" type="file" accept="image/*"
                                    (change)="changeFile($event, 'UPLOAD_CI_FRONT', 'ciFront')" #fileInputCiFront>
                            </span>
                            <span class="text-uppercase">{{'ID_CARD_FRONT' | translate}}</span>
                            <span (click)="ciFrontUrl = null" class="delete-btn">
                                <img src="assets/icons/delete.svg" alt="Delete Icon">
                            </span>
                        </div>

                        <div class="scan-your-card-prompt margin-top-5"
                            (click)="changeDocumentFile('UPLOAD_CI_FRONT', 'ciFront')"
                            *ngIf="session.currentUser().role === 'ROLE_DELIVERER'">
                            <div class="position-relative">
                                <div class="upload-picture-container">
                                    <div class="upload-camera-container text-center">
                                        <div *ngIf="ciFrontUrl" class="row justify-content-center">
                                            <div class="col-4">
                                                <img src="{{ciFrontUrl}}" alt="Rib Icon">
                                            </div>
                                        </div>
                                        <span *ngIf="!ciFrontUrl" class="camera">
                                            <img src="{{'assets/icons/photocamera.svg'}}" alt="Camera Icon">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Upload Front End-->


                        <!--Upload Front Start-->
                        <div class="display-flex justify-content-between"
                            *ngIf="session.currentUser().role === 'ROLE_DELIVERER'">
                            <span class="position-relative">
                                <img src="assets/icons/driver-registration-dark.svg" alt="Upload Icon">
                                <input class="scan-prompt" type="file" accept="image/*"
                                    (change)="changeFile($event, 'UPLOAD_CI_BACK', 'ciBack')" #fileInputCiBack>
                            </span>
                            <span class="text-uppercase">{{'ID_CARD_BACK' | translate}}</span>
                            <span (click)="ciBackUrl = null" class="delete-btn">
                                <img src="assets/icons/delete.svg" alt="Delete Icon">
                            </span>
                        </div>

                        <div class="scan-your-card-prompt margin-top-5"
                            (click)="changeDocumentFile('UPLOAD_CI_BACK', 'ciBack')"
                            *ngIf="session.currentUser().role === 'ROLE_DELIVERER'">
                            <div class="position-relative">
                                <div class="upload-picture-container">
                                    <div class="upload-camera-container text-center">
                                        <div *ngIf="ciBackUrl" class="row justify-content-center">
                                            <div class="col-4">
                                                <img src="{{ciBackUrl}}" alt="Rib Icon">
                                            </div>
                                        </div>
                                        <span *ngIf="!ciBackUrl" class="camera">
                                            <img src="{{'assets/icons/photocamera.svg'}}" alt="Camera Icon">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Upload Front End-->

                        <!--Upload Front Start-->
                        <div class="display-flex justify-content-between" *ngIf="session.currentUser().role === 'ROLE_NURSE'
                        || session.currentUser().role === 'ROLE_DELIVERER'">
                            <span class="position-relative">
                                <img src="assets/icons/driver-registration-dark.svg" alt="Upload Icon">
                                <input class="scan-prompt" type="file" accept="image/*"
                                    (change)="changeFile($event, 'UPLOAD_RIB', 'rib')" #fileInputRib>
                            </span>
                            <span class="text-uppercase">RIB</span>
                            <span (click)="ribUrl = null" class="delete-btn">
                                <img src="assets/icons/delete.svg" alt="Delete Icon">
                            </span>
                        </div>

                        <div class="scan-your-card-prompt margin-top-5"
                            (click)="changeDocumentFile('UPLOAD_RIB', 'rib')" *ngIf="session.currentUser().role === 'ROLE_NURSE' 
                                || session.currentUser().role === 'ROLE_DELIVERER'">
                            <div class="position-relative">
                                <div class="upload-picture-container">
                                    <div class="upload-camera-container text-center">
                                        <div *ngIf="ribUrl" class="row justify-content-center">
                                            <div class="col-4">
                                                <img src="{{ribUrl}}" alt="Rib Icon">
                                            </div>
                                        </div>
                                        <span *ngIf="!ribUrl" class="camera">
                                            <img src="{{'assets/icons/photocamera.svg'}}" alt="Camera Icon">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Upload Front End-->

                        <!--Upload Front Start-->
                        <div class="display-flex justify-content-between" *ngIf="session.currentUser().role === 'ROLE_NURSE' 
                        || session.currentUser().role === 'ROLE_DELIVERER'">
                            <span class="position-relative ">
                                <img src="assets/icons/driver-registration-dark.svg" alt="Upload Icon">
                                <input class="scan-prompt" type="file" accept="image/*"
                                    (change)="changeFile($event, 'UPLOAD_KBIS', 'kbis')" #fileInputKbis>
                            </span>
                            <span class="text-uppercase">K-Bis</span>
                            <span (click)="kbisUrl = null" class="delete-btn">
                                <img src="assets/icons/delete.svg" alt="Delete Icon">
                            </span>
                        </div>

                        <div class="scan-your-card-prompt margin-top-5"
                            (click)="changeDocumentFile('UPLOAD_KBIS', 'kbis')" *ngIf="session.currentUser().role === 'ROLE_NURSE' 
                        || session.currentUser().role === 'ROLE_DELIVERER'">
                            <div class="position-relative">
                                <div class="upload-picture-container">
                                    <div class="upload-camera-container text-center">
                                        <div *ngIf="kbisUrl" class="row justify-content-center">
                                            <div class="col-4">
                                                <img src="{{kbisUrl}}" alt="Rib Icon">
                                            </div>
                                        </div>
                                        <span *ngIf="!kbisUrl" class="camera">
                                            <img src="{{'assets/icons/photocamera.svg'}}" alt="Camera Icon">
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Upload Front End-->


                        <!--Upload Front Start-->
                        <!-- <div class="display-flex justify-content-between" *ngIf="session.currentUser().role === 'ROLE_DELIVERER'">
                            <span class="position-relative " (click)="fileInputCriminalRecord.click()">
                                <img src="assets/icons/upload.svg" alt="Upload Icon">
                            </span>
                            <span class="text-uppercase">{{'CRIMINAL_RECORD' | translate}}</span>
                            <span (click)="criminalRecordUrl = null" class="delete-btn">
                                <img src="assets/icons/delete.svg" alt="Delete Icon">
                            </span>
                        </div> -->

                        <!-- <div class="scan-your-card-prompt margin-top-5" *ngIf="session.currentUser().role === 'ROLE_DELIVERER'">
                            <div class="position-relative">
                                <div class="upload-picture-container">
                                    <div class="upload-camera-container text-center">
                                        <div *ngIf="criminalRecordUrl" class="row justify-content-center">
                                            <div class="col-4">
                                                <img src="{{criminalRecordUrl}}" alt="Rib Icon">
                                            </div>
                                        </div>
                                        <span *ngIf="!criminalRecordUrl" class="camera">
                                            <img src="{{'assets/icons/photocamera.svg'}}" alt="Camera Icon">
                                        </span>
                                    </div>
                                </div>
                                <input class="scan-prompt" type="file" accept="image/*"
                                    (change)="changeFile($event, 'UPLOAD_CRIMINAL_RECORD', 'criminalRecord')" #fileInputCriminalRecord>
                            </div>
                        </div> -->
                        <!--Upload Front End-->
                        <div class="row" [hidden]="session.currentUser().status !== 'AWAITING_VALIDATION'">
                            <div class="col-12 category">
                                <h3>{{'TAGLINE' | translate}}</h3>
                                <p>{{'INSTRUCTION_TAGLINE_DOCUMENTS' | translate}}</p>

                                <canvas #canvasElement id="sig-canvas"
                                    style="border: 3px solid #54BBEC;width:100% !important; height: 200px;">
                                    Veuillez utiliser Google Chrome
                                </canvas>

                                <button (click)="clearCanvas()" style="font-weight: 600; margin-top: 48px;"
                                    type="button"
                                    class="btn btn-primary w-100 text-uppercase btn-accept">{{'CLEAR_TAGLINE' | translate}}</button>
                            </div>
                        </div>
                    </form>
                    <div class="form-submit-button text-center">
                        <a (click)="sign()" *ngIf="session.currentUser().status === 'AWAITING_VALIDATION'"
                            class="btn btn-primary text-uppercase  w-100 btn-accept">{{'SIGN_AND_SEND' | translate}}</a>
                        <a (click)="update()" *ngIf="session.currentUser().status !== 'AWAITING_VALIDATION'"
                            class="btn btn-primary text-uppercase  w-100 btn-accept">{{'UPDATE' | translate}}</a>
                    </div>
                </div>
                <!--Personal ID Fields Container End-->
            </div>
        </div>

    </div>
</ion-content>