<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">{{'TITLE_DELIVERY_BILL' | translate}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-page-main-wrapper">
  <div class="container">

    <div class="row justify-content-center full-width" *ngIf="delivery && delivery.isBtoB">
      <div class="col-12">
        <h3>{{'ADDRESS' | translate}}: {{delivery.address.fullAddress}}</h3>
        <div class="location">
          {{'DELIVERY_REFERENCE' | translate}}: {{delivery.reference}} --
          {{'STATUS' | translate}}:
          <strong><span [ngClass]="delivery.statusClass">{{delivery.status+'_BTOB' | translate}}</span></strong>
        </div>
        <div class="location">
          <strong>{{'SIZE_PACKAGE' | translate}}:</strong> {{delivery.sizePackage | translate}}
        </div>
        <div class="location">
          <strong>{{'DELIVERY_PRICE' | translate}}:</strong> {{delivery.invoice.amountMerchant}}€
        </div>
        <div class="location">
          <strong>{{'DEST_TAGLINE' | translate}}:</strong>
        </div>
        <img class="col-4" [src]="delivery.urlTagLine" />
      </div>

    </div><!-- End row -->
    <div class="row justify-content-center full-width" *ngIf="delivery && delivery.isForCustomer">
      <div class="col-12">
        <h3>{{'ADDRESS' | translate}}: {{delivery.address.fullAddress}}</h3>
        <div class="location">
          {{'DELIVERY_REFERENCE' | translate}}: {{delivery.reference}} --
          {{'STATUS' | translate}}:
          <strong><span [ngClass]="delivery.statusClass">{{delivery.status | translate}}</span></strong>
        </div>
        <div class="location">
          <strong>{{'FIELD_CUSTOMER' | translate}}:</strong> {{delivery.nameCustomer + ' ' + delivery.lastnameCustomer}}
        </div>
        <div class="location">
          <strong>{{'DEST_TAGLINE' | translate}}:</strong>
        </div>
        <img class="col-4" [src]="delivery.urlTagLine" />
      </div>

    </div><!-- End row -->
  </div><!-- End container -->
</div>