<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>{{title | translate}}
                <small class="text-muted">{{'SUBTITLE_BILLS' | translate }}</small>
            </h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row clearfix">
        <button tooltip="{{'TOOLTIP_PRINT_LIST' | translate}}" (click)="generateExcel()"
            class="btn btn-success btn-icon  btn-icon-mini btn-round">
            <i class="zmdi zmdi-print"></i>
        </button>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body table-responsive">
                    <table
                        class="table table-hover m-b-0 c_list footable footable-1 footable-paging footable-paging-center breakpoint breakpoint-md">
                        <thead>
                            <tr class="footable-header">
                                <th class="break-word">{{'FIELD_CREATION_DATE' | translate }}</th>
                                <th class="break-word">{{'COL_REFERENCE' | translate }}</th>
                                <th *ngIf="type === 'INTERNAL'" class="break-word">{{'FIELD_CUSTOMER' | translate
                                    }}</th>
                                <th *ngIf="type === 'INTERNAL'" class="break-word">{{'COL_AMOUNT_CUSTOMER' | translate
                                    }}</th>
                                <th *ngIf="type === 'EXTERNAL'" class="break-word">{{'COL_AMOUNT' | translate }}</th>
                                <th *ngIf="type === 'INTERNAL'" class="footable-sortable break-word"
                                    style="display: table-cell;">
                                    {{'FIELD_MERCHANT' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th *ngIf="type === 'EXTERNAL'" class="footable-sortable break-word"
                                    style="display: table-cell;">
                                    {{'FIELD_PARTNER' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th *ngIf="type === 'INTERNAL'" data-breakpoints="xs"
                                    class="footable-sortable break-word" style="display: table-cell;">
                                    {{'COL_AMOUNT_MERCHANT' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th class="break-word">{{'FIELD_DELIVERER' | translate}}</th>
                                <th class="break-word">{{'COL_AMOUNT_DELIVERER' | translate }}</th>
                                <th class="break-word">{{'COL_TOTAL_FEE_PLATFORM' | translate }}</th>
                                <th class="break-word">{{'COL_AMOUNT_PROMO' | translate }}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td *ngIf="messagesList.length === 0" colspan="6" style="text-align: center;">
                                    {{'NO_DATA' | translate}}</td>
                            </tr>
                            <tr *ngFor="let delivery of messagesList">
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{delivery.deliveryDate | date:'dd LLLL yyyy HH:mm'}}
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{delivery.reference}}
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <p class="c_name" *ngIf="!delivery.isForCustomer && !delivery.isBtoB">
                                        {{delivery.customer.lastName}} {{delivery.customer.name}}
                                    </p>
                                    <p class="c_name" *ngIf="delivery.isForCustomer">
                                        {{delivery.lastnameCustomer}} {{delivery.nameCustomer}}
                                    </p>
                                    <p class="c_name" *ngIf="delivery.isBtoB">
                                        Livraison BtoB
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{(formatService.formatNumber(delivery.invoice.amountCustomer)) | currency:'EUR'}}
                                    </p>
                                </td>
                                <td *ngIf="type === 'INTERNAL'" style="display: table-cell;">
                                    <span class="phone">
                                        {{delivery.merchant.name}}
                                    </span>
                                </td>
                                <td *ngIf="type === 'EXTERNAL'" style="display: table-cell;">
                                    <span class="phone">
                                        {{delivery.partner.name}}
                                    </span>
                                </td>
                                <td *ngIf="type === 'INTERNAL'" style="display: table-cell;">
                                    <p class="c_name">
                                        {{(formatService.formatNumber(delivery.invoice.amountMerchant)) | currency:'EUR'}}
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{delivery.deliverer.lastName + ' ' + delivery.deliverer.name}}
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{(formatService.formatNumber(delivery.invoice.amountDeliverer)) | currency:'EUR'}}
                                    </p>
                                </td>
                                <td class="footable-last-visible" style="display: table-cell;">
                                    <p class="c_name">
                                        {{(formatService.formatNumber(delivery.invoice.platformFee)) | currency:'EUR'}}
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{(formatService.formatNumber(delivery.invoice.promoAmount)) | currency:'EUR'}}
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
            <div class="card" *ngIf="messagesList.length > 0">
                <div class="body">
                    <ul class="pagination pagination-primary m-b-0">
                        <li class="page-item" [ngClass]="{'disabled': page <= 0}"><a class="page-link"
                                (click)="changePage(page-1)"><i class="zmdi zmdi-arrow-left"></i></a>
                        </li>
                        <li class="page-item active"><a class="page-link">{{page+1}}</a></li>
                        <li class="page-item" *ngIf="((page + 1 ) * limit) < nbTotal"><a class="page-link"
                                (click)="changePage(page+1)"><i class="zmdi zmdi-arrow-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>