.row{
    margin-top: 20px;
}

input[type=text]{
    margin-bottom: 10px;
}

input[type=email]{
    margin-bottom: 10px;
}

input[type=password]{
    margin-bottom: 10px;
}

select{
    margin-bottom: 10px;
    height: 61px !important;
}

.checkbox-holder {
    padding: 10px;
}

input[type=checkbox]{
    margin-right: 10px;
}
.btn-contact:hover
{
    background-color:#ea2c9299!important;
}
@media screen and (max-width: 395px){
  .responsive
  {
      padding-left: 22%;
  }
}
@media screen and (min-width: 395px ) and (max-width:767px){
  .responsive
  {
      padding-left: 31%;
  }
}

@property --number {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
@property --number2 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
@property --number3 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}
@property --number4 {
  syntax: "<integer>";
  initial-value: 0;
  inherits: false;
}

.counter {
  animation: counter 30s ;
  animation-fill-mode: forwards;
}

.reseauxSociaux
{
  counter-reset: number var(--number);
}
.reseauxSociaux::after {
  content: counter(number);
}

.partenairesPharma
{
  counter-reset: number2 var(--number2);
}
.partenairesPharma::after {
  content: counter(number2);
}

.livreur
{
  counter-reset: number3 var(--number3);
}
.livreur::after {
  content: counter(number3);
}

.delais
{
  counter-reset: number4 var(--number4);
}
.delais::after {
  content: counter(number4);
}

@keyframes counter {
  from {
    --number: 0;
    --number2: 0;
    --number3: 0;
    --number4: 0;
  }
  to {
    --number: 40000;
    --number2: 230;
    --number3: 10000;
    --number4: 30;
  }
}
