<head> <meta name="viewport" content="width=device-width"/></head>
<section class="home-4-banner main-banner main-slider" >
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-7">
        <div class="banner-content">
          <h1 class="title">Devenez partenaire Livmed’s</h1>
          <span class="sub-title" >Rejoignez notre plateforme et touchez une nouvelle clientèle grâce à notre service totalement gratuit pour vous.</span>
          <br>
          <nav  class="navbar navbar-expand-lg responsive" style="padding-top: 0px; padding-bottom: 0px;">
            <div class="collapse navbar-collapse" style="    display: contents;" >
              <ul class="navbar-nav ml-auto" style="
    margin-left: -19px!important;
    flex-direction: column;
        display: contents;
" >
                <li  class="nav-item">
                  <a class=" nav-link-scroll" href="#inscription" style="width: 198px;"><button   class="btn store-btn  fill-style" style=" width: 88%;">Je m'inscris </button></a>
                </li>
              </ul>
            </div>
          </nav>

        </div>
      </div>
      <div class="col-lg-6 col-md-4 offset-lg-0 offset-md-1">
        <div class="img-wrapper img-right banner-img">
          <img src="assets/images/sign-up/Livmed's pharmaciens.png" alt="livmeds premier accès a l'application ">
        </div>
      </div>
    </div>
  </div>
</section>


<section class="h4-awesome-feature bg-color s-padding s-pb-large">
  <div class="angle-shape sec-color">
    <svg height='250'>
      <rect width="100%" height='250'></rect>
    </svg>
  </div>
  <div class="container">
    <div class="s-title">
      <h2 class="wow">Pourquoi devenir partenaire Livmed’s ?</h2>
      <p>Ce que Livmed’s va apporter aux pharmacies</p>
    </div>
    <div class="row align-items-center">
      <div class="col-md-5 col-md-6">
        <div class="icon-box awf-item-SignUp wow slideInUp" style="    visibility: visible;
    animation-name: slideInUp;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
    height: 495px;">
          <div class="icon-box-icon">
            <img style="    height: auto;
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto" class="center" src="assets/images/sign-up/Livmed's nouvelle clientèle.png" loading="lazy" alt="Application Livmed’s représentent une nouvelle clientèle pour les pharmaciens">
          </div>
          <div class="icon-box-details">
            <h3 class="icon-box-title center" style="width: 100%; text-align: center;"> Nouvelle clientèle</h3>
            <p style="text-align: center;    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;">Grâce à notre application, les patients issus de la téléconsultation pourront se faire livrer leurs médicaments prescrits sur ordonnance ainsi que des produits de parapharmacie. Cela représente donc une nouvelle clientèle pour les pharmacies. De plus, vos clients pourront également bénéficier de ce service livraison à domicile.</p>
          </div>
        </div>
        <div class="icon-box awf-item-SignUp mb-md-0 wow slideInUp" style="    visibility: visible;
    animation-delay: 0.1s;
    animation-name: slideInUp;
    visibility: visible;
    animation-name: slideInUp;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
    height: 495px;" data-wow-delay=".1s">
          <div class="icon-box-icon">
            <img style="height: auto;
                        width: 200px;
                        margin-right: auto;
                        display: block;
                        margin-left: auto;" class="center" src="assets/images/sign-up/Livmed's gestion digitalisée.png" loading="lazy" alt="Grâce au DMP, Livmed’s permet d’avoir une gestion digitale des clients patients pour les officines">
          </div>
          <div class="icon-box-details">
            <h3 class="icon-box-title center" style="text-align: center;">Gain de temps et gestion digitalisée</h3>
            <p style="text-align: center;    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;" >Ce nouveau service représente un gain de
              temps considérable pour vos clients ainsi
              que pour les pharmaciens! Le Dossier
              Médical Partagé vous permettra d'avoir une
              gestion digitalisée de vos clients pour un
              meilleur suivi de leurs antécédents médicaux.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-5 col-md-6" style="height: 1020px;">
        <div class="icon-box awf-item-SignUp wow slideInUp" style="      visibility: visible;
    animation-name: slideInUp;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
    height: 495px;">
          <div class="icon-box-icon">
            <img style="height: auto;
                        display: block;
                        width: 170px;
                         height: 170px;
                        margin-right: auto;
                        margin-left: auto;" src="assets/images/sign-up/Livmed's service pharmacie.png" loading="lazy" alt="Livmed’s est un service de livraison de produits de pharmacie totalement gratuit pour les pharmacies">
          </div>
          <div class="icon-box-details" style="padding-top: 30px;">
            <h3 class="icon-box-title center" style="text-align: center;">Service gratuit</h3>
            <p style="margin-bottom: 25%;
    padding-left: 50px;
    padding-right: 50px;
    text-align: justify;">Livmed’s propose un service 100% gratuit et sans engagement à nos pharmacies partenaires ! Nous avons créé un partenariat avec certaines mutuelles afin de permettre le remboursement des frais de livraison. </p>
          </div>
        </div>
        <div class="icon-box awf-item-SignUp mb-0 wow slideInUp" style="    visibility: visible;
    animation-name: slideInUp;
    border-radius: 40px;
    background-color: white;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
    height: 495px;" data-wow-delay=".1s">
          <div class="icon-box-icon">
            <img style="height: auto;
                        display: block;
                        width: 200px;
                        margin-right: auto;
                        margin-left: auto;" src="assets/images/sign-up/Livmed's referencement pharmacie.png" loading="lazy" alt=" Livmed’s propose marketplace pour les pharmaciens pour une meilleure gestion de stock de médicaments et parapharmacie en ligne ">
          </div>
          <div class="icon-box-details"style="margin-top: 3%;">

            <h3 class="icon-box-title center" style="text-align: center; margin-bottom: 4%;">Market Place</h3>
            <p style="padding-left: 50px;
    padding-right: 50px;
    text-align: justify;
    padding-top: 20px;">Vous avez la possibilité d’avoir votre propre marketplace et de gérer vos stocks en ligne. Vous pouvez également intégrer notre service à votre site web afin que vos clients puissent se faire livrer en moins de 30 minutes. </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section><!-- awesome-feature -->

<div class="blog-page-main-wrapper bg-color s-padding  s-pb-large">
  <section class="partners s-padding bg-color" style="padding-top:0px;">
    <div class="container">
      <div class="s-title">
        <h2 class="wow">Livmed’s en quelques chiffres </h2>
      </div>
      <div class="row" style="text-align: center;" >
        <div class="col-lg-3" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo" >
            <img class="partners-logo-dim" style="opacity: 100;height: 130px;"   src="assets/images/sign-up/Livmed's réseaux sociaux.png" loading="lazy"
                 alt=" Rejoignez Livmed's sur les réseaux sociaux et suivez les actualités de service de livraison de produits de pharmacie">
            <h3 class="counter reseauxSociaux">+ </h3>
            <p >abonnés sur les réseaux sociaux</p>
          </div>
        </div>
        <div class="col-lg-3" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo">
            <img class="partners-logo-dim" style="opacity: 100; height: 130px;"  src="assets/images/sign-up/Livmed's pharmacies partenaires.png" loading="lazy"
                 alt=" Livmed’s c’est plus de 200 pharmacies partenaires partout en France afin d'être plus proche de chez vous">
             <h3 class="counter partenairesPharma ">+ </h3>
            <p>pharmacies partenaires</p>
          </div>
        </div>
        <div class="col-lg-3" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo">
            <img  class="partners-logo-dim" style="opacity: 100;height: 130px;"  src="assets/images/sign-up/Livmed's livreurs.png" loading="lazy"
                  alt=" Livmed’s c’est aussi plus de 9000 coursiers qui livrent vos produits de pharmacie partout en France">
             <h3 class="counter livreur ">+ </h3>
            <p>livreurs en France</p>
          </div>
        </div>
        <div class="col-lg-3" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo">
            <img class="partners-logo-dim"  style="opacity: 100;height: 130px;" src="assets/images/sign-up/Livmed's délais livraison 30min.png"
                 loading="lazy" alt="Livmed’s est une application de livraison express qui livre les produits de santé en 30 min à votre adresse">
            <h3>+ <span class="counter delais "></span>min </h3>
            <p >nos délais de livraison</p>
          </div>
        </div>

      </div>
    </div>
  </section>
  <br>  <br>


  <section class="h4-awesome-feature bg-color s-padding  s-pb-large" >
    <div class="angle-shape sec-color">
      <svg height='250'>
        <rect width="100%" height='250'></rect>
      </svg>
    </div>
    <div class="container" style="padding-left: 10%;
    padding-right: 10%;">
      <div class="s-title">
        <h2 class="wow">Comment fonctionne Livmed’s ? </h2>
        <p>Modernisez votre pharmacie et répondez au nouveau besoin digital. Préparez-vous à recevoir des commandes Livmed’s ! </p>
      </div>

      <div  class="row " style="text-align: center;" >
        <div class="col-lg-6" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;" >
            <img class="partners-logo-dim" style="opacity: 100;height: 200px;"   src="assets/images/sign-up/Livmed's inscription.png" loading="lazy"   alt=" Pour intégrer le service de livraison dans votre pharmacie, inscription sur le site web Livmeds">
            <h3 >  Inscription </h3>
            <p style="padding-top: 30px;" >Inscrivez-vous pour devenir pharmacie partenaire </p>
          </div>
        </div>
        <div class="col-lg-6" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo"  style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;">
            <img class="partners-logo-dim" style="opacity: 100;height: 200px;" src="assets/images/sign-up/Livmed's livraison c'est parti.png" loading="lazy"  alt="Préparez votre ordinateur ou tablette pour recevoir les commandes et suivez-les via la plateforme Livmed’s">
            <h3> C’est parti ! </h3>
            <p style="padding-top: 30px;" >Préparez votre ordinateur ou tablette pour recevoir les commandes et suivez-les via la plateforme Livmed’s </p>
          </div>
        </div>
      </div>
      <br>
      <h2 style="
      text-align: center;
      padding-top: 4%;
      color: #252a32;
      font-size: 30px;
      font-weight: 700;
      color: #252a32;
      margin-bottom: 10px;
      ">Vous avez une question  ?

      </h2>
      <div  style="margin-top: 28px;text-align-last: center;">
        <p>Notre équipe est toujours là pour vous accompagner 24h/7j et vous éclairer sur nos services de commande et livraison. </p>
        <a [routerLink]="['/contact']"  ><button class="btn btn-submit btn-contact" style="background: #EA2C92;color: white;">Nous contacter </button></a>
      </div>
    </div>
  </section>

  <section id="inscription" >
  <div class="container">
  <div class="s-title">
    <h2 class="wow">Formulaire d'inscription </h2>
  </div>
  <p>Vous êtes pharmacien ? Inscrivez-vous ci-dessous :  </p>

    <div class="row flex-lg-row-reverse">
      <main class="col-lg-12 main-content">
        <div class="post-row">
          <div class="row gutter-40">
            <div class="col-12">

              <form [formGroup]="registerFormGroup" class="popup-form" id="registerPharma">
                <input type="text" class="form-control form-white" name="name" placeholder="{{'FIELD_NAME_PHARMACY' | translate}}"
                  formControlName="name" required>
                <div
                  *ngIf="fieldsRegisterFrm('name').invalid && (fieldsRegisterFrm('name').dirty || fieldsRegisterFrm('name').touched)">
                  <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('name').errors.required">
                    {{'FIELD_NAME_REQUIRED' | translate}}
                  </p>
                </div>


                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <input type="text" class="form-control form-white" name="respLastname"
                      placeholder="{{'FIELD_RESP_LASTNAME' | translate}}" formControlName="responsibleLastname" required>
                    <div
                      *ngIf="fieldsRegisterFrm('responsibleLastname').invalid && (fieldsRegisterFrm('responsibleLastname').dirty || fieldsRegisterFrm('responsibleLastname').touched)">
                      <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('responsibleLastname').errors.required">
                        {{'FIELD_RESP_LASTNAME_REQUIRED' | translate}}
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <input type="text" class="form-control form-white" name="respName"
                      placeholder="{{'FIELD_RESP_NAME' | translate}}" formControlName="responsibleName" required>
                    <div
                      *ngIf="fieldsRegisterFrm('responsibleName').invalid && (fieldsRegisterFrm('responsibleName').dirty || fieldsRegisterFrm('responsibleName').touched)">
                      <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('responsibleName').errors.required">
                        {{'FIELD_RESP_NAME_REQUIRED' | translate}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-12">
                    <input type="text" class="form-control form-white" name="siret" placeholder="{{'FIELD_SIRET' | translate}}"
                      formControlName='siret' required>
                    <div
                      *ngIf="fieldsRegisterFrm('siret').invalid && (fieldsRegisterFrm('siret').dirty || fieldsRegisterFrm('siret').touched)">
                      <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('siret').errors.required">
                        {{'FIELD_SIRET_REQUIRED' | translate}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <input id="phone-input-sign-up" type="text" class="form-control form-white" name="phoneNumber"
                      placeholder="{{'FIELD_PHONE_NUMBER' | translate}}" formControlName='phoneNumber' required>
                    <div
                      *ngIf="fieldsRegisterFrm('phoneNumber').invalid && (fieldsRegisterFrm('phoneNumber').dirty || fieldsRegisterFrm('phoneNumber').touched)">
                      <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('phoneNumber').errors.required">
                        {{'FIELD_PHONENUMBER_REQUIRED' | translate}}
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <select formControlName='role' class="form-control" name="role" style="
                      background: transparent;
                      border-radius: 0px;
                      border: 1px solid white;">
                      <option [value]="null" disabled selected>Votre catégorie</option>
                      <option *ngFor="let cat of categories" [value]="cat.value">{{cat.label | translate}}</option>
                    </select>
                    <div
                      *ngIf="fieldsRegisterFrm('role').invalid && (fieldsRegisterFrm('role').dirty || fieldsRegisterFrm('role').touched)">
                      <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('role').errors.required">
                        {{'FIELD_CAT_REQUIRED' | translate}}
                      </p>
                    </div>
                  </div>
                </div>
                <input formControlName="favoriteAddressDisplay" type="text" class="form-control form-white" autocomplete="nope"
                  placeholder="{{'FIELD_FULL_ADDRESS' | translate}}" #addressPharmacy>
                <div
                  *ngIf="fieldsRegisterFrm('favoriteAddressDisplay').invalid && (fieldsRegisterFrm('favoriteAddressDisplay').dirty || fieldsRegisterFrm('favoriteAddressDisplay').touched)">
                  <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('favoriteAddressDisplay').errors.required">
                    {{'FIELD_ADDRESS_REQUIRED' | translate}}
                  </p>
                </div>
                <input id="username" style="display:none" type="text" name="fakeusernameremembered">
                <input id="password" style="display:none" type="password" name="fakepasswordremembered">
                <input type="email" class="form-control form-white" autocomplete="nope" name="mail"
                  placeholder="{{'FIELD_MAIL' | translate}}" formControlName='mail' required>
                <div
                  *ngIf="fieldsRegisterFrm('mail').invalid && (fieldsRegisterFrm('mail').dirty || fieldsRegisterFrm('mail').touched)">
                  <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('mail').errors.required">
                    {{'FIELD_MAIL_REQUIRED' | translate}}
                  </p>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <input type="password" class="form-control form-white" name="password"
                      placeholder="{{'FIELD_PASSWORD' | translate}}" autocomplete="new-password" id="passwordPharma"
                      formControlName='password' required>
                    <div
                      *ngIf="fieldsRegisterFrm('password').invalid && (fieldsRegisterFrm('password').dirty || fieldsRegisterFrm('password').touched)">
                      <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('password').errors.required">
                        {{'FIELD_PASSWORD_REQUIRED' | translate}}
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <input type="password" class="form-control form-white" name="confirmPassword"
                      placeholder="{{'FIELD_CONFIRM_PASSWORD' | translate}}" id="confirmPasswordPharma"
                      formControlName='passwordConfirm' required>
                    <div
                      *ngIf="fieldsRegisterFrm('passwordConfirm').invalid && (fieldsRegisterFrm('passwordConfirm').dirty || fieldsRegisterFrm('passwordConfirm').touched)">
                      <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('passwordConfirm').errors.required">
                        {{'FIELD_CONFIRM_PASSWORD_REQUIRED' | translate}}
                      </p>
                    </div>
                  </div>
                </div>
              </form>
              <div class="col-12">
                <p style="
    font-size: 10px;
">En continuant, j'accepte les <a href="https://test.livmeds.com/cgu">Conditions d'utilisation de Livmed’s </a>> et je reconnais avoir lu la <a href="https://test.livmeds.com/mentions-legales"> Politique de confidentialité </a>.

                  J'accepte aussi que Livmed’s me contacte par e-mail, téléphone ou SMS (y compris par un système automatique) à l'adresse e-mail ou au numéro que j'ai indiqué, y compris à des fins marketing.
                </p>
                <div class="row">
                  <div class="col-md-6 col-sm-12">
                    <button type="submit" class="btn btn-submit" style="width: 100%;" (click)="submit()">
                      S'inscrire
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</section>
</div>
