.chat-container{
    display: flex !important;
    flex-direction: column !important;
    justify-content: flex-end !important;
    margin: 8px 32px 0px 32px !important;
    height: calc(100% - 72px) !important;
    overflow: scroll !important;
}

.record-in-progress{
    color: #D8418F;
}


$bgColor: #684595;

.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
	overflow: hidden;
  background: $bgColor;
  color: #fff;
	font-family: 'Open Sans', Helvetica, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.checkbox {
	display: none;
	
	&:checked ~ .microphone {
		
		.circle {
			animation: circle 5s linear infinite;
		}
		
		.icon {
			animation: icon .7s ease-in-out both;
		}
		
		.dots {
			animation: dots 1s ease-in-out both;
		}
		
		.dot-1 {
			animation: dot 1s ease-in-out infinite;
		}
		
		.dot-2 {
			animation: dot 1s ease-in-out -0.2s infinite;
		}
		
		.dot-3 {
			animation: dot 1s ease-in-out -0.4s infinite;
		}
		
	}
	
}

	
	.dots {
		opacity: 1;
		width: 50px;
		height: 10px;
		top: 45px;
		left: 25px;
		
		.dot {
			float: left;
			width: 10px;
			height: 10px;
			border-radius: 50%;
			background: #fff;
		}
		
		.dot-2 {
			margin: 0 10px;
		}
		
	}


@keyframes circle {
	0% {
		stroke-dashoffset: 0;
		stroke-dasharray: 296 296;
		transform: rotate(0deg);
	}
	100% {
		stroke-dashoffset: (-296 * 2);
		stroke-dasharray: 296 296;
		transform: rotate(360deg);
	}
}

@keyframes dot {
	0% {
		transform: translateY(5px);
	}
	50% {
		transform: translateY(-5px);
	}
	100% {
		transform: translateY(5px)
	}
}

@keyframes dots {
	0%, 60% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}


.dots {
    animation: dots 1s ease-in-out both;
}

.dot-1 {
    animation: dot 1s ease-in-out infinite;
}

.dot-2 {
    animation: dot 1s ease-in-out -0.2s infinite;
}

.dot-3 {
    animation: dot 1s ease-in-out -0.4s infinite;
}