<ion-content>

  <div class="rest-container chat-rest-container">
    <div class="chat-container">

      <!-- <div class="left-align-message">
      <div class="message-content">

        <div class="dots">
          <div class="dot dot-1"></div>
          <div class="dot dot-2"></div>
          <div class="dot dot-3"></div>
        </div>
      </div>
      </div> -->
      <div *ngFor="let message of privateMessages">
        <!--Left Aligned Message Start-->
        <div *ngIf="message.author._id  === session.currentUser()._id" class="left-align-message">
          <div class="message-info">
            <div>
              <span class="icon"><img src="assets/icons/calendar.svg" alt="Calendar Icon" class="calendar-icon"></span>
              {{message.insertAt | date:'dd LLLL yyyy'}}
            </div>
            <div>
              <span class="icon fas fa-clock"></span> {{message.insertAt | date:'HH:mm'}}
            </div>
          </div>
          <div *ngIf="!message.audioFile" class="message-content">
            {{message.message}}
          </div>
          <!-- <div *ngIf="message.audioFile" class="message-content">
            <i class="far fa-play-circle" (click)="startAudioMessage(message)"></i>
          </div> -->
          <div class="profile-picture">
            <span class="fas fa-circle status"></span>
            <img
              src="{{session.currentUser().avatar === 'undefined' ? 'assets/images/man.svg': session.currentUser().avatar}}"
              style="width: 32px; height: 32px;border-radius: 20px;" class="profile-picture-image"
              alt="Profile Picture Image">
          </div>
        </div>
        <!--Left Aligned Message End-->

        <!--Right Aligned Message Start-->
        <div *ngIf="message.author._id !== session.currentUser()._id" class="right-align-message">
          <div class="message-info">
            <div>
              <span class="icon"><img src="assets/icons/calendar.svg" alt="Calendar Icon" class="calendar-icon"></span>
              {{message.insertAt | date:'dd LLLL yyyy'}}
            </div>
            <div>
              <span class="icon fas fa-clock"></span> {{message.insertAt | date:'HH:mm'}}
            </div>
          </div>
          <div *ngIf="!message.audioFile" class="message-content">
            {{message.message}}
          </div>
          <!-- <div *ngIf="message.audioFile" class="message-content">
            <i class="far fa-play-circle" (click)="startAudioMessage(message)"></i>
          </div> -->
          <div class="profile-picture">
            <img
              src="{{destAvatar ? destAvatar :'assets/images/man.svg'}}"
              style="width: 32px; height: 32px;border-radius: 20px;" alt="Profile Picture"
              class="profile-picture-image">
            <span class="fas fa-2x fa-circle status"></span>
          </div>
        </div>
        <!--Right Aligned Message End-->
      </div>
    </div>

    <!--Send Message Container Start-->
    <div class="send-message">
      <div class="send-message-container width-100">
        <input type="text" autocomplete="off" name="message" class="message-input" [(ngModel)]="message">
        <span class="fas fa-3x fa-paper-plane send-chat blue-icon" (click)="sendMessage()"></span>
        <!-- <span class="fas fa-3x fa-microphone blue-icon" [class.record-in-progress]="recordInProgress"
          (touchstart)="startRecord()" (touchend)="stopRecord()"></span> -->
          <!-- <span class="fas fa-3x fa-microphone" style="color: grey;"></span> -->
      </div>
    </div>
    <!--Send Message Container End-->

  </div>
</ion-content>