<h3>{{'PLANNING' | translate}}</h3>
<div>
  <ul>
    <li *ngFor="let line of lines">{{line}}</li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="return()">{{'BTN_RETURN' | translate}}</button>
</div>