.btn.store-btn,
.btn.store-btn.fill-style:hover{
	border-color: #aefcfd;
}

.btn.store-btn:hover,
.btn.store-btn.fill-style{
	color: #54BBEC;
}

.btn.store-btn:hover svg, 
.btn.store-btn:hover svg path,
.btn.store-btn.fill-style svg,
.btn.store-btn.fill-style svg path{
    fill: #54BBEC;
}

.btn:hover,
.pricing-footer a:hover,
.btn.fill-style{
    background-color: #54BBEC;
    border-color: #54BBEC;
}

.icon-box-icon i,
.icon-box.awf-item .icon-box-icon i{
    background-image: -moz-linear-gradient(360deg, #3249d6 0%, #54BBEC 100%);
    background-image: -webkit-linear-gradient(360deg, #3249d6 0%, #54BBEC 100%);
    background-image: -ms-linear-gradient(360deg, #3249d6 0%, #54BBEC 100%);
    background-image: linear-gradient(360deg, #3249d6 0%, #54BBEC 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.video-sec .overlay{
	background: -moz-linear-gradient( 50deg, #D8418F 0%, #54BBEC 70%);
	background: -webkit-linear-gradient( 50deg, #D8418F 0%, #54BBEC 70%);
	background: -ms-linear-gradient( 50deg, #D8418F 0%, #54BBEC 70%);
	background: linear-gradient( 50deg, #D8418F 0%, #54BBEC 70%);
}

.video-play-btn a{
	background: -webkit-linear-gradient( -140deg, rgb(36,228,203) 0%, rgb(10,186,163) 100%);
	background: -ms-linear-gradient( -140deg, rgb(36,228,203) 0%, rgb(10,186,163) 100%);
	background: linear-gradient( -140deg, rgb(36,228,203) 0%, rgb(10,186,163) 100%);
}

.pricing-body ul li i.icon_check{
	color: #54BBEC;
}

.pricing-badge .badge-name{
	background-color: #54BBEC;
}

.pricing-badge .badge-name:after{
	border-top-color: #54BBEC;
	border-bottom-color: #54BBEC;
}

.s-title::after {
    background: -webkit-linear-gradient(left, rgb(50,73,214) 0%,rgb(13,197,173) 100%);
    background: linear-gradient(to right, rgb(50,73,214) 0%,rgb(13,197,173) 100%);
}

.testimonial-btn-next:hover, 
.testimonial-btn-prev:hover{
	border-color: #54BBEC;
	background-color: #54BBEC;
}

.blog-post .post-title a:hover,
.blog-post .post-meta a:hover,
.f-nav li a:hover,
.f-newsletter .input-group-btn button:hover,
.navbar.sticky-nav .navbar-nav li a:hover, 
.navbar.sticky-nav .navbar-nav li a.active,
.f-widget .f-list li a:hover,
.social-profile li a:hover{
    color: #54BBEC;
}

.copyright a{
    color: #fff;
}

.navbar.sticky-nav .navbar-nav li a.nav-link-scroll::after, 
.navbar.sticky-nav .navbar-nav li a.nav-link-scroll::before {
    background-color: #54BBEC;
}

.scroll-top{
	background: -webkit-linear-gradient(50deg, rgb(13,197,173) 0%, rgb(50,73,214) 100%);
    background: linear-gradient(50deg, rgb(13,197,173) 0%, rgb(50,73,214) 100%);
}


.m-s-input:before{
	background: -webkit-linear-gradient( -90deg, rgb(13,197,173) 0%, rgb(50,73,214) 100%);
    background: linear-gradient( -90deg, rgb(13,197,173) 0%, rgb(50,73,214) 100%);
}

.btn,
.btn.fill-style:hover{
	color: #99a1af;
	border-color: #99a1af
}