.btn.store-btn,
.btn.store-btn.fill-style:hover{
	color: #fff;
	border-color: #fff;
	background: transparent;
}

.btn.store-btn:after,
.btn.store-btn.fill-style:hover:after{
	content: "";
	width: calc(100% + 4px);
	height: calc(100% + 4px);
	position: absolute;
	border-radius: 2px;
	z-index: 0;
	background: -webkit-linear-gradient( 0deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
    background: linear-gradient( 270deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
    display: block;
    top: -2px;
    left: -2px;
    opacity: 0;
    -webkit-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

.btn.store-btn:hover,
.btn.store-btn.fill-style{
	color: #fff;
	background: transparent;
}

.btn.store-btn:hover:after,
.btn.store-btn.fill-style:after{
	opacity: 1;
}

.btn.store-btn:hover svg,
.btn.store-btn:hover svg path,
.btn.store-btn.fill-style svg, 
.btn.store-btn.fill-style svg path{
	fill: #fff;
}

.icon-box .icon-box-icon i,
.icon-box.awf-item .icon-box-icon i{
    background-image: -webkit-linear-gradient(0deg, #3249d6 0%, #54BBEC 100%);
    background-image: linear-gradient(360deg, #1a2980 0%, #26d0ce 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.blog-post .post-title a:hover,
.blog-post .post-meta a:hover,
.f-nav li a:hover,
.f-newsletter .input-group-btn button:hover,
.navbar.sticky-nav .navbar-nav li a:hover, 
.navbar.sticky-nav .navbar-nav li a.active,
.f-widget .f-list li a:hover,
.social-profile li a:hover,
.pricing-body ul li i.icon_check,
.copyright a,
.blog-post .post-title a:hover,
.blog-post .post-meta a:hover,
.f-widget .f-list li a:hover,
.social-profile li a:hover,
.f-widget .f-list li a:hover,
.copyright a{
    color: #26d0ce;
}

.navbar.sticky-nav .navbar-nav li a.nav-link-scroll::after, 
.navbar.sticky-nav .navbar-nav li a.nav-link-scroll::before {
    background-color: #26d0ce;
}

.app-screenshot-item::after{
	background: -webkit-linear-gradient( 30deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
	background: linear-gradient( 30deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
}

.h7-fun-fact .overlay {
    opacity: .95;
    background: -webkit-linear-gradient(90deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
    background: linear-gradient(270deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
}

.h7-fun-fact{
	padding-bottom: 240px;
}

.pricing-tab li a.active{
	background: -webkit-linear-gradient( 180deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
	background: linear-gradient( -90deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
	border-color: #26d0ce;
}

.pricing-tab li a:hover {
    color: #26d0ce;
    border-color: #26d0ce;
}

.pricing-badge .badge-name{
	background: -webkit-linear-gradient( 90deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
	background: linear-gradient( 90deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
}

.pricing-badge .badge-name:after{
	border-top-color: #192B81;
	border-bottom-color: #192B81;
}

.pricing-footer a:hover {
    color: #fff;
    background: -webkit-linear-gradient( 180deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
	background: linear-gradient( 90deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
	border-color: #26d0ce;
}

.s-title::after{
	background: -webkit-linear-gradient( 180deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
	background: linear-gradient( -90deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
}

.swiper-pagination-bullet.swiper-pagination-bullet-active{
	border-color: #26d0ce;
}

.team-member .member-img:after{
	background-image: -webkit-linear-gradient( 30deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
	background-image: linear-gradient( 35deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
}

.contact-form .btn,
.contact-form .btn:hover{
	border: 0;
	background: -webkit-linear-gradient( 0deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
    background: linear-gradient( 90deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
}

.contact-form .btn:hover{
	opacity: .8;
	color: #fff;
}

.f-widget .f-list li a:after {
    border-top: 1px solid #60DADC;
    border-bottom: 1px solid #B5E6ED;
}

.scroll-top{
	background: -webkit-linear-gradient( 30deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
	background: linear-gradient( 30deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
}

.m-s-input:before{
	background: -webkit-linear-gradient( -90deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
    background: linear-gradient( -90deg, rgb(26,41,128) 0%, rgb(38,208,206) 100%);
}
