.creditCard {
    grid-area: card;
    width: 320px;
    height: 200px;
    min-width: 0;
    min-height: 0;
    color: #fff;
      MARGIN:0 auto;
  background: #193b48; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #193b48 0%, #284d5b 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #193b48 0%,#284d5b 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #193b48 0%,#284d5b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#193b48', endColorstr='#284d5b',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    border-radius: 6px;
    justify-self: right;
    align-self: start;
    display: grid;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    grid-template: 20px 4fr / 27px 0fr;
    grid-template-areas: ". . . visa visa ."
   ". chip . visa visa . "
   ". no no no no ."
   ". name name name year .";
  }
  
  .creditCard .creditCatd > * {
    overflow: hidden;
  }
  
  .creditCard .visaLogo {
    grid-area: visa;
    overflow: hidden;
    justify-self: right;
  }
  
  .creditCard .visaLogo svg {
    height: 60px;
  }
  
  .creditCard .chipLogo {
    grid-area: chip;
    overflow: hidden;
    width: 58px;
    height: 54px;
    justify-self: left;
    margin-top: 0px;
  }
  
  .creditCard ul {
    grid-area: no;
    list-style-type: none;
    justify-self: stretch;
    display: grid;
    grid-template: 1;
  }
  
  .creditCard ul li {
    display: inline-block;
    font-size: 22px;
    letter-spacing: 2px;
    text-align: left;
    font-family: Inconsolata, sans-serif;
    font-weight: 400;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    word-spacing: 11px;
  }
  
  .creditCard .name {
    grid-area: name;
    justify-self: left;
    font-family: Inconsolata, sans-serif;
    font-size: 14px;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    padding-bottom: 5px;
    font-weight: 300;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
  }
  
  .creditCard .year {
    grid-area: year;
    justify-self: right;
    font-size: 16px;
    font-weight: lighter;
    font-family: Inconsolata, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2.4px;
    padding-bottom: 5px;
    font-weight: 300;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.6);
    margin-right: 20px;
  }
  
  
.deleteBtn{
  border: none;
  width: 30px;
  background-color: #ec2c91;
  height: 30px;
  border-radius: 20px;
  color: white;
  position: absolute;
  right: 3em;
  top: 2em;
}