<ion-content>
    <div class="row h-100">
        <div class="col-xs-12 col-sm-12 remaining-height">
    
            <!--Notification/Support Navigation Container Start-->
            <div class="navigation-container">
                <ul class="nav nav-tabs" id="navigation-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" role="tab" id="support-team-btn" href="#support-team" aria-selected="false">Support Team</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" role="tab" id="profile-tab" href="#notifications" aria-selected="true">Notifications (<span class="pink">2</span>)</a>
                    </li>
                </ul>
            </div>
            <!--Notification/Support Navigation Container End-->
    
            <div class="tab-content h-100 overflow-scroll font-roboto" id="navigation-tabs-content">
    
                <!--Support Container Start-->
                <div class="tab-pane fade all-support-team-messages" id="support-team" role="tabpanel">
    
                    <!--Support Message Container Start-->
                    <a href="chat.html" class="href-decoration-none">
                        <div class="support-team-message-container display-flex">
                            <div class="support-team-profile-picture float-left">
                                <span class="fas fa-circle green-status"></span>
                                <img src="https://via.placeholder.com/32" alt="Profile Picture">
                            </div>
                            <div class="message-information display-flex">
                                <div class="float-left message-content">
                                    <div class="name">Nino Janashia (Admin)</div>
                                    <div class="message-description">Technical help, support online</div>
                                    <div class="message">- Ok, I'm waiting for you!</div>
                                </div>
                                <div class="date float-right  font-weight-light grey-label">Jun 24</div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </a>
                    <!--Support Message Container End-->
    
                    <!--Support Message Container Start-->
                    <a href="chat.html" class="href-decoration-none">
                        <div class="support-team-message-container display-flex">
                            <div class="support-team-profile-picture float-left">
                                <span class="fas fa-circle green-status invisible"></span>
                                <img src="https://via.placeholder.com/32" alt="Profile Picture">
                            </div>
                            <div class="message-information display-flex">
                                <div class="float-left message-content">
                                    <div class="name">Clifford Toff</div>
                                    <div class="message-description">Technical help, support online</div>
                                    <div class="message">- Ok, I'm waiting for you!</div>
                                </div>
                                <div class="date float-right  font-weight-light grey-label">Jun 24</div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </a>
                    <!--Support Message Container End-->
    
                    <!--Support Message Container Start-->
                    <a href="chat.html" class="href-decoration-none">
                        <div class="support-team-message-container display-flex">
                            <div class="support-team-profile-picture float-left">
                                <span class="fas fa-circle pink"></span>
                                <img src="https://via.placeholder.com/32" alt="Profile Picture">
                            </div>
                            <div class="message-information display-flex">
                                <div class="float-left message-content">
                                    <div class="name">Lika Asatiani</div>
                                    <div class="message-description">Technical help, support online</div>
                                    <div class="message">- Ok, I'm waiting for you!</div>
                                </div>
                                <div class="date float-right  font-weight-light grey-label">Jun 24</div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </a>
                    <!--Support Message Container End-->
    
                    <!--Support Message Container Start-->
                    <a href="chat.html" class="href-decoration-none">
                        <div class="support-team-message-container display-flex">
                            <div class="support-team-profile-picture float-left">
                                <span class="fas fa-circle green-status invisible"></span>
                                <img src="https://via.placeholder.com/32"  alt="Profile Picture">
                            </div>
                            <div class="message-information display-flex">
                                <div class="float-left message-content">
                                    <div class="name">Giorgi Copaliani</div>
                                    <div class="message-description">Technical help, support online</div>
                                    <div class="message">- Ok, I'm waiting for you!</div>
                                </div>
                                <div class="date float-right  font-weight-light grey-label">
                                    <div>Jun 24</div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </a>
                    <!--Support Message Container End-->
    
                    <!--Support Message Container Start-->
                    <a href="chat.html" class="href-decoration-none">
                        <div class="support-team-message-container display-flex">
                            <div class="support-team-profile-picture float-left">
                                <span class="fas fa-circle green-status invisible"></span>
                                <img src="https://via.placeholder.com/32" alt="Profile Picture">
                            </div>
                            <div class="message-information display-flex">
                                <div class="float-left message-content">
                                    <div class="name">Matilda Hart</div>
                                    <div class="message-description">Technical help, support online</div>
                                    <div class="message">- Ok, I'm waiting for you!</div>
                                </div>
                                <div class="date float-right  font-weight-light grey-label">Jun 24</div>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </a>
                    <!--Support Message Container End-->
    
                </div>
                <!--Support Container End-->
    
                <!--Notification Container Start-->
                <div class="tab-pane fade show active all-support-team-messages" id="notifications" role="tabpanel" >
    
                    <!--Notification Message Container Start-->
                    <div class="support-team-message-container display-flex">
                        <div class="support-team-profile-picture float-left">
                            <span class="fas fa-circle pink"></span>
                            <img src="https://via.placeholder.com/32" alt="Profile Picture">
                        </div>
                        <div class="message-information display-flex">
                            <div class="float-left message-content">
                                <div class="name">Nino Janashia (Admin)</div>
                                <div class="message-description cut font-roboto-condensed font-italic">
                                    <span>Nice Double Room with Own Bathroom Lorem ipsum dolor site amet concateur more laret concait</span>
                                </div>
                            </div>
                            <div class="date float-right font-weight-light date-read">
                                <div>Jun 24</div>
                                <div class="read-button">
                                    <a href="chat.html">Read</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!--Notification Message Container End-->
    
                    <!--Notification Message Container Start-->
                    <div class="support-team-message-container display-flex">
                        <div class="support-team-profile-picture float-left">
                            <span class="fas fa-circle invisible"></span>
                            <img src="https://via.placeholder.com/32" alt="Profile Picture">
                        </div>
                        <div class="message-information display-flex">
                            <div class="float-left message-content">
                                <div class="name">Nino Janashia (Admin)</div>
                                <div class="message-description cut font-roboto-condensed font-italic">
                                    <span>Nice Double Room with Own Bathroom Lorem ipsum dolor site amet concateur more laret concait</span>
                                </div>
                            </div>
                            <div class="date float-right font-weight-light date-read">
                                <div>Jun 24</div>
                                <div class="read-button">
                                    <a href="chat.html">Read</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!--Notification Message Container End-->
    
                    <!--Notification Message Container Start-->
                    <div class="support-team-message-container display-flex">
                        <div class="support-team-profile-picture float-left">
                            <span class="fas fa-circle pink"></span>
                            <img src="https://via.placeholder.com/32" alt="Profile Picture">
                        </div>
                        <div class="message-information display-flex">
                            <div class="float-left message-content">
                                <div class="name">Nino Janashia (Admin)</div>
                                <div class="message-description cut font-roboto-condensed font-italic">
                                    <span>Nice Double Room with Own Bathroom Lorem ipsum dolor site amet concateur more laret concait</span>
                                </div>
                            </div>
                            <div class="date float-right font-weight-light date-read">
                                <div>Jun 24</div>
                                <div class="read-button">
                                    <a href="chat.html">Read</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!--Notification Message Container End-->
    
                    <!--Notification Message Container Start-->
                    <div class="support-team-message-container display-flex">
                        <div class="support-team-profile-picture float-left">
                            <span class="fas fa-circle invisible"></span>
                            <img src="https://via.placeholder.com/32" alt="Profile Picture">
                        </div>
                        <div class="message-information display-flex">
                            <div class="float-left message-content">
                                <div class="name">Nino Janashia (Admin)</div>
                                <div class="message-description cut font-roboto-condensed font-italic">
                                    <span>Nice Double Room with Own Bathroom Lorem ipsum dolor site amet concateur more laret concait</span>
                                </div>
                            </div>
                            <div class="date float-right font-weight-light date-read">
                                <div>Jun 24</div>
                                <div class="read-button">
                                    <a href="chat.html">Read</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!--Notification Message Container End-->
    
                    <!--Notification Message Container Start-->
                    <div class="support-team-message-container display-flex">
                        <div class="support-team-profile-picture float-left">
                            <span class="fas fa-circle invisible"></span>
                            <img src="https://via.placeholder.com/32" alt="Profile Picture">
                        </div>
                        <div class="message-information display-flex">
                            <div class="float-left message-content">
                                <div class="name">Nino Janashia (Admin)</div>
                                <div class="message-description cut font-roboto-condensed font-italic">
                                    <span>Nice Double Room with Own Bathroom Lorem ipsum dolor site amet concateur more laret concait</span>
                                </div>
                            </div>
                            <div class="date float-right font-weight-light date-read">
                                <div>Jun 24</div>
                                <div class="read-button">
                                    <a href="chat.html">Read</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!--Notification Message Container End-->
    
                    <!--Notification Message Container Start-->
                    <div class="support-team-message-container display-flex">
                        <div class="support-team-profile-picture float-left">
                            <span class="fas fa-circle invisible"></span>
                            <img src="https://via.placeholder.com/32" alt="Profile Picture">
                        </div>
                        <div class="message-information display-flex">
                            <div class="float-left message-content">
                                <div class="name">Nino Janashia (Admin)</div>
                                <div class="message-description cut font-roboto-condensed font-italic">
                                    <span>Nice Double Room with Own Bathroom Lorem ipsum dolor site amet concateur more laret concait</span>
                                </div>
                            </div>
                            <div class="date float-right font-weight-light date-read">
                                <div>Jun 24</div>
                                <div class="read-button">
                                    <a href="chat.html">Read</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!--Notification Message Container End-->
    
                    <!--Notification Message Container Start-->
                    <div class="support-team-message-container display-flex">
                        <div class="support-team-profile-picture float-left">
                            <span class="fas fa-circle invisible"></span>
                            <img src="https://via.placeholder.com/32" alt="Profile Picture">
                        </div>
                        <div class="message-information display-flex">
                            <div class="float-left message-content">
                                <div class="name">Nino Janashia (Admin)</div>
                                <div class="message-description cut font-roboto-condensed font-italic">
                                    <span>Nice Double Room with Own Bathroom Lorem ipsum dolor site amet concateur more laret concait</span>
                                </div>
                            </div>
                            <div class="date float-right font-weight-light date-read">
                                <div>Jun 24</div>
                                <div class="read-button">
                                    <a href="chat.html">Read</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!--Notification Message Container End-->
    
                    <!--Notification Message Container Start-->
                    <div class="support-team-message-container display-flex">
                        <div class="support-team-profile-picture float-left">
                            <span class="fas fa-circle invisible"></span>
                            <img src="https://via.placeholder.com/32" alt="Profile Picture">
                        </div>
                        <div class="message-information display-flex">
                            <div class="float-left message-content">
                                <div class="name">Nino Janashia (Admin)</div>
                                <div class="message-description cut font-roboto-condensed font-italic">
                                    <span>Nice Double Room with Own Bathroom Lorem ipsum dolor site amet concateur more laret concait</span>
                                </div>
                            </div>
                            <div class="date float-right font-weight-light date-read">
                                <div>Jun 24</div>
                                <div class="read-button">
                                    <a href="chat.html">Read</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!--Notification Message Container End-->
    
                    <!--Notification Message Container Start-->
                    <div class="support-team-message-container display-flex">
                    <div class="support-team-profile-picture float-left">
                        <span class="fas fa-circle invisible"></span>
                        <img src="https://via.placeholder.com/32" alt="Profile Picture">
                    </div>
                    <div class="message-information display-flex">
                        <div class="float-left message-content">
                            <div class="name">Nino Janashia (Admin)</div>
                            <div class="message-description cut font-roboto-condensed font-italic">
                                <span>Nice Double Room with Own Bathroom Lorem ipsum dolor site amet concateur more laret concait</span>
                            </div>
                        </div>
                        <div class="date float-right font-weight-light date-read">
                            <div>Jun 24</div>
                            <div class="read-button">
                                <a href="chat.html">Read</a>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                    <!--Notification Message Container End-->
    
                    <!--Notification Message Container Start-->
                    <div class="support-team-message-container display-flex">
                        <div class="support-team-profile-picture float-left">
                            <span class="fas fa-circle invisible"></span>
                            <img src="https://via.placeholder.com/32" alt="Profile Picture">
                        </div>
                        <div class="message-information display-flex">
                            <div class="float-left message-content">
                                <div class="name">Nino Janashia (Admin)</div>
                                <div class="message-description cut font-roboto-condensed font-italic">
                                    <span>Nice Double Room with Own Bathroom Lorem ipsum dolor site amet concateur more laret concait</span>
                                </div>
                            </div>
                            <div class="date float-right font-weight-light date-read">
                                <div>Jun 24</div>
                                <div class="read-button">
                                    <a href="chat.html">Read</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!--Notification Message Container End-->
    
                    <!--Notification Message Container Start-->
                    <div class="support-team-message-container display-flex">
                        <div class="support-team-profile-picture float-left">
                            <span class="fas fa-circle invisible"></span>
                            <img src="https://via.placeholder.com/32" alt="Profile Picture">
                        </div>
                        <div class="message-information display-flex">
                            <div class="float-left message-content">
                                <div class="name">Nino Janashia (Admin)</div>
                                <div class="message-description cut font-roboto-condensed font-italic">
                                    <span>Nice Double Room with Own Bathroom Lorem ipsum dolor site amet concateur more laret concait</span>
                                </div>
                            </div>
                            <div class="date float-right font-weight-light date-read">
                                <div>Jun 24</div>
                                <div class="read-button">
                                    <a href="chat.html">Read</a>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <!--Notification Message Container End-->
    
    
                </div>
                <!--Support Container End-->
    
            </div>
    
        </div> 
    
    </div>
</ion-content>
