<head> <meta name="viewport" content="width=device-width"/></head>
<section class="home-4-banner main-banner main-slider" >
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-7">
        <div class="banner-content">
          <h1 class="title"    style=" /* padding-top: 0%; */ font-size: 213%; ">
            Particuliers :<br> Inscrivez-vous et faites-vous livrer des produits de pharmacie rapidement !</h1>
          <span class="sub-title" >Plus besoin de passer en pharmacie pour récupérer vos médicaments ou autres produits de pharmacie, nous vous les livrons directement chez vous !</span>
          <br>
          <nav  class="navbar navbar-expand-lg responsiveBtn" style="padding-top: 0px;/* padding-bottom: 0px;padding-left: 20%;*/">
            <div class="collapse navbar-collapse" style="    display: contents;" >
              <ul class="navbar-nav ml-auto" style="
    margin-left: -19px!important;
    flex-direction: column;
        display: contents;
" >
                <li  class="nav-item">
                  <a class="nav-link-scroll" href="#inscription" style="width: 198px;"><button   class="btn store-btn  fill-style btn-Responsive" style=" width: 88%;">Je m'inscris </button></a>
                </li>
                <li  class="nav-item">
                  <a href="https://play.google.com/store/apps/details?id=com.livmeds" target="_blank" style="    background-color: rgba(0, 0, 0, 0);
    border: 0px solid #fff;
    border-radius: 0;">
                    <img src="assets/images/google-play-badge.png" loading="lazy" alt="">
                  </a>
                </li>
                <li  class="nav-item">
                  <a href="https://apps.apple.com/us/app/livmeds/id1510261512?l=fr&ls=1" target="_blank" style="    background-color: rgba(0, 0, 0, 0);
    border: 0px solid #fff;
    border-radius: 0;">
                    <img src="assets/images/app-store-badge.png" loading="lazy"  alt="">
                  </a>
                </li>
              </ul>
            </div>
          </nav>

        </div>
      </div>
      <div class="col-lg-6 col-md-4 offset-lg-0 offset-md-1">
        <div class="img-wrapper img-right banner-img">
          <img src="assets/images/sign-up-customer/Livmed's inscription patient.png" alt="livmeds premier accès a l'application " >
        </div>
      </div>
    </div>
  </div>
</section>

<div class="blog-page-main-wrapper bg-color " style="padding-top: 0px;" >
  <div class="angle-shape sec-color">
    <svg height='250'>
      <rect width="100%" height='250'></rect>
    </svg>
  </div>
  <section class="partners s-padding bg-color">
    <div class="container">
      <div class="s-title">
        <h2 class="wow"> Découvrez plus sur Livmed’s </h2>
      </div>

      <div  class="row " style="text-align: center;" >
        <div class="col-lg-4" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;" >
            <img class="partners-logo-dim" style="opacity: 100;height: 100px;"   src="assets/images/sign-up-customer/Livmed's Envoyer ordonnance.png" loading="lazy"   alt="Commandez et faites-vous livrer les médicaments sous ordonnance via l’application Livmed’s">
            <h4 >   Envoyez votre ordonnance </h4>
            <p style="margin: 0% 5% 0%;padding-top: 7%;padding-bottom: 9%;" >Téléchargez une ou plusieurs photos de votre ordonnance. Votre demande sera ensuite traitée par la pharmacie </p>
          </div>
        </div>
        <div class="col-lg-4" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo"  style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;">
            <img class="partners-logo-dim" style="opacity: 100;
             height: 100px;
             height: 100px;"  src="assets/images/sign-up-customer/Livmed's Commander parapharmacie.png" loading="lazy"  alt="Choisissez les produits de parapharmacie sur l’application Livmed’s">
            <h4> Commandez votre parapharmacie </h4>
            <p style="margin: 0% 5% 0%;padding-top: 7%;padding-bottom: 9%;" >Livmed’s offre aussi la possibilité de choisir des produits de parapharmacie en stock via une galerie e-commerce </p>
          </div>
        </div>
        <div class="col-lg-4" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;">
            <img  class="partners-logo-dim" style="opacity: 100;height: 100px;"  src="assets/images/sign-up-customer/Livmed's Choisir pharmacie.png" loading="lazy"   alt="Choisissez la pharmacie favorite ou la plus proche pour commander vos médicaments via Livmed’s">
            <h4>Choisissez votre pharmacie</h4>
            <p style="margin: 0% 5% 0%;padding-top: 7%;padding-bottom: 9%;">Vous pouvez choisir parmi les pharmacies partenaires de Livmed’s. Le coursier le plus proche de la pharmacie prendra en charge votre commande</p>
          </div>
        </div>
      </div>

      <br>
      <div class="row" style="text-align: center; " >
        <div class="col-lg-4" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;">
            <img class="partners-logo-dim"  style="opacity: 100;height: 100px;" src="assets/images/sign-up-customer/Livmed's Chatter pharmacien.png"   loading="lazy" alt="Chattez avec le pharmacien pour toute question sur les produits commandés ou pour demander des conseils">
            <h4>Chattez avec votre pharmacien</h4>
            <p style="margin: 0% 5% 0%;padding-top: 7%;padding-bottom: 9%;">Gardez le conseil de votre pharmacien, grâce au chat disponible en temps réel</p>
          </div>
        </div>

        <div class="col-lg-4" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;" >
            <img class="partners-logo-dim" style="opacity: 100;height: 100px;"   src="assets/images/sign-up-customer/Livmed's Planifier livraison.png" loading="lazy"   alt="Programmez votre livraison à l’avance et faites-vous livrer quand vous souhaitez">
            <h4 >  Planifiez votre livraison pour plus tard </h4>
            <p style="margin: 0% 5% 0%;padding-bottom: 9%;" >Vous avez la possibilité de planifier  votre livraison au jour et à l'heure souhaité  </p>
          </div>
        </div>
        <div class="col-lg-4" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo"  style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;">
            <img class="partners-logo-dim" style="opacity: 100;
             height: 100px;
             height: 100px;"  src="assets/images/sign-up-customer/Livmed's Suivre commande.png" loading="lazy"  alt=" Suivez la géolocalisation du livreur et le temps de livraison de médicaments">
            <h4> Suivez votre commande en temps réel </h4>
            <p style="margin: 0% 5% 0%;padding-bottom: 9%;" >Un service de géolocalisation vous permet de suivre le trajet de votre livreur et de communiquer avec lui  </p>
          </div>
        </div>
      </div>

      <br>

      <div class="row " style="text-align: center" >
        <div class="col-lg-4" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;">
            <img  class="partners-logo-dim" style="opacity: 100;height: 100px;"  src="assets/images/sign-up-customer/Livmed's remboursement prescriptions.png" loading="lazy"   alt=" Vos commandes sous prescriptions sont couvert par la Sécurité sociale et la Mutuelle">
            <h4> Profitez du remboursement de vos prescriptions</h4>
            <p style="margin: 0% 5% 0%;padding-bottom: 9%;" >Procurez-vous vos médicaments sous ordonnance et bénéficiez du remboursement par la Sécurité sociale ou votre Mutuelle</p>
          </div>
        </div>
        <div class="col-lg-4" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;">
            <img class="partners-logo-dim"  style="opacity: 100;height: 100px;" src="assets/images/sign-up-customer/Livmed's remboursement livraison.png"   loading="lazy" alt="La prise en charge de vos frais de livraisons sera possible grâce à nos mutuelles partenaires">
            <h4>Bénéficiez du remboursement de vos frais de livraison </h4>
            <p style="margin: 0% 5% 0%;padding-bottom: 9%;" >Si vous possédez une ordonnance, la prise en charge de vos frais de livraisons sera possible grâce à nos mutuelles partenaires et nos services d’assistance </p>
          </div>
        </div>
        <div class="col-lg-4" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;">
            <img class="partners-logo-dim"  style="opacity: 100;height: 100px;" src="assets/images/sign-up-customer/Livmed's Livrer pour tiers.png"   loading="lazy" alt="Faites-vous livrer des médicaments pour le compte de votre patient ou proche ">
            <h4> Commandez pour un compte tiers</h4>
            <p  style="margin: 0% 5% 0%;padding-bottom: 9%;padding-top: 8%;" >Vous avez la possibilité de commander pour un proche en renseignant son adresse directement depuis votre propre compte</p>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="col-lg-9 main-content" >
    <div  >
      <div class="row gutter-40">
        <div class="row bouttonSignUpCustomer-wrapper" >
          <div class="col-lg-12">
            <div class="accordion">
              <div  class="card accordion-item">
                <div class="accordion-header" >
                  <h5 class="mb-0">
                    <button class="accordion-btn collapsed " type="button" data-toggle="collapse" [attr.data-target]="'#accordionItem' + i  + 'rate'"
                            aria-expanded="false" [attr.aria-controls]="'accordionItem' + i  + 'rate'">
                      <span class="accordion-title"><h3>  Nos Tarifs  </h3> </span>
                      <span class="accordion-arrow"><i class="arrow_carrot-down"></i></span>
                    </button>
                  </h5>
                </div>
                <div id="accordionItem{{i  + 'rate'}}" class="collapse" [attr.aria-labelledby]="'accordionHeading' + i  + 'rate'"
                     data-parent="#iconicAccordion">
                  <div class="card-body accordion-body">
                    <h4>Livraison Livmed’s :</h4> <p> à partir de 9,60 EUR par livraison* </p>
                    <p>Livraison à 9,60 EUR dans un rayon de 3 km de la pharmacie partenaire sélectionnée, et 1 EUR de plus pour chaque km supplémentaire.</p>
                  </div>

                  <div class="card-body accordion-body">
                    <h4>Le Pass Livmed’s :</h4><p> 10 EUR par mois*</p>
                    <p>*Abonnement mensuel pour des frais de livraisons gratuits et limité à 10 livraisons par mois. Avec engagement sur 12 mois.</p>
                  </div>

                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-12">
            <div class="accordion">
              <div  class="card accordion-item">
                <div class="accordion-header" id="accordionHeading{{i + 'payment'}}">
                  <h5 class="mb-0">
                    <button class="accordion-btn collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#accordionItem' + i  + 'payment'"
                            aria-expanded="false" [attr.aria-controls]="'accordionItem' + i  + 'payment'">
                      <span class="accordion-title"><h3>  Compte et paiement </h3> </span>
                      <span class="accordion-arrow"><i class="arrow_carrot-down"></i></span>
                    </button>
                  </h5>
                </div>
                <div id="accordionItem{{i  + 'payment'}}" class="collapse" [attr.aria-labelledby]="'accordionHeading' + i  + 'payment'"
                     data-parent="#iconicAccordion">
                  <div class="card-body accordion-body">
                    <h4>Pour créer votre compte, vous avez besoin de données suivantes</h4>
                    <ul>
                      <li>Nom, Prénom, Email, Date de naissance</li>
                    </ul>
                    <h4>En cas de prescription </h4>
                    <ul>
                      <li>Carte vitale (en option mutuelle)</li>
                      <li>Ordonnance</li>
                    </ul>

                  </div>
                  <div class="card-body accordion-body">
                    <h4>Pour régler la commande, vous avez plusieurs méthodes de paiement</h4>
                    <ul>
                      <li> Carte bancaire Visa ou  MasterCard</li>
                      <li>American Express</li>
                      <li>AppStore</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-12">
            <div class="accordion">
              <div  class="card accordion-item">
                <div class="accordion-header" id="accordionHeading{{i + 'delivery'}}">
                  <h5 class="mb-0">
                    <button class="accordion-btn collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#accordionItem' + i  + 'delivery'"
                            aria-expanded="false" [attr.aria-controls]="'accordionItem' + i  + 'delivery'">
                      <span class="accordion-title"><h3>  Commande et livraison  </h3> </span>
                      <span class="accordion-arrow"><i class="arrow_carrot-down"></i></span>
                    </button>
                  </h5>
                </div>
                <div id="accordionItem{{i  + 'delivery'}}" class="collapse" [attr.aria-labelledby]="'accordionHeading' + i  + 'delivery'"
                     data-parent="#iconicAccordion">
                  <div class="card-body accordion-body">
                    <h4>Pour commander vos produits de parapharmacie ou médicaments</h4>
                    <ul>
                      <li>Sélectionnez votre pharmacie favorite ou celle la plus proche via la barre de recherche.</li>
                      <li>Téléchargez la photo de votre ordonnance, et/ou accédez à notre catalogue pour ajouter votre parapharmacie dans le panier.</li>
                      <li>Ajoutez une carte de paiement et validez votre commande.</li>
                      <li>Une fois que la pharmacie traite votre commande, vous avez la possibilité de communiquer avec le pharmacien via le chat.</li>
                    </ul>

                  </div>
                  <div class="card-body accordion-body">
                    <h4>Une fois la commande prête, le livreur vient chercher votre colis à la pharmacie</h4>
                    <ul>
                      <li>La livraison s’effectue dans un sac sous-scellé transporté par un sac isotherme.</li>
                      <li>Le temps moyen de livraison est de  30 min.</li>
                      <li>Suivez l’itinéraire du livreur grâce au système de géolocalisation et communiquez avec lui en temps réel.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="col-lg-12">
            <div class="accordion">
              <div  class="card accordion-item">
                <div class="accordion-header" id="accordionHeading{{i + 'cancellation'}}">
                  <h5 class="mb-0">
                    <button class="accordion-btn collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#accordionItem' + i  + 'cancellation'"
                            aria-expanded="false" [attr.aria-controls]="'accordionItem' + i  + 'cancellation'">
                      <span class="accordion-title"><h3> Annulation </h3> </span>
                      <span class="accordion-arrow"><i class="arrow_carrot-down"></i></span>
                    </button>
                  </h5>
                </div>
                <div id="accordionItem{{i  + 'cancellation'}}" class="collapse" [attr.aria-labelledby]="'accordionHeading' + i  + 'cancellation'"
                     data-parent="#iconicAccordion">
                  <div class="card-body accordion-body">
                    <ul>
                      <li>L'annulation est possible tant que livreur n'a pas encore récupéré votre commande à la pharmacie.</li>
                      <li>En cas de problème lors d’une commande en cours vous avez la possibilité de le signaler directement via votre compte.</li>
                      <li>Pour toute  annulation, veuillez contacter rapidement notre service client au <u><a href="tel:+33483432733" style="color: white;"> 04 83 43 27 33</a></u> ou <u><a href="mailto:sas.livmeds@gmail.com" style="color: white;"> sas.livmeds@gmail.com </a></u></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="partners  bg-color">
    <div class="container">
      <div class="s-title">
        <h2 class="wow"> Comment se faire livrer ? </h2>
        <p>Simple et sécurisée, l’application Livmed’s vous permet de vous faire livrer vos produits de pharmacie</p>
      </div>

      <div class="row" style="text-align: center;" >
        <div class="col-lg-3" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;" >
            <img class="partners-logo-dim" style="opacity: 100;    height: 130px;
    width: 130px;"   src="assets/images/sign-up-customer/Livmed's Inscrivez-vous.png" loading="lazy"   alt=" Inscription via l’application Livmed’s pour profiter de service de livraison rapide de médicaments à domicile">
            <h5 style="margin: 1% 9% 1%;"> Inscrivez-vous en renseignant votre adresse puis scannez vos documents médicaux </h5>
            <br>
          </div>
        </div>

        <div class="col-lg-3" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo"  style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;">
            <img class="partners-logo-dim" style="opacity: 100;    height: 130px;width: 130px;"  src="assets/images/sign-up-customer/Livmed's Sélectionnez pharmacie .png" loading="lazy"  alt=" Une large sélection d’officines pour commander la livraison de médicaments et de parapharmacie">
            <h5 style="margin: 1% 9% 1%;"> Sélectionnez votre pharmacie favorite puis commandez vos médicaments et produits de parapharmacie </h5>
            <br>
          </div>
        </div>
        <div class="col-lg-3" style=" color: rgb(0 0 0 / 87%);" >
          <div class="partner-logo" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;">
            <img  class="partners-logo-dim" style="opacity: 100;    height: 130px; width: 130px;"  src="assets/images/sign-up-customer/Livmed's payez livraison .png" loading="lazy"   alt=" Paiement sécurisé via l’application pour le service de livraison express de médicaments">
            <h5 style="margin: 1% 9% 1%;">Procédez au paiement de la livraison rapidement et en toute sécurité</h5>
            <br>
          </div>
        </div>
        <div class="col-lg-3" style=" color: rgb(0 0 0 / 87%);">
          <div class="partner-logo" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;">
            <img class="partners-logo-dim"  style="opacity: 100; height: 130px; width: 130px;" src="assets/images/sign-up-customer/Livmed's Suivez livraison.png"   loading="lazy" alt="Suivi de position de livreur Livmed’s en temps réel via l’application">
            <h5 style="margin: 1% 9% 1%;">Patientez sereinement chez vous et suivez en temps réel la position de votre livreur</h5>
            <br>
          </div>
        </div>

      </div>
      <br>
      <h2 style="
      text-align: center;
      padding-top: 4%;
      color: #252a32;
      font-size: 30px;
      font-weight: 700;
      color: #252a32;
      margin-bottom: 10px;
      ">Vous avez une question sur l'inscription ou la livraison ?

      </h2>
      <div  style="margin-top: 28px;text-align-last: center;">
        <p>Notre équipe est toujours là pour vous accompagner 24h/7j et vous éclairer sur nos services de commande et livraison en fonction de vos besoins. </p>
        <a [routerLink]="['/contact']"  ><button class="btn btn-submit btn-contact" style="background: #EA2C92;color: white;">Nous contacter </button></a>
      </div>
    </div>
  </section>
</div>

<div class="blog-page-main-wrapper bg-color" id="inscription">
<div class="container" >
  <div class="s-title">
    <h2 class="wow">Formulaire d'inscription </h2>
  </div>
  <p>Vous êtes un particulier ? Inscrivez-vous ci-dessous :  </p>
    <div class="row flex-lg-row-reverse">
      <main class="col-lg-12 main-content">
        <div class="post-row">
          <div class="row gutter-40">
            <div class="col-12">

              <button class="btn-apple" style="margin-top: 10px;display: none;" (click)="signUpApple()"> 
                {{'SIGN_UP_APPLE' | translate}}</button>
              <form [formGroup]="registerFormGroup" class="popup-form" id="registerPharma">

                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <input type="text" class="form-control form-white" name="name"
                      placeholder="{{'FIELD_NAME' | translate}}" formControlName="name" required>
                    <div
                      *ngIf="fieldsRegisterFrm('name').invalid && (fieldsRegisterFrm('name').dirty || fieldsRegisterFrm('name').touched)">
                      <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('name').errors.required">
                        {{'FIELD_NAME_REQUIRED' | translate}}
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <input type="text" class="form-control form-white" name="lastName"
                      placeholder="{{'FIELD_LASTNAME' | translate}}" formControlName="lastName" required>
                    <div
                      *ngIf="fieldsRegisterFrm('lastName').invalid && (fieldsRegisterFrm('lastName').dirty || fieldsRegisterFrm('lastName').touched)">
                      <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('lastName').errors.required">
                        {{'FIELD_LASTNAME_REQUIRED' | translate}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <input id="phone-input-sign-up-customer" type="text" class="form-control form-white"
                      name="phoneNumber" placeholder="{{'FIELD_PHONE_NUMBER' | translate}}"
                      formControlName='phoneNumber' required>
                    <div
                      *ngIf="fieldsRegisterFrm('phoneNumber').invalid && (fieldsRegisterFrm('phoneNumber').dirty || fieldsRegisterFrm('phoneNumber').touched)">
                      <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('phoneNumber').errors.required">
                        {{'FIELD_PHONENUMBER_REQUIRED' | translate}}
                      </p>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                  <input formControlName="favoriteAddressDisplay" type="text" class="form-control form-white"
                    autocomplete="nope" placeholder="{{'FIELD_FULL_ADDRESS' | translate}}" #addressPharmacy>
                  <div
                    *ngIf="fieldsRegisterFrm('favoriteAddressDisplay').invalid && (fieldsRegisterFrm('favoriteAddressDisplay').dirty || fieldsRegisterFrm('favoriteAddressDisplay').touched)">
                    <p class="text-danger text-required"
                      *ngIf="fieldsRegisterFrm('favoriteAddressDisplay').errors.required">
                      {{'FIELD_ADDRESS_REQUIRED' | translate}}
                    </p>
                  </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <input type="text" class="form-control form-white" name="compAddress"
                      placeholder="{{'FIELD_COMP_ADDRESS' | translate}}" formControlName="compAddress">
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <input type="text" class="form-control form-white" name="referralCodeReferrer"
                      placeholder="{{'FIELD_REFERRAL_CODE' | translate}}" formControlName="referralCodeReferrer">
                  </div>
                </div>
                <input id="username" style="display:none" type="text" name="fakeusernameremembered">
                <input id="password" style="display:none" type="password" name="fakepasswordremembered">
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                  <input type="email" class="form-control form-white" autocomplete="nope" name="mail"
                    placeholder="{{'FIELD_MAIL' | translate}}" formControlName='mail' required>
                  <div
                    *ngIf="fieldsRegisterFrm('mail').invalid && (fieldsRegisterFrm('mail').dirty || fieldsRegisterFrm('mail').touched)">
                    <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('mail').errors.required">
                      {{'FIELD_MAIL_REQUIRED' | translate}}
                    </p>
                  </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12 col-md-6">
                    <input type="password" class="form-control form-white" name="password"
                      placeholder="{{'FIELD_PASSWORD' | translate}}" autocomplete="new-password" id="passwordPharma"
                      formControlName='password' required>
                    <div
                      *ngIf="fieldsRegisterFrm('password').invalid && (fieldsRegisterFrm('password').dirty || fieldsRegisterFrm('password').touched)">
                      <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('password').errors.required">
                        {{'FIELD_PASSWORD_REQUIRED' | translate}}
                      </p>
                    </div>
                  </div>
                  <div class="col-sm-12 col-md-6">
                    <input type="password" class="form-control form-white" name="confirmPassword"
                      placeholder="{{'FIELD_CONFIRM_PASSWORD' | translate}}" id="confirmPasswordPharma"
                      formControlName='passwordConfirm' required>
                    <div
                      *ngIf="fieldsRegisterFrm('passwordConfirm').invalid && (fieldsRegisterFrm('passwordConfirm').dirty || fieldsRegisterFrm('passwordConfirm').touched)">
                      <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('passwordConfirm').errors.required">
                        {{'FIELD_CONFIRM_PASSWORD_REQUIRED' | translate}}
                      </p>
                    </div>
                  </div>
                </div>
              </form>
              <div class="col-12">
                <p style="font-size: 10px;">En cliquant sur « S'inscrire » ci-dessus, vous acceptez les <a href="https://test.livmeds.com/cgu"> Conditions générales d'utilisation </a>
                  de Livmed’s. Pour plus d'informations sur le traitement de vos données et vos droits, veuillez consulter
                  la  <a href="https://test.livmeds.com/mentions-legales"> Politique de confidentialité de Livmed’s </a>
                   utilise vos données pour vous fournir le meilleur service possible.
                  Vous bénéficiez d'un droit d'accès et de rectification aux informations qui vous concernent,
                  du droit de supprimer votre compte et du droit de vous opposer à l'utilisation de vos données à des fins de prospection commerciale. Vous pouvez exercer vos
                  droits en contactant Livmed’s par mail à l’adresse suivant : <a href="mailto:sas.livmeds@gmail.com"> sas.livmeds@gmail.com </a> ou encore en contactant SAS Livmed’s par
                  courrier à l'adresse suivante : <a href="https://g.page/livmed-s?share" target="_blank"> SAS Livmed’s, 1 avenue de Suède, 06000 Nice, France.</a>
                </p>
                <div class="row justify-content-center">
                  <div class="col-md-6 col-sm-12">
                    <button type="submit" class="btn btn-submit" style="width: 100%;" (click)="submit()">
                      S'inscrire
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>
