.row{
    margin-top: 20px;
}

input[type=text]{
    margin-bottom: 10px;
}

input[type=email]{
    margin-bottom: 10px;
}

input[type=password]{
    margin-bottom: 10px;
}

select{
    margin-bottom: 10px;
    height: 61px !important;
}

.checkbox-holder {
    padding: 10px;
}

input[type=checkbox]{
    margin-right: 10px;
}

.btn-apple{
    background-color: black !important;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    color: white;
    padding: 9px 26px;
    width: 100%;
    cursor: pointer;
    border-radius: 7px;
    font-size: 24px;
    max-height: 56px;
}

.btn-contact:hover
{
    background-color:#ea2c9299!important;
}

@media  screen and  (max-width: 1366px){
    .bouttonSignUpCustomer-wrapper {
         padding-left:8%;
        padding-bottom:10%;
    }
    }


    @media  screen and (min-width: 1230px){
    .bouttonSignUpCustomer-wrapper {
       padding-left:30%;
        padding-bottom:10%;
    }
    }

    @media  screen and  (min-width: 1200px){
    .bouttonSignUpCustomer-wrapper {
         padding-left:30%;
          padding-bottom:10%;
    }
    }


    @media screen and (max-width: 991.98px)
    {
    .bouttonSignUpCustomer-wrapper {
       padding-left: 60px;
        padding-bottom:10%;
    }
    }

    @media screen and (max-width: 767.98px){
    .bouttonSignUpCustomer-wrapper {
       padding-left: 20px;
        padding-bottom:10%;
    }
   .btn-Responsive
   {
       width: 119% !important;
       margin-left: 10%;
   }
   }

    @media screen and (min-width: 768px) and (max-width:991px){
       .btn-Responsive
       {
           width: 119% !important;
           margin-left: 10%;
       }
       }



   @media screen and (max-width: 391px){
     .responsiveBtn
     {
         padding-left: 15%;
     }
   }

   @media screen  and (min-width: 391px)  and (max-width:487px){
     .responsiveBtn
     {
        padding-left: 18%;
     }
   }

   @media screen and (min-width: 487px)  and (max-width:767px){
     .responsiveBtn
     {
         padding-left: 31%;
     }
   }

