li{
    margin-top: 10px;
}

.btn-accept{
    background-color: #D8418F;
    color:white;
}

.btn-refuse{
    background-color: #54BBEC;
    color:white;
}

.btn-refuse:hover,
.btn-refuse.fill-style{
	color: #fff;
	background-color: #54BBEC;
	border-color: #54BBEC;
}