<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">{{'TITLE_TRACK' | translate}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-page-main-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <div style="height: 500px;" #mapTrack id="mapTrack"></div>
      </div>
      <div class="col-6">
        <h4>Référence: {{delivery.reference}}</h4>

        <mat-tab-group #commandTab mat-align-tabs="center">
          <mat-tab label="Détails">
            <ul style="list-style-type: none;" *ngIf="delivery.merchant">
              <li> <img src="assets/images/track/7.png" style="width: 15%;" ><strong style="color: #ec2b91;">Boutique: </strong><span>{{delivery.merchant.name}}</span></li>
              <li> <img src="assets/images/track/8.png" style="width: 15%;" ><strong style="color: #ec2b91;">Numéro de téléphone de la boutique: </strong><span>{{delivery.merchant.phoneNumber}}</span></li>
              <li> <img src="assets/images/track/9.png" style="width: 15%;" ><strong style="color: #ec2b91;">Adresse de livraison: </strong><span>{{delivery.address.fullAddress}}</span></li>
              <li> <img src="assets/images/track/10.png" style="width: 15%;"><strong style="color: #ec2b91;">Date de livraison: </strong> {{delivery.deliveryDate | date:'dd LLLL yyyy HH:mm'}}</li>
              <li> <img src="assets/images/track/11.png" style="width: 15%;"><strong style="color: #ec2b91;">Status: </strong><span>{{('CUSTOMER_' + delivery.status) | translate}}</span></li>
              <li *ngIf="delivery.status === 'AWAITING_VALIDATION_AMOUNT' && messageOperation"><strong>Paiement:
                </strong><span >{{('CUSTOMER_' + delivery.status) | translate}}</span></li>
            </ul>
            <p *ngIf="delivery.status === 'AWAITING_VALIDATION'"  style="color: #205e97;" >
              Votre commande a été envoyé au marchand.
              Ce dernier vous adressera alors un devis que vous devrez valider ou refuser.
            </p>
            <p *ngIf="delivery.status === 'AWAITING_VALIDATION_AMOUNT'" style="color: #205e97;" >
              Votre commande a été validé par le marchand.
              Le devis est disponible dans l'onglet <span
                style="cursor: pointer;text-decoration: underline; color: #D8418F;" (click)="goToContent()">'Contenu de la commande'</span>.
              Si ce dernier vous convient, vous pouvez alors valider la commande.
              À l'inverse, si le devis ne vous convient pas vous pouvez le refuser.
            </p>
            <p *ngIf="delivery.status === 'REFUSED'" style="color: #205e97;">
              Votre commande a été refusé par le marchand.
            </p>
            <p *ngIf="delivery.status === 'VALID'">
              Nous recherchons actuellement un livreur pour votre commande...
            </p>
            <p *ngIf="delivery.status === 'REFUSED_BY_DELIVERER'" style="color: #205e97;">
              Aucun livreur ne peut actuellement effectué votre commande.
            </p>
            <p *ngIf="delivery.status === 'REFUSED_AMOUNT'" style="color: #205e97;">
              Vous avez refusé le montant de la commande.
            </p>
            <p *ngIf="delivery.status === 'IN_DELIVERY' || delivery.status === 'STAND_BY'">
              <span *ngIf="!delivery.recoveredPackageByDeliverer" style="color: #205e97;">
                Le livreur est actuellement en route pour aller chercher le colis auprès du marchand...
              </span>
              <span *ngIf="delivery.recoveredPackageByDeliverer" style="color: #205e97;">
                Le colis a été remis au livreur. Le livreur est actuellement en route pour vous le remettre.
              </span>
              <span *ngIf="delivery.checkDeliverySuccessfullyByDeliverer" style="color: #205e97;">
                Le colis vous a bien été remis.
              </span>
            </p>
            <p *ngIf="delivery.status === 'DELIVERED'"  style="color: #205e97;">
              Cette commande vous a bien été livré. Nous vous remercions pour votre confiance.
            </p>
            <p *ngIf="delivery.status === 'DELIVERED' && !delivery.checkDeliverySuccessfullyByCustomer">
              Veuillez-nous confirmer la bonne réception du colis:
            </p>
            <div class="row" *ngIf="delivery.status === 'DELIVERED' && !delivery.checkDeliverySuccessfullyByCustomer">
              <div class="col-6">
                <button (click)="commandReceived(true)" class="btn btn-submit btn-accept">
                J'ai bien reçu mon colis.
              </button>
              </div>
              <div class="col-6">
                <button (click)="commandReceived(false)" class="btn btn-submit btn-refuse">
                  Je n'ai pas reçu mon colis.
                </button>
              </div>
            </div>
            <p *ngIf="delivery.status === 'NOT_RECEIVED'" style="color: #205e97;">
              Vous n'avez pas reçu le colis. Nous vous contacterons à ce sujet dans les plus bref délais.
            </p>
            <p *ngIf="delivery.status === 'RETURN_PACKAGE'" style="color: #205e97;">
              Le livreur est arrivé à l'adresse de la commande mais n'a reçu aucune réponse de votre part. Le livreur a
              alors retourné le colis au marchand.
            </p>
            <p *ngIf="delivery.status === 'SCHEDULED'" style="color: #205e97;">
              La livraison est planifié à la date suivante: {{delivery.deliveryDate | date:'dd LLLL yyyy HH:mm'}}
            </p>
            <p *ngIf="delivery.status === 'CANCELLED'" style="color: #205e97;">
              La livraison a été annulé.
            </p>
          </mat-tab>
          <mat-tab label="Contenu de la commande">
            <span *ngIf="delivery.invoice && delivery.invoice.products.length === 0"
              style=" color: #B7B7B7; font-weight: 600; font-size: 15px; ">{{'COMMAND_NOT_YET_VALIDATED' |
              translate}}</span>
            <div *ngIf="delivery.invoice">
              <div *ngFor="let product of delivery.invoice.products">
                <div>
                  <div class="payment-options-list disabled href-decoration-none"
                    style="display: flex;
                            flex-direction: row; justify-content: space-between; color: #B7B7B7; margin: 16px 0px; font-size: 18px;">
                    <div>
                      <span style="color: #d8418f;"><strong>{{product.description}}</strong></span><br>
                      <span style="color: black;">Quantité: {{product.quantity}}</span><br>
                      <span style="color: black;">Montant unitaire: {{product.unitAmount | currency:'EUR':true}} </span><br>
                      <span style="color: black;">Commentaire du marchand: {{product.quantity}}</span>
                    </div>
                  </div>
                </div>
                <mat-divider></mat-divider>
              </div>

              <h4 style="color: #205e97;">{{'TOTAL_AMOUNT' | translate}} :
                <strong>{{formatNumber(delivery.invoice.amountCustomer - (delivery.invoice.amountDeliverer + delivery.invoice.platformFee -
                  delivery.invoice.feeManagement - delivery.invoice.promoAmount)) | currency:'EUR':true}}</strong>
              </h4>

              <div class="row">
                <div class="col-9">
              <h4 style="color: #205e97;">{{'FIELD_DELIVERY_FEE' | translate}} :
                <strong
                  *ngIf="delivery.invoice.codePromoInformation  && delivery.invoice.codePromoInformation.status === 'ENABLED' && delivery.invoice.promoAmount && delivery.invoice.promoAmount > 0"
                  style="text-decoration-line: line-through;">
                  {{formatNumber(delivery.invoice.amountDeliverer + delivery.invoice.platformFee -
                  delivery.invoice.feeManagement) | currency:'EUR':true}}
                </strong>
                <strong>
                  {{formatNumber(delivery.invoice.amountDeliverer + delivery.invoice.platformFee -
                  delivery.invoice.feeManagement - delivery.invoice.promoAmount) | currency:'EUR':true}}
                </strong>
              </h4>
                </div>
                <div class="col-2"  *ngIf="delivery.invoice.codePromoInformation && delivery.invoice.codePromoInformation.status === 'ENABLED'" style="border:solid;border-color: #ec2b91;border-radius: 13px;">
                <span style="color: #205e97;    font-size: 129%;">
                <strong>{{'FIELD_CODE_PROMO' | translate: {percentage: delivery.invoice.codePromoInformation.percentage} }}</strong>
              </span>
                </div>


              </div>

              <h4 style="color: #205e97;">{{'NEW_TOTAL_AMOUNT' | translate}} :
                <strong
                  *ngIf="delivery.invoice.codePromoInformation && delivery.invoice.amountCustomerBeforeCodePromo && delivery.invoice.codePromoInformation.status === 'ENABLED'"
                  style="text-decoration-line: line-through;">{{formatNumber(delivery.invoice.amountCustomerBeforeCodePromo)
                  | currency:'EUR':true}} </strong>
                <strong>{{formatNumber(delivery.invoice.amountCustomer) | currency:'EUR':true}}</strong>
              </h4>
              <div class="row" *ngIf="delivery.status === 'AWAITING_VALIDATION_AMOUNT'">
                <div class="col-6">
                  <button (click)="acceptTotalAmount()" class="btn btn-submit btn-accept">
                    Accepter le montant de la commande
                  </button>
                </div>
                <div class="col-6">
                  <button (click)="refuseTotalAmount()" class="btn btn-submit btn-refuse">
                    Refuser le montant de la commande
                  </button>
                </div>
              </div>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>
  </div>
</div>
