<ion-app>
  <!--Loading Container Start-->
  <div (click)="hideMenu()" [hidden]="hideModal" id="load"
    class="loading-overlay display-flex flex-column justify-content-center align-items-center">
    <div class="primary-color font-28 fas fa-spinner fa-spin"></div>
  </div>
  <!--Loading Container End-->


  <div class="row h-100">
    <div class="col-xs-12 col-sm-12 remaining-height">

      <!--Page Title & Icons Start-->
      <div [hidden]="hideTopBar" class="header-icons-container position-relative text-center">
        <a [hidden]="backUrl === null" routerLink="{{backUrl}}">
          <span class="float-left">
            <img src="assets/icons/back.svg" alt="Back Icon">
          </span>
        </a>
        <span class="title">{{title}}</span>
        <a [hidden]="hideMenuButton" (click)="openSideBarMenu()">
          <span #sideBarMenu class="float-right menu-open closed">
            <img src="assets/icons/menu.svg" alt="Menu Hamburger Icon">
          </span>
        </a>
      </div>
      <!--Page Title & Icons End-->

      <div class="hidden">
        <div class="margin-top-10 height-auto" id="origin-input-container">
          <div class="w-100 map-input-container map-input-container-top">
            <span class="fas fa-location-arrow location-icon-rotate map-input-icon"></span>
            <div class="map-input display-flex">
              <input id="origin-input" class="controls flex-1" type="text" placeholder="Enter an origin location">
              <span class="mic"><img src="assets/icons/microphone.svg" alt="Microphone Icon"></span>
              <span class="remove">
                <img src="assets/icons/cross-light.svg" alt="Remove Icon Light Color">
              </span>
            </div>
          </div>
          <div class="w-100 map-input-container map-input-container-bottom">
            <span class="map-input-icon"><img src="assets/icons/circle.svg" alt="Current Location Icon"></span>
            <div class="map-input display-flex">
              <input id="destination-input" class="controls flex-1" type="text"
                placeholder="Enter a destination location">
              <span class="mic"><img src="assets/icons/microphone.svg" alt="Microphone Icon"></span>
              <span class="remove">
                <img src="assets/icons/cross-light.svg" alt="Remove Icon Light Color">
              </span>
            </div>
            <span class="dotted-line-index"></span>
          </div>
        </div>
      </div>

      <ion-router-outlet></ion-router-outlet>

    </div>

    <!--Main Menu Start-->
    <div class="main-menu hidden-soft">
      <div *ngIf="session.currentUser()" class="mini-profile-info">
        <div class="menu-close" >
          <span class="float-left" (click)="call('0483432733')">
            <img src="assets/icons/contact-us.jpg" style="width: 2em; margin-right: 4px;"> {{'CONTACT_SAV' | translate}}
          </span>
          <span class="float-right" (click)="closeSideBarMenu()">
            <img src="assets/icons/close.svg" alt="Close Icon">
          </span>
        </div>
        <div  class="profile-picture text-center">
          <img (click)="changeAvatar()"
          src="{{session.currentUser() && session.currentUser().avatar === 'undefined' ? 'assets/images/man.svg': session.currentUser().avatar}}" class="img-avatar" alt="Profile Picture">
        </div>
        <div class="profile-info">
          <div class="profile-name text-center">{{session.currentUser().name + ' ' + session.currentUser().lastName}}</div>
          <div class="profile-email text-center">{{session.currentUser().mail}}</div>
        </div>
      </div>
      <div *ngIf="session.currentUser()" class="menu-items">
        <div class="all-menu-items">
          <a class="menu-item" routerLink="{{routerLinkAddress}}" (click)="closeSideBarMenu()">
            <div>
              <span class="menu-item-icon fas fa-home"></span>
              <span class="menu-item-title">{{'TITLE_MAPS' | translate}}</span>
              <span class="menu-item-click fas fa-arrow-right"></span>
            </div>
          </a>
          <a class="menu-item" routerLink="profile" (click)="closeSideBarMenu()">
            <span class="menu-item-icon fas fa-user"></span>
            <span class="menu-item-title profile">{{'TITLE_PROFILE' | translate}}</span>
            <span class="menu-item-click fas fa-arrow-right"></span>
          </a>
          <a class="menu-item" routerLink="manage-customer" *ngIf="role === UserRole.ROLE_NURSE || role === UserRole.ROLE_DOCTOR" (click)="closeSideBarMenu()">
            <span class="menu-item-icon fas fa-address-book"></span>
            <span class="menu-item-title">{{'TITLE_MANAGE_CUSTOMER' | translate}}</span>
            <span class="menu-item-click fas fa-arrow-right"></span>
          </a>
          <a class="menu-item" routerLink="documents" 
          *ngIf="(role === UserRole.ROLE_NURSE || role === UserRole.ROLE_DELIVERER) || (role === UserRole.ROLE_DOCTOR && this.session.currentUser().status === 'AWAITING_VALIDATION')" (click)="closeSideBarMenu()">
            <span class="menu-item-icon fas fa-passport"></span>
            <span class="menu-item-title">{{'TITLE_DOCUMENTS' | translate}}</span>
            <span class="menu-item-click fas fa-arrow-right"></span>
          </a>
          <a class="menu-item" routerLink="wallet" *ngIf="role === UserRole.ROLE_DELIVERER" (click)="closeSideBarMenu()">
            <span class="menu-item-icon fas fa-wallet"></span>
            <span class="menu-item-title">{{'TITLE_MY_WALLET' | translate}}</span>
            <span class="menu-item-click fas fa-arrow-right"></span>
          </a>
          <a class="menu-item" routerLink="payment-method" (click)="closeSideBarMenu()"
            *ngIf="role === UserRole.ROLE_CUSTOMER || role === UserRole.ROLE_NURSE || role === UserRole.ROLE_DOCTOR">
            <span class="menu-item-icon far fa-money-bill-alt"></span>
            <span class="menu-item-title">{{'TITLE_PAYMENT_METHOD' | translate}}</span>
            <span class="menu-item-click fas fa-arrow-right"></span>
          </a>
          <a class="menu-item" routerLink="history" (click)="closeSideBarMenu()" *ngIf="role === UserRole.ROLE_CUSTOMER || role === UserRole.ROLE_NURSE || role === UserRole.ROLE_DOCTOR">
            <span class="menu-item-icon fas fa-history"></span>
            <span class="menu-item-title">{{'TITLE_HISTORY' | translate}}</span>
            <span class="menu-item-click fas fa-arrow-right"></span>
          </a>
          <a class="menu-item" routerLink="home-address" (click)="closeSideBarMenu()" *ngIf="role === UserRole.ROLE_CUSTOMER">
            <span class="menu-item-icon fas fa-address-book"></span>
            <span class="menu-item-title">{{'TITLE_ADD_NEW_ADDRESS' | translate}}</span>
            <span class="menu-item-click fas fa-arrow-right"></span>
          </a>
          <!-- <a class="menu-item" routerLink="apply-promo" (click)="closeSideBarMenu()" *ngIf="role === UserRole.ROLE_CUSTOMER">
            <span class="menu-item-icon far fa-plus-square"></span>
            <span class="menu-item-title promo">{{'TITLE_PROMO_CODE'|translate}}</span>
            <span class="menu-item-click fas fa-arrow-right"></span>
          </a> -->
          <a class="menu-item" routerLink="settings" (click)="closeSideBarMenu()">
            <span class="menu-item-icon fas fa-cogs"></span>
            <span class="menu-item-title">{{'TITLE_SETTINGS' | translate }}</span>
            <span class="menu-item-click fas fa-arrow-right"></span>
          </a>
          <!-- <a class="menu-item" routerLink="online-support" (click)="closeSideBarMenu()">
            <span class="menu-item-icon fas fa-question-circle"></span>
            <span class="menu-item-title">{{'ONLINE_SUPPORT' | translate}}</span>
            <span class="menu-item-click fas fa-arrow-right"></span>
          </a> -->
          <a (click)="logout()" class="menu-item margin-top-auto">
            <span class="menu-item-icon fas fa-sign-out-alt"></span>
            <span class="menu-item-title logout">{{'LOGOUT' | translate}}</span>
            <span class="menu-item-click fas fa-arrow-right"></span>
          </a>
        </div>
      </div>
    </div>
    <!--Main Menu End-->

    <!-- Modal Start-->
    <div class="modal fade" id="searchingModal" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content search">
          <div class="modal-body">
            <div class="text-center">
              <span class="fas fa-spinner fa-spin"></span>
              <div class="label-title">Searching Driver...</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Modal End-->

  </div>
</ion-app>