<ion-content style="background-color: rgb(120, 207, 207);">

  <!-- Choose Appropriate Application To View Start-->
  <div class="all-wide-container w-100 h-100">
    <div class="d-flex h-100 justify-content-center align-items-center flex-column ">
      <img src="assets/images/logo.png" alt="Main Logo" style="    width: 60%;">
      <img src="assets/images/livmeds.png" class="margin-bottom-30 " alt="Main Logo">

        <div style="    line-height: 43%;
    margin-bottom: 5%;">
        <h1><B>Bienvenue sur Livmed's</B> </h1>
        <p style="text-align: center;font-family: 'Roboto Condensed';">Choisissez votre profil pour commencer</p>
        </div>
      <a routerLink="/home-customer-sign" class="btn  btn-primary  text-white text-uppercase w-100 mb-3">{{'CUSTOMER' | translate}}</a>

     <h2>Professionnel</h2>
      <a routerLink="/login-deliverer" class="btn  btn-primary text-white text-uppercase w-100 mb-3" style="background-color: #00bdf2!important;border-color: white;">{{'DELIVERER' | translate}}</a>
      <a routerLink="/login-medical" class="btn  btn-primary text-white text-uppercase w-100 mb-3" style="background-color: #00bdf2!important;border-color: white;" [queryParams]="{role:'ROLE_NURSE'}">{{'NURSE' | translate}}</a>
      <a routerLink="/login-medical" class="btn  btn-primary text-white text-uppercase w-100 mb-3" style="background-color: #00bdf2!important;border-color: white;" [queryParams]="{role:'ROLE_DOCTOR'}">{{'MEDICAL_DOCTOR' | translate}}</a>
    </div>
  </div>
  <!-- Choose Appropriate Application To View Start-->
</ion-content>