
/*@media (prefers-color-scheme: dark) {
    .all-wide-container {
        background-color: red !important;
    }
}
@media (prefers-color-scheme: light) {
    .all-wide-container {
        background-color: white !important;
    }
}*/