<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">{{myProfile.name}}</h1>
          <ol class="breadcrumb">
            <li><a href="#" title="Home">{{session.currentUser().addresses[0].fullAddress}}</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-page-main-wrapper">
  <div class="container">
    <div class="row">
      <main class="col-12 main-content">
        <div class="post-row">
          <div class="row">
            <div class="col-12">
            </div>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="box_style_2 hidden-xs" id="help">
                <div class="row justify-content-center">
                  <div id="thumb" style="background-color: transparent; text-align: center;">
                    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
                    <img (click)="fileInput.click()"
                      src="{{session.currentUser().avatar === 'undefined' ? 'assets/img/user.svg': session.currentUser().avatar}}"
                      alt="" style="width: 50%; height: 100%;"></div>
                  <div class="col-md-12 col-xs-12" style="text-align: center;margin-top: 20px;">
                    <i class="icon-phone"></i>
                    <a href="tel://{{session.currentUser().phoneNumber}}"
                      class="phone">{{session.currentUser().phoneNumber}}</a>
                  </div>
                  <div class="col-md-12 col-xs-12" style="text-align: center;">
                    <i class="icon-mail"></i>
                    <a href="mail://{{session.currentUser().mail}}" class="phone">{{session.currentUser().mail}}</a>
                  </div>
                  <div class="col-12" style="margin-top: 30px;">
                    <h4 class="nomargin_top" style="text-align: center;"><i class="icon_clock_alt"></i>
                      {{'OPENING_TIME'| translate}}
                    </h4>
                    <ul class="opening_list" *ngIf="openingTimes">
                      <li *ngFor="let day of days;let i = index;"><strong>{{day | translate}} </strong>
                        <span
                          *ngIf="openingTimes[(i+1)+'Start'] && openingTimes[(i+1)+'End']">{{ openingTimes[(i+1)+'Start'] | date:'HH:mm'}}
                          - {{ openingTimes[(i+1)+'End'] | date:'HH:mm'}} </span>
                        <span
                          *ngIf="openingTimes[(i+1)+'Start']  && !openingTimes[(i+1)+'End']">{{ openingTimes[(i+1)+'Start'] | date:'HH:mm'}}
                          - {{'NOT_DEFINED' | translate}} </span>
                        <span
                          *ngIf="!openingTimes[(i+1)+'Start'] && openingTimes[(i+1)+'End']">{{'NOT_DEFINED' | translate}}
                          - {{ openingTimes[(i+1)+'End'] | date:'HH:mm'}} </span>
                        <span
                          *ngIf="!openingTimes[(i+1)+'Start'] && !openingTimes[(i+1)+'End']">{{'CLOSED' | translate}}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-8">
              <div class="box_style_2">
                <h2 class="inner">{{'TITLE_SECURITY'| translate}}</h2>
                <div *ngIf="successSecurity" class="alert alert-success">
                  {{successSecurity | translate}}
                </div>
                <div *ngIf="errorSecurity" class="alert alert-danger">
                  {{errorSecurity | translate}}
                </div>
                <form [formGroup]="securityFormGroup">
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>{{'FIELD_MAIL' | translate}}</label>
                        <input formControlName="mail" type="text" class="form-control" name="mail"
                          placeholder="{{'FIELD_MAIL' | translate}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>{{'FIELD_CURRENT_PASSWORD' | translate}}</label>
                        <input formControlName="currentPassword" type="password" class="form-control" name="password"
                          placeholder="{{'FIELD_CURRENT_PASSWORD' | translate}}">
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>{{'FIELD_NEW_PASSWORD' | translate}}</label>
                        <input formControlName="newPassword" type="password" class="form-control" name="newPassword"
                          placeholder="{{'FIELD_NEW_PASSWORD' | translate}}">
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button [disabled]="!securityFormGroup.valid" (click)="submitSecurityForm()" type="submit"
                      class="btn btn-submit">
                      {{'BTN_SAVE_MODIFICATION' | translate }}
                    </button>
                  </div>
                </form>
              </div><!-- End box_style_1 -->
              <div class="box_style_2">
                <h2 class="inner">{{'TITLE_ACCOUNT'| translate}}</h2>
                <div *ngIf="successInformation" class="alert alert-success">
                  {{successInformation | translate}}
                </div>
                <div *ngIf="errorInformation" class="alert alert-danger">
                  {{errorInformation | translate}}
                </div>
                <form [formGroup]="informationFormGroup">
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>{{'FIELD_NAME_PHARMACY' | translate}}</label>
                        <input formControlName="name" type="text" class="form-control" name="mail"
                          placeholder="{{'FIELD_NAME_PHARMACY' | translate}}">
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>{{'FIELD_PHONE_NUMBER' | translate}}</label>
                        <input id="phone-input-profile" formControlName="phoneNumber" type="text" class="form-control"
                          name="mail" placeholder="{{'FIELD_PHONE_NUMBER' | translate}}">
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                    <button [disabled]="!informationFormGroup.valid" (click)="submitInformationForm()" type="submit"
                      class="btn btn-submit">
                      {{'BTN_SAVE_MODIFICATION' | translate }}
                    </button>
                  </div>
                </form>
              </div>

              <div class="box_style_2">
                <h2 class="inner">{{'CHANGE_OPENING_TIME'| translate}}</h2>
                <form class="col-12" [formGroup]="openingTimesForm">
                  <table id="openingTimes" class="col-12">
                    <tbody>
                      <tr *ngFor="let day of days;let i = index;">
                        <th class="col_day">{{day | translate}}</th>
                        <th>
                          <input placeholder="{{'START' | translate }}" formControlName="{{i+1}}Start">
                          <div
                            *ngIf="fieldsRegisterFrm((i+1)+'Start').invalid && (fieldsRegisterFrm((i+1)+'Start').dirty || fieldsRegisterFrm((i+1)+'Start').touched)">
                            <p class="text-danger text-required" style="font-size: 11px; font-weight: 300; margin-bottom: 5px;"
                              *ngIf="fieldsRegisterFrm((i+1)+'Start').errors.pattern">
                              {{'FIELD_FORMAT_INVALID_TIME' | translate}}
                            </p>
                          </div>
                        </th>
                        <th>
                          <input placeholder="{{'END' | translate }}" formControlName="{{i+1}}End">
                          <div
                            *ngIf="fieldsRegisterFrm((i+1)+'End').invalid && (fieldsRegisterFrm((i+1)+'End').dirty || fieldsRegisterFrm((i+1)+'End').touched)">
                            <p class="text-danger text-required" style="font-size: 11px; font-weight: 300; margin-bottom: 5px;"
                              *ngIf="fieldsRegisterFrm((i+1)+'End').errors.pattern">
                              {{'FIELD_FORMAT_INVALID_TIME' | translate}}
                            </p>
                          </div>
                        </th>
                      </tr>
                    </tbody>
                  </table>
                </form>
                <div class="text-center">
                  <button (click)="submitOpeningTime()" type="submit"
                    class="btn btn-submit">
                    {{'BTN_SAVE_MODIFICATION' | translate }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>