<head> <meta name="viewport" content="width=device-width"/></head>
<section class="home-4-banner main-banner main-slider" >
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6 col-md-7">
        <div class="banner-content">
          <h1 class="title"> Devenez livreur Livmed’s </h1>
          <span class="sub-title" >Livrez les produits de pharmacie avec Livmed’s et gagnez de l’argent à votre rythme</span>
          <div class="apps-store-btn-wrpper">
            <a href="https://play.google.com/store/apps/details?id=com.livmeds" class="app-store-btn"  target="_blank">
              <img src="assets/images/livmed-disponible-google-play.png" loading="lazy" alt="télécharger l'appliciation livmed's sur google play">
            </a>
            <a href="https://apps.apple.com/us/app/livmeds/id1510261512?l=fr&ls=1" class="app-store-btn"  target="_blank">
              <img src="assets/images/livmed-disponible-app-store.png" loading="lazy"  alt="télécharger l'appliciation livmed's sur app store">
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-4 offset-lg-0 offset-md-1">
        <div class="img-wrapper img-right banner-img">
          <img src="assets/images/DevenirLivreur/Livmed's livreur.png" alt="livmeds premier accès a l'application ">
        </div>
      </div>
    </div>
  </div>
</section>
<div class="blog-page-main-wrapper bg-color s-padding  s-pb-large" style="padding-top: 0px;" >
  <section class="partners s-padding bg-color">
    <div class="container">
      <div class="s-title">
        <h2 class="wow">Fonctionnement Livmed’s </h2>
      </div>

      <div class="row" style="text-align: center;" >
        <div class="col-lg-3 " >
          <div class="partner-logo" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;" >
            <img class="partners-logo-dim" style="opacity: 100;height: 100px;"   src="assets/images/DevenirLivreur/Livmed's Inscrivez-vous.png" loading="lazy"   alt="Pour devenir le livreur coursier de médicaments et parapharmacie, il faut s’inscrire via l’application Livmed’s">
            <h3 >  Inscrivez-vous </h3>
            <p style="margin: 18% 10% 10%;" >Pour devenir livreur Livmed’s, téléchargez l’application Livmed’s sur Google Play ou Apple Store et inscrivez-vous en tant que livreur.</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="partner-logo"  style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;">
            <img class="partners-logo-dim" style="opacity: 100;
             height: 100px;
             height: 100px;"  src="assets/images/DevenirLivreur/Livmed's Acceptez commande.png" loading="lazy"  alt="Le livreur accepte la commande de livraison de médicaments via son compte Livmed’s sur l’application">
            <h3> Acceptez une commande </h3>
            <p style="margin: 4% 10% 10%;">Lorsque vous êtes connecté à votre compte Livmed’s, vous allez recevoir les notifications de commande. Si vous êtes disponible, appuyez pour accepter la livraison.</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="partner-logo" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;">
            <img  class="partners-logo-dim" style="opacity: 100;height: 100px;"  src="assets/images/DevenirLivreur/Livmed's Récupérez commande pharmacie.png" loading="lazy"   alt="Le livreur se dirige vers la pharmacie et y montre l’écran de son smartphone pour récupérer la commande">
            <h3>Récupérez la commande </h3>
            <p style=" margin: 4% 10% 10%;
    margin-left: 13px;
    margin-right: 15px;">Munissez-vous du sac isotherme Livmed’s et dirigez-vous vers la pharmacie. Une carte s’affiche pour vous montrer l'itinéraire. Montrez l’écran de votre smartphone au personnel de la pharmacie pour obtenir la commande.</p>
          </div>
        </div>
        <div class="col-lg-3">
          <div class="partner-logo" style="border-radius: 40px;
          background-color: white;
           box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
            height: 95%;">
            <img class="partners-logo-dim"  style="opacity: 100;height: 100px;" src="assets/images/DevenirLivreur/Livmed's Livrez commande patient.png"   loading="lazy" alt="Le livreur Livmed’s suit l’itinéraire pour effectuer la livraison des médicaments à l’adresse du client">
            <h3>Livrez la commande au client</h3>
            <p style="margin: 4% 10% 10%;">Une fois que vous avez récupéré la commande, vous aurez accès à l’adresse du client afin d’effectuer la livraison.</p>
          </div>
        </div>

      </div>
      <br>
      <div  style="margin-top: 80px;text-align-last: center;">
        <p>Nous sommes à votre écoute pour toutes questions ou renseignements.</p>
        <a [routerLink]="['/contact']"  ><button class="btn btn-submit btn-contact" style="background: #EA2C92;color: white;">Nous contacter </button></a>
    </div>
    </div>
  </section>

  <section class="h4-awesome-feature bg-color s-padding  s-pb-large">
  <div class="container">
    <div class="s-title">
      <h2 class="wow">Ce dont vous avez besoin pour devenir livreur Livmed’s      </h2>
    </div>
    <div class="col-lg-10">
      <ul style=" font-size: 20px;" >
        <li>Vélo ou scooter électrique avec permis et assurance</li>
        <li>Equipement de sécurité (casque)</li>
        <li>Pièce d’identité</li>
        <li>RIB et KBIS</li>
        <li>Smartphone avec iOS / Android 7.0 ou versions supérieures</li>
      </ul>
    </div>
    </div>
  </section>

  <section class="h4-awesome-feature bg-color ">
  <div class="container">
    <div class="s-title">
      <h2 class="wow"> Ce dont vous bénéficiez en devenant coursier Livmed’s   </h2>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="faq-sec-img" style="height: 100%;">
          <img class="wow slideInLeft" src="assets/images/DevenirLivreur/Livmed's renumeration livreur.png" loading="lazy" alt="Livmed’s propose une rémunération attractive à ses livreurs coursiers pour la livraison de produits de santé à ses clients"><br>
        </div>
      </div>
      <div class="col-lg-6 ">
        <div class="faq-sec-img" style="height: 100%;">
          <div style="text-align: center;">
            <h3><b>Rémunération attractive</b></h3>
            <p class="text-service-body" style="margin-left: 100px;margin-right: 100px;">
              Pour chaque livraison, vous serez rémunéré 4 euros et ceci lorsque la livraison s’effectue dans un rayon de 3 kilomètres. Au-delà de cette distance, vous gagnez 1 euros de plus à chaque kilomètre supplémentaire.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="faq-sec-img" style="height: 100%;">
          <div style="text-align: center;">
            <h3><b> Equipement de livraison    </b></h3>
            <p class="text-service-body"style="margin-left: 100px;margin-right: 100px;" >
              Afin de respecter les normes conformes du transport médical, nous vous fournissons des sacs isothermes Livmed’s. Vous y placerez les commandes sous scellées permettant ainsi la confidentialité de la livraison des médicaments</p>
          </div>
        </div>
      </div>
      <div class="col-lg-6 ">
        <div class="faq-sec-img" style="height: 100%;">
          <img style="width: 60%;" class="wow slideInLeft" src="assets/images/DevenirLivreur/Livmed's Equipement livraison.png" loading="lazy"  alt="Livmed’s fournit aux livreurs ses sacs isothermes  afin de respecter les normes conformes du transport médical"><br>
        </div>
      </div>
    </div>

    <div class="row align-items-center">
      <div class="col-lg-6">
        <div class="faq-sec-img" style="height: 100%;">
          <img class="wow slideInLeft" src="assets/images/DevenirLivreur/Livmed's assistance livreur.png" loading="lazy" alt="Les livreurs Livmed’s sont accompagnés par l'équipe d’assistance lors d’inscription ou de livraison de médicaments"><br>
        </div>
      </div>
      <div class="col-lg-6 ">
        <div class="faq-sec-img" style="height: 100%;">
          <div style="text-align: center;">
            <h3><b>Assistance 24/7 </b></h3>
            <p class="text-service-body" style="    margin-left: 100px;margin-right: 100px;">
              Notre équipe d’assistance est à votre disposition pour vous accompagner lors de l’inscription ainsi que pour toutes autres demandes.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </section>

  <section class="h4-awesome-feature bg-color" >
    <div class="overlay"></div>
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6 pt-5">
            <h2>Inscription rapide via l'appli Livmed’s</h2>
            <p>Téléchargez l’application Livmed’s et préparez votre pièce d’identité, KBIS et RIB.  </p>
          <div class="apps-store-btn-wrpper">
            <a href="https://play.google.com/store/apps/details?id=com.livmeds" class="app-store-btn"  target="_blank">
              <img src="assets/images/livmed-disponible-google-play.png" loading="lazy" alt="télécharger l'appliciation livmed's sur google play">
            </a>
            <a href="https://apps.apple.com/us/app/livmeds/id1510261512?l=fr&ls=1" class="app-store-btn"  target="_blank">
              <img src="assets/images/livmed-disponible-app-store.png" loading="lazy"  alt="télécharger l'appliciation livmed's sur app store">
            </a>
          </div>
          </div>
        <div class="col-lg-6 d-none d-lg-block">
          <div class="img-wrapper img-right h4-get-the-app-img">
            <img class="wow slideInUp" src="assets/images/livmeds_telecharger_application.png" loading="lazy" alt=" Pour l’inscription, le livreur télécharge l’application Livmed’s et fournit sa pièce d’identité, KBIS et RIB" >
          </div>
        </div>
      </div>
    </div>
  </section>

</div>
