<div class="form-group">
  <div class="input-group" 
  [class.input-invalid]="invalid">
    <div class="input-group-prepend">
      <span class="fas fa-lock icon-color"></span>
    </div>
    <input (blur)="validate($event.target.value)" id="{{idInput}}" #input class="form-control" type="password" name="password" [(ngModel)]="value" placeholder="{{placeholder}}">
    <div class="input-group-append password-visibility" (click)="clickShowPassword()">
      <span>
        <span class="fas fa-eye icon-color"></span>
      </span>
    </div>
  </div>
  <div *ngIf="invalid">
    <p  class="text-danger text-required" *ngIf="invalid">
      {{'FIELD_REQUIRED' | translate}}
    </p>
  </div>
</div>