<ion-content>
    <div class="row h-100">
        <div class="col-xs-12 col-sm-12">
    
            <div class="rest-container">
                <div class="text-center header-icon-logo-margin header-icon-logo-margin-extra">
                    <img src="assets/images/payment-method.svg" id="logoPayment" alt="Main Logo">
                </div>
                <div class="text-center add-payment-method bottom font-20">
                    {{'TITLE_ADD_PAYOUT_METHODS' | translate}}
                </div>
    
                <!--Payment Option Container Start-->
                <div class="payment-method-container">
                    <label class="font-13 all-container display-flex align-items-center font-weight-light">
                        <input type="radio" class="radio-grey" name="card"> <span class="text-uppercase set-primary-card">{{'SET_AS_PRIMARY' | translate}}</span>
                    </label>
                    <a routerLink="/add-credit-card" class="href-decoration-none payment-options-list dark disabled">
                        <span class="fab fa-cc-visa icon"></span>
                        {{'CREDIT_CARD' | translate}}
                        <span class="fas fa-check icon chosen hidden"></span>
                        <span class="icon choose float-right">
                            <img src="assets/icons/angle-right.svg" alt="Angle Right Icon">
                            <img class="hover-icon" src="assets/icons/angle-right-white.svg" alt="Angle Right Icon">
                        </span>
                    </a>
                </div>
                <!--Payment Option Container End-->
    
                <!--Payment Option Container Start-->
                <div class="payment-method-container">
                    <label class="font-13 all-container display-flex align-items-center font-weight-light">
                        <input type="radio" class="radio-grey radio-wide" name="card"> <span class="text-uppercase set-primary-card">{{'SET_AS_PRIMARY' | translate}}</span>
                    </label>
                    <a class="payment-options-list href-decoration-none disabled" routerLink="/add-paypal-account">
                        <span class="icon">
                            <img src="assets/icons/paypal.svg"  alt="Paypal Icon">
                        </span>
                        PayPal
                        <span class="fas fa-check icon chosen hidden"></span>
                        <span class="icon choose float-right">
                            <img class="visible-icon" src="assets/icons/angle-right.svg" alt="Angle Right Icon">
                            <img class="hover-icon" src="assets/icons/angle-right-white.svg" alt="Angle Right Icon">
                        </span>
                    </a>
                </div>
                <!--Payment Option Container End-->
    
                <!--Payment Option Container Start-->
                <div class="payment-method-container">
                    <label class="font-13 all-container display-flex align-items-center font-weight-light">
                        <input type="radio" class="radio-grey radio-wide" name="card"> <span class="text-uppercase set-primary-card">{{'SET_AS_PRIMARY' | translate}}</span>
                    </label>
                    <a routerLink="/add-new-bank-account" class="payment-options-list href-decoration-none disabled">
                        <span class="icon">
                            <img class="visible-icon" src="assets/icons/bank-transfer.svg" alt="Bank Transfer Icon">
                            <img class="hover-icon" src="assets/icons/bank-transfer-white.svg" alt="Bank Transfer Icon">
                        </span>
                        {{'BANK_TRANSFER' | translate}}
                        <span class="fas fa-check icon chosen hidden"></span>
                        <span class="icon choose float-right">
                            <img class="visible-icon" src="assets/icons/angle-right.svg" alt="Angle Right Icon">
                            <img class="hover-icon" src="assets/icons/angle-right-white.svg" alt="Angle Right Icon">
                        </span>
                    </a>
                </div>
                <!--Payment Option Container End-->
            </div>
        </div>
    
    </div>
</ion-content>
