<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>{{'TITLE_SUPPORT_TICKETS' | translate}}
                <small class="text-muted">{{'SUBTITLE_SUPPORT_TICKETS' | translate }}</small>
            </h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body table-responsive">
                    <table
                        class="table table-hover m-b-0 c_list footable footable-1 footable-paging footable-paging-center breakpoint breakpoint-md">
                        <thead>
                            <tr class="footable-header">
                                <th class="footable-sortable" style="display: table-cell;">
                                    {{'FIELD_DELIVERY' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th class="footable-sortable" style="display: table-cell;">
                                    {{'FIELD_USER' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th>{{'FIELD_MAIL' | translate}}</th>
                                <th>{{'FIELD_CREATION_DATE' | translate }}</th>
                                <th>{{'FIELD_STATUS' | translate }}</th>
                                <th>{{'FIELD_SUBJECT' | translate}}</th>
                                <th>{{'FIELD_MESSAGE' | translate }}</th>
                                <th data-breakpoints="xs" class="footable-sortable footable-last-visible"
                                    style="display: table-cell;">{{'COL_ACTION' | translate}}<span
                                        class="fooicon fooicon-sort"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td *ngIf="messagesList.length === 0" colspan="6" style="text-align: center;">
                                    {{'NO_DATA' | translate}}</td>
                            </tr>
                            <tr *ngFor="let message of messagesList">
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{message.delivery.reference}}
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{message.user.name}} {{message.user.lastName}}
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{message.user.mail}}
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{message.insertAt  | date:'dd LLLL yyyy HH:mm'}}
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{message.status | translate}}
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{message.subject}}
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{message.message}}
                                    </p>
                                </td>
                                <td class="footable-last-visible" style="display: table-cell;">
                                    <button tooltip="{{'TOOLTIP_IN_PROCESS' | translate}}" *ngIf="message.status === 'UNPROCESSED'"
                                        (click)="updateStatus(message._id, 'IN_PROCESS')"
                                        class="btn btn-warning btn-icon btn-simple btn-icon-mini btn-round"><i
                                            class="zmdi zmdi-assignment-check"></i></button>
                                    <button tooltip="{{'TOOLTIP_PROCESSED' | translate}}" *ngIf="message.status === 'IN_PROCESS'"
                                        (click)="updateStatus(message._id, 'PROCESSED')"
                                        class="btn btn-warning btn-icon btn-simple btn-icon-mini btn-round"><i
                                            class="zmdi zmdi-check"></i></button>
                                    <button tooltip="{{'TOOLTIP_DELETE' | translate}}" (click)="deleteElement(message._id)"
                                        class="btn btn-danger btn-icon btn-simple btn-icon-mini btn-round"><i
                                            class="zmdi zmdi-delete"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
            <div class="card" *ngIf="messagesList.length > 0">
                <div class="body">
                    <ul class="pagination pagination-primary m-b-0">
                        <li class="page-item" [ngClass]="{'disabled': page <= 0}"><a class="page-link"
                                (click)="changePage(page-1)"><i class="zmdi zmdi-arrow-left"></i></a>
                        </li>
                        <li class="page-item active"><a class="page-link">{{page+1}}</a></li>
                        <li class="page-item" *ngIf="((page + 1 ) * limit) < nbTotal"><a class="page-link"
                                (click)="changePage(page+1)"><i class="zmdi zmdi-arrow-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>