<ion-content>
    <div class="row h-100">
        <div class="col-xs-12 col-sm-12">
    
            <div class="rest-container">
                <div class="text-center header-icon-logo-margin header-icon-logo-margin-extra">
                    <div class="profile-picture-container">
                        <img id="logoDelivererRegistration" src="assets/images/driver-registration.svg" alt="Driver Registration Icon">
                    </div>
                </div>
                <div class="address-title">{{'TITLE_INFORMATION_DELIVERER' | translate}}</div>
    
                <!--Driver Registration Information Links Container Start-->
                <div class="sign-up-form-container">
                    <div class="width-100">
                        <!--Driver Registration Item Start-->
                        <div class="border-bottom-primary ">
                            <a routerLink="/drivers-license" class="home-options-list href-decoration-none">
                                {{'TITLE_DELIVERER_LICENSE' | translate}}
                                <span class="fas fa-check icon chosen hidden"></span>
                                <span class="icon choose float-right">
                                    <img src="assets/icons/angle-right.svg" alt="Angle Right Icon">
                                </span>
                            </a>
                        </div>
                        <!--Driver Registration Item End-->
    
                        <!--Driver Registration Item Start-->
                        <div class="border-bottom-primary">
                            <a routerLink="/personal-id-card" class="home-options-list href-decoration-none">
                                    {{'TITLE_PERSONAL_ID_CARD' | translate}}
                                <span class="fas fa-check icon chosen hidden"></span>
                                <span class="icon choose float-right">
                                    <img src="assets/icons/angle-right.svg" alt="Angle Right Icon">
                                </span>
                            </a>
                        </div>
                        <!--Driver Registration Item End-->
                    </div>
                </div>
                <!--Driver Registration Information Links Container End-->
    
            </div>
        </div>
    
    </div>
</ion-content>
