<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">{{'TITLE_VALIDATION_DELIVERY' | translate}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-page-main-wrapper">
  <div class="container">

    <div class="row justify-content-center full-width">
      <div class="col-md-12" *ngIf="!delivery.invoice">
        <div class="text-center col-md-12 col-sm-12">
          Aucune facture n'a été émise pour cettre livraison.
        </div>
      </div>
      <div class="row justify-content-center col-md-6"  *ngIf="delivery.invoice">

        <button style="margin-right: 10px; background-color: #54BBEC; color: #fff; margin-bottom: 20px;"
          (click)="prevOrder()" class="col-5 btn btn-submit" *ngIf="indexOrder > 0 ">
          <span class="icon-arrow-left"></span> Précédent
        </button>
        <button style="margin-right: 10px; background-color: #54BBEC; color: #fff; margin-bottom: 20px;"
          (click)="nextOrder()" class="col-5 btn btn-submit" *ngIf="indexOrder+1 < delivery.image.length">
          Suivant <span class="icon-arrow-right"></span>
        </button>
        <div class="col-md-12">
          <div class="zoom">
            <img (click)="seeImage('FIELD_CERTIFICATE', delivery.image)" style="width: 100%;"
              src="{{delivery.image && delivery.image.length > 0?url:'assets/images/logo.png'}}" alt="">
          </div>
        </div>
      </div>
      <div class="col-md-6"  *ngIf="delivery.invoice">
        <div  *ngIf="delivery.invoice" _ngcontent-c5="" class="box_style_2">
          <h2 _ngcontent-c5="" class="inner">Liste des produits</h2>

        <mat-card *ngFor="let product of products" class="example-card" style="margin-bottom: 10px;">
            <mat-card-header>
              <mat-card-title>
                <h3>{{'PRODUCT' | translate}}: {{product.description}}</h3>
              </mat-card-title>
              <mat-card-subtitle>{{'FIELD_PRODUCT_QUANTITY' | translate }}: <strong>{{product.quantity}}</strong>
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
              <div class="location" *ngIf="product.status && product.status === 'DELETED'">
                {{'PRODUCT_NOT_AVAILABLE' | translate}}
              </div>
              <div class="location" *ngIf="!product.status || product.status !== 'DELETED'">
                {{'FIELD_PRODUCT_UNITARY_AMOUNT' | translate}}:
                <strong>{{product.unitAmount  | currency:'EUR':true}}</strong>
              </div>
              <div class="location" *ngIf="!product.status || product.status !== 'DELETED'">
                {{'FIELD_TOTAL_PRODUCT' | translate}}:
                <strong>{{product.unitAmount * product.quantity  | currency:'EUR':true}}</strong>
              </div>
              <div class="location"  *ngIf="product.comment">
                {{'FIELD_COMMENT' | translate}}:
                <strong>{{product.comment}}</strong>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="row" style="margin-top:20px" *ngIf="delivery.invoice">
          <div class="text-center col-md-12 col-sm-12">
            {{'FIELD_TOTAL_AMOUNT_WITHOUT_FEE' | translate}}:
            <strong>{{totalAmountWithoutFee  | currency:'EUR':true}}</strong>
          </div>
          <div class="text-center col-md-12 col-sm-12">
            {{'FIELD_DELIVERY_FEE' | translate}}:
            <strong *ngIf="delivery.invoice.codePromoInformation && delivery.invoice.codePromoInformation.status === 'ENABLED' && delivery.invoice.promoAmount && delivery.invoice.promoAmount > 0" style="text-decoration-line: line-through;">{{delivery.invoice.amountDeliverer + delivery.invoice.platformFee - delivery.invoice.feeManagement  | currency:'EUR':true}} </strong>
            <strong>{{(delivery.invoice.promoAmount?(delivery.invoice.amountDeliverer + delivery.invoice.platformFee - delivery.invoice.feeManagement - delivery.invoice.promoAmount):(delivery.invoice.amountDeliverer + delivery.invoice.platformFee - delivery.invoice.feeManagement))  | currency:'EUR':true}}</strong>
          </div>
          <div class="text-center col-md-12 col-sm-12">
            {{'FIELD_MANAGEMENT_FEE' | translate}}:
            <strong>{{(delivery.invoice.feeManagement)  | currency:'EUR':true}}</strong>
          </div>
          <div *ngIf="delivery.invoice.codePromoInformation && delivery.invoice.codePromoInformation.status === 'ENABLED'" class="text-center col-md-12 col-sm-12">
            <strong>{{'FIELD_CODE_PROMO' | translate: {percentage: delivery.invoice.codePromoInformation.percentage} }}</strong>
          </div>
          <div class="text-center col-md-12 col-sm-12">
            {{'FIELD_TOTAL_AMOUNT_WITH_FEE' | translate}}:
            <strong *ngIf="delivery.invoice.codePromoInformation && delivery.invoice.codePromoInformation.status === 'ENABLED' && delivery.invoice.amountCustomerBeforeCodePromo" style="text-decoration-line: line-through;">{{delivery.invoice.amountCustomerBeforeCodePromo  | currency:'EUR':true}} </strong>
            <strong>{{delivery.invoice.amountCustomer  | currency:'EUR':true}}</strong>
          </div>
        </div>
      </div><!-- End col-md-9-->

    </div><!-- End row -->
  </div><!-- End container -->
</div>