/* You can add global styles to this file, and also import other style files */
@import 'node_modules/angular2-toaster/src/toaster';
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";

.pac-container:after {
    /* Disclaimer: not needed to show 'powered by Google' if also a Google Map is shown */

    background-image: none !important;
    height: 0px;
}

.pac-container{
    z-index: 9999999;
}

.pointer-link{
    cursor: pointer;
}

#CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll, #CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection{
    background-color: #54BBEC !important;
    border-color: #54BBEC !important;
}

#CybotCookiebotDialogBodyLevelButtonLevelOptinDeclineAll{
    background-color: #D8418F !important;
    border-color: #D8418F !important;
}

.red-outline{
    border-color: #D8418F !important;
    color: #D8418F !important;
}

.fuschia{
    background-color: #D8418F;
}

.blue{
    background-color: #54BBEC;
}

.mat-dialog-content { max-height: unset; }


.navbar{
    z-index: 9;
}

@media print{
    .doNotPrint{display:none !important;}
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-chip-list-wrapper{
    justify-content: center;
}

.mat-horizontal-stepper-header-container{
    width: 90%;
    margin: auto;
}

.commandItem .mat-list-item-content{
    justify-content: center;
}


.red{
    background: #D8418F;
    color: white;
}

.no-dot{
    list-style: none;
}

.mat-step-header .mat-step-icon-selected, .mat-step-header .mat-step-icon-state-done, .mat-step-header .mat-step-icon-state-edit{
    background-color: #54BBEC !important;
}

.datetime-picker {
    .mat-form-field-underline{
        display: none;
    }

    .mat-form-field-wrapper{
        padding: 0px;
    }

    .mat-form-field-infix{
        padding: 5px;
        margin: 0px;
        border-top: 0px;
    }
}

html{
    top: 0px !important;
}

.no-link, .no-link:hover, .no-link:focus, .no-link:active {
    text-decoration: none;
    color: inherit;
}

.btn-fill-blue{
    background-color: #54BBEC;
    border-color: #54BBEC;
    color:white !important;
}




.gm-style-iw {
	width: 350px !important;
	top: 15px !important;
	left: 0px !important;
	background-color: #fff;
	box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
	border: 1px solid rgba(72, 181, 233, 0.6);
	border-radius: 2px 2px 10px 10px;
}
#iw-container {
	margin-bottom: 10px;
}
#iw-container .iw-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #48b5e9;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
}
#iw-container .iw-content {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
}
.iw-content img {
	float: right;
	margin: 0 5px 5px 10px;	
}
.iw-subTitle {
	font-size: 16px;
	font-weight: 700;
	padding: 5px 0;
}
.iw-bottom-gradient {
	position: absolute;
	width: 326px;
	height: 25px;
	bottom: 10px;
	right: 18px;
	background: linear-gradient(to bottom, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
}