.call-animation {
      width: 135px;
      height: 135px;
      position: relative;
      margin: 0 auto;
      border-radius: 100%;
      animation: play 2s ease infinite;
      -webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
      backface-visibility: hidden;
    
  }
   img {
          width: 135px;
          height: 135px;
          border-radius: 100%;
          position: absolute;
          left: 0px;
          top: 0px;
      }
  @keyframes play {
  
      0% {
          transform: scale(1);
      }
      15% {
          box-shadow: 0 0 0 5px rgba(84, 187, 236, 0.4);
      }
      25% {
          box-shadow: 0 0 0 10px rgba(84, 187, 236, 0.4), 0 0 0 20px rgba(84, 187, 236, 0.2);
      }
      25% {
          box-shadow: 0 0 0 15px rgba(84, 187, 236, 0.4), 0 0 0 30px rgba(84, 187, 236, 0.2);
      }
  
  }
  