<ion-content>
  <div class="row h-100">
    <div class="row justify-content-center" style="margin-top: 60px;">
      <div class="col-xs-8 col-sm-8 col-8">
        <div class="rest-container">
          <p>
            {{message | translate}}
          </p>
          <button
            class="btn btn-primary text-uppercase" (click)="returnToHome()" style="width: 100%;">{{'BTN_RETURN' | translate}}</button>
        </div>
      </div>
      <div class="col-12">
        <div class="call-animation">
          <img class="img-circle"
            src="{{avatar && avatar !== 'no-avatar' ?fileService.getPublicUrl(avatar) :'assets/images/man.svg'}}" alt=""
            width="140" />
        </div>
      </div>
    </div>
  </div>
</ion-content>