.responsive
{
    position: absolute; top: 80%; width: 100%;
}



@media screen and (max-width: 383px ) and (min-height:668px){
  .responsive {
      position: initial; top: 80%; width: 100%;
  }
  }

  .floating-btn-contaner {
    font-family: "Roboto";
    position: absolute;
    z-index: 1000;
    bottom: 140px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    .flex-btn {
        width: calc(100% - 30px);
        display: flex;
        align-items: center;
        justify-content: space-between;
        a {
            flex: 1;
        }
    }

    .action-btn {
        margin-top: 30px;
        a {
            color: #fff;
            text-decoration: underline;
        }
    }
}