<!-- <ion-content> -->

  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <div class="rest-container hidden-overflow">

        <!--Sign Up Container Start-->
        <!--
        <div class="sign-up-form-container text-center" >
                <h2>{{'DISCOVER' | translate }}</h2>
        </div>
        -->


        <!--   playsinline autoplay muted loop-->

        <video playsinline autoplay muted loop controlsList="nodownload" poster="assets/images/livmedposter.jpeg">
          <source src="assets/video/charlotte.mp4" type="video/mp4">
        </video>


        <div class="floating-btn-contaner">
          <!--class="responsive" -->
          <div class="flex-btn">
            <a routerLink="/login-customer" class="btn  btn-primary  text-white text-uppercase">{{'SIGN_IN' |
              translate}}</a>
            <div style="width: 20px;"></div>
            <a routerLink="/sign-up-option" class="btn  btn-primary text-white text-uppercase"
              style="background-color: #00bdf2!important;border:none;">{{'SIGN_UP' |
              translate}}</a>
          </div>
          <div class="action-btn">
            <a [routerLink]="['/choice']" routerLinkActive="router-link-active" >Professionnel ? cliquez ici</a>
          </div>
        </div>
      </div>
    </div>

  </div>
<!-- </ion-content> -->