<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">Article</h1>
          <ol class="breadcrumb">
            <li><a href="#" title="Home">Fast Fitness</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="article-page-main-wrapper">

  <div class="container">
    <div class="s-title">
      <img style="height: auto;
                        width: 700px;
                        margin-right: auto;
                        display: block;
                        margin-left: auto;" class="center" src="assets/images/imagesBlog/pexels-andrea-piacquadio-3757376.jpg" loading="eager" alt="">
      <h1 class="wow"> Fast Fitness </h1>
      <p>Parfois les femmes d'affaires qui réussissent ont du mal à trouver du temps pour faire du sport. Vous souhaitez vous débarrasser des quelques kilos que vous avez pris pendant vos vacances ? Alors vous cherchez les exercices pour faire de la fast gym chez vous
        ? Nous vous expliquerons comment programmer une séance d'entraînement si vous êtes prêt à y consacrer une demi-heure, une heure ou deux heures par semaine.  </p>
    </div>

    <div class="s-chapter-1">
      <H2>Vous avez 30 minutes à votre disposition pour faire du fitness </H2>
      <h4>Fitness</h4>
      <p>Faire de la musculation pendant une demi-heure une fois par semaine est inefficace. Il en va tout autrement si vous faites 3 exercices, mais pendant 10 minutes chacun. Suivez le schéma 4-3-2-1 et procurez-vous un chronomètre.</p>
      <ul>
        <li><p>Quatre minutes : faites des exercices de haute intensité, comme courir et marcher sur place en serrant les abdominaux. Alternez des intervalles de 30 secondes de course et de marche.</p> </li>
        <li><p>Trois minutes : faites des exercices de renforcement, chacun pendant 60 secondes. Par exemple, les squats, les pompes avec les genoux et les fentes avec fixation.</p> </li>
        <li><p>Deux minutes : exercices d’abdominaux, chaque exercice pendant 60 secondes. Par exemple, faites une barre sur les genoux et des curls avec les bras croisés sur la poitrine. </p></li>
        <li><p>Enfin, une minute est destinée aux étirements, deux exercices de 30 secondes chacun. Vous pouvez également faire des roulades latérales en vous asseyant sur le sol et des flexions avant en vous tenant debout.</p></li>
      </ul>

      <h4>Nutrition</h4>
      <p>Chaque matin après le petit-déjeuner, pensez à prendre 1 comprimé de complexe Vitamines et Minéraux. Ne manquez pas de prendre un petit-déjeuner : il vous sera plus facile de tenir jusqu'au déjeuner et de ne pas trop manger au dîner.
      </p>
      <ul>
        <li><p>Pour le petit-déjeuner, ce sera idéal un porridge avec de l'avoine ou une omelette accompagnée d'une salade et une boisson.</p></li>
        <li><p>Pour le déjeuner : poisson ou volaille accompagné de légumes ou de céréales tels que du sarrasin, de l'orge avec des légumes, ainsi qu'une salade de légumes..</p> </li>
        <li><p>Pour le dîner : un morceau de viande (bœuf, porc ou agneau). Mangez au maximum 2 fois par semaine. Ou bien optez pour de la volaille ou du lapin accompagné de légumes. Et enfin une salade de légumes frais avec de l'huile d'olive. </p> </li>
      </ul>
      <p>À chaque repas, il est conseillé de manger des légumes et des légumes verts, en quantités égales, qu'ils soient frais ou traités par la chaleur (bouillis, grillés). Les produits suivants sont strictement interdits sont l'alcool, la confiserie, la viande fumée et les conserves. Les graisses qui sont la principale source de calories sont présentes dans tous les repas.
        Pour faciliter leur absorption, il est recommandé de prendre des capsules de compléments alimentaires contribuant au déstockage des graisses (<a> Oenobiol Boost Minceur </a>).
      </p>
    </div>
    <br>
    <div class="s-chapter-2">
      <h2>Vous avez 1 heure à votre disposition pour faire du fitness</h2>
      <h4> Fitness.</h4>
      <p>Effectuez le même programme d'entraînement décrit dans le bloc précédent (<a> H2 : Vous avez 30 minutes à votre disposition pour faire du fitness </a>), également 3 fois par semaine, mais en deux séances. De plus, utilisez des équipements supplémentaires tels qu'une bande d'extension, un ballon de fitness, des haltères, un medball ou une corde à sauter.</p>
      <h4> La nutrition.</h4>
      <p>Suivez tous les principes de nutrition présentés dans le bloc ci-dessus. Pour les « goûters », choisissez des aliments à faible indice glycémique. Par exemple, les noix (sauf les noix du Brésil) séchées (non grillées) sans sel ni sucre, ou bien des fruits secs. Mais le goûter le plus idéal, ce sont les fraises que ce soit congelées, séchées ou fraîches. Les fraises contiennent des fibres, notamment la pectine, qui contribue à la réduction de l'appétit et à éviter les « troubles alimentaires ». Les fraises doivent être sans sucre, mais sans que leur quantité soit limitée. Il est important de maintenir l'équilibre hydrique pendant l'entraînement : buvez au moins 2 litres de l'eau le jour de l'entraînement, et les autres jours, vous pouvez consommer 1,5 litre.</p>
    </div>
    <br>
    <div class="s-chapter-3">
      <h2> Vous avez 2 heures à votre disposition pour faire du fitness</h2>
      <h4>  Fitness.</h4>
      <p>Effectuez le programme d'entraînement décrit dans le premier bloc (<a> H2 : Vous avez 30 minutes à votre disposition pour faire du fitness </a>) deux fois par semaine en trois séances. N’effectuez pas les exercices consécutivement mais alternez vos entraînements tous les deux jours. Prévoyez deux jours supplémentaires pour une demi-heure de jogging ou de vélo.</p>
      <h4> Nutrition.</h4>
      <p>Suivez les principes de nutrition présentés dans les blocs précédents. Ajoutez la consommation de fruits, au moins deux par jour. Idéalement : oranges, pommes, poires, pêches, prunes, nectarines. Les bananes, les raisins et les mandarines sont interdits. Choisissez uniquement des produits laitiers dont la teneur en matières grasses ne dépasse pas 1 %. Privilégiez les variétés blanches de fromage qui sont moins grasses : brebis, chèvre ou soja (tofu). Pour vous récompenser de vos efforts, vous pouvez vous permettre 30 à 50 grammes de chocolat contenant au moins 50 % de cacao.</p>

    </div>

  </div>
</div>
