.icon-pharmacy{
    width:178px;
    height:73px;
}

.close-request{
    margin-right: 10px;
    margin-top: 10px;
}

.fa-stack[data-count]:after {
    position: absolute;
    right: 0%;
    top: 0%;
    content: attr(data-count);
    font-size: 40%;
    padding: .6em;
    border-radius: 999px;
    line-height: .75em;
    color: white;
    color: #EA2C92;
    text-align: center;
    min-width: 2em;
    font-weight: bold;
    background: white;
    border-style: solid;
  }
  
  .fa-square {
    color: #54BBEC;
  }
  
  .red-cart {
    color: #DF0000;
    background: white;
  }
  
  .category{
    text-align: center;
    padding: 12px;
    border-radius: 20px;
    
    input[type=radio]{
      border: 1px solid white;
    }
  }

  .selected-cat{
    background-color: #54BBEC;
    padding: 12px;
    border-radius: 20px;
  }

  .selected-cat{
    background-color: #54BBEC;
    padding: 12px;
    border-radius: 20px;
  }

.label-shop{
  font-size: 15px;
  margin-bottom: 0;
  font-weight: 600;
  color: black;
}

.selected-cat .label-shop{
  color: white;
}

.basket{
  background-color: #D8418F !important;
  border-color: #D8418F !important;
}

.app-icon[data-count]:not([data-count=""]):not([data-count="0"]):after{
  position: relative !important;
  left: -48px !important;
  top: -19px !important;
}

input[type=search]::-webkit-search-cancel-button {
  /* Remove default */
  -webkit-appearance: none;

  /* Now your own custom styles */
   height: 14px;
   width: 14px;
   display: block;
   background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAAn0lEQVR42u3UMQrDMBBEUZ9WfQqDmm22EaTyjRMHAlM5K+Y7lb0wnUZPIKHlnutOa+25Z4D++MRBX98MD1V/trSppLKHqj9TTBWKcoUqffbUcbBBEhTjBOV4ja4l4OIAZThEOV6jHO8ARXD+gPPvKMABinGOrnu6gTNUawrcQKNCAQ7QeTxORzle3+sDfjJpPCqhJh7GixZq4rHcc9l5A9qZ+WeBhgEuAAAAAElFTkSuQmCC);
  /* setup all the background tweaks for our custom icon */
  background-repeat: no-repeat;

  /* icon size */
  background-size: 14px;
    
}

.approved-icon.prev{
  margin-right: 20px;
}

.approved-icon.prev, .approved-icon.next{
  color: white;
}

.list-wrapper {
  position: relative;
  width: 100%;
  font-size: 0;
}

.scan-prompt-not-display{
  position: absolute;
  height: 0%;
  top: 0;
  width: 100%;
  opacity: 0;
  left: 0;
}

.view-invoice-btn{
  background-size: 33px;
  background-position: center;
  background-image: url('../../assets/images/icons/receipt.svg');
  background-repeat: no-repeat;
}

@keyframes glowing {
  0% { background-color: #54BBEC; box-shadow: 0 0 0px #54BBEC; }
  50% { background-color: #7aeffc; box-shadow: 0 0 40px #7aeffc; border-color: #7aeffc; }
  100% { background-color: #54BBEC; box-shadow: 0 0 0px #54BBEC; }
}

.view-invoice-btn {
  animation: glowing 1300ms infinite;
}

.btn-go-to-top ion-fab-button{
  --background: #54BBEC;
  --background-activated: #48a4cf;
  --background-focused: var(--background-activated);
}

.communication-btn{
  margin: 10px;
}

.ride-status.pharma{
  text-align: center;
}
.btn-apple{
    background-color: #00bdf2;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    color: white;
    padding: 9px 26px;
    width: 100%;
    cursor: pointer;
    border-radius: 7px;
    font-size: 24px;
    max-height: 56px;
}


.btn_add_product_panier{
    font-weight: 700;
    color: #54BBEC;
    background: transparent;
   /* border-radius: 10px;
    border: 1px solid #54BBEC;*/
    padding: 1.2em;
    min-width: 120px;

    margin-top: 5%;
    margin-bottom: 5%;
    }


.textDescription{    font-size: 12px;
      width: 157px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;}

      .textDescription:hover{
          white-space: initial; width: 100%;
      }

      .changeSlides{
      //width: 120%;margin-top:10%;margin-top: 10%;width: 120%;position: fixed;bottom: 0px;width: 100%;align-items: center;
          width: 120%;
          margin-top: 10%;
          margin-top: 10%;
          width: 120%;
          position: unset;
          bottom: 0px;
          width: 120%;
          align-items: center;
      }
//------------------------ Pharmacy ---------------------------------------------
        @media screen and (min-height:510px) and (max-height:570px){
          .responsivePharmacy {
              height: 270px;
          }
        }

      @media screen and (min-height:570px) and (max-height:640px){
          .responsivePharmacy {
              height: 338px;
          }
        }

      @media screen and (min-height:640px) and (max-height:712px){
        .responsivePharmacy {
            height: 400px;
        }
      }

        @media screen and (min-height:712px){
        .responsivePharmacy {
            height: 460px;
        }
        }

              @media screen and (min-height:753px){
        .responsivePharmacy {
            height: 518px;
        }
        }

              @media screen and (min-height:812px){
        .responsivePharmacy {
            height: 525px;
        }
      }
//------------------------ Autre ---------------------------------------------

            @media screen and (min-height:510px) and (max-height:570px){
          .responsiveCategory {
              height: 180px;
          }
        }

      @media screen and (min-height:570px) and (max-height:640px){
          .responsiveCategory {
              height: 240px;
          }
        }

      @media screen and (min-height:640px) and (max-height:712px){
        .responsiveCategory {
            height: 310px;
        }
      }

        @media screen and (min-height:713px){
        .responsiveCategory {
            height: 370px;
        }
        }

              @media screen and (min-height:784px){
        .responsiveCategory {
            height: 467px;
        }
      }


