<div #map id="map" class="h-100"></div>


<div class="not-map">

    <div class="change-request-status">
        <div *ngIf="session.currentUser().status === 'AWAITING_VALIDATION' && session.getPreferences().enableTutorial === 'true'"
            class="request-notification-container map-notification offline-notification map-notification-warning">
            Votre compte n'a pas été encore validé
            <div class="font-weight-light">
                Pour finir la validation de votre compte, vous devez nous envoyer vos documents.<br />
                Pour cela, aller dans "Menu" => "Mes documents" et remplissez vos documents.
            </div>
        </div>

        <img *ngIf="this.delivery._id && action !== 'edit'" src="assets/icons/close.svg" class="float-right" alt="Close"
            (click)="closeDelivery()">
        <div class="clearfix"></div>
    </div>
    <div *ngIf="delivery._id && this.delivery.status === 'IN_DELIVERY'" class="change-request-status"
        style="top: 110px; padding: 0 8px;">
        <img src="assets/icons/map-position.svg" class="float-right" alt="Map Position" (click)="centerMap()">
    </div>

    <div *ngIf="!delivery._id" class="change-request-status" style="top: 64px; padding: 0 8px; right:0;width: auto;">
        <img src="assets/icons/map-position.svg" class="float-right" alt="Map Position"
            (click)="centerMapNotInDelivery()">
    </div>


    <!--Request Ride Button Container Start-->
    <div [hidden]="hideRequestDelivery || session.currentUser().status === 'AWAITING_VALIDATION'"
        class="request-ride-btn" (click)="firstStepCreateDeliveryRequest()">
        <!--(click)="displayShop()"-->
        <button type="button" class="btn btn-primary">{{'TO_BE_DELIVERED' | translate}}</button>
    </div>
    <!--Request Ride Button Container End-->



    <!--Choose a Car Container Start-->
    <!--
    <div [hidden]="hideFirstStepCreateDeliveryRequest" class="ride-options-bottom">
        <div class="about-section">
            <div class="close-wish close-request"
                (click)="hideFirstStepCreateDeliveryRequest = true; hideRequestDelivery=false; resetForm();">
                <span class="float-right">
                    <img src="assets/icons/close.svg" alt="Close Icon">
                </span>
                <span class="clearfix"></span>
            </div>

            <div class="form-group">
                <div class="input-group" (click)="displayShop()">
                    <div class="input-group-prepend">
                        <span class="fas fa-store icon-color"></span>
                    </div>
                    <input value="{{delivery.merchant?(delivery.merchant.name | translate):undefined}}"
                        class="form-control" type="text" placeholder="{{'SELECT_MERCHANT' | translate}}" disabled>
                </div>
            </div>

            <div class="form-group" *ngIf="session.currentUser().role !== UserRole.ROLE_CUSTOMER">
                <div class="input-group" (click)="displayCustomers = true">
                    <div class="input-group-prepend">
                        <span class="fas fa-store icon-color"></span>
                    </div>
                    <input
                        value="{{delivery.customerOfMerchant?(delivery.customerOfMerchant.name + ' ' +delivery.customerOfMerchant.lastname):undefined}}"
                        class="form-control" type="text" placeholder="{{'SELECT_CUSTOMER' | translate}}" disabled>
                </div>
            </div>

            <div class="form-group" *ngIf="session.currentUser().role === UserRole.ROLE_CUSTOMER">
                <div class="input-group" (click)="displayAddresses = true">
                    <div class="input-group-prepend">
                        <span class="fas fa-map-marked-alt icon-color"></span>
                    </div>
                    <input value="{{delivery.addressId?delivery.addressId.fullAddress:undefined}}" class="form-control"
                        type="text" placeholder="{{'SELECT_ADDRESS' | translate}}" disabled>
                </div>
            </div>
-->

    <!--Sign Up Field Start-->
    <!--
            <div class="form-group">
                <div class="input-group">
                    <input class="form-control h-100" id="phone-input-home-customer" type="tel" name="phone"
                        autocomplete="off" data-intl-tel-input-id="0" placeholder="(201) 555-0123"
                        [(ngModel)]="delivery.phoneNumber">
                </div>
            </div>
            -->
    <!--Sign Up Field End-->
    <!--
            <div class="form-group">
                <span>{{'DELIVERY_SCHEDULED' | translate}}</span>
                <label class="switch float-right">
                    <input type="checkbox" id="isScheduled" (change)="showMessageScheduled($event)">
                    <span class="slider"></span>
                </label>
                <span class="clearfix"></span>
            </div>
            <div class="form-group" *ngIf="delivery.isScheduled">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span><i class="fas fa-calendar" style="color: #777777"></i></span>
                    </div>
                    <ion-datetime [(ngModel)]="delivery.deliveryDate" id="selectPaymentDate"
                        displayFormat="DD/MM/YYYY HH:mm" placeholder="Sélectionner une date" doneText="Valider"
                        cancelText="Annuler">
                    </ion-datetime>
                </div>
            </div>

            <div class="form-group">
                <div class="form-submit-button">
                    <a (click)="displayWishContainer(true)"
                        class="btn btn-file btn-deep-blue text-uppercase ">{{'PARAPHARMACY' | translate}}</a>
                </div>
            </div>
            <div class="form-group">
                <div class="form-submit-button">
                    <a (click)="showShoppingCart(true)"
                        class="btn btn-file text-uppercase basket">{{'BTN_SHOW_SHOPPING_CARD' | translate}}
                        <span class="fas fa-shopping-basket margin-left-10"></span></a>
                </div>
            </div>
        </div>
        <div class="payment-options">
            <div class="send-wishes-container" (click)="displayListOrders()">
                <div class="float-left wishes">
                    <span class="fas fa-3x fa-file-medical"></span>
                </div>
                <div class="payment-option-content">
                    {{'ADD_JUSTIFICATION_FILE' | translate}}
                    <span class="payment-options-more">{{'DESCRIPTION_ADD_JUSTIFICATION_FILE' | translate}}</span>
                </div>
            </div>
            <div class="default-payment-method-container display-flex" (click)="displayPaymentOption()">
                <div class="float-left wishes">
                    <span class="fas fa-3x fa-credit-card"></span>
                   -->
    <!-- <img src="assets/icons/cash.svg" alt="Cash Icon" class="h-100"> -->
    <!-- </div>
                <div class="payment-option-content">
                    {{'CREDIT_CARD' | translate}}
                    <span class="payment-options-more">{{'DEFAULT_METHOD_PAYMENT' | translate}}</span>
                </div>
            </div>
        </div>
        <div class="confirm-ride-btn">
            <button type="button" class="btn btn-primary" style="color: white; font-weight: 600;"
                (click)="checkout()">{{'BTN_CONFIRM' | translate}}</button>
        </div>
    </div>
    -->


    <div *ngIf="displayListOrder" class="wish-container details-invoice"
        style="overflow-y: scroll; background-color: white; height: 100%;">
        <div class="font-weight-light wishes-main-text" style="text-align: center;">
            <button style="margin-bottom: 10px; font-weight: 600; margin-top: 48px;" type="button"
                class="btn btn-primary w-100 text-uppercase btn-accept"
                (click)="displayListOrder = false">{{'BTN_RETURN_TO_MAP' | translate}}</button>
            <!-- <div class="row" style="margin-bottom: 10px; font-weight: 600; margin-top: 48px;">
                <button type="button" class="col-12 btn btn-primary w-100 text-uppercase btn-accept"
                    (click)="fileInputPrescription.click()">
                    <span class="fas fa-file-pdf"></span>
                    {{'ADD_JUSTIFICATION_FILE_PDF' | translate}}</button>
                <input class="scan-prompt-not-display" type="file" accept="application/pdf"
                    (change)="changeFile($event, 'SENDING_PRESCRIPTION')" #fileInputPrescription>
            </div> -->
            <!-- <div class="row" style="margin-bottom: 10px; font-weight: 600; margin-top: 48px;">
                <button type="button" class="col-2 btn btn-primary w-100 text-uppercase btn-accept"
                    (click)="takePicture(cameraSource.Camera)"><span class="fas fa-camera"></span></button>
                <button type="button" class="offset-1 col-9 btn btn-primary w-100 text-uppercase btn-accept"
                    (click)="takePicture(cameraSource.Photos)">
                    <span class="fas fa-plus"></span> {{'ADD_JUSTIFICATION_FILE' | translate}}</button>
            </div> -->

            <div class="row" *ngIf="delivery.image.length > 1">
                <div class="col-12">
                    <button style="font-weight: 600; margin-top: 10px;" type="button"
                        class="btn w-100 text-uppercase btn-danger btn-deep-blue" [disabled]="indexOrder === 0"
                        (click)="prevOrder()">
                        <span class="fas fa-backward"></span> {{'PREV_ORDER' | translate}}</button>

                    <button style="margin-bottom: 10px; font-weight: 600; margin-top: 10px;" type="button"
                        class="btn w-100 text-uppercase btn-danger btn-deep-blue"
                        [disabled]="indexOrder+1 >= delivery.image.length" (click)="nextOrder()">
                        {{'NEXT_ORDER' | translate}} <span class="fas fa-forward"></span></button>
                </div>
            </div>

            <div *ngIf="delivery.image.length === 0" class="col-12" style="padding: 15px;">
                {{'NO_UPLOADED_ORDER' | translate}}</div>

            <div class="row justify-content-center">
                <img class="col-10" *ngIf="delivery.image.length > 0 && urlOrder.type === 'IMAGE'"
                    [src]="urlOrder.content" />
                <div *ngIf="delivery.image.length > 0 && urlOrder.type === 'PDF'" class="col-10"
                    (click)="openPdf(urlOrder.content)">
                    <img class="col-10" [src]="'assets/images/pdf.svg'" />
                    <p>
                        {{'CLICK_TO_DISPLAY_PDF' | translate}}
                    </p>
                </div>
                <button *ngIf="delivery.image.length > 0"
                    style="margin-bottom: 10px; font-weight: 600; margin-top: 48px;" type="button"
                    class="btn btn-primary w-100 text-uppercase btn-danger" (click)="deleteImageOrder(indexOrder)">
                    <span class="fas fa-trash"></span> {{'DELETE_THIS_ORDER' | translate}}</button>
            </div>
        </div>
    </div>


    <div *ngIf="displayShops" class="wish-container details-invoice"
        style="overflow-y: scroll; background-color: white; height: 100%;">

        <ion-slides #slides (ionSlideDidChange)="ionSlideDidChange($event)" [options]="{allowTouchMove:false}">
            <!--- Pharmacie -->
            <ion-slide>

                <div class="font-weight-light wishes-main-text">

                    <!--
            <div class="sign-up-btn-container">
            <button (click)="slideNext()" class="btn-apple"  style="background: #ffffff00;">  <img src="assets/images/pngwing.png"style="width: 50%;"></button>
        </div>
-->
                    <!--
                    <button style="margin-bottom: 20px; font-weight: 600; margin-top: 48px;" type="button"
                        class="btn btn-primary w-100 text-uppercase btn-accept"
                        (click)="displayShops = false">{{'BTN_RETURN_TO_MAP' | translate}}</button>


                    <div >
                        <button (click)="slideNext()" class="btn-apple"  style="margin-top: 10px;"> {{'NEXT_STEP_SLIDES' | translate}}</button>
                    </div>
                    -->




                    <!--<form style="margin-top: 10px !important; margin-bottom: 20px; font-weight: 600; color: white;">
                    <label *ngFor="let category of categories" class="font-weight-light width-100 category">
                        <input name="category" [(ngModel)]="categorySelected" [value]='category.value' type="radio"
                            class="margin-right-15" (change)="categoryChange()"> {{category.label | translate}}
                    </label>
                </form>
                 -->
                    <!--
            <div class="row">
                <div *ngFor="let category of categories" class="col-4 category" (click)="categoryChange(category)"
                    [class.selected-cat]="category.value === categorySelected">
                    <h4 class="label-shop">{{category.label | translate}}</h4>
                    <img src="{{getLogoForCat(category.label)}}" />
                </div>
            </div>
            -->

                    <h1> {{'SELECT_PHARMA'|translate}} </h1>
                    <!--Email Option End-->
                    <!--
            <div class="form-group" style="padding: 0% 0% 0%;margin-bottom:2%;">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="fas fa-store icon-color"></span>
                    </div>
                    <input value="{{delivery.merchant?(delivery.merchant.name | translate):undefined}}"
                           class="form-control" type="text" placeholder="{{'SELECT_MERCHANT' | translate}}" disabled>
                </div>
            </div>
            -->

                    <div class="form-group" style="padding: 0% 0% 0%;">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="fas fa-search icon-color"></span>
                            </div>
                            <input [(ngModel)]="searchMerchant" class="form-control" type="text"
                                placeholder="{{'SEARCH_MERCHANT' | translate}}" (keyup)="onSearchTextChange($event)">
                        </div>
                    </div>

                    <div class="col-12 responsivePharmacy" style="overflow: scroll;width: 327px;    padding: 0%;">

                        <div class="list-wrapper">
                            <div>
                                <span *ngIf="merchantList.length === 0"
                                    style=" color: #B7B7B7; font-weight: 600; font-size: 15px;">{{'NO_RESULT' |
                                    translate}}</span>
                            </div>
                            <div *ngFor="let merchant of merchantList">
                                <div *ngIf ="!merchant.ph_id">
                                    <a class="payment-options-list disabled href-decoration-none" (click)="selectMerchant(merchant,0)"
                                        style="display: flex; flex-direction: column;
                                border: 1px solid #B7B7B7; color: #B7B7B7; margin: 16px 0px; font-size: 18px; font-weight: 600;">
                                        <span style="display: flex;">
                                            <span class="icon" style="width: 70px; height: 70px;">
                                                <img src="{{merchant.urlAvatar?merchant.urlAvatar:'assets/images/stand.svg'}}"
                                                    alt="pills icon">
                                            </span>
                                            <span>
                                                {{merchant.name}}<br>
                                                {{merchant.favoriteAddress.fullAddress}} <br>
                                            </span>

                                        </span>
                                        <span style="text-align: center;">
                                            <ion-chip *ngIf="merchant.isOpen === true" color="success">
                                                <ion-label color="success">{{'OPEN' | translate}}</ion-label>
                                            </ion-chip>
                                            <ion-chip *ngIf="merchant.isOpen === false" color="danger">
                                                <ion-label color="danger">{{'CLOSE' | translate}}</ion-label>
                                            </ion-chip>
                                            <span *ngIf="merchant.isOpen === undefined" style="color: #D8418F;">
                                                {{'PLANNING_NOT_FILLED' | translate}}
                                            </span>
                                        </span>
                                        <span *ngIf="merchant.isOpen !== undefined">
                                            <div class="row">
                                                <button
                                                    style="margin-bottom: 5px; font-weight: 400; margin-top: 10px;margin-right: 8%;"
                                                    type="button" (click)="selectMerchant(merchant,0)"
                                                    (click)="slideNext()"
                                                    class="btn btn-primary w-100 text-uppercase btn-accept col-9">{{'SELECT_PHARMACIE'
                                                    | translate}}</button>

                                                <button
                                                    style="margin-bottom: 5px; font-weight: 400; margin-top: 10px;background-color:white;       padding: 0%; "
                                                    type="button"
                                                    class="btn btn-primary w-100 text-uppercase btn-accept col-2"
                                                    (click)="displayPlanning($event, merchant.openingTime)"><img
                                                        src="assets/images/planningappli.png"
                                                        style="width:73%;"></button>
                                            </div>
                                        </span>
                                    </a>
                                </div>

                                <!--Pharmanity-->

                                <div *ngIf ="merchant.ph_id" >
                                    <a class="payment-options-list disabled href-decoration-none" (click)="selectMerchant(merchant,merchant.ph_id)" (click)="slideNext()"
                                       style="display: flex; flex-direction: column;
                                border: 1px solid #B7B7B7; color: #B7B7B7; margin: 16px 0px; font-size: 18px; font-weight: 600;">
                                        <span style="display: flex;">
                                            <span class="icon" style="width: 70px; height: 70px;">
                                                <img src="{{merchant.urlAvatar?merchant.urlAvatar:'assets/images/stand.svg'}}"
                                                     alt="pills icon">
                                            </span>
                                            <span>
                                                {{merchant.raison_sociale}}<br>
                                                {{merchant.rue}} {{ merchant.code_postal }}{{merchant.commune}}<br>
                                            </span>

                                        </span>
                                        <span style="text-align: center;">
                                            <ion-chip *ngIf="merchant.isOpen === true" color="success">
                                                <ion-label color="success">{{'OPEN' | translate}}</ion-label>
                                            </ion-chip>
                                            <ion-chip *ngIf="merchant.isOpen === false" color="danger">
                                                <ion-label color="danger">{{'CLOSE' | translate}}</ion-label>
                                            </ion-chip>
                                            <span *ngIf="merchant.isOpen === undefined" style="color: #D8418F;">
                                                {{'PLANNING_NOT_FILLED' | translate}}
                                            </span>
                                        </span>
                                        <span *ngIf="merchant.isOpen !== undefined">
                                            <div class="row">
                                                <button
                                                        style="margin-bottom: 5px; font-weight: 400; margin-top: 10px;margin-right: 8%;"
                                                        type="button" (click)="selectMerchant(merchant,merchant.ph_id)"
                                                        (click)="slideNext()"
                                                        class="btn btn-primary w-100 text-uppercase btn-accept col-9">{{'SELECT_PHARMACIE'
                                                    | translate}}</button>

                                                <button
                                                        style="margin-bottom: 5px; font-weight: 400; margin-top: 10px;background-color:white;       padding: 0%; "
                                                        type="button"
                                                        class="btn btn-primary w-100 text-uppercase btn-accept col-2"
                                                        (click)="displayPlanning($event, merchant.openingTime)"><img
                                                        src="assets/images/planningappli.png"
                                                        style="width:73%;"></button>
                                            </div>
                                        </span>
                                    </a>
                                </div>

                                <button *ngIf="total > limit" style="margin-bottom: 20px; font-weight: 600; margin-top: 48px;"
                                        type="button" class="btn btn-primary w-100 text-uppercase btn-accept"
                                        (click)="displayMoreMerchant()">{{'BTN_MORE' |
                                    translate}}</button>

                            </div>



                        </div>

                    </div>


                    <!--History Item Container End-->

                    <div class="row changeSlides">
                        <button (click)="displayShops = false" class="btn-apple col-5"
                                style="margin-top: 10px;background-color:#d8418f;    margin-right: 1%;">
                            {{'PREV_STEP_SLIDES' | translate}}</button>
                        <button (click)="slideNext()" class="btn-apple col-5 " style="margin-top: 10px;">
                            {{'NEXT_STEP_SLIDES' | translate}}</button>
                    </div>

                </div>

            </ion-slide>
            <!--ADRESSE -->

            <ion-slide>


                <div class="font-weight-light wishes-main-text">
                    <!--<button style="margin-bottom: 20px; font-weight: 600; margin-top: 48px;" type="button"
                        class="btn btn-primary w-100 text-uppercase btn-accept"
                        (click)="displayAddresses = false">{{'BTN_RETURN_TO_MAP' | translate}}</button>-->

                    <!--
                <div class="form-group" *ngIf="session.currentUser().role === UserRole.ROLE_CUSTOMER">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="fas fa-map-marked-alt icon-color"></span>
                        </div>
                        <input value="{{delivery.addressId?delivery.addressId.fullAddress:undefined}}" class="form-control"
                               type="text" placeholder="{{'SELECT_ADDRESS' | translate}}" disabled>
                    </div>
                </div>
                -->
                    <h1> {{'SELECT_ADDRESS'|translate}} </h1>

                    <div class="row">
                        <a style="color: #D8418F;" routerLink="/new-address" [queryParams]="{returnToMap:true}">
                            <i class="far fa-plus-square fa-5x"></i>
                            <div><span class="Comfortaa" style="font-size: x-large;">{{'ADRESS_CUSTOMER' | translate }}
                                </span> <img src="assets/images/icone_form/address.png" style="width: 10%;"></div>
                        </a>
                    </div>
                    <!-- <form style="margin-top: 10px !important; margin-bottom: 20px; font-weight: 600; color: white;">
                        <label *ngFor="let category of categories" class="font-weight-light width-100 category">
                            <input name="category" [(ngModel)]="categorySelected" [value]='category.value' type="radio"
                                class="margin-right-15" (change)="categoryChange()"> {{category.label | translate}}
                        </label>
                    </form> -->
                    <!--Email Option End-->
                    <div class="col-12 responsiveCategory" style=" overflow: scroll;">
                    <div *ngFor="let address of addresses">
                        <div (click)="selectAddress(address)" (click)="slideNext()">
                            <a class="payment-options-list disabled href-decoration-none"
                                style="display: flex;
                            border: 1px solid #B7B7B7; color: #B7B7B7; margin: 16px 0px; font-size: 18px; font-weight: 600;">
                                Adresse: {{address.fullAddress}}<br>
                            </a>
                        </div>
                    </div>
                    <button *ngIf="totalAddress > limitAddress"
                        style="margin-bottom: 20px; font-weight: 600; margin-top: 48px;" type="button"
                        class="btn btn-primary w-100 text-uppercase btn-accept"
                        (click)="displayMoreAddresses()">{{'BTN_MORE' | translate}}</button>
                    </div>

                    <div class="row changeSlides" >
                        <button (click)="slidePrev()" class="btn-apple col-5"
                                style="margin-top: 10px;background-color:#d8418f;    margin-right: 1%;">
                            {{'PREV_STEP_SLIDES' | translate}}</button>
                        <button (click)="slideNext()" class="btn-apple col-5 " style="margin-top: 10px;">
                            {{'NEXT_STEP_SLIDES' | translate}}</button>
                    </div>

                </div>

            </ion-slide>

            <!--Phone + file -->
            <ion-slide>

                <div class="font-weight-light wishes-main-text" style="text-align: center;">
                    <!--<button style="margin-bottom: 10px; font-weight: 600; margin-top: 48px;" type="button"
                        class="btn btn-primary w-100 text-uppercase btn-accept"
                        (click)="displayListOrder = false">{{'BTN_RETURN_TO_MAP' | translate}}</button>-->


                    <div class="row" style="margin-bottom: 10px; font-weight: 600; margin-top: 48px;">
                        <div class="form-group" style="width: 100%;padding: 0%;">
                            <div class="scan-your-card-prompt margin-top-5">
                                <div class="position-relative">
                                    <button (click)="choosePrescription(fileInputPrescription)" type="button" class=" btn btn-primary w-100 text-uppercase btn-accept">
                                        <span class="fas fa-plus"></span> {{'ADD_JUSTIFICATION_FILE' | translate}}
                                    </button>
                                    <input class="scan-prompt-not-display" type="file" accept="application/pdf"
                                        (change)="changeFile($event, 'SENDING_PRESCRIPTION')" #fileInputPrescription>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-12 responsiveCategory" style=" overflow: scroll;">
                    <div class="row" *ngIf="delivery.image.length > 1">
                        <div class="col-12">
                            <button style="font-weight: 600; margin-top: 10px;" type="button"
                                class="btn w-100 text-uppercase btn-danger btn-deep-blue" [disabled]="indexOrder === 0"
                                (click)="prevOrder()">
                                <span class="fas fa-backward"></span> {{'PREV_ORDER' | translate}}</button>

                            <button style="margin-bottom: 10px; font-weight: 600; margin-top: 10px;" type="button"
                                class="btn w-100 text-uppercase btn-danger btn-deep-blue"
                                [disabled]="indexOrder+1 >= delivery.image.length" (click)="nextOrder()">
                                {{'NEXT_ORDER' | translate}} <span class="fas fa-forward"></span></button>
                        </div>
                    </div>

                    <div *ngIf="delivery.image.length === 0" class="col-12" style="padding: 15px;">
                        {{'NO_UPLOADED_ORDER' | translate}}</div>

                    <div class="row justify-content-center">
                        <img class="col-10" *ngIf="delivery.image.length > 0 && urlOrder.type === 'IMAGE'"
                            [src]="urlOrder.content" />
                        <div *ngIf="delivery.image.length > 0 && urlOrder.type === 'PDF'" class="col-10"
                            (click)="openPdf(urlOrder.content)">
                            <img class="col-10" [src]="'assets/images/pdf.svg'" />
                            <p>
                                {{'CLICK_TO_DISPLAY_PDF' | translate}}
                            </p>
                        </div>
                        <button *ngIf="delivery.image.length > 0"
                            style="margin-bottom: 10px; font-weight: 600; margin-top: 48px;" type="button"
                            class="btn btn-primary w-100 text-uppercase btn-danger"
                            (click)="deleteImageOrder(indexOrder)">
                            <span class="fas fa-trash"></span> {{'DELETE_THIS_ORDER' | translate}}</button>
                        <button *ngIf="delivery.image.length > 0" (click)="slideNext()" class="btn-apple"  style="margin-top: 10px;"> {{'VALIDATE_JUSTIFICATION_FILE' | translate}}</button>
                    </div>
                    </div>

                    <div class="row changeSlides"  style="margin-top:22%;">
                        <button (click)="slidePrev()" class="btn-apple col-5"
                                style="margin-top: 10px;background-color:#d8418f;    margin-right: 1%;">
                            {{'PREV_STEP_SLIDES' | translate}}</button>
                        <button (click)="slideNext()" class="btn-apple col-5 " style="margin-top: 10px;">
                            {{'NEXT_STEP_SLIDES' | translate}}</button>
                    </div>
                </div>
            </ion-slide>
            <!-- CATEGORY PHARMA -->
            <ion-slide>


                <div [hidden]="hideWishInformation" class="font-weight-light wishes-main-text" style="height: 100%;width:103%;">
                    <div id="selectCategory" *ngIf="selectCategory" style="font-size: 18px;">
                        <!--<button *ngIf="!searchProduct || searchProduct === ''"
                                style="margin-top: 10px; font-weight: 600; margin-bottom: 20px;" type="button"
                                class="btn btn-primary w-100 font-weight-light text-uppercase btn-accept"
                                (click)="returnToRequest()">{{'BTN_RETURN_TO_REQUEST' | translate}}</button>-->


                        <input [(ngModel)]="searchProduct" class="form-control" type="search" (search)="clearSearch()"
                            placeholder="{{'SEARCH' | translate}}" (keyup)="onSearchProductTextChange($event)"
                            style="margin-top:15%;">

                        <div *ngIf="!searchProduct || searchProduct === ''" class="row">
                            <div class="row" style="width: 120%;margin-bottom:5%;">

                                <div class="row" style="width: 120%;">
                                    <button (click)="getPharmaCategory('ref_medi')" class="btn-apple "
                                            style="margin-top: 10px;background-color:#d8418f;    margin-right: 1%;">
                                        {{'Medicaments' | translate}}</button>
                                    <button (click)="getPharmaCategory('ref_para')" class="btn-apple  " style="margin-top: 10px;">
                                        {{'Parapharmacie' | translate}}</button>
                                </div>

                            </div>


                            <!--<button style="margin-right: 10%;" (click)="getPharmaCategory('ref_marque')">Marque</button>-->
                            <div class="col-12 responsiveCategory" style=" overflow: scroll;">

                                <div *ngFor="let category of categoriesProduct">

                            <div class="border-bottom-primary " *ngIf="category.par_code < 10  && ref_category =='ref_para' "
                                 (click)="displayProducts(category)" (click)="getProduct(category.par_code)" style="margin-bottom: 1%;">
                            <p>{{category.par_nom | translate}}</p>
                            <p>{{category.name | translate}}</p>
                            </div>

                                    <div class="border-bottom-primary " *ngIf="category.par_code < 20 &&  ref_category =='ref_medi' "
                                 (click)="displayProducts(category)" (click)="getProduct(category.par_code)" style="margin-bottom: 1%;">
                            <p>{{category.par_nom | translate}}</p>
                            <p>{{category.name | translate}}</p>
                            </div>

                                </div>


                            <!--<div class="col-12" style="height: 700px; display: flex; overflow: scroll;padding:0%;">

                                <div class="col-6"
                                    style="position:initial;width:49%;min-height:1px;padding: 0% 0% 0%;flex:none;">
                                    <div class="border-bottom-primary" *ngFor="let category of categoriesProduct"
                                        (click)="displayProducts(category)" style="margin-bottom: 1%;">


                                        <div class="contenant"
                                            *ngIf="category !== 'VISAGE' && category !== 'SEXUALITY' && category !== 'FITNESS' && category !== 'ANTI_AGING' &&
                                 category !== 'SOLAR' &&   category !== 'FOOD_SUPPLEMENT'  &&   category !== 'HAIR' &&   category !== 'ORGANIC_NATURE'  "
                                            style=" position: relative;
  text-align: center;
  color: red;">


                                            <a class="href-decoration-none home-options-list"
                                                *ngIf="category !== 'MEDICAL_EQUIPMENT' && category !== 'INFANTILE_MILK' "
                                                style="font-weight: 600; color: #B7B7B7;margin: 0% 0% 0%;padding:0% 0% 0%;">
                                                <img src="assets/images/category/{{category}}.jpg">
                                                <p style="    position: absolute;
    top: 75%;
    left: 5%;
    font-size: 37px;
    color: white;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;">{{category.par_nom | translate}}</p>

                                            </a>


                                            <a class="href-decoration-none home-options-list"
                                                *ngIf="category === 'MEDICAL_EQUIPMENT' || category === 'INFANTILE_MILK' "
                                                style="font-weight: 600; color: #B7B7B7;margin: 0% 0% 0%;padding:0% 0% 0%;">
                                                <img src="assets/images/category/{{category}}.jpg">
                                                <p style="   position: absolute;
                                                top: 11%;
    left: 5%;
    font-size: 37px;
    color: white;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    width: 87%;">{{category | translate}}</p>

                                            </a>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-1"
                                    style="position:initial;width:1%;min-height:1px;flex:none;    padding: 0% 0% 0%;">
                                </div>

                                <div class="col-6"
                                    style="position:initial;width:49%;min-height:1px;padding: 0% 0% 0%;flex:none;">
                                    <div class="border-bottom-primary" *ngFor="let category of categoriesProduct"
                                        (click)="displayProducts(category)" style="margin-bottom: 1%;">
                                        <div class="contenant" *ngIf="category !== 'HEALTHINESS' && category !== 'MATERNITY' &&
                                     category !== 'VETERINARIAN' &&  category !== 'HYGIENE' &&  category !== 'BODY'  && category !== 'MEDICAL_EQUIPMENT' && category !== 'SLEEP'
                                      && category !== 'INFANTILE_MILK' && category !== 'COVID_TEST'"
                                            style=" position: relative;text-align: center; color: red;">


                                            <a class="href-decoration-none home-options-list"
                                                *ngIf="category !== 'FOOD_SUPPLEMENT'"
                                                style="font-weight: 600; color: #B7B7B7;margin: 0% 0% 0%;padding:0% 0% 0%;">
                                                <img src="assets/images/category/{{category}}.jpg">
                                                <p style="    position: absolute;
    top: 75%;
    left: 5%;
    font-size: 37px;
    color: white;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;">{{category | translate}}</p>

                                            </a>

                                            <a class="href-decoration-none home-options-list"
                                                *ngIf="category === 'FOOD_SUPPLEMENT'"
                                                style="font-weight: 600; color: #B7B7B7;margin: 0% 0% 0%;padding:0% 0% 0%;">
                                                <img src="assets/images/category/{{category}}.jpg">
                                                <p style="    position: absolute;
                                                top: 11%;
    left: 5%;
    font-size: 25px;
    color: white;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
    width: 87%;">
                                                    {{category | translate}}</p>

                                            </a>


                                        </div>
                                    </div>
                                </div>

                            </div>-->
                        </div>
                        </div>



                    </div>
                    <div id="productList" *ngIf="selectProduct || searchProduct" style="height: 100%;margin-top: 20%;">
                        <div class="row"
                            style="display: flex; align-items: center;justify-content: center; margin-bottom: 20px;">
                            <!-- <button style="margin-top: 10px; font-weight: 600;
                        margin-bottom: 10px;" type="button"
                                    class="btn btn-primary w-100 font-weight-light text-uppercase btn-accept"
                                    (click)="returnToRequest()">{{'BTN_RETURN_TO_REQUEST' | translate}}</button>-->
                            <button *ngIf="!searchProduct || searchProduct === ''" type="button"
                                class="btn btn-primary col-9 font-weight-light text-uppercase btn-accept"
                                (click)="returnToCategoriesList()">{{'BTN_RETURN_CATEGORY_LIST' | translate}}</button>
                            <span (click)="showShoppingCart(true)" (click)="slideNext()"
                                class="fa-stack fa-3x has-badge col-3" [attr.data-count]="listProductSelected.length">
                                <i class="fa fa-square fa-stack-2x"></i>
                                <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                            </span>
                            <input [(ngModel)]="searchProduct" class="form-control" type="search" (search)="clearSearch()"
                                   placeholder="{{'SEARCH' | translate}}" (keyup)="onSearchProductTextChange($event)" *ngIf="!searchProduct || searchProduct === ''"
                                   style="margin-top:5%;">


                        </div>
                        <span *ngIf="productList.length === 0"
                            style=" color: #B7B7B7; font-weight: 600; font-size: 15px;">{{'NO_PRODUCT_IN_CATEGORY' |
                            translate}}</span>

                        <!-- <ion-content [scrollEvents]="true"
                                     (ionScroll)="logScrolling($event)"
                                     style="height: 72%;">-->
                        <div id="topList" style="opacity: 0;">top</div>
                        <div class="col-12" style="height: 450px; overflow: scroll;padding:0%;">
                        <div *ngFor="let product of productList">
                            <div>
                                <div class="disabled href-decoration-none"
                                    style="display: flex;flex-direction: row;border: 1px solid #B7B7B7;color: #B7B7B7;margin: 16px 0px;font-size: 18px;flex-wrap: wrap;">
                                    <!-- <div class="icon choose float-right" style="text-align: right;">
                                            <i class="fas fa-plus"></i>
                                        </div>
                                        -->
                                    <div class="col-4" style="padding-left: 0%;padding-top: 5%;">
                                        <div class="icon" style="width: 100%; text-align: center;">
                                           <!-- <img src="{{product.url?product.url:'assets/images/pills.svg'}}"
                                                alt="pills icon">
                                                -->
                                            <img src="{{product.image}}">
                                        </div>
                                    </div>



                                    <div class="col-6" style="padding-left: 0%;    padding-top: 3%;">
                                        <div style=" color: black;">

                                            <h1 style="font-size: 14px;">{{product.presentation}}</h1>
                                            <p class="textDescription">{{product.description}}</p>
                                            <p *ngIf ="product.prix_moyen" > prix : {{product.prix_moyen/100}} € </p>
                                            <p *ngIf ="product.prix">  prix : {{product.prix/100}} € </p>
                                            <button  (click)="detailProductById(product.pres_id)" style=" background: white; border: outset;" > Plus de détail ici</button>
                                            <span class="fas fa-check icon chosen hidden"></span>
                                        </div>

                                    </div>

                                    <div class="row col-12">

                                        <button (click)="removeProduct(product)" class="btn_add_product_panier col-4"
                                            style="  padding: 0;
    margin: 0%;
    font-size: 66px;
    /* text-align: -webkit-auto; */
    /* height: 54px; */
    width: 56px;
    min-width: auto;
    text-align: center;
    /* height: 34px; */
    font-weight: inherit;">
                                            <p
                                                style=" color:#d8418f;   font-family: fantasy;height: 50px;text-shadow: #d8418f 13px 0px 0px;">
                                                -</p>
                                        </button>
                                        <div class="col-4">
                                            <div *ngFor="let productSelect of listProductSelectedDisplay">
                                                <div *ngIf="product.pres_id == productSelect.pres_id">
                                                    <p style="color: black;font-size: 30px;margin-top: 10%;">
                                                        {{productSelect.quantity}}</p>
                                                </div>
                                            </div>
                                        </div>
                                        <button (click)="addProduct(product)" class="btn_add_product_panier col-4"
                                            style="  padding: 0%;
    margin: 0%;
    font-size: 66px;
    /* text-align: -webkit-auto; */
    /* height: 54px; */
    width: 56px;
    min-width: auto;
    text-align: center;
    /* height: 34px; */
    font-weight: inherit;">
                                            <p style="font-family: fantasy!important;margin-bottom: 0%;">+ </p>
                                        </button>

                                    </div>
                                </div>

                            </div>
                        </div>


                        <ion-fab style="bottom:50px;" (click)="scrollToLabel('top')" *ngIf="displaybuttonGoToTop"
                            class="btn-go-to-top" vertical="bottom" horizontal="end" slot="fixed">
                            <ion-fab-button>
                                <i class="fas fa-2x fa-arrow-up"></i>
                            </ion-fab-button>
                        </ion-fab>
                        <!--</ion-content>-->

                            <button *ngIf=" totalProduct > limitProduct" style="margin-bottom: 20px; font-weight: 600; margin-top: 48px;"
                                    type="button" class="btn btn-primary w-100 text-uppercase btn-accept"
                                    (click)="displayMoreProduct()">{{'BTN_MORE' |
                                translate}}</button>
                    </div>
                        <!--
                        <div class="row" style="margin-top:10%;width: 120%;margin-bottom:5%;">
                            <button *ngIf="!searchProduct || searchProduct === '' " (click)="Page('-')"
                                    class="btn-apple col-5"
                                    style="margin-top: 10px;background-color:#d8418f;    margin-right: 1%;">
                                {{currentPage - 1}}</button>
                            <button *ngIf="!searchProduct || searchProduct === ''" (click)="Page('+')"
                                    class="btn-apple col-5 " style="margin-top: 10px;"> {{currentPage + 1 }}</button>


                            <button *ngIf="!searchProduct || searchProduct === ''" (click)="slideNext()"
                                    class="btn-apple col-10"
                                    style="margin-top: 10px;">
                                {{'Voir le panier' | translate}}</button>
                        </div>
                        -->
                </div>



                    <div class="row changeSlides" *ngIf="!selectProduct">
                        <button (click)="slidePrev()" class="btn-apple col-5"
                                style="margin-top: 10px;background-color:#d8418f;    margin-right: 1%;">
                            {{'PREV_STEP_SLIDES' | translate}}</button>
                        <button (click)="slideNext()" class="btn-apple col-5 " style="margin-top: 10px;">
                            {{'NEXT_STEP_SLIDES' | translate}}</button>
                    </div>

                </div>
                <div [hidden]="hideWishInput" class="enter-wish">
                    <textarea class="width-100 height-100 font-weight-light"
                        placeholder="Please enter your wishes here..."></textarea>
                </div>
                <div [hidden]="hideBtnReturn" class="send-wish-btn" (click)="returnFirstStep()">
                    <button type="button" class="btn btn-primary">{{'BTN_BACK' | translate}}</button>
                </div>


            </ion-slide>


            <ion-slide>
                <div [hidden]="!hidePaymentOption" class="payment-options-container"
                    style=" position: initial;margin-top:20%;">
                    <div class="payment-options-intro-container">

                        <span class="payment-options-text"><span class="fas fa-credit-card"></span>
                            {{'CREDIT_CARD' | translate}}</span>
                        <div class="confirm-ride-btn">
                            <button type="button" class="btn btn-primary"
                                style="color: white; font-weight: 600;border-radius: 29px;background-color:#00bdf2;border-color:#00bdf2;"
                                (click)="displayPaymentOption()">{{'TITLE_ADD_NEW_CARD' | translate}}</button>
                        </div>
                    </div>
                    <div>
                        <div *ngIf="cards.length === 0" class="col-12" style="padding: 15px;">
                            {{'NO_CREDIT_CARD_REGISTERED' | translate}}</div>
                        <ul *ngIf="cards.length > 0" class="payment-option-list" style="    box-shadow: 1px 4px 3px 1px #bbbbbb;
    padding: 0% 0% 0%;
    text-align: left;">
                            <li style="padding-left: 3%;">
                                <div *ngFor="let card of cards" style="margin-top: 20px;" (click)="selectCard(card)">
                                    <span class="fas fa-credit-card"></span> XXXX {{card.card.last4}} <br> Exp:
                                    {{card.card.exp_month + '/' + card.card.exp_year}}
                                    <span class="float-right check" [class.hidden]="!card.selected">
                                        <img src="assets/icons/check.svg" alt="Check Icon">
                                    </span>
                                </div>
                            </li>
                        </ul>
                    </div>

                    <div class="font-weight-light wishes-main-text">
                        <span *ngIf="listProductSelectedDisplay.length  === 0"
                            style=" color: #B7B7B7; font-weight: 600; font-size: 15px;">{{'NO_PRODUCT_IN_CART' |
                            translate}}</span>
                        <div *ngFor="let product of listProductSelectedDisplay">

                            <div>
                                <div class="disabled href-decoration-none"
                                    style="border: 1px solid #B7B7B7;color: #B7B7B7;margin: 16px 0px;font-size: 18px;">
                                    <div class="icon choose float-right"
                                        style="text-align: right;padding-right: 5%;padding-top: 2%;font-size: 118%;"
                                        (click)="deleteProduct(product)">
                                        <i class="fas fa-trash"></i>
                                    </div>

                                    <div class="row" style="display: flex;flex-direction: row;flex-wrap: nowrap;">

                                        <div class="col-6" style="padding-left: 0%;">
                                            <div class="icon" style="width: 100%; text-align: center;">
                                                <!--<img src="{{product.url?product.url:'assets/images/pills.svg'}}"
                                                    alt="pills icon">
                                                    -->
                                                <img src="{{product.image}}">
                                            </div>
                                        </div>
                                        <div class="col-6" style="padding-left: 0%;">
                                            <div style=" color: black;">

                                                <h1 style="font-size: 14px;">{{product.label}} {{product.presentation}}</h1>
                                                <p class="textDescription">{{product.description}}</p>
                                                <p> {{'QUANTITY' | translate }} : {{product.quantity}}</p>
                                                <p *ngIf ="product.prix_moyen" > prix : {{(product.prix_moyen/100) * product.quantity }} € </p>
                                                <p *ngIf ="product.prix">  prix : {{ (product.prix /100 ) * product.quantity}} € </p>


                                                <span class="fas fa-check icon chosen hidden"></span>




                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>


                            <!--
                                <div>
                                    <div class=" disabled href-decoration-none" style="display: flex;
                            flex-direction: column;
                                border: 1px solid #B7B7B7; color: #B7B7B7; margin: 16px 0px; font-size: 18px;">
                                        <div class="icon choose float-right" style="text-align: right;padding-right: 5%;padding-top: 2%;font-size: 118%;"
                                             (click)="deleteProduct(product)">
                                            <i class="fas fa-trash"></i>
                                        </div>
                                        <div class="icon" style="width: 100%; text-align: center;">
                                            <img src="{{product.url?product.url:'assets/images/pills.svg'}}" alt="pills icon">
                                        </div>
                                        <div>

                                            {{product.label}}<br>
                                            {{product.description}}<br><br>
                                            <span>{{'PRODUCT_QUANTITY' | translate}}: {{product.quantity}}</span>

                                            <div class="row" style="border-radius: 10px; border: 1px solid #54BBEC;">
                                                <div class="col-4">
                                                    <button (click)="removeProduct(product)" class="btn_add_product_panier" style="padding: 0;  margin: 0%; font-size: 66px;text-align: -webkit-auto;"> - </button>
                                                </div>

                                                <div class="col-4">
                                                    <div >
                                                        <div  style="margin-top: 24%; margin-bottom: 5%; font-size: 20px;">
                                                            <span style="color: black;">{{product.quantity}}</span>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="col-4">
                                                    <button (click)="addProduct(product)" class="btn_add_product_panier" style="padding: 0; margin: 0%;font-size: 66px; text-align: -webkit-auto;"> + </button>
                                                </div>

                                            </div>

                                            <span class="fas fa-check icon chosen hidden"></span>
                                        </div>
                                    </div>
                                </div>-->
                        </div>

                        <div class="row" *ngIf="delivery.image.length > 1">
                            <div class="col-12">
                                <button style="font-weight: 600; margin-top: 10px;" type="button"
                                    class="btn w-100 text-uppercase btn-danger btn-deep-blue"
                                    [disabled]="indexOrder === 0" (click)="prevOrder()">
                                    <span class="fas fa-backward"></span> {{'PREV_ORDER' | translate}}</button>

                                <button style="margin-bottom: 10px; font-weight: 600; margin-top: 10px;" type="button"
                                    class="btn w-100 text-uppercase btn-danger btn-deep-blue"
                                    [disabled]="indexOrder+1 >= delivery.image.length" (click)="nextOrder()">
                                    {{'NEXT_ORDER' | translate}} <span class="fas fa-forward"></span></button>
                            </div>
                        </div>

                        <div *ngIf="delivery.image.length === 0" class="col-12" style="padding: 15px;">
                            {{'NO_UPLOADED_ORDER' | translate}}
                        </div>

                        <div class="row justify-content-center">
                            <div class="icon choose float-right" *ngIf="delivery.image.length > 0" style="text-align: right;padding-right: 5%;padding-top: 2%;font-size: 21.25px;
    color: #B7B7B7;" (click)="deleteImageOrder(indexOrder)">
                                <i class="fas fa-trash"></i>
                                </div>
                            <img class="col-10" *ngIf="delivery.image.length > 0 && urlOrder.type === 'IMAGE'"
                                [src]="urlOrder.content" />
                            <div *ngIf="delivery.image.length > 0 && urlOrder.type === 'PDF'" class="col-10"
                                (click)="openPdf(urlOrder.content)">
                                <img class="col-10" [src]="'assets/images/pdf.svg'" />
                                <p>
                                    {{'CLICK_TO_DISPLAY_PDF' | translate}}
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <span>{{'DELIVERY_SCHEDULED' | translate}}</span>
                        <label class="switch float-right">
                            <input type="checkbox" id="isScheduled" (change)="showMessageScheduled($event)">
                            <span class="slider"></span>
                        </label>
                        <span class="clearfix"></span>
                    </div>

                    <div class="form-group" *ngIf="delivery.isScheduled">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span><i class="fas fa-calendar" style="color: #777777"></i></span>
                            </div>
                            <ion-datetime [(ngModel)]="delivery.deliveryDate" id="selectPaymentDate"
                                displayFormat="DD/MM/YYYY HH:mm" placeholder="Sélectionner une date" doneText="Valider"
                                cancelText="Annuler">
                            </ion-datetime>
                        </div>
                    </div>

                    <div class="about-section " style=" margin-bottom: 5%;margin: 0% 4% 0%;margin-bottom:5%;">



                        <div class="form-group" style="padding: 0%;">
                            <div class="input-group">
                                <input class="form-control h-100" id="phone-input-home-customer" type="tel" name="phone"
                                    autocomplete="off" data-intl-tel-input-id="0" placeholder="(201) 555-0123"
                                    [(ngModel)]="delivery.phoneNumber">
                            </div>
                        </div>


                    </div>
<!--
                    <div class="confirm-ride-btn">
                        <button type="button" class="btn btn-primary" style="color: white; font-weight: 600;"
                            (click)="checkout()">{{'BTN_CONFIRM_COMMAND' | translate}}</button>
                    </div>
                    -->

                    <div class="row" style="margin-top:10%;width: 119%;">
                        <button (click)="slidePrev()" class="btn-apple col-5"
                                style="margin-top: 10px;background-color:#d8418f;    margin-right: 1%;">
                            {{'PREV_STEP_SLIDES' | translate}}</button>
                        <button (click)="checkout()" class="btn-apple col-5 " style="margin-top: 10px;    font-size: 100%;">
                            {{'BTN_CONFIRM_COMMAND' | translate}}</button>
                    </div>

                </div>


            </ion-slide>

        </ion-slides>
    </div>


    <div *ngIf="displayCustomers" class="wish-container details-invoice"
        style="overflow-y: scroll; background-color: white; height: 100%;">
        <div class="font-weight-light wishes-main-text">
            <button style="margin-bottom: 20px; font-weight: 600; margin-top: 48px;" type="button"
                class="btn btn-primary w-100 text-uppercase btn-accept"
                (click)="displayCustomers = false">{{'BTN_RETURN_TO_MAP' | translate}}</button>
            <!-- <form style="margin-top: 10px !important; margin-bottom: 20px; font-weight: 600; color: white;">
                    <label *ngFor="let category of categories" class="font-weight-light width-100 category">
                        <input name="category" [(ngModel)]="categorySelected" [value]='category.value' type="radio"
                            class="margin-right-15" (change)="categoryChange()"> {{category.label | translate}}
                    </label>
                </form> -->
            <!--Email Option End-->
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="fas fa-search icon-color"></span>
                    </div>
                    <input [(ngModel)]="searchCustomer" class="form-control" type="text" name="phone"
                        placeholder="{{'SEARCH' | translate}}" (keyup)="onSearchCustomerTextChange($event)">
                </div>
            </div>

            <div *ngFor="let customer of customers">
                <div (click)="selectCustomer(customer)">
                    <a class="payment-options-list disabled href-decoration-none"
                        style="display: flex; 
                            border: 1px solid #B7B7B7; color: #B7B7B7; margin: 16px 0px; font-size: 18px; font-weight: 600;">
                        Nom: {{customer.lastname}}<br>
                        Prénom: {{customer.name}}<br>
                        Adresse: {{customer.address.fullAddress}}<br>
                    </a>
                </div>
            </div>
            <button *ngIf="totalCustomer > limitCustomer"
                style="margin-bottom: 20px; font-weight: 600; margin-top: 48px;" type="button"
                class="btn btn-primary w-100 text-uppercase btn-accept" (click)="displayMoreCustomer()">{{'BTN_MORE' |
                translate}}</button>
        </div>
    </div>


    <div *ngIf="displayAddresses" class="wish-container details-invoice"
        style="overflow-y: scroll; background-color: white; height: 100%;">
        <div class="font-weight-light wishes-main-text">
            <button style="margin-bottom: 20px; font-weight: 600; margin-top: 48px;" type="button"
                class="btn btn-primary w-100 text-uppercase btn-accept"
                (click)="displayAddresses = false">{{'BTN_RETURN_TO_MAP' | translate}}</button>

            <a style="color: #D8418F;" routerLink="/new-address" [queryParams]="{returnToMap:true}">
                <i class="far fa-plus-square fa-5x"></i>
            </a>
            <!-- <form style="margin-top: 10px !important; margin-bottom: 20px; font-weight: 600; color: white;">
                    <label *ngFor="let category of categories" class="font-weight-light width-100 category">
                        <input name="category" [(ngModel)]="categorySelected" [value]='category.value' type="radio"
                            class="margin-right-15" (change)="categoryChange()"> {{category.label | translate}}
                    </label>
                </form> -->
            <!--Email Option End-->

            <div *ngFor="let address of addresses">
                <div (click)="selectAddress(address)">
                    <a class="payment-options-list disabled href-decoration-none"
                        style="display: flex; 
                            border: 1px solid #B7B7B7; color: #B7B7B7; margin: 16px 0px; font-size: 18px; font-weight: 600;">
                        Adresse: {{address.fullAddress}}<br>
                    </a>
                </div>
            </div>
            <button *ngIf="totalAddress > limitAddress" style="margin-bottom: 20px; font-weight: 600; margin-top: 48px;"
                type="button" class="btn btn-primary w-100 text-uppercase btn-accept"
                (click)="displayMoreAddresses()">{{'BTN_MORE' | translate}}</button>
        </div>
    </div>





    <div *ngIf="displayProductDetail" class="wish-container details-invoice"
        style="overflow-y: scroll; background-color: white; height: 100%;">
        <div class="font-weight-light wishes-main-text">
            <button style="margin-bottom: 20px; font-weight: 600; margin-top: 48px;" type="button"
                class="btn btn-primary w-100 text-uppercase btn-accept"
                (click)="displayProductDetail = false">{{'Retourner au produit' | translate}}</button>
            
            <div  innerHtml="{{html}}"></div>

        </div>
    </div>

    <!--Choose a Car Container End-->
    <!--
    <div [hidden]="hideShoppingCart" class="wish-container"
        style="overflow-y: scroll; background-color: white; height: 100%;">
        <div class="font-weight-light wishes-main-text">
            <button style="margin-top: 10px; margin-bottom: 20px; font-weight: 600; margin-top: 48px;" type="button"
                class="btn btn-primary w-100 font-weight-light text-uppercase btn-accept"
                (click)="showShoppingCart(false)">{{'BTN_RETURN' | translate}}</button>
            <span *ngIf="listProductSelectedDisplay.length  === 0"
                style=" color: #B7B7B7; font-weight: 600; font-size: 15px;">{{'NO_PRODUCT_IN_CART' | translate}}</span>
            <div *ngFor="let product of listProductSelectedDisplay">
                <div>
                    <div class="payment-options-list disabled href-decoration-none" style="display: flex;
                            flex-direction: column;
                                border: 1px solid #B7B7B7; color: #B7B7B7; margin: 16px 0px; font-size: 18px;">
                        <div class="icon choose float-right" style="text-align: right;"
                            (click)="removeProduct(product)">
                            <i class="fas fa-trash"></i>
                        </div>
                        <div class="icon" style="width: 100%; text-align: center;">
                            <img src="{{product.url?product.url:'assets/images/pills.svg'}}" alt="pills icon">
                        </div>
                        <div>

                            {{product.label}}<br>
                            {{product.description}}<br><br>
                            <span>{{'PRODUCT_QUANTITY' | translate}}: {{product.quantity}}</span>
                            <span class="fas fa-check icon chosen hidden"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    <div *ngIf="showDetailsInvoice" class="wish-container details-invoice"
        style="overflow-y: scroll; background-color: white; height: 100%;">
        <div class="font-weight-light wishes-main-text">
            <button style="margin-top: 10px; margin-bottom: 20px; font-weight: 600; margin-top: 48px;" type="button"
                class="btn btn-primary w-100 font-weight-light text-uppercase btn-accept"
                (click)="displayInvoice(false)">{{'BTN_RETURN_TO_MAP' | translate}}</button>
            <h4>{{'DELIVERY_FEE' | translate}} :
                <strong
                    *ngIf="delivery.invoice.codePromoInformation  && delivery.invoice.codePromoInformation.status === 'ENABLED' && delivery.invoice.promoAmount && delivery.invoice.promoAmount > 0"
                    style="text-decoration-line: line-through;">
                    {{formatNumber(delivery.invoice.amountDeliverer + delivery.invoice.platformFee -
                    delivery.invoice.feeManagement) | currency:'EUR':true}}
                </strong>
                <strong>
                    {{formatNumber(delivery.invoice.amountDeliverer + delivery.invoice.platformFee -
                    delivery.invoice.feeManagement - delivery.invoice.promoAmount) | currency:'EUR':true}}
                </strong>
            </h4>
            <h4
                *ngIf="delivery.invoice.codePromoInformation && delivery.invoice.codePromoInformation.status === 'ENABLED'">
                <strong>{{'FIELD_CODE_PROMO' | translate: {percentage: delivery.invoice.codePromoInformation.percentage}
                    }}</strong>
            </h4>
            <h4>{{'TOTAL_AMOUNT' | translate}} :
                <strong
                    *ngIf="delivery.invoice.codePromoInformation && delivery.invoice.amountCustomerBeforeCodePromo && delivery.invoice.codePromoInformation.status === 'ENABLED'"
                    style="text-decoration-line: line-through;">{{formatNumber(delivery.invoice.amountCustomerBeforeCodePromo)
                    | currency:'EUR':true}} </strong>
                <strong>{{formatNumber(delivery.invoice.amountCustomer) | currency:'EUR':true}}</strong>
            </h4>
            <div *ngFor="let product of delivery.invoice.products">
                <div>
                    <a *ngIf="!product.status || product.status !== 'DELETED'"
                        class="payment-options-list disabled href-decoration-none" style="display: flex; 
                            border: 1px solid #B7B7B7; color: #B7B7B7; margin: 16px 0px; font-size: 18px;">
                        <span class="icon" style="width: 70px; height: 70px;">
                           <!-- <img src="{{product.image?fileService.getPublicUrl(product.image):'assets/images/pills.svg'}}"
                                alt="pills icon"> -->
                        <img src="{{product.image ? product.image : null }}" alt="pills icon">
                        </span>
                        {{product.description}}<br>
                        {{'QUANTITY' | translate}}: {{product.quantity}}<br>
                        {{'UNIT_AMOUNT' | translate}}: {{product.unitAmount}} €<br>
                        {{'PRODUCT_AMOUNT' | translate}}: {{product.quantity * product.unitAmount}} €<br>
                        {{product.comment?('COMMENT' + ': ' + product.comment):'' | translate}}<br>
                    </a>
                    <a *ngIf="product.status && product.status === 'DELETED'"
                        class="payment-options-list disabled href-decoration-none" style="display: flex; 
                            border: 1px solid #B7B7B7; color: #B7B7B7; margin: 16px 0px; font-size: 18px;">
                        <span class="icon" style="width: 70px; height: 70px;">
                          <!--  <img src="{{product.image?fileService.getPublicUrl(product.image):'assets/images/pills.svg'}}"
                                alt="pills icon">-->
                                <img src="{{product.image }}"
                                     alt="pills icon">
                        </span>
                        {{product.description}}<br>
                        {{'QUANTITY' | translate}}: {{product.quantity}}<br>
                        {{'PRODUCT_NOT_AVAILABLE' | translate}}<br>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!--Wish Container Start-->
    <!--
    <div id="screenShop" [hidden]="hideWishContainer" class="wish-container" [ngStyle]="{'background-color': 'white'}" [style.overflow-y]="scrollStyleShop">
        <div class="close-wish" (click)="returnFirstStep()">
            <span class="float-right">
                <img src="assets/icons/close.svg" alt="Close Icon">
            </span>
            <span class="clearfix"></span>
        </div>
        <div [hidden]="hideWishInformation" class="font-weight-light wishes-main-text" style="height: 100%;">
            <div id="selectCategory" *ngIf="selectCategory" style="font-size: 18px;">
                <button *ngIf="!searchProduct || searchProduct === ''"
                    style="margin-top: 10px; font-weight: 600; margin-bottom: 20px;" type="button"
                    class="btn btn-primary w-100 font-weight-light text-uppercase btn-accept"
                    (click)="returnToRequest()">{{'BTN_RETURN_TO_REQUEST' | translate}}</button>

                <input [(ngModel)]="searchProduct" class="form-control" type="search" (search)="clearSearch()"
                    placeholder="{{'SEARCH' | translate}}" (keyup)="onSearchProductTextChange($event)">

                <div *ngIf="!searchProduct || searchProduct === ''">
                    <div class="border-bottom-primary" *ngFor="let category of categoriesProduct"
                        (click)="displayProducts(category)">
                        <a class="href-decoration-none home-options-list" style="font-weight: 600; color: #B7B7B7">
                            {{category | translate}}
                            <span class="fas fa-check icon chosen hidden"></span>
                            <span class="icon choose float-right">
                                <span class="fas fa-chevron-right icon-color"></span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div id="productList" *ngIf="selectProduct || searchProduct" style="height: 100%;">
                <div class="row"
                    style="display: flex; align-items: center;justify-content: center; margin-bottom: 20px;">
                    <button style="margin-top: 10px; font-weight: 600;
                        margin-bottom: 10px;" type="button"
                        class="btn btn-primary w-100 font-weight-light text-uppercase btn-accept"
                        (click)="returnToRequest()">{{'BTN_RETURN_TO_REQUEST' | translate}}</button>
                    <button *ngIf="!searchProduct || searchProduct === ''" type="button"
                        class="btn btn-primary col-10 font-weight-light text-uppercase btn-accept"
                        (click)="returnToCategoriesList()">{{'BTN_RETURN_CATEGORY_LIST' | translate}}</button>
                    <span (click)="showShoppingCart(true)" class="fa-stack fa-2x has-badge col-2"
                        [attr.data-count]="listProductSelected.length">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
                <span *ngIf="productList.length === 0"
                    style=" color: #B7B7B7; font-weight: 600; font-size: 15px;">{{'NO_PRODUCT_IN_CATEGORY' |
                    translate}}</span>

                <ion-content [scrollEvents]="true" (ionScroll)="logScrolling($event)" style="height: 72%;">
                    <div id="topList" style="opacity: 0;">top</div>
                    <div *ngFor="let product of productList">
                        <div (click)="addProduct(product)">
                            <div class="payment-options-list disabled href-decoration-none" style="display: flex; 
                                flex-direction: column;
                                    border: 1px solid #B7B7B7; color: #B7B7B7; margin: 16px 0px; font-size: 18px;">
                                <div class="icon choose float-right" style="text-align: right;">
                                    <i class="fas fa-plus"></i>
                                </div>
                                <div class="icon" style="width: 100%; text-align: center;">
                                    <img src="{{product.url?product.url:'assets/images/pills.svg'}}" alt="pills icon">
                                </div>
                                <div>

                                    {{product.label}}<br>
                                    {{product.description}}
                                    <span class="fas fa-check icon chosen hidden"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ion-fab style="bottom:50px;" (click)="scrollToLabel('top')" *ngIf="displaybuttonGoToTop"
                        class="btn-go-to-top" vertical="bottom" horizontal="end" slot="fixed">
                        <ion-fab-button>
                            <i class="fas fa-2x fa-arrow-up"></i>
                        </ion-fab-button>
                    </ion-fab>
                </ion-content>
            </div>
        </div>
        <div [hidden]="hideWishInput" class="enter-wish">
            <textarea class="width-100 height-100 font-weight-light"
                placeholder="Please enter your wishes here..."></textarea>
        </div>
        <div [hidden]="hideBtnReturn" class="send-wish-btn" (click)="returnFirstStep()">
            <button type="button" class="btn btn-primary">{{'BTN_BACK' | translate}}</button>
        </div>
    </div>-->
    <!--Wish Container End-->

    <!--Payment Options Container Start-->
    <div [hidden]="hidePaymentOption" class="payment-options-container">
        <div class="payment-options-intro-container">
            <span class="payment-options-text"><span class="fas fa-credit-card"></span>
                {{'CREDIT_CARD' | translate}}</span>
        </div>
        <div>
            <form action="/" method="post" id="payment-form-create-delivery">

                <div class="form-row">
                    <div id="card-element-create-delivery">
                        <!-- a Stripe Element will be inserted here. -->
                    </div>

                    <!-- Used to display Element errors -->
                    <div id="card-errors-create-delivery" role="alert"></div>
                </div>

                <div class="btn-save" style="text-align: center;">
                    <button class="btn btn-primary" style="width: 90%;">{{'SAVE_CARD' | translate}} <span
                            class="far fa-save"></span>
                    </button>
                </div>
            </form>
            <div *ngIf="cards.length === 0" class="col-12" style="padding: 15px;">
                {{'NO_CREDIT_CARD_REGISTERED' | translate}}</div>
            <ul *ngIf="cards.length > 0" class="payment-option-list">
                <li>
                    <div *ngFor="let card of cards" style="margin-top: 20px;" (click)="selectCard(card)">
                        <span class="fas fa-credit-card"></span> XXXX {{card.card.last4}} <br> Exp:
                        {{card.card.exp_month + '/' + card.card.exp_year}}
                        <span class="float-right check" [class.hidden]="!card.selected">
                            <img src="assets/icons/check.svg" alt="Check Icon">
                        </span>
                    </div>
                </li>
            </ul>
        </div>
        <div class="confirm-ride-btn">
            <button type="button" class="btn btn-primary btn-deep-blue" style="color: white; font-weight: 600;"
                (click)="returnFirstStep()">{{'BTN_VALIDATE' | translate}}</button>
        </div>
    </div>
    <!--Payment Options Container End-->

    <!--Tapped Car Information Container Start-->
    <div [hidden]="hidePharmacyInformation" class="tapped-car-info">
        <div class="tapped-car-container">

            <!--Chosen Car Information Container Start-->
            <div class="tapped-car-info-container">
                <div class="tapped-car-info-header-icons text-center">
                    <span class="float-right close" (click)="hidePharmacyInformation = true">
                        <img src="assets/icons/close.svg" alt="Close Icon">
                    </span>
                    <span id="pharmaDown" class="float-right" style="margin-right: 20px;opacity: .5;"
                        (click)="increaseBox(false, 'infoPharma', 'pharmaUp', 'pharmaDown')">
                        <img src="assets/icons/downarrow.svg">
                    </span>
                    <span id="pharmaUp" class="float-right" style="margin-right: 20px;opacity: .5; display: none;"
                        (click)="increaseBox(true, 'infoPharma', 'pharmaDown', 'pharmaUp')">
                        <img src="assets/icons/uparrow.svg">
                    </span>
                </div>
                <div class="rider-info">
                    <div class="float-left">
                        <span>{{merchantActiveOnMap.name}}</span>
                    </div>
                    <div class="float-right profile-picture">
                        <img src="{{delivery.merchant && delivery.merchant.avatar ? fileService.getPublicUrl(delivery.merchant.avatar) :'assets/images/man.svg'}}"
                            style="width: 76px; height: 76px;border-radius: 36px;" alt="Profile Picture">
                    </div>
                </div>
                <p>{{merchantActiveOnMap.favoriteAddress.fullAddress}}</p>

                <div id="infoPharma" class="requested-car-info" style="margin-top: 50px">

                    <div class="row">
                        <div class="col-7 font-weight-light">
                            <p>N'hésitez pas à nous contacter</p>
                        </div>
                        <div class="col-12 ride-status pharma">
                            <div>
                                <!-- <a class="btn btn-deep-blue approved-icon visio communication-btn" routerLink="/visio"
                                    [queryParams]="{deliveryId: delivery._id, receiverId:merchantActiveOnMap._id, avatar:((delivery.merchant && delivery.merchant.avatar)?delivery.merchant.avatar:'no-avatar')}"><span
                                        class="fas fa-comment-medical"></span></a> -->
                                <a (click)="showChat('TO_PHARMACY')"
                                    class="btn btn-fuschia approved-icon message communication-btn"
                                    style="color: white !important;"><span class="fas fa-comments app-icon"
                                        [attr.data-count]="count"></span></a>
                                <a class="btn btn-deep-blue approved-icon call communication-btn"
                                    (click)="call(merchantActiveOnMap.phoneNumber)"><span
                                        class="fas fa-phone"></span></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div *ngIf="delivery.status !== 'REFUSED_BY_DELIVERER'" class="row"
                        style="margin-top: 10px; margin-bottom: 10px;">
                        <div class="col-3">
                            <div class="spinner">
                                <div class="rect1"></div>
                                <div class="rect2"></div>
                                <div class="rect3"></div>
                                <div class="rect4"></div>
                                <div class="rect5"></div>
                            </div>
                        </div>
                        <div class="col-9" style="line-height: 23px;">
                            {{ 'WAIT_'+delivery.status | translate}}
                        </div>
                    </div>

                    <div class="row" *ngIf="this.delivery.status === 'AWAITING_VALIDATION_AMOUNT'">
                        <div class="col-md-12" style="text-align: center;">
                            <a (click)="displayToChangeCard()" class="btn btn-deep-blue"><span>
                                    {{'CHANGE_PAYMENT_INFORMATION' | translate}}
                                </span></a>
                        </div>
                    </div>
                    <div class="row"
                        *ngIf="this.delivery.status === 'AWAITING_VALIDATION_AMOUNT' && messageOperation != 'OPERATION_IN_PROGRESS'">
                        <div class="col-md-8">
                            <strong>
                                {{'TOTAL_AMOUNT' | translate}}: {{formatNumber(delivery.invoice.amountCustomer)}}€
                            </strong>
                        </div>
                        <div class="col-md-4">
                            <div style="text-align: center;">
                                <a (click)="displayInvoice(true)"
                                    class="btn btn-deep-blue approved-icon view-invoice-btn"></a>
                                <a (click)="acceptTotalAmount()" class="btn approved-icon check"
                                    style="margin-left: 10px;"><span class="fas fa-check"></span></a>
                                <a (click)="refuseTotalAmount()" class="btn approved-icon"
                                    style="background-color: #D8418F;margin-left: 10px;"><span
                                        class="fas fa-times"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="row"
                        *ngIf="this.delivery.status === 'AWAITING_VALIDATION_AMOUNT' && delivery.operations.length > 0">
                        <div class="col-md-8">
                            <strong>
                                {{messageOperation | translate}}
                            </strong>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            {{'PROBLEM_WITH_DELIVERY' | translate}}
                        </div>
                        <div class="col-3">
                            <div style="text-align: center;">
                                <a (click)="contactSupport(true)" class="btn approved-icon check"
                                    style="color:white; background-color: #d83333;"><span
                                        class="fas fa-exclamation-triangle"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Chosen Car Information Container End-->
        </div>
    </div>
    <!--Tapped Car Information Container End-->
    <div [hidden]="hideDelivererInformation" class="tapped-car-info">
        <div class="tapped-car-container">

            <!--Chosen Car Information Container Start-->
            <div class="tapped-car-info-container">
                <div class="tapped-car-info-header-icons text-center">
                    <span class="float-right close" (click)="hideDelivererInformation = true">
                        <img src="assets/icons/close.svg" alt="Close Icon">
                    </span>
                    <span id="delivererDown" class="float-right" style="margin-right: 20px;opacity: .5;"
                        (click)="increaseBox(false, 'infoDeliverer', 'delivererUp', 'delivererDown')">
                        <img src="assets/icons/downarrow.svg">
                    </span>
                    <span id="delivererUp" class="float-right" style="margin-right: 20px;opacity: .5; display: none;"
                        (click)="increaseBox(true, 'infoDeliverer', 'delivererDown', 'delivererUp')">
                        <img src="assets/icons/uparrow.svg">
                    </span>
                </div>
                <div class="rider-info">
                    <div class="float-left">
                        <span>{{delivererActiveOnMap.name}}</span>
                        <div class="font-14 rating">
                            <div *ngIf="delivery.deliverer && delivery.deliverer.totalScore">
                                <span *ngFor="let item of Arr(delivery.deliverer.totalScore).fill(1)"
                                    class="fas fa-star text-white"></span>
                                <span *ngFor="let item of Arr(5-delivery.deliverer.totalScore).fill(1)"
                                    class="fas fa-star text-white font-weight-light"></span>
                            </div>
                            <div *ngIf="delivery.deliverer && !delivery.deliverer.totalScore">
                                <span *ngFor="let item of  Arr(5).fill(1)"
                                    class="fas fa-star text-white font-weight-light"></span>
                            </div>

                        </div>
                    </div>
                    <div class="float-right profile-picture">
                        <img src="{{delivererActiveOnMap.avatar?fileService.getPublicUrl(delivererActiveOnMap.avatar):'assets/images/man.svg'}}"
                            style="width: 76px; height: 76px;border-radius: 36px;" alt="Profile Picture">
                    </div>
                </div>
                <div id="infoDeliverer" class="requested-car-info" style="margin-top: 50px">
                    <div class="row">
                        <div class="col-7 font-weight-light">
                            <div><strong>Mail :</strong> {{delivererActiveOnMap.mail}}</div>
                        </div>
                        <div class="col-5 ride-status">
                            <div>
                                <a (click)="showChat('TO_DELIVERER')" style="color: white !important;"
                                    class="btn approved-icon message btn-fuschia"><span class="fas fa-comments app-icon"
                                        [attr.data-count]="count"></span></a>
                                <a class="btn approved-icon call btn-deep-blue"
                                    (click)="call(delivererActiveOnMap.phoneNumber)"><span
                                        class="fas fa-phone"></span></a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="row" style="margin-top: 10px; margin-bottom: 10px;">
                        <div class="col-3">
                            <div class="spinner">
                                <div class="rect1"></div>
                                <div class="rect2"></div>
                                <div class="rect3"></div>
                                <div class="rect4"></div>
                                <div class="rect5"></div>
                            </div>
                        </div>
                        <div class="col-9" style="line-height: 23px;">
                            {{ 'WAIT_'+delivery.status | translate}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-9">
                            {{'PROBLEM_WITH_DELIVERY' | translate}}
                        </div>
                        <div class="col-3">
                            <div style="text-align: center;">
                                <a (click)="contactSupport(true)" class="btn approved-icon check"
                                    style="color:white; background-color: #d83333;"><span
                                        class="fas fa-exclamation-triangle"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Chosen Car Information Container End-->
        </div>
    </div>
    <!--Tapped Car Information Container End-->

    <!--Submit Review Container Start-->
    <div *ngIf="displayRate" class="submit-review">
        <div class="text-center driver-info" style="background-color: #54BBEC !important;">
            <img class="review-profile" style="width: 70px; height: 70px;"
                src="{{delivererActiveOnMap.avatar?fileService.getPublicUrl(delivererActiveOnMap.avatar):'assets/images/man.svg'}}"
                alt="Driver Picture">
            <div class="driver-name">{{delivererActiveOnMap.name}}</div>
            <div class="driver-stars rating">
                <span class="fas fa-3x fa-star text-white font-weight-light star-1" (click)="setScore(1)"></span>
                <span class="fas fa-3x fa-star text-white font-weight-light star-2" (click)="setScore(2)"></span>
                <span class="fas fa-3x fa-star text-white font-weight-light star-3" (click)="setScore(3)"></span>
                <span class="fas fa-3x fa-star text-white font-weight-light star-4" (click)="setScore(4)"></span>
                <span class="fas fa-3x fa-star text-white font-weight-light star-5" (click)="setScore(5)"></span>
            </div>
        </div>
        <div class="text-center trip-desc-info">
            <div class="trip-desc-question">{{'RATE_YOUR_DELIVERER' | translate}}</div>
            <div class="please-rate">{{'DESCRIPTION_RATE_YOUR_DELIVERER' | translate}}</div>
        </div>
        <div class="comment-info">
            <button class="btn btn-primary text-uppercase" (click)="submitRate()">{{'BTN_SUBMIT_RATE' |
                translate}}</button>
            <button class="btn btn-primary text-uppercase btn-deep-blue" (click)="noRate()">{{'BTN_NO_THANKS' |
                translate}}</button>
        </div>
    </div>
    <!--Submit Review Container End-->


    <div *ngIf="showSendMessageToSupport" class="wish-container details-invoice"
        style="overflow-y: scroll; background-color: white; height: 100%;">
        <div class="font-weight-light wishes-main-text">
            <button style="margin-top: 10px; margin-bottom: 20px; font-weight: 600; margin-top: 48px;" type="button"
                class="btn btn-primary w-100 font-weight-light text-uppercase btn-accept"
                (click)="contactSupport(false)">{{'BTN_RETURN_TO_MAP' | translate}}</button>
            <form class="width-100" [formGroup]="formSendMessage">
                <h4>Signaler un problème</h4>
                <p>
                    Utilisez le formulaire ci-dessous pour signaler un problème lors de votre livraison.
                </p>
                <input formControlName="subject" class="form-control" type="text" placeholder="Sujet">

                <textarea formControlName="message" style="margin-top: 10px;"
                    class="width-100 height-100 font-weight-light form-control" placeholder="Votre message"></textarea>

                <div class="form-submit-button" style="margin-top: 20px;">
                    <a class="btn btn-deep-blue btn-primary  text-white text-uppercase w-100 mb-3"
                        (click)="submitSupport()">{{'SEND' | translate}}</a>
                </div>
            </form>
            <div class="row">
                <div *ngFor="let ticket of myTickets" class="col-12">
                    <a class="payment-options-list disabled href-decoration-none"
                        style="display: flex; 
                            border: 1px solid #B7B7B7; color: #B7B7B7; margin: 16px 0px; font-size: 18px; font-weight: 600;">
                        Date: {{ticket.insertAt | date:'dd LLLL yyyy HH:mm'}}<br>
                        Statut: {{ticket.status | translate}}<br>
                        Sujet: {{ticket.subject}}<br>
                        message: {{ticket.message}}<br>
                    </a>
                </div>
                <button *ngIf="totalTicket > limitTicket"
                    style="margin-bottom: 20px; font-weight: 600; margin-top: 48px;" type="button"
                    class="btn btn-primary w-100 text-uppercase btn-accept" (click)="displayMoreTickets()">{{'BTN_MORE'
                    | translate}}</button>
            </div>
        </div>
    </div>
</div>