<ion-content>

      <div class="sign-up-btn-container" style="margin-top:50%;">
        <div >
          <h1>
            <span class = "Comfortaa">Bonjour</span> <img src="assets/images/icone_form/wavingHand.png" style="width: 10%;">
            <p class = "Comfortaa">Choisissez votre mode d'inscription ?</p>
          </h1>
        </div>

        <div class="row">
          <a class="btn btn-center col-3 display-block btn-secondary btn-padding-1 reduce-padding"
             (click)="signUpFacebook()" style="margin-top:5%;margin-left:5%;    font-size: 70%;background-color:white;"><i style="color:blue!important;" class="fab fa-facebook"></i> <span style="color:black!important;">{{'Facebook' | translate}}</span></a>
          <button *ngIf="platform.is('ios')" class=" col-3"  style="    margin-top: 5%;
    margin-left: 5%;
    font-size: 70%;
    background-color: white;
    border-radius: 7px;
    border: solid 1px #000000;"
                  (click)="signUpApple()">  {{'Apple' | translate}}</button>
          <a routerLink="/sign-up-email-customer"
             class="btn btn-center col-3 display-block btn-primary  reduce-padding"  style="margin-top:5%;font-size: 70%;background-color:white;color:black!important;"><i class="fas fa-at"></i>{{' E-mail' | translate}}</a>
        </div>


<!--
        <a class="btn btn-center width-100 display-block btn-secondary btn-padding-1 reduce-padding"
          (click)="signUpFacebook()" style="margin-top:5%"><i class="fab fa-facebook-f"></i> {{'SIGN_UP_FACEBOOK' | translate}}</a>
          <button *ngIf="platform.is('ios')" class="btn-apple"  style="margin-top:5%"
            (click)="signUpApple()">  {{'SIGN_UP_APPLE' | translate}}</button>
        <a routerLink="/sign-up-email-customer"
          class="btn btn-center width-100 display-block btn-primary  reduce-padding"  style="margin-top:5%">{{'SIGN_UP_EMAIL' | translate}}</a>
-->
        <div style="margin-top:5%;">
          <span>{{'SIGN_UP_DONE' | translate}}</span> <a routerLink="/login-customer">{{'YOU_CONNECT' | translate}}</a>
        </div>
        </div>

</ion-content>