<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">{{'TITLE_MY_DOCUMENTS' | translate}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-page-main-wrapper">
  <app-documents-partner *ngIf="['ROLE_PHARMACY', 'ROLE_OPTICIAN', 'ROLE_VETERINARY'].includes(session.currentUser().role)"></app-documents-partner>
  <app-documents-customer *ngIf="session.currentUser().role === 'ROLE_CUSTOMER'"></app-documents-customer>
</div>