<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>{{'TITLE_MANAGE_PRIMES' | translate}}
                <small class="text-muted">{{'SUBTITLE_MANAGE_PRIMES' | translate }}</small>
            </h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div [hidden]="hideEditForm" class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>{{titleForm.label | translate:titleForm.params}}</strong></h2>
                            <ul class="header-dropdown">
                                <li class="remove">
                                    <a role="button" class="boxs-close"><i class="zmdi zmdi-close"
                                            (click)="closeEdit()"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form [formGroup]="primeFormGroup">
                                <div class="row justify-content-md-center" style="margin-top: 10px;">
                                    <div class="col-lg-4 col-md-4">
                                        <b>{{'FIELD_CITY' | translate}}</b>
                                        <div class="input-group">
                                            <input type="text" class="form-control col-10 inline-block"
                                                name="fullAddress" placeholder="{{'FIELD_CITY' | translate}}" #address>
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-4">
                                        <b>{{'FIELD_TYPE_PRIME' | translate}}</b>
                                        <div class="input-group">
                                            <select class="form-control" name="type" formControlName="type">
                                                <option *ngFor="let type of types" [value]="type">
                                                    {{ type | translate }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center" style="margin-top: 10px;">
                                    <div class="input-group col-md-4 col-sm-4">
                                        <span class="input-group-addon">
                                            <i class="zmdi zmdi-calendar"></i>
                                        </span>
                                        <input placeholder="{{'FIELD_START_FROM' | translate}}"
                                            class="form-control datetimepicker" [owlDateTimeTrigger]="dt"
                                            [owlDateTime]="dt" formControlName="startFrom">
                                        <owl-date-time  #dt></owl-date-time>
                                    </div>
                                    <div class="input-group col-md-4 col-sm-4">
                                        <span class="input-group-addon">
                                            <i class="zmdi zmdi-calendar"></i>
                                        </span>
                                        <input placeholder="{{'FIELD_END_AT' | translate}}"
                                            class="form-control datetimepicker" [owlDateTimeTrigger]="dt1"
                                            [owlDateTime]="dt1" formControlName="endAt">
                                        <owl-date-time  #dt1></owl-date-time>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">
                                    <button (click)="submitForm()" type="button"
                                        class="col-6btn btn-raised btn-success btn-round waves-effect">{{'CONFIRM' | translate}}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body table-responsive">
                    <button type="button" (click)="displayAddForm()"
                        class="btn btn-success btn-icon btn-icon-mini btn-round hidden-sm-down">
                        <i class="zmdi zmdi-plus-circle"></i>
                    </button>
                    <table
                        class="table table-hover m-b-0 c_list footable footable-1 footable-paging footable-paging-center breakpoint breakpoint-md">
                        <thead>
                            <tr class="footable-header">
                                <th class="footable-sortable" style="display: table-cell;">
                                    {{'FIELD_TYPE_PRIME' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs" class="footable-sortable" style="display: table-cell;">
                                    {{'FIELD_START_FROM' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs sm md" class="footable-sortable">
                                    {{'FIELD_END_AT' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs sm md" class="footable-sortable">
                                    {{'FIELD_CITY' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th>{{'COL_STATUS' | translate }}</th>
                                <th data-breakpoints="xs" class="footable-sortable footable-last-visible"
                                    style="display: table-cell;">{{'COL_ACTION' | translate}}<span
                                        class="fooicon fooicon-sort"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td *ngIf="primes.length === 0" colspan="7" style="text-align: center;">
                                    {{'NO_DATA' | translate}}</td>
                            </tr>
                            <tr *ngFor="let prime of primes">
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{prime.type | translate}}
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{prime.startFrom  | date:'dd LLLL yyyy hh:mm'}}
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <span class="phone">
                                        {{prime.endAt  | date:'dd LLLL yyyy hh:mm'}}
                                    </span>
                                </td>
                                <td style="display: table-cell;">
                                    <span class="phone">
                                        {{prime.city}}
                                    </span>
                                </td>
                                <td><span [ngClass]="{'badge-danger': prime.status==='DISABLED',
                                    'badge-success':prime.status==='ENABLED'  }"
                                        class="badge m-l-10">{{prime.status | translate}}</span></td>
                                <td class="footable-last-visible" style="display: table-cell;">
                                    <button tooltip="{{'TOOLTIP_EDIT' | translate}}" (click)="displayEditForm(prime)"
                                        class="btn btn-success btn-icon btn-simple btn-icon-mini btn-round"><i
                                            class="zmdi zmdi-edit"></i></button>
                                    <button tooltip="{{'TOOLTIP_ENABLE' | translate}}" *ngIf="prime.status === 'DISABLED'" (click)="changeStatus(prime, 'ENABLED')"
                                        class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round btn-warning"><i
                                            class="zmdi zmdi-lock-open"></i></button>
                                    <button tooltip="{{'TOOLTIP_DISABLED' | translate}}" *ngIf="prime.status === 'ENABLED'" (click)="changeStatus(prime, 'DISABLED')"
                                        class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round btn-warning"><i
                                            class="zmdi zmdi-lock"></i></button>
                                    <button tooltip="{{'TOOLTIP_DELETE' | translate}}" (click)="deleteElement(prime._id)"
                                        class="btn btn-danger btn-icon btn-simple btn-icon-mini btn-round"><i
                                            class="zmdi zmdi-delete"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
            <div class="card" *ngIf="primes.length > 0">
                <div class="body">
                    <ul class="pagination pagination-primary m-b-0">
                        <li class="page-item" [ngClass]="{'disabled': page <= 0}"><a class="page-link"
                                (click)="changePage(page-1)"><i class="zmdi zmdi-arrow-left"></i></a>
                        </li>
                        <li class="page-item active"><a class="page-link">{{page+1}}</a></li>
                        <li class="page-item" *ngIf="((page + 1 ) * limit) < nbTotal"><a class="page-link"
                                (click)="changePage(page+1)"><i class="zmdi zmdi-arrow-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>