<ion-content>
  <div class="row h-100">
    <div class="col-xs-12 col-sm-12">
      <div class="text-center header-icon-logo-margin header-icon-logo-margin-extra">
        <img src="assets/images/logo.png" class="logo-app" alt="Main Logo">
      </div>

      <!--Sign In/Login Container Start-->
      <div class="address-title text-center">
        <div class="display-flex justify-content-center">
          <div class="float-left sign-in-item border-bottom-primary-100" data-class="login">{{'LOGIN' | translate}}
          </div>
          <div class="float-left sign-in-item border-bottom-light-grey" data-class="sign-up">{{'SIGN_UP' | translate}}
          </div>
        </div>
      </div>
      <!--Sign In/Login Container End-->

      <!--Sign In Container Start-->
      <div class="sign-up-form-container login text-center">
        <form class="width-100" [formGroup]="loginFormGroup">

          <!--Sign In Field Start-->
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="fas fa-envelope icon-color"></span>
              </div>
              <input class="form-control" formControlName="mail" type="text" autocomplete="off" name="email"
                placeholder="Email">
            </div>
          </div>
          <!--Sign In Field End-->

          <!--Sign In Field Start-->
          <app-password-field idInput="loginPasswordDeliverer" formControlName="password" placeholder="{{'FIELD_PASSWORD' | translate}}">
          </app-password-field>
          <!--Sign In Field End-->

            <!--Setting Item Start-->
            <div class="form-group">
              <span  style="vertical-align: middle; margin-right:10px;" >{{'REMEMBER_ME' | translate}}</span>
              <label class="switch"  style="vertical-align: top;">
                <input type="checkbox"(change)="rememberMe($event.target.checked)">
                <span class="slider"  ></span>
              </label>
              <span class="clearfix"></span>
            </div>
            <!--Setting Item End-->

            
          <div class="have-an-account text-center">
            <a (click)="lostPassword()" class="regular-link">{{'PASSWORD_LOST' | translate}}</a>
          </div>

          <div class="form-submit-button">
            <a class="btn btn-primary text-white text-uppercase w-100 mb-3"
              (click)="submit()">{{'SIGN_IN' | translate}}</a>
          </div>
        </form>
      </div>
      <!--Sign In Container End-->

      <!--Sign Up Container Start-->
      <div class="sign-up-form-container sign-up text-center hidden">
        <form class="width-100" [formGroup]="registerFormGroup">

          <!--Sign Up Field Start-->
          <div class="form-group">
            <div class="input-group"
            [class.input-invalid]="fieldsRegisterFrm('lastName').invalid && (fieldsRegisterFrm('lastName').dirty || fieldsRegisterFrm('lastName').touched)">
              <div class="input-group-prepend">
                <span>
                  <span class="fas fa-user icon-color"></span>
                </span>
              </div>
              <input class="form-control" formControlName="lastName" type="text" autocomplete="off" name="lastName"
                placeholder="{{'FIELD_LASTNAME' | translate}} *">
            </div>
            <div *ngIf="fieldsRegisterFrm('lastName').invalid && (fieldsRegisterFrm('lastName').dirty || fieldsRegisterFrm('lastName').touched)">
              <p  class="text-danger text-required" *ngIf="fieldsRegisterFrm('lastName').errors.required">
                {{'FIELD_LASTNAME_REQUIRED' | translate}}
              </p>
            </div>
          </div>
          <!--Sign Up Field End-->

          <div class="form-group">
            <div class="input-group"
            [class.input-invalid]="fieldsRegisterFrm('name').invalid && (fieldsRegisterFrm('name').dirty || fieldsRegisterFrm('name').touched)">
              <div class="input-group-prepend">
                <span>
                  <span class="fas fa-user icon-color"></span>
                </span>
              </div>
              <input class="form-control" formControlName="name" type="text" autocomplete="off" name="name"
                placeholder="{{'FIELD_NAME' | translate}} *">
            </div>
            <div *ngIf="fieldsRegisterFrm('name').invalid && (fieldsRegisterFrm('name').dirty || fieldsRegisterFrm('name').touched)">
              <p  class="text-danger text-required" *ngIf="fieldsRegisterFrm('name').errors.required">
                {{'FIELD_NAME_REQUIRED' | translate}}
              </p>
            </div>
          </div>

          <!--Sign Up Field Start-->
          <div class="form-group">
            <div class="input-group"
            [class.input-invalid]="fieldsRegisterFrm('mail').invalid && (fieldsRegisterFrm('mail').dirty || fieldsRegisterFrm('mail').touched)">
              <div class="input-group-prepend">
                <span>
                  <span class="fas fa-envelope icon-color"></span>
                </span>
              </div>
              <input class="form-control" formControlName="mail" type="text" autocomplete="off" name="email"
                placeholder="Email *">
            </div>
            <div *ngIf="fieldsRegisterFrm('mail').invalid && (fieldsRegisterFrm('mail').dirty || fieldsRegisterFrm('mail').touched)">
              <p  class="text-danger text-required" *ngIf="fieldsRegisterFrm('mail').errors.required">
                {{'FIELD_MAIL_REQUIRED' | translate}}
              </p>
            </div>
          </div>
          <!--Sign Up Field End-->

          <!--Sign Up Field Start-->
          <div class="form-group">
            <div class="input-group"
            [class.input-invalid]="fieldsRegisterFrm('phoneNumber').invalid && (fieldsRegisterFrm('phoneNumber').dirty || fieldsRegisterFrm('phoneNumber').touched)">
              <input class="form-control h-100" id="phone-input-login-deliverer" type="tel" name="phone" autocomplete="off"
                data-intl-tel-input-id="0" placeholder="(201) 555-0123 *" formControlName="phoneNumber" >
            </div>
            <div *ngIf="fieldsRegisterFrm('phoneNumber').invalid && (fieldsRegisterFrm('phoneNumber').dirty || fieldsRegisterFrm('phoneNumber').touched)">
              <p  class="text-danger text-required" *ngIf="fieldsRegisterFrm('phoneNumber').errors.required">
                {{'FIELD_PHONENUMBER_REQUIRED' | translate}}
              </p>
            </div>
          </div>
          <!--Sign Up Field End-->

          <!--Sign Up Field Start-->
          <div class="form-group">
            <div class="input-group"
            [class.input-invalid]="fieldsRegisterFrm('siret').invalid && (fieldsRegisterFrm('siret').dirty || fieldsRegisterFrm('siret').touched)">
              <div class="input-group-prepend">
                <span>
                  <span class="fas fa-building icon-color"></span>
                </span>
              </div>
              <input class="form-control" formControlName="siret" type="text" autocomplete="off"
                placeholder="{{'FIELD_SIRET' | translate}} *">
            </div>
            <div *ngIf="fieldsRegisterFrm('siret').invalid && (fieldsRegisterFrm('siret').dirty || fieldsRegisterFrm('siret').touched)">
              <p  class="text-danger text-required" *ngIf="fieldsRegisterFrm('siret').errors.required">
                {{'FIELD_SIRET_REQUIRED' | translate}}
              </p>
            </div>
          </div>
          <!--Sign Up Field Start-->
          <!--Sign Up Field End-->
          <app-address-input [checkValid]="checkValid" required="true" (onChange)="setAddress($event)"></app-address-input>

          <!--Sign Up Field Start-->
          <app-password-field  [checkValid]="checkValid" required="true" formControlName="password" placeholder="{{'FIELD_PASSWORD' | translate}} *">
          </app-password-field>
          <!--Sign Up Field End-->

          <!--Sign Up Field Start-->
          <app-password-field  [checkValid]="checkValid"  required="true" formControlName="passwordConfirm" placeholder="{{'FIELD_CONFIRM_PASSWORD' | translate}} *">
          </app-password-field>
          <!--Sign Up Field End-->

          <div class="form-group "  style="text-align: left;"
          [class.text-danger]="fieldsRegisterFrm('typeDeliverer').invalid && (fieldsRegisterFrm('typeDeliverer').dirty || fieldsRegisterFrm('typeDeliverer').touched)">
            <span>{{'FIELD_TYPE_DELIVERER' | translate}} *</span>
            <!--Email Option Start-->
            <label class="font-weight-light width-100" *ngFor="let type of typesDeliverer">
              <input id="radio-{{type._id}}" type="radio" formControlName="typeDeliverer" class="margin-right-15" (click)="changeType(type._id)" value="{{type._id}}" > {{type.label | translate}}
            </label>
            <!--Email Option End-->
          </div>

          <div class="form-submit-button">
            <a class="btn  btn-primary  text-white text-uppercase w-100 mb-3"
              (click)="submitRegister()">{{'SIGN_UP' | translate}}</a>
          </div>
        </form>
      </div>
      <!--Sign Up Container End-->

    </div>

    <!--Terms And Conditions Agreement Container Start-->
    <div class="col-xs-12 col-sm-12 text-center sms-rate-text font-roboto flex-end margin-bottom-30">
      <div class="container-sms-rate-text width-100 font-11">
        <span class="light-gray font-weight-light">En vous inscrivant vous êtes d'accord avec nos </span>
        <br />
        <a (click)="openCgu()" class="dark-link">
          <span class="font-weight-light">Conditions générales d'utilisation</span>
        </a>
      </div>
    </div>
    <!--Terms And Conditions Agreement Container End-->

  </div>
</ion-content>