<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">Blog</h1>
          <ol class="breadcrumb">
            <li><a href="#" title="Home">Posez y vos questions</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="blog-page-main-wrapper">

<div class="container">
  <div class="s-title">
    <h2 class="wow"> Tout les articles disponibles</h2>
  </div>
  <div class="row align-items-center">
    <div class="col-lg-6">
      <div class="faq-sec-img">
        <img class="wow slideInLeft" src="assets/images/imagesBlog/avantages.jpeg" loading="lazy" alt="livmeds dossier médical partagé"><br>
      </div>
    </div>
    <div class="col-lg-6 ">
      <div class="faq-sec-img">
        <div style="text-align: center;">
          <h3><b>QUELS SONT LES  AVANTAGES  DE NOTRE SERVICE DE  LIVRAISON DE   MEDICAMENTS ?</b></h3>
          <p class="text-service-body">Avec Livmed’s soyez dans l’air du temps ne vous déplacez plus en Pharmacie. Une solution simple et efficace, Livmed’s
            représente l’Uberisation de la livraison des produits de la santé. Avec une croissance accrue des téléconsultations, la
            livraison de médicaments à domicile est devenue incontournable.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row align-items-center" style="height:400px;">
    <div class="col-lg-6">
      <div class="faq-sec-img">
         <div style="text-align: center;">
          <h3><b>Un gain de temps</b></h3>
          <p class="text-service-body">Votre temps est précieux, en passant au digital avec l’application Livmed’s, évitez la file d’attente en pharmacie et faites-vous livrer vos médicaments à domicile en moins de 30 minutes.
            Désormais, les tâches quotidiennes pourront être effectuées en temps et en heure.
            Grâce à notre service, vous pourrez vous consacrer pleinement à :


            • Être auprès de vos enfants
            • Être auprès de vos proches malades
            • Faciliter la vie des personnes à mobilité réduite </p>
        </div>
      </div>
    </div>
    <div class="col-lg-6 ">
      <div class="faq-sec-img">
        <img style="width: 60%;" class="wow slideInLeft" src="assets/images/imagesBlog/gain-temps.jpeg" loading="lazy"  alt="livmeds suivi livraison en temps réel"><br>
      </div>
    </div>
  </div>

  <div class="row align-items-center" >
    <div class="col-lg-6">
      <div class="faq-sec-img">
        <img class="wow slideInLeft" src="assets/images/imagesBlog/service_necessaire.jpeg" loading="lazy" alt="livmeds dossier médical partagé"><br>
      </div>
    </div>
    <div class="col-lg-6 ">
      <div class="faq-sec-img">
        <div style="text-align: center;">
          <h3><b>UN SERVICE NECESSAIRE </b></h3>
          <p class="text-service-body">Le service de livraison de médicaments à domicile est devenu aujourd’hui un service nécessaire pour toutes les personnes qui sont dans le besoin urgent de médicaments ou toute personne ayant recours à la téléconsultation.
            Que vous soyez parents, jeunes ou même sénior, il n’est pas toujours facile de se rendre en pharmacie. C’est pourquoi, la livraison de médicaments à domicile via l’application Livmed’s est le nouveau service qui viendra vous faciliter la vie et vous éviter le risque d’exposition en officine.
            Vous retrouverez sur l’application les pharmacies partenaires, les pharmacies de garde et les pharmacies de nuit vous permettant d’obtenir votre livraison de médicaments en moins de 30 minutes à toute heure de la journée comme de la nuit. 
            Alors qu’attendez-vous pour commander ?</p>
        </div>
      </div>
    </div>
  </div>
  <div class="row align-items-center" >
  <div class="col-lg-6">
    <div class="faq-sec-img">
      <div style="text-align: center;">
        <h3><b>LIVRAISON 100% SECURISEE </b></h3>
        <p class="text-service-body">Il est important pour vous de savoir que notre service est 100% sécurisé. En effet, la protection de la vie privée de tous nos utilisateurs est primordiale à nos yeux. Livmed’s s’engage à protéger vos données de santé sensibles et confidentielles grâce à un hébergeur de données de santé crypté. Seul le pharmacien peut consulter vos documents ainsi que le contenu de votre commande. Il a d’ailleurs accès à vos antécédents médicaux grâce au DMP (Dossier Médical Partagé) ce qui lui permet de vous conseilleur au mieux lors de votre commande.
          Quant à nos livreurs, ils sont formés en interne et responsabilisés à la livraison de médicaments. Distances de sécurité avec les clients, sacs isothermes, sacs scellés de façon à respecter le secret médical  : rien n’est laissé au hasard.
        </p>
      </div>
    </div>
  </div>
  <div class="col-lg-6 ">
    <div class="faq-sec-img">
      <img style="width: 60%;" class="wow slideInLeft" src="assets/images/imagesBlog/livraion_securisee.jpeg" loading="lazy"  alt="livmeds suivi livraison en temps réel"><br>
    </div>
  </div>
  </div>
</div>

</div>


  <div class="log-page-second-main-wrapper">
  <div class="container">
    <div class="row right-sidebar">
      <main class="col-lg-9 main-content">
        <div class="post-row">
          <div class="row gutter-40">
            <div class="col-12" style="margin-bottom: 20px;">
                <button class="col-4" type="submit"
                class="btn btn-submit" routerLink="/add-topic">
                {{'BTN_ADD_TOPICS' | translate }}
              </button>
            </div>
            <div *ngIf="topics.length === 0" class="col-md-12">
              {{'NO_TOPICS' | translate}}
            </div>
            <div class="col-md-6" *ngFor="let topic of topics">
              <div class="blog-post style-2">
                <div class="post-info">
                  <h2 class="post-title"><a routerLink="/topic"
                    [queryParams]="{id: topic._id}">{{topic.title}}</a></h2>
                  <div class="post-meta">
                    <span class="meta-author"><i class="fa fa-user-o"></i><a>
                        {{topic.author.lastName + ' ' + topic.author.name}}</a></span>
                    <span class="meta-category"><i class="fa fa-folder-o"
                        aria-hidden="true"></i>{{topic.category.title | translate}}</span>
                    <span class="meta-date"><i class="fa fa-calendar-times-o" aria-hidden="true"></i>
                      {{ topic.insertAt | date:'dd LLLL yyyy HH:mm'}}</span>
                  </div>
                  <div class="post-des">
                    {{topic.description}}
                  </div>
                  <a class="read-more-btn" routerLink="/topic"
                    [queryParams]="{id: topic._id}">{{'BTN_READ_MORE' | translate}}</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination" *ngIf="topics.length > 0">
          <a class="prev page-numbers"  *ngIf="page > 0" (click)="changePage(page-1)"><i class="fa fa-angle-left"></i></a>
          <a class="next page-numbers"  *ngIf="((page + 1 ) * limit) < nbTotal" (click)="changePage(page+1)"><i class="fa fa-angle-right"></i></a>
        </div>
      </main>
      <aside class="col-lg-3 sidebar">
        <div class="widget widget-search">
          <form role="search" class="widget-search-form">
            <div class="input-group">
              <input type="text" class="form-control" (change)="setSearchText($event)"
                placeholder="{{'SEARCH_INPUT' | translate}}" [attr.aria-label]="'SEARCH_INPUT' | translate"
                autocomplete="off">
              <span class="input-group-btn">
                <button class="btn" type="button" (click)="refreshList()"><i class="fa fa-search"></i></button>
              </span>
            </div>
          </form>
        </div>
        <div class="widget widget-tags">
          <h2 class="widget-title">{{'TITLE_CATEGORIES' | translate}}</h2>

          <table class="table table_summary" *ngIf="selectedCategory">
            <tbody>
              <tr>
                <td>
                  <a (click)="setSelectedCategory(null)" class="remove_item  pointer-link"><i
                      class="icon_minus_alt"></i></a> <strong> {{selectedCategory.title | translate}}</strong>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="tagcloud">
            <a class="pointer-link" (click)="setAllCategory()">{{'ALL_CATEGORY' | translate}}</a>
            <a *ngFor="let category of categories" class="pointer-link"
              (click)="setSelectedCategory(category)">{{category.title | translate}}</a>
          </div>
        </div>
      </aside>
    </div>
  </div>
</div>
