<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">{{'TITLE_LIST_COMMANDS' | translate}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-page-main-wrapper">
  <div class="container">
    <div class="row justify-content-center">
      <!--
      <div class="col-6">
        <button class="btn btn-submit" routerLink="/command"> {{'BTN_DO_COMMAND' | translate}}</button> <br>
        <button class="btn btn-submit" routerLink="/command-historical" style="margin-top: 5%;"> {{'Historique des commandes' | translate}}</button>
      </div>
      -->

      <div class="col-lg-6">
        <div *ngFor="let command of commandsList">

        <mat-list id="listCommands" #listCommands  *ngIf="command.status == 'AWAITING_VALIDATION' || command.status == 'AWAITING_VALIDATION_AMOUNT' || command.status == 'IN_DELIVERY' " >
          <mat-list-item class="commandItem" style="margin-bottom: 40px; height: 100%;">
            <a class="payment-options-list disabled href-decoration-none"
               style="display: flex; flex-direction: column; color: #B7B7B7; font-size: 16px; font-weight: 600; text-align: center;">
              <span style="display: flex;">
                <span class="icon" style="width: 100px; height: auto; margin-right: 50px;">
                  <img style="width: 100%;" src="{{command.urlAvatar?command.urlAvatar:'assets/images/stand.svg'}}"
                       alt="">
                </span>
                <span>
                  Boutique: {{command.merchant.name}}<br><br>
                  Adresse de livraison: {{command.merchantFavoriteAddress.fullAddress}}<br><br>
                  Créée le : {{command.formatDate}}<br>
                  Statut: {{('CUSTOMER_' + command.status) | translate }}<br>
                </span>
                <span *ngIf="command.formatDeliveryDate && command.status === 'SCHEDULED'">
                  Planifié pour le {{command.formatDeliveryDate}}
                </span>
                <span *ngIf="command.customerOfMerchant">
                  Pour le client: {{command.customerOfMerchant.name + ' ' + command.customerOfMerchant.lastname}}
                </span>
              </span>
              <div style="margin-top: 10px;">
                <button *ngIf="!(['REFUSED_AMOUNT'].includes(command.status))" (click)="showOnMap(command)" class="btn btn-submit red" style="width: 60%;">
                  {{'VIEW_ON_MAP' | translate }} <span class="fas fa-map-pin"></span>
                </button>
              </div>
              <div *ngIf="command.status === 'SCHEDULED'">
                <button (click)="cancel(command)" style="margin-top: 10px; width: 60%;"
                        class="btn btn-primary btn-accept"> {{'CANCEL' | translate }}
                  <span class="question-icon fas fa-times"></span></button>
              </div>
            </a>
          </mat-list-item>
          <button *ngIf="total > commandsList.length" class="btn btn-submit red" style="width: 90%; margin: auto;"
                  (click)="loadMore()">{{'BTN_MORE' | translate}}</button>
        </mat-list>
      </div>
      </div>
    </div>
</div>
</div>
