<ion-content>
  <!--Google Maps Start-->
  <div #mapDeliverer id="map" class="h-100"></div>
  <!--Google Maps End-->

  <!--All Notifications & Status Container Start-->
  <div class="change-request-status">
    <div [hidden]="session.currentUser().status === 'AWAITING_VALIDATION'">
      <label class="switch float-left" [attr.disabled]="true">
        <input type="checkbox" id="statusDeliverer">
        <span class="slider"></span>
      </label>
      <img src="assets/icons/map-position.svg" class="float-right" alt="Map Position" (click)="centerMap()">
      <div class="clearfix"></div>
    </div>
    <div
      [hidden]="session.currentUser().status !== 'AWAITING_VALIDATION' || session.getPreferences().enableTutorial !== 'true'"
      class="request-notification-container map-notification offline-notification map-notification-warning">
      Votre compte n'a pas été encore validé
      <div class="font-weight-light">
        Merci de vous être enregistré mais votre compte n'a pas encore été validé.<br>
        Vous pourrez effectuer des livraisons quand ce dernier sera validé.<br>
        Pour cela, rendez vous dans "Menu" -> "Mes documents" pour nous envoyer tous les documents nécessaires.
      </div>
    </div>
    <!--Notification Container Start-->
    <div [hidden]="hideOfflineNotif || !hideAwaitingValidationAccount"
      class="request-notification-container map-notification offline-notification map-notification-warning">
      {{'TITLE_NOTIF_OFFLINE' | translate}}
      <div class="font-weight-light">
        {{'DESCRIPTION_NOTIF_OFFLINE' | translate}}
      </div>
    </div>
    <!--Notification Container End-->

    <!--Link Notification Container Start-->
    <a class="new-request href-decoration-none">
      <div style="color: black" [hidden]="hideNotifNewRequest"
        class="request-notification-container map-notification new-request-notification">
        {{'TITLE_NOTIF_NEW_REQUEST' | translate}}
        <div class="font-weight-light">
          {{'DESCRIPTION_NOTIF_NEW_REQUEST' | translate}}
        </div>
      </div>
    </a>
    <!--Link Notification Container End-->

  </div>


  <div [hidden]="hideDeliveryBill" class="wish-container details-invoice"
    style="overflow-y: scroll; background-color: white; height: 100%;">
    <div class="font-weight-light wishes-main-text">
      <button style="margin-bottom: 20px; font-weight: 600; margin-top: 48px;" type="button"
        (click)="hideDeliveryBill=true"
        class="btn btn-primary w-100 text-uppercase btn-accept">{{'BTN_RETURN_TO_MAP' | translate}}</button>
      <!-- <form style="margin-top: 10px !important; margin-bottom: 20px; font-weight: 600; color: white;">
          <label *ngFor="let category of categories" class="font-weight-light width-100 category">
              <input name="category" [(ngModel)]="categorySelected" [value]='category.value' type="radio"
                  class="margin-right-15" (change)="categoryChange()"> {{category.label | translate}}
          </label>
      </form> -->
      <div class="row">
        <div class="col-12 category">
          <h3>{{'TITLE_TAGLINE' | translate}}</h3>
          <p>{{'INSTRUCTION_TAGLINE' | translate}}</p>

          <canvas #canvasElement id="sig-canvas"
            style="border: 3px solid #54BBEC;width:100% !important; height: 200px;">
            Veuillez utiliser Google Chrome
          </canvas>

          <button (click)="clearCanvas()" style="font-weight: 600; margin-top: 48px;" type="button"
            class="btn btn-primary w-100 text-uppercase btn-accept">{{'CLEAR_TAGLINE' | translate}}</button>
          <button (click)="deliveredPackage()" style="margin-bottom: 20px; font-weight: 600; margin-top: 48px;"
            type="button"
            class="btn btn-primary w-100 text-uppercase btn-accept">{{'BTN_DELIVERY_BILL' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

  <!--Tapped Car Information Container Start-->
  <div [hidden]="deliveryReceipt._id === null || deliveryReceipt.status === 'IN_DELIVERY'"
    class="tapped-car-info request">
    <div class="request-item-container remaining-height">
      <div class="profile-information text-center" *ngIf="!deliveryReceipt.isBtoB && !deliveryReceipt.isForCustomer">
        <div class="profile-information">
          <img class="profile-picture-img img-avatar" src="assets/images/man.svg" alt="Profile Picture">
          <div class="profile-name font-18">{{deliveryReceipt.customer.name + ' ' + deliveryReceipt.customer.lastName}}
          </div>
        </div>
      </div>
      <div class="profile-information text-center" *ngIf="deliveryReceipt.isForCustomer">
        <div class="profile-information">
          <img class="profile-picture-img img-avatar" src="assets/images/man.svg" alt="Profile Picture">
          <div class="profile-name font-18">{{deliveryReceipt.nameCustomer + ' ' + deliveryReceipt.lastnameCustomer}}
          </div>
        </div>
      </div>
      <div class="profile-information text-center" *ngIf="deliveryReceipt.isBtoB">
        <div class="profile-information">
          <div class="profile-name font-18">{{'TITLE_DELIVERY_BTOB' | translate}}</div>
        </div>
      </div>
      <div class="all-wide-container history-items-container overflow-scroll-y remaining-height">
        <div class="history-item driver-request">

          <!--Wishes Container Start-->
          <div class="notification-container" *ngIf="deliveryReceipt.customerOfMerchant">
            <div class="grey-label">Pour le client:
              {{deliveryReceipt.customerOfMerchant.name + ' ' + deliveryReceipt.customerOfMerchant.lastname}}</div>
          </div>
          <!--Wishes Container End-->

          <div class="border-bottom-primary">
            <div class="status-container status-container-driver">
            </div>
          </div>

          <!--Addresses Container Start-->
          <div class="addresses-container position-relative driver-addresses-container">
            <div class="height-auto">
              <div class="w-100 map-input-container map-input-container-top">
                <span class="fas fa-location-arrow location-icon-rotate map-input-icon"></span>
                <div class="map-input mr-0 display-flex">
                  <input class="controls flex-1 font-weight-light" type="text" placeholder="Enter an origin location"
                    value="{{deliveryReceipt.merchantFavoriteAddress.fullAddress}}" disabled>
                </div>
              </div>
              <div class="w-100 map-input-container map-input-container-bottom">
                <span class="map-input-icon">
                  <img src="assets/icons/circle.svg" alt="Current Location Icon">
                </span>
                <div class="map-input mr-0 display-flex border-0">
                  <input class="controls flex-1 font-weight-light" type="text"
                    placeholder="Enter a destination location" value="{{deliveryReceipt.address.fullAddress}}" disabled>
                </div>
                <span class="dotted-line"></span>
              </div>
            </div>
          </div>
          <!--Addresses Container End-->

          <!--All Trips Container Start-->
          <div class="all-trip-fares">
            <div class="border-bottom-primary border-bottom-light-grey">
              <div class="text-uppercase trip-fare">{{'DETAILS_DELIVERY' | translate}}</div>
            </div>
            <div class="trip-fare-container trip-fare-driver font-weight-light">

              <!--Trip Fare Item Start-->
              <div class="trip-fare-item">
                <span class="float-left">{{'PRICE_DELIVERY' | translate}}</span>
                <span
                  class="float-right blue-price">{{deliveryReceipt.invoice.amountDeliverer | currency:'EUR':true}}</span>
                <span class="clearfix"></span>
              </div>
              <!--Trip Fare Item End-->

              <!--Trip Fare Item Start-->
              <div class="trip-fare-item">
                <span class="float-left">{{'DISTANCE' | translate}}</span>
                <span class="float-right blue-price">{{deliveryReceipt.invoice.distanceText}}</span>
                <span class="clearfix"></span>
              </div>
              <!--Trip Fare Item End-->

            </div>
          </div>
          <!--All Trips Container End-->

          <!--Accept Or Decline Container Start-->
          <div class="request-btn-container display-flex justify-content-between">
            <div class="request-btn">
              <button (click)="refuseThisDelivery()" type="button"
                class="btn btn-transparent text-uppercase">{{'BTN_REFUSE' | translate}}</button>
            </div>
            <div class="request-btn">
              <button type="button" class="btn btn-primary w-100 font-weight-light text-uppercase btn-accept"
                (click)="acceptThisDelivery()">{{'BTN_ACCEPT' | translate}}</button>
            </div>
          </div>
          <!--Accept Or Decline Container End-->

        </div>
      </div>
    </div>
  </div>
  <!--Tapped Car Information Container End-->

  <div [hidden]="hidePickupNotification" class="request-ride-info">
    <div class="tapped-car-container">
      <div class="tapped-car-info-container">

        <!--Profile Information Start-->
        <div class="text-center">
          <img class="profile-picture-img  img-avatar" src="assets/images/man.svg" alt="Profile Picture">
          <div class="tapped-car-info-header-icons float-right">
            <div class="slide-up font-20 float-right double-down">
              <img src="assets/icons/downarrow.svg">
            </div>
            <div class="clearfix"></div>
          </div>
          <div *ngIf="deliveryReceipt.merchant">
            Réf : {{deliveryReceipt.reference}}
            <br>{{'ROLE_PHARMACY' | translate}} : {{deliveryReceipt.merchant.name}}
          </div>
          <div *ngIf="deliveryReceipt.partner">
            Réf : {{deliveryReceipt.reference}}
            <br>{{'SHOP' | translate}} : {{deliveryReceipt.partner.name}}
          </div>
        </div>
        <!--Profile Information End-->

        <div class="overflow-scroll-y">

          <!--Wishes Container Start-->
          <div class="notification-container addAddress">
            <!-- <div class="grey-label font-13">Wishes</div> -->
            <div [hidden]="!hideDropOff" class="grey-label font-helvFTrip Fetica font-weight-light font-15">
              Vous devez aller chercher le colis à la boutique puis attendre que le gérant de ce dernier valide que le
              colis vous a été donné.
              <br>Après cela, vous pouvez aller livrer votre colis à destination.
              <br>
              <br>
              <span *ngIf="deliveryReceipt.merchant" (click)="copyAddress(userService.getFavoriteAddress(deliveryReceipt.merchant.addresses).fullAddress)">Adresse de la boutique:
                {{deliveryReceipt.merchant.addresses?userService.getFavoriteAddress(deliveryReceipt.merchant.addresses).fullAddress:''}}
                <i class="far fa-copy"></i>
              </span>
              <span *ngIf="deliveryReceipt.partner" (click)="copyAddress(deliveryReceipt.partner.address.fullAddress)">Adresse de la boutique:
                {{deliveryReceipt.partner.address.fullAddress}}
                <i class="far fa-copy"></i>
              </span>
              <br>
              <br>
              <br>
              <span *ngIf="!deliveryReceipt.isBtoB && !deliveryReceipt.isForCustomer">
                Nom du client: {{deliveryReceipt.customer.name + ' ' + deliveryReceipt.customer.lastName}}
              </span>
              <br *ngIf="!deliveryReceipt.isBtoB && !deliveryReceipt.isForCustomer">
              <span *ngIf="!deliveryReceipt.isBtoB && !deliveryReceipt.isForCustomer">
                Numéro du client: {{deliveryReceipt.customer.phoneNumber}}
              </span>
              <span *ngIf="!deliveryReceipt.isBtoB && deliveryReceipt.isForCustomer">
                Nom du client: {{deliveryReceipt.nameCustomer + ' ' + deliveryReceipt.lastnameCustomer}}
              </span>
              <br *ngIf="!deliveryReceipt.isBtoB && deliveryReceipt.isForCustomer">
              <span *ngIf="!deliveryReceipt.isBtoB && deliveryReceipt.isForCustomer">
                Numéro du client: {{deliveryReceipt.phoneNumberCustomer}}
              </span>
              <br>
              <span (click)="copyAddress(deliveryReceipt.address.fullAddress)">Adresse du client: {{deliveryReceipt.address.fullAddress}}
                <span *ngIf="deliveryReceipt.address.compAddress && deliveryReceipt.address.compAddress !== 'null'">
                  ({{deliveryReceipt.address.compAddress}})
                </span>
                <i class="far fa-copy"></i>
              </span>
            </div>

            <div [hidden]="hideDropOff" class="grey-label font-helvFTrip Fetica font-weight-light font-13">
              {{'TIME_LEFT_BEFORE_RETURN_PHARMACY' | translate}} : {{minuteLeft}} min {{secondLeft}} sec
            </div>
            <div class="border-bottom-primary border-bottom-light-grey">
              <div class="status-container status-container-driver">
              </div>
            </div>
          </div>
          <!--Wishes Container End-->
          <div [hidden]="hideReachCustomer" class="pickup-btn-container display-flex">
            <div class="pickup-btn-item">
              <button type="button" class="btn btn-fuschia text-uppercase pick-up btn-file"
                (click)="reachCustomer()">{{'REACH_CUSTOMER' | translate}}</button>
            </div>
            <div class="pickup-btn-other">
              <div *ngIf="!deliveryReceipt.isBtoB && !deliveryReceipt.isForCustomer && deliveryReceipt.recoveredPackageByDeliverer" class="pickup-btn-item app-icon" [attr.data-count]="count" style="display: block;">
                <a (click)="showChat('TO_DELIVERER')" class="btn btn-fuschia text-uppercase  btn-file">
                  <span class="fas fa-comments font-20"></span>
                </a>
              </div>
              <div *ngIf="!deliveryReceipt.isBtoB && !deliveryReceipt.isForCustomer && deliveryReceipt.recoveredPackageByDeliverer" class="pickup-btn-item">
                <button type="button" class="approved-icon call text-uppercase btn-deep-blue"
                  (click)="call(deliveryReceipt.customer.phoneNumber)">
                  <span class="fas fa-phone text-white font-20"></span>
                </button>
              </div>
              <div *ngIf="!deliveryReceipt.isBtoB && deliveryReceipt.isForCustomer && deliveryReceipt.recoveredPackageByDeliverer" class="pickup-btn-item">
                <button type="button" class="approved-icon call text-uppercase btn-deep-blue"
                  (click)="call(deliveryReceipt.phoneNumberCustomer)">
                  <span class="fas fa-phone text-white font-20"></span>
                </button>
              </div>
            </div>
          </div>

          <div [hidden]="hideDropOff " class="pickup-btn-container display-flex" style="
          flex-direction: column;">
            <div class="pickup-btn-item" style="width: 100%; margin-bottom: 15px;">
              <button *ngIf="!isEnableCountdown" type="button" class="btn btn-fuschia text-uppercase pick-up btn-file"
                (click)="enableCountdown()">{{'ENABLE_COUNTDOWN' | translate}}</button>
            </div>
            <div class="pickup-btn-item" style="width: 100%; margin-bottom: 15px;">
              <button *ngIf="!hideReturnPackage" type="button" class="btn btn-fuschia text-uppercase pick-up btn-file"
                (click)="returnPackage()">{{'RETURN_PACKAGE' | translate}}</button>
            </div>
            <div class="pickup-btn-item" style="width: 100%;  margin-bottom: 15px;">
              <button type="button" *ngIf="hideReturnPackage" class="btn btn-fuschia text-uppercase pick-up btn-file"
                (click)="(deliveryReceipt.isBtoB || deliveryReceipt.isForCustomer)?hideDeliveryBill = false:deliveredPackage()">{{'DROP_OFF' | translate}}</button>
            </div>
            <div class="pickup-btn-other" *ngIf="!deliveryReceipt.isBtoB && !deliveryReceipt.isForCustomer">
              <div class="pickup-btn-item app-icon" [attr.data-count]="count">
                <a (click)="showChat('TO_DELIVERER')" class="btn btn-fuschia text-uppercase  btn-file">
                  <span class="fas fa-comments font-20" [attr.data-count]="count"></span>
                </a>
              </div>
              <div class="pickup-btn-item">
                <button type="button" class="approved-icon call text-uppercase btn-deep-blue"
                  (click)="call(deliveryReceipt.customer.phoneNumber)">
                  <span class="fas fa-phone text-white font-20"></span>
                </button>
              </div>
            </div>
          </div>

          <!--Pickup Buttons Container Start-->
          <div [hidden]="hidePickUp" class="pickup-btn-container display-flex">
            <div class="pickup-btn-item">
              <button type="button"
                *ngIf="deliveryReceipt.status === 'IN_DELIVERY' && deliveryReceipt.packageGivenToDeliverer"
                class="btn btn-fuschia text-uppercase pick-up btn-file"
                (click)="recoveredPackage()">{{'PICK_UP' | translate}}</button>
            </div>
          </div>
          <!--Pickup Buttons Container End-->

        </div>
      </div>
    </div>
  </div>
</ion-content>