.img-avatar {
    width: 60px;
    height: 60px;
}


.app-icon[data-count]:not([data-count=""]):not([data-count="0"]):after{
    position: relative !important;
    left: -7px !important;
    top: -70px !important;
}