<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">{{'TITLE_CREATE_DELIVERY_FOR_CUSTOMER' | translate}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-page-main-wrapper">
  <div class="container">

    <div class="row justify-content-center full-width" style="margin-bottom: 10px;">
      <div class="col-md-6">

        <form [formGroup]="deliveryFormGroup">
          <div class="row justify-content-center" style="margin-bottom: 20px;">
            <div class="col-6">
              <input type="text" class="form-control form-white" formControlName="lastnameCustomer"
                placeholder="{{'FIELD_LASTNAME' | translate}}">
              <div
                *ngIf="fieldsRegisterFrm('lastnameCustomer').invalid && (fieldsRegisterFrm('lastnameCustomer').dirty || fieldsRegisterFrm('lastnameCustomer').touched)">
                <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('lastnameCustomer').errors.required">
                  {{'FIELD_LASTNAME_REQUIRED' | translate}}
                </p>
              </div>
            </div>
            <div class="col-6">
              <input type="text" class="form-control form-white" formControlName="nameCustomer"
                placeholder="{{'FIELD_NAME' | translate}}">
              <div
                *ngIf="fieldsRegisterFrm('nameCustomer').invalid && (fieldsRegisterFrm('nameCustomer').dirty || fieldsRegisterFrm('nameCustomer').touched)">
                <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('nameCustomer').errors.required">
                  {{'FIELD_NAME_CUSTOMER_REQUIRED' | translate}}
                </p>
              </div>
            </div>
          </div>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-6">
              <input id="phone-input-create-delivery" formControlName="phoneNumberCustomer" type="text"
                class="form-control" placeholder="{{'FIELD_PHONE_NUMBER' | translate}}">
              <div
                *ngIf="fieldsRegisterFrm('phoneNumberCustomer').invalid && (fieldsRegisterFrm('phoneNumberCustomer').dirty || fieldsRegisterFrm('phoneNumberCustomer').touched)">
                <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('phoneNumberCustomer').errors.required">
                  {{'FIELD_PHONENUMBER_REQUIRED' | translate}}
                </p>
              </div>
            </div>
          </div>
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="row">
                <div [hidden]="!hideListAddresses" class="col-12">
                  <input type="text" class="form-control form-white" name="fullAddress"
                    placeholder="{{'FIELD_FULL_ADDRESS' | translate}}" #address>
                </div>
                <div [hidden]="hideListAddresses" class="col-12">
                  <p *ngIf="myAddresses.length === 1">
                    Vous n'avez aucune adresse enregistrée
                  </p>
                  <select style="height: 100%; max-height: 66px;" *ngIf="myAddresses.length > 1" class="form-control"
                    formControlName="address">
                    <option *ngFor="let address of myAddresses" [value]="address._id"
                      [hidden]="address.favoriteAddress">
                      {{address.fullAddress}}
                    </option>
                  </select>
                </div>
                <div class="col-12" style="margin-top: 10px;">
                  <button [hidden]="!hideListAddresses"
                    style="margin-right: 10px; background-color: #54BBEC; color: #fff; margin-bottom: 20px;"
                    type="submit" (click)="showListAddresses()" class="btn btn-submit">
                    {{'USE_ADDRESSE_ALREADY_EXIST' | translate }}
                  </button>
                  <button [hidden]="hideListAddresses"
                    style="margin-right: 10px; background-color: #54BBEC; color: #fff; margin-bottom: 20px;"
                    type="submit" (click)="enterNewAddress()" class="btn btn-submit">
                    {{'USE_NEW_ADDRESS' | translate }}
                  </button>
                </div>
                <div class="col-12"
                  *ngIf="fieldsRegisterFrm('address').invalid && (fieldsRegisterFrm('address').dirty || fieldsRegisterFrm('address').touched)">
                  <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('address').errors.required">
                    {{'FIELD_ADDRESS_REQUIRED' | translate}}
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <div class="alert alert-danger" role="alert" *ngIf="cards.length == 0">
                    Aucun moyen de paiement enregistré ! <a routerLink="/cards">Cliquez-ici</a>
                  </div>
                  <select class="form-control" style="height: 100%; max-height: 66px;" name="cardId" id="cardId"
                    formControlName="cardId">
                    <option [value]="null" disabled selected>Sélectionner votre moyen de paiement</option>
                    <option *ngFor="let card of cards" [value]="card.id">
                      XXXX XXXX XXXX {{card.card.last4 +' / Exp: ' + card.card.exp_month + '/' + card.card.exp_year}}
                    </option>
                  </select>
                  <div
                    *ngIf="fieldsRegisterFrm('cardId').invalid && (fieldsRegisterFrm('cardId').dirty || fieldsRegisterFrm('cardId').touched)">
                    <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('cardId').errors.required">
                      {{'FIELD_CARD_REQUIRED' | translate}}
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: 20px;">
            <div class="col-6">
              <input type="text" class="form-control form-white" formControlName="codePromo"
                placeholder="{{'FIELD_CODE_PROMOTION' | translate}}">
            </div>
          </div>
          <div class="row justify-content-center full-width" style="margin-top: 40px;">
            <div class="col-md-12" style="text-align: center;">
              <button type="submit" class="btn btn-submit" (click)="submit()">
                {{'BTN_CREATE_DELIVERY' | translate}}
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-md-6">
        <form [formGroup]="productFormGroup">
          <div class="row">
            <div class="col-md-12 col-sm-12">
              <div class="form-group">
                <label>{{'FIELD_PRODUCT_DESCRIPTION' | translate }}</label>
                <input formControlName="description" type="text" class="form-control" id="name_contact"
                  name="name_contact">
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label>{{'FIELD_PRODUCT_QUANTITY' | translate }}</label>
                <input formControlName="quantity" type="number" class="form-control" id="name_contact"
                  name="name_contact">
              </div>
            </div>
            <div class="col-md-6 col-sm-6">
              <div class="form-group">
                <label>{{'FIELD_PRODUCT_UNITARY_AMOUNT' | translate }}</label>
                <input formControlName="unitAmount" type="number" class="form-control" id="name_contact"
                  name="name_contact">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="text-center col-md-6 col-sm-6">
              <button [disabled]="!productFormGroup.valid" class="btn btn-submit" (click)="addProduct()">
                {{'BTN_ADD_PRODUCT' | translate }}
              </button>
            </div>
          </div>
          <hr style="border-color:#ddd;">
        </form>
        <div *ngIf="products.length === 0" class="main_title">
          <p>{{'NO_PRODUCT_ADDED' | translate}}</p>
        </div>

        <mat-card *ngFor="let product of products" class="example-card">
          <mat-card-header>
            <mat-card-title>
              <h3>{{'PRODUCT' | translate}}: {{product.description}}</h3>
            </mat-card-title>
            <mat-card-subtitle>{{'FIELD_PRODUCT_QUANTITY' | translate }}: <strong>{{product.quantity}}</strong>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <div class="location">
              {{'FIELD_PRODUCT_UNITARY_AMOUNT' | translate}}:
              <strong *ngIf="!product._id">{{product.unitAmount  | currency:'EUR':true}}</strong>
              <input (change)="editAmountProduct(product, $event)" style="margin-bottom: 20px;" *ngIf="product._id"
                type="number" class="form-control" placeholder="{{'FIELD_PRODUCT_UNITARY_AMOUNT' | translate}}">
            </div>
            <div class="location">
              {{'FIELD_TOTAL_PRODUCT' | translate}}:
              <strong>{{product.unitAmount * product.quantity  | currency:'EUR':true}}</strong>
            </div>
          </mat-card-content>
          <mat-card-actions>
            <button *ngIf="!product._id" style="margin-right: 10px;" type="submit" class="btn btn-submit red"
              (click)="deleteProduct(product)">
              <i class="icon-trash"></i>
            </button>
          </mat-card-actions>
        </mat-card>

        <div
          *ngIf="products.length === 0"
          class="row" style="margin-top: 20px; margin-bottom: 40px;">
          <p class="text-center col-md-12 col-sm-12 text-danger text-required">
            {{'FIELD_ONE_PRODUCT_MINIMUM' | translate}}
          </p>
        </div>
        <div 
        *ngIf="products.length > 0"
        class="row" style="margin-top: 20px; margin-bottom: 40px;">
          <div class="text-center col-md-12 col-sm-12">
            {{'FIELD_TOTAL_AMOUNT_WITHOUT_FEE' | translate}}:
            <strong>{{totalAmountWithoutFee  | currency:'EUR':true}}</strong>
          </div>
        </div>
      </div><!-- End col-md-9-->

    </div><!-- End row -->
  </div><!-- End container -->
</div>