<ion-content>
    <div class="row h-100">
        <div class="col-xs-12 col-sm-12">
            <div class="rest-container">
                <div class="text-center header-icon-logo-margin header-icon-logo-margin-extra">
                    <img src="assets/images/payment_logo.png" alt="Main Logo" id="logoPayment">
                </div>
                <div class="text-center add-payment-method">
                    {{'ADD_PAYMENT_METHODS_YOU_LIKE' | translate}}
                </div>
    
                <!--Payment Method Item Start-->
                <div>
                    <a class="text-center payment-options-list href-decoration-none">
                        <span class="fab fa-cc-visa icon font-22"></span>
                        {{'CREDIT_CARD' | translate}} <br>(<span class="font-weight-light font-11">{{'DEFAULT_METHOD_PAYMENT' | translate}}</span>)
                        <span class="icon chosen"><img src="assets/icons/check.svg"  alt="Check Icon"></span>
                        <span class="icon choose float-right hidden">
                            <img class="visible-icon" src="assets/icons/angle-right.svg" alt="Angle Right Icon">
                            <img class="hover-icon" src="assets/icons/angle-right-white.svg" alt="Angle Right Icon">
                        </span>
                    </a>
                </div>
                <!--Payment Method Item End-->
    
                <!--Payment Method Item Start-->
                <div>
                    <a routerLink="/add-credit-card" class="payment-options-list dark disabled href-decoration-none">
                        <span class="fab fa-cc-visa icon font-22"></span>
                        {{'CREDIT_CARD' | translate}}
                        <span class="fas fa-check icon chosen hidden"></span>
                        <span class="icon choose float-right">
                            <img class="visible-icon" src="assets/icons/angle-right.svg" alt="Angle Right Icon">
                            <img class="hover-icon" src="assets/icons/angle-right-white.svg" alt="Angle Right Icon">
                        </span>
                    </a>
                </div>
                <!--Payment Method Item End-->
            </div>
        </div>
    
        <!--Main Menu Start-->
        <div class="main-menu hidden-soft">
            <div class="mini-profile-info">
                <div class="menu-close">
                    <span class="float-right">
                        <img src="assets/icons/close.svg" alt="Close Icon">
                    </span>
                </div>
                <div class="profile-picture text-center">
                    <img src="https://via.placeholder.com/76" alt="Profile Picture">
                </div>
                <div class="profile-info">
                    <div class="profile-name text-center">Nata Vacheishvili</div>
                    <div class="profile-email text-center">nata_vacheishvili@gurucar.com</div>
                </div>
            </div>
            <div class="menu-items">
                <div class="all-menu-items">
                    <a class="menu-item" href="index.html">
                        <div>
                            <span class="menu-item-icon menu-dark">
                                <img src="assets/icons/home.svg" alt="Home Icon">
                            </span>
                            <span class="menu-item-icon menu-light">
                                <img src="assets/icons/home-light.svg" alt="Home Lighter Icon">
                            </span>
                            <span class="menu-item-title">Home</span>
                            <span class="menu-item-click fas fa-arrow-right"></span>
                        </div>
                    </a>
                    <a class="menu-item" href="profile.html">
                        <span class="menu-item-icon menu-dark profile">
                            <img src="assets/icons/avatar-dark.svg" alt="Avatar Darker Icon">
                        </span>
                        <span class="menu-item-icon menu-light profile">
                            <img src="assets/icons/avatar.svg" alt="Avatar Darker Icon">
                        </span>
                        <span class="menu-item-title profile">Profile</span>
                        <span class="menu-item-click fas fa-arrow-right"></span>
                    </a>
                    <a class="menu-item" href="payment-method.html">
                        <span class="menu-item-icon far fa-money-bill-alt"></span>
                        <span class="menu-item-title">Payment Methods</span>
                        <span class="menu-item-click fas fa-arrow-right"></span>
                    </a>
                    <a class="menu-item" href="history.html">
                        <span class="menu-item-icon menu-light">
                            <img src="assets/icons/history-light.svg" alt="History Icon">
                        </span>
                        <span class="menu-item-icon menu-dark">
                            <img src="assets/icons/history.svg" alt="History Icon">
                        </span>
                        <span class="menu-item-title">History</span>
                        <span class="menu-item-click fas fa-arrow-right"></span>
                    </a>
                    <a class="menu-item" href="addresses.html">
                        <span class="menu-item-icon menu-dark">
                            <img src="assets/icons/my-addresses-dark.svg" alt="My Addresses Icon">
                        </span>
                        <span class="menu-item-icon menu-light">
                            <img src="assets/icons/my-addresses.svg" alt="My Addresses Icon">
                        </span>
                        <span class="menu-item-title">My Addresses</span>
                        <span class="menu-item-click fas fa-arrow-right"></span>
                    </a>
                    <a class="menu-item" href="apply-promo.html">
                        <span class="menu-item-icon far fa-plus-square"></span>
                        <span class="menu-item-title promo">Apply Promo Code</span>
                        <span class="menu-item-click fas fa-arrow-right"></span>
                    </a>
                    <a class="menu-item" href="settings.html">
                        <span class="menu-item-icon menu-dark setting">
                            <img src="assets/icons/settings.svg" alt="My Settings Icon">
                        </span>
                        <span class="menu-item-icon menu-light setting">
                            <img src="assets/icons/settings-light.svg" alt="My Settings Icon">
                        </span>
                        <span class="menu-item-title">Settings</span>
                        <span class="menu-item-click fas fa-arrow-right"></span>
                    </a>
                    <a class="menu-item" href="online-support.html">
                        <span class="menu-item-icon menu-dark support">
                            <img src="assets/icons/support.svg" alt="Support Icon">
                        </span>
                        <span class="menu-item-icon menu-light support">
                            <img src="assets/icons/support-light.svg" alt="Support Lighter Icon">
                        </span>
                        <span class="menu-item-title">Online Support</span>
                        <span class="menu-item-click fas fa-arrow-right"></span>
                    </a>
                    <a href="loading-logo.html" class="menu-item margin-top-auto">
                        <span class="menu-item-icon menu-dark logout">
                            <img src="assets/icons/logout.svg" alt="Logout Icon">
                        </span>
                        <span class="menu-item-icon menu-light logout">
                            <img src="assets/icons/logout-light.svg" alt="Logout Icon">
                        </span>
                        <span class="menu-item-title logout">Log out</span>
                        <span class="menu-item-click fas fa-arrow-right"></span>
                    </a>
                </div>
            </div>
        </div>
        <!--Main Menu End-->
    
    </div>
</ion-content>
