.nav-button a{
    color: inherit;
    width: max-content;
}

.navbar.sticky-nav .nav-button a{
    color:white;
    width: max-content;
}


.footerLink
{
    color : white;
}

.footerLink:hover
{
    color : #007bff;
}

.footerLi
{
  padding-bottom:0px;
  margin-left:-1px;
}



$timing        : 265ms;
$iconColor     : #D8418F ;
$accent        : #002A8F;
$bluefade      : #54BBEC;
$gradient      : #00B5F5;

@mixin transformScale($size: 1) {
    transform: scale($size);
    -ms-transform: scale($size);
    -webkit-transform: scale($size);
}



.social-icons {
    padding: 0;
    list-style: none;
    margin: 1em;

    li {
        display: inline-block;
        margin: 0.15em;
        position: relative;
        font-size: 1.2em;

    }

    i {
        color: #fff;
        position: absolute;
        top: 21px;
        left: 21px;
        transition: all $timing ease-out;
    }

    a {
        display: inline-block;

        &:before {
            @include transformScale();
            content: " ";
            width: 60px;
            height: 60px;
            display: block;

          color: $iconColor;
          background: -webkit-linear-gradient(45deg, $iconColor, $accent);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: all $timing ease-out;
        }


        &:hover i {
            @include transformScale(2.2);
            color: $iconColor;
            background: -webkit-linear-gradient(45deg, $iconColor, $accent);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            transition: all $timing ease-in;
        }
    }

}
