<header class="header">
    <nav class="navbar navbar-expand-lg fixed-top" id="main-nav">
        <div class="container">
            <a class="navbar-brand" href="/home" >
                <img class="white-logo"  src="assets/images/logo-g.png" alt="">
                <img class="color-logo"  src="assets/images/logo-g.png" alt="">
            </a>
            <button class="navbar-toggler order-1" type="button" data-toggle="collapse" data-target="#main-nav-collapse"
                aria-controls="main-nav-collapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="menu-toggle">
                    <span class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                    <span class="hamburger-cross">
                        <span></span>
                        <span></span>
                    </span>
                </span>
            </button>
            <div class="collapse navbar-collapse order-3 order-lg-2" id="main-nav-collapse">
                <ul class="navbar-nav ml-auto">

                    <li *ngIf="router.url === '/home'" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            {{'MENU_HOME' | translate}}
                        </a>
                        <ul class="dropdown-menu">
                            <li *ngIf="router.url === '/home'" class="nav-item">
                                <a class="nav-link nav-link-scroll" href="#feature">LivMed's, comment ça marche ?</a>
                            </li>

                            <li *ngIf="router.url === '/home'" class="nav-item">
                                <a class="nav-link nav-link-scroll" href="#screenshot">Galerie</a>
                            </li>

                            <li *ngIf="router.url === '/home'" class="nav-item">
                                <a class="nav-link nav-link-scroll" href="#mapLivMed">Où nous trouver </a>
                            </li>

                            <li *ngIf="router.url === '/home'" class="nav-item">
                                <a class="nav-link nav-link-scroll" href="#partners">Partenaires</a>
                            </li>

                            <li *ngIf="router.url === '/home'" class="nav-item">
                                <a class="nav-link nav-link-scroll" href="#opinion-client">Ce que disent les clients</a>
                            </li>

                            <li *ngIf="router.url === '/home'" class="nav-item">
                                <a class="nav-link nav-link-scroll" href="#download">Téléchargez l'application</a>
                            </li>
                            <li *ngIf="router.url === '/home'" class="nav-item">
                                <a class="nav-link nav-link-scroll" href="#newsletter">Inscription newsletter </a>
                            </li>

                            <li *ngIf="router.url === '/home'" class="nav-item">
                                <a class="nav-link nav-link-scroll" href="#contact">Contacts</a>
                            </li>
                        </ul>
                    </li>

                    <li *ngIf="router.url !== '/home'" class="nav-item">
                        <a class="nav-link nav-link-scroll" [routerLink]="['/home']">
                            {{'MENU_HOME' | translate}}</a>
                    </li>


                  <li  class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                      {{'MENU' | translate}}
                    </a>
                    <ul class="dropdown-menu">
                      <li class="nav-item " *ngIf="session.currentUser() === null">
                        <a class="nav-link nav-link-scroll" [routerLink]="['/devenir-livreur']">{{'Devenir livreur' | translate}}</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link nav-link-scroll" [routerLink]="['/faq']">{{'MENU_FAQ' | translate}}</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link nav-link-scroll" [routerLink]="['/a-propos']">{{'A propos de nous' | translate}}</a>
                      </li>
                    </ul>
                  </li>

                  <li  class="nav-item dropdown"  *ngIf="session.currentUser() !== null && session.currentUser().role === USER_ROLE.ROLE_CUSTOMER">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                     aria-expanded="false">
                    {{'MENU_COMMANDS' | translate}}
                  </a>
                  <ul class="dropdown-menu">
                    <li class="nav-item">
                      <a class="nav-link nav-link-scroll" [routerLink]="['/command']">{{'ORDER_COMMAND' | translate}}</a>
                    </li>

                    <li class="nav-item">
                      <a class="nav-link nav-link-scroll" [routerLink]="['/command-historical']">{{'HISTORICAL_COMMAND' | translate}}</a>
                    </li>

                    <li class="nav-item ">
                      <a class="nav-link nav-link-scroll" [routerLink]="['/commands']">{{'CURRENT_COMMAND' |
                        translate}}</a>
                    </li>

                  </ul>
                </li>

                  <li  class="nav-item dropdown"  *ngIf="session.currentUser() !== null
                        && session.currentUser().status === 'ACTIVE'
                        && ( session.currentUser().role === USER_ROLE.ROLE_OPTICIAN
                            || session.currentUser().role === USER_ROLE.ROLE_PHARMACY
                            || session.currentUser().role === USER_ROLE.ROLE_VETERINARY)">
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                      {{'MENU_MY_REQUEST' | translate}}
                    </a>

                    <ul class="dropdown-menu">
                      <li class="nav-item">
                        <a class="nav-link nav-link-scroll" [routerLink]="['/create-delivery-btob']">{{'BTN_CREATE_DELIVERY_BTOB' | translate}}</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link nav-link-scroll" [routerLink]="['/create-delivery-customer']">{{'BTN_CREATE_DELIVERY_CUSTOMER' | translate}}</a>
                      </li>

                      <li class="nav-item">
                        <a class="nav-link nav-link-scroll" [routerLink]="['/deliveries-historical']">{{'HISTORICAL_COMMAND' | translate}}</a>
                      </li>

                      <li class="nav-item ">
                        <a class="nav-link nav-link-scroll" [routerLink]="['/deliveries']">{{'CURRENT_COMMAND' |
                          translate}}</a>
                      </li>

                    </ul>
                  </li>

                    <!--
                    <li *ngIf="session.currentUser() !== null
                        && session.currentUser().role === USER_ROLE.ROLE_CUSTOMER" class="nav-item">
                        <a class="nav-link nav-link-scroll" [routerLink]="['/blog']">{{'MENU_BLOG' | translate}}</a>
                    </li>

                    <li *ngIf="session.currentUser() !== null
                        && session.currentUser().status === 'ACTIVE'
                        && ( session.currentUser().role === USER_ROLE.ROLE_OPTICIAN
                            || session.currentUser().role === USER_ROLE.ROLE_PHARMACY
                            || session.currentUser().role === USER_ROLE.ROLE_VETERINARY)" class="nav-item">
                        <a class="nav-link nav-link-scroll" [routerLink]="['/deliveries']">{{'MENU_MY_REQUEST' |
                            translate}}</a>
                    </li>

                    <li *ngIf="session.currentUser() !== null && session.currentUser().role === USER_ROLE.ROLE_CUSTOMER"
                        class="nav-item">
                        <a class="nav-link nav-link-scroll" [routerLink]="['/commands']">{{'MENU_COMMANDS' |
                            translate}}</a>
                    </li>
                    -->

                    <li class="nav-item btn-menu" *ngIf="session.currentUser() === null">
                        <a class="nav-link nav-link-scroll" (click)="openLoginModal()">{{'MENU_LOGIN' | translate}}</a>
                    </li>
                    <li class="nav-item btn-menu" *ngIf="session.currentUser() === null">
                        <a class="nav-link nav-link-scroll" [routerLink]="['/sign-up-customer']">{{'BTN_REGISTER_YOU' |
                            translate}}</a>
                    </li>
                    <li class="nav-item btn-menu" *ngIf="session.currentUser() === null">
                        <a class="nav-link nav-link-scroll" [routerLink]="['/devenir-livreur']">{{'BTN_BECOME_DELIVERY' |
                            translate}}</a>
                    </li>
                    <li class="nav-item btn-menu" *ngIf="session.currentUser() === null">
                        <a class="nav-link nav-link-scroll" [routerLink]="['/sign-up']">{{'BTN_REGISTER_PHARMACY' |
                            translate}}</a>
                    </li>
                    <li *ngIf="session.currentUser() !== null" class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" [routerLink]="['/profile']" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                            {{'MENU_MY_PROFILE' | translate}}
                        </a>
                        <ul class="dropdown-menu">
                            <li class="nav-item">
                                <a class="nav-link nav-link-scroll" routerLink="/cards">{{'MY_CARDS' | translate}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link nav-link-scroll" routerLink="/documents">{{'MENU_DOCUMENTS' |
                                    translate}}</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item btn-menu" *ngIf="session.currentUser() !== null">
                        <a class="nav-link nav-link-scroll" (click)="logout()">{{'MENU_LOGOUT' | translate}}</a>
                    </li>
                </ul>
            </div>
            <div *ngIf="session.currentUser() === null" class="nav-button order-2 order-lg-3 pointer-link">
                <a (click)="openLoginModal()">{{'MENU_LOGIN' | translate}}</a>
            </div>
            <div *ngIf="session.currentUser() === null" class="nav-button order-2 order-lg-3 pointer-link">
                <a [routerLink]="['/sign-up-customer']"
                    title="Inscrivez-vous pour vous faire livrer ">{{'BTN_REGISTER_YOU' | translate}}</a>
            </div>
            <div *ngIf="session.currentUser() === null" class="nav-button order-2 order-lg-3 pointer-link">
                <a [routerLink]="['/sign-up']">{{'BTN_REGISTER_PHARMACY' | translate}}</a>
            </div>

            <div *ngIf="session.currentUser() !== null" class="nav-button order-2 order-lg-3 pointer-link">
                <a (click)="logout()">{{'MENU_LOGOUT' | translate}}</a>
            </div>
        </div>
    </nav>
</header><!-- header -->
<toaster-container [toasterconfig]="config"></toaster-container>
<ngx-spinner></ngx-spinner>
<router-outlet></router-outlet>
<footer class="footer style-3 ">

  <div class="overlay bg-img"></div>
  <div class="container" style="max-width: 95%;" > <!-- max-width: 95%;-->
    <!--<div  class="row " >-->


    <div  class="row " style="text-align: left;border-radius: 40px; box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%); height: 100%;" >

      <div class="col-lg-4" >
        <nav  class="navbar" style="display: contents;">
          <div class="partner-logo"  >
            <div style="margin: 0% 11% 0%; padding-top: 20px;   padding-bottom: 20px;">
              <h3><b>Découvrir Livmed's</b></h3>
              <ul class="navbar-nav ml-auto"  style="list-style-type: none;background-color: initial;text-align: initial;">
                <li class="footerLi"><a class="nav-link-scroll footerLink" href="/a-propos" >A propos  </a></li>
                <li  class="nav-item footerLi"><a  class="nav-link-scroll footerLink" href="#mapLivMed" >Afficher les pharmacies </a></li>
                <li class="footerLi"><a class="nav-link-scroll footerLink" routerLink="/sign-up-customer" >Inscription particulier </a></li>
                <li class="footerLi"><a class="nav-link-scroll footerLink" routerLink="/sign-up" >Inscription pharmacien </a></li>
                <li class="footerLi"><a class="nav-link-scroll footerLink" routerLink="/devenir-livreur" >Inscription livreur </a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <div class="col-lg-4" >
        <nav  class="navbar" style="display: contents;">
          <div class="partner-logo"  >
            <div style="margin: 0% 11% 0%; padding-top: 20px;   padding-bottom: 20px;">
              <h3><b>Obtenir de l'aide</b></h3>
              <ul class="navbar-nav ml-auto"  style="list-style-type: none;background-color: initial;text-align: initial;">
                <li  class="nav-item footerLi"><a  class=" nav-link-scroll footerLink" routerLink="/contact" > Nous contacter </a></li>
                <li class="footerLi"><a class="nav-link-scroll footerLink" routerLink="/faq" > FAQ </a></li>
                <li class="footerLi"><a class="nav-link-scroll footerLink" routerLink="/mentions-legales">{{'TITLE_LEGAL_MENTION' | translate}}</a></li>
                <li class="footerLi"><a class="nav-link-scroll footerLink" routerLink="/cgu">{{'TITLE_CGU' | translate}}</a></li>
              </ul>
            </div>
          </div>
        </nav>
      </div>

      <!--
      <div class="col-lg-3" style=" color: rgb(0 0 0 / 87%);">
        <div class="partner-logo" >
          <div style="margin: 0% 11% 0%; padding-top: 20px;   padding-bottom: 20px;">
            <h3>Catalogue</h3>
            <ul style="list-style-type: none;">
              <li><a href="/apropos" >A propos  </a></li>
              <li><a href="/home" >Afficher les pharmacies </a></li>
              <li><a href="/sign-up-customer" >Inscription particulier </a></li>
              <li><a href="/sign-up" >Inscription pharmacien </a></li>
              <li><a href="/devenirLivreur" >Inscription livreur </a></li>
              <li><a href="/home" >Nous rejoindre </a></li>
            </ul>
          </div>
        </div>
      </div>
      -->



      <!--

            <div class="col-lg-4" >
              <nav  class="navbar" style="display: contents;">
              <div class="partner-logo" >
                <div style="margin: 0% 11% 0%; padding-top: 20px;   padding-bottom: 20px;">
                  <h3><b>Obtenir de l'aide</b></h3>
                    <ul  class="navbar-nav ml-auto" style="list-style-type: none;">
                    <li  class="nav-item footerLi"><a  class="nav-link nav-link-scroll footerLink" href="#contact" >Nous contacter </a></li>
                    <li class="footerLi"><a class="footerLink" href="/faq" > FAQ </a></li>
                    <li class="footerLi"><a class="footerLink" href="/sign-up-customer" >Suivez-nous </a></li>
                    <li class="footerLi"><a class="footerLink" routerLink="/mentions-legales">{{'TITLE_LEGAL_MENTION' | translate}}</a></li>
                    <li class="footerLi"><a class="footerLink" routerLink="/cgu">{{'TITLE_CGU' | translate}}</a></li>
                  </ul>
                </div>
              </div>
              </nav>
            </div>
-->

      <div class="col-lg-4" >
        <div class="partner-logo"  >
          <div style="margin-left: 11%; padding-top: 20px;   padding-bottom: 20px;">
            <h3><b>Suivez-nous</b></h3>
            <ul class="social-icons" style="    margin-left: -26px;">
              <li><a href="https://www.facebook.com/Livmeds/" target="_blank"><i class="social_facebook"></i></a></li>
              <li><a href="https://twitter.com/LivmedS" target="_blank"><i class="social_twitter"></i></a></li>
              <li><a href="https://www.instagram.com/livmeds_/" target="_blank"><i class="social_instagram"></i></a></li>
              <li><a href="https://fr.linkedin.com/company/liv-med-s" target="_blank"><i class="social_linkedin"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UC20atHDJUGEmPhmTjBTR9xQ" target="_blank"><i class="social_youtube"></i></a></li>
            </ul>
          </div>
        </div>
      </div>


    </div>
    <!--


              <div class="col-12">
                <div class="f-logo img-wrapper img-center">
                  <img style="height: 30%; width: 30%;"  src="assets/images/logo-g.png" alt="">
                </div>
                <div class="f-social-area">
                  <ul class="f-contact-list">
                    <li>
                      <span>Suivez-nous:</span>
                      <ul class="social-profile style-wb">
                        <li><a href="https://www.facebook.com/Livmeds/"><i class="social_facebook"></i></a></li>
                        <li><a href="https://twitter.com/LivmedS"><i class="social_twitter"></i></a></li>
                        <li><a href="https://www.instagram.com/livmeds_/"><i class="social_instagram"></i></a></li>
                        <li><a href="https://fr.linkedin.com/company/liv-med-s"><i class="social_linkedin"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UC20atHDJUGEmPhmTjBTR9xQ"><i class="social_youtube"></i></a></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="f-social-area">
                  <ul class="f-contact-list">
                    <li>
                      <span>Langues:</span>
                      <ul class="social-profile style-wb">
                        <li (click)="changeLanguage('fr')"><img style="width: 20px; height:20px"
                                                                src="assets/img/flags/france.svg" /></li>
                       <li (click)="changeLanguage('en')" style="margin-left: 20px;"><img
                          style="width: 20px; height:20px" src="assets/img/flags/uk.svg" /></li>
                      </ul>
                    </li>
                  </ul>
                </div>
                <div class="copyright-area">
                  <p class="copyright"><a routerLink="/mentions-legales">{{'TITLE_LEGAL_MENTION' | translate}}</a></p>
                  <p class="copyright"><a routerLink="/cgu">{{'TITLE_CGU' | translate}}</a></p>
                  <p class="copyright">© 2021 <a href="/home">LIVMEDS</a> TOUS DROITS RÉSERVÉS</p>
                </div>
              </div>
              -->


  </div>
  <br>
  <p>© 2021 LIVMEDS TOUS DROITS RÉSERVÉS</p>
</footer><!-- footer -->


