<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>{{'TITLE_MANAGE_PRODUCT' | translate}}
                <small class="text-muted">{{'SUBTITLE_MANAGE_PRODUCT' | translate }}</small>
            </h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div [hidden]="hideEditForm" class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>{{titleForm.label | translate:titleForm.params}}</strong></h2>
                            <ul class="header-dropdown">
                                <li class="remove">
                                    <a role="button" class="boxs-close"><i class="zmdi zmdi-close"
                                            (click)="closeEdit()"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form [formGroup]="productFormGroup">
                                <div class="row justify-content-md-center" style="margin-top: 10px;">
                                    <div class="col-lg-4 col-md-4">
                                        <b>{{'FIELD_LABEL' | translate}}</b>
                                        <div class="input-group">
                                            <input type="text" formControlName="label" class="form-control"
                                                placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4">
                                        <b>{{'FIELD_DESCRIPTION' | translate}}</b>
                                        <div class="input-group">
                                            <input type="text" formControlName="description" class="form-control"
                                                placeholder="">
                                        </div>
                                    </div>
                                    <div class="col-4 col-sm-4">
                                        <b>{{'FIELD_PRODUCT_CATEGORY' | translate}}</b>
                                        <div class="input-group">
                                            <select class="form-control" name="type" formControlName="category">
                                                <option *ngFor="let cat of categoriesProduct" [value]="cat">
                                                    {{ cat | translate }}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row justify-content-md-center" style="margin-top: 10px;">
                                    <div class="col-lg-2 col-md-2">
                                        <b>{{'FIELD_IMAGE_PRODUCT' | translate}}</b>
                                        <input style="display: none" type="file" (change)="onFileChanged($event)"
                                            #fileInput>
                                        <a (click)="fileInput.click()" class="">
                                            <img src="{{!urlImage ? 'assets/images/pills.svg': urlImage}}"
                                                class="rounded-circle" alt="product-image">
                                        </a>
                                    </div>
                                </div>

                                <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">
                                    <button (click)="submitForm()" type="button" [disabled]="!productFormGroup.valid"
                                        class="col-6btn btn-raised btn-success btn-round waves-effect">{{'CONFIRM' | translate}}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body table-responsive">
                    <button type="button" (click)="displayAddForm()"
                        class="btn btn-success btn-icon btn-icon-mini btn-round hidden-sm-down">
                        <i class="zmdi zmdi-plus-circle"></i>
                    </button>
                    <table
                        class="table table-hover m-b-0 c_list footable footable-1 footable-paging footable-paging-center breakpoint breakpoint-md">
                        <thead>
                            <tr class="footable-header">
                                <th class="footable-sortable" style="display: table-cell;">
                                    {{'FIELD_LABEL' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs" class="footable-sortable" style="display: table-cell;">
                                    {{'FIELD_DESCRIPTION' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th>{{'FIELD_PRODUCT_CATEGORY' | translate}}</th>
                                <th>{{'COL_STATUS' | translate }}</th>
                                <th data-breakpoints="xs" class="footable-sortable footable-last-visible"
                                    style="display: table-cell;">{{'COL_ACTION' | translate}}<span
                                        class="fooicon fooicon-sort"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td *ngIf="productList.length === 0" colspan="6" style="text-align: center;">
                                    {{'NO_DATA' | translate}}</td>
                            </tr>
                            <tr *ngFor="let product of productList">
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{product.label | translate}}
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{product.description}}
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{product.category | translate}}
                                    </p>
                                </td>
                                <td><span [ngClass]="{'badge-danger': product.status==='DISABLED',
                                    'badge-success':product.status==='ENABLED'  }"
                                        class="badge m-l-10">{{product.status | translate}}</span></td>
                                <td class="footable-last-visible" style="display: table-cell;">
                                    <button tooltip="{{'TOOLTIP_EDIT_PRODUCT' | translate}}" (click)="displayEditForm(product)" *ngIf="product.status !== 'DELETED'"
                                        class="btn btn-success btn-icon btn-simple btn-icon-mini btn-round"><i
                                            class="zmdi zmdi-edit"></i></button>
                                    <button tooltip="{{'TOOLTIP_DELETE_PRODUCT' | translate}}" (click)="deleteElement(product._id)" *ngIf="product.status !== 'DELETED'"
                                        class="btn btn-danger btn-icon btn-simple btn-icon-mini btn-round"><i
                                            class="zmdi zmdi-delete"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
            <div class="card" *ngIf="productList.length > 0">
                <div class="body">
                    <ul class="pagination pagination-primary m-b-0">
                        <li class="page-item" [ngClass]="{'disabled': page <= 0}"><a class="page-link"
                                (click)="changePage(page-1)"><i class="zmdi zmdi-arrow-left"></i></a>
                        </li>
                        <li class="page-item active"><a class="page-link">{{page+1}}</a></li>
                        <li class="page-item" *ngIf="((page + 1 ) * limit) < nbTotal"><a class="page-link"
                                (click)="changePage(page+1)"><i class="zmdi zmdi-arrow-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>