input[type=text]{
    margin-bottom: 10px;
}

input[type=email]{
    margin-bottom: 10px;
}

input[type=password]{
    margin-bottom: 10px;
}

select{
    margin-bottom: 10px;
    height: 61px !important;
}

.checkbox-holder {
    padding: 10px;
}

input[type=checkbox]{
    margin-right: 10px;
}