<h1 mat-dialog-title><i class="icon_lock_alt"></i> {{'BTN_REGISTER_YOU' | translate}}</h1>
<div mat-dialog-content>
  <form [formGroup]="registerFormGroup" class="popup-form" id="registerPharma" *ngIf="!role">
    <input type="text" class="form-control form-white" name="name" placeholder="{{'FIELD_NAME_PHARMACY' | translate}}"
      formControlName="name" required>
    <div
      *ngIf="fieldsRegisterFrm('name').invalid && (fieldsRegisterFrm('name').dirty || fieldsRegisterFrm('name').touched)">
      <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('name').errors.required">
        {{'FIELD_NAME_REQUIRED' | translate}}
      </p>
    </div>


    <div class="row">
      <div class="col-sm-12 col-md-6">
        <input type="text" class="form-control form-white" name="respLastname"
          placeholder="{{'FIELD_RESP_LASTNAME' | translate}}" formControlName="responsibleLastname" required>
        <div
          *ngIf="fieldsRegisterFrm('responsibleLastname').invalid && (fieldsRegisterFrm('responsibleLastname').dirty || fieldsRegisterFrm('responsibleLastname').touched)">
          <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('responsibleLastname').errors.required">
            {{'FIELD_RESP_LASTNAME_REQUIRED' | translate}}
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <input type="text" class="form-control form-white" name="respName"
          placeholder="{{'FIELD_RESP_NAME' | translate}}" formControlName="responsibleName" required>
        <div
          *ngIf="fieldsRegisterFrm('responsibleName').invalid && (fieldsRegisterFrm('responsibleName').dirty || fieldsRegisterFrm('responsibleName').touched)">
          <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('responsibleName').errors.required">
            {{'FIELD_RESP_NAME_REQUIRED' | translate}}
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <input type="text" class="form-control form-white" name="siret" placeholder="{{'FIELD_SIRET' | translate}}"
          formControlName='siret' required>
        <div
          *ngIf="fieldsRegisterFrm('siret').invalid && (fieldsRegisterFrm('siret').dirty || fieldsRegisterFrm('siret').touched)">
          <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('siret').errors.required">
            {{'FIELD_SIRET_REQUIRED' | translate}}
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <input id="phone-input" type="text" class="form-control form-white" name="phoneNumber"
          placeholder="{{'FIELD_PHONE_NUMBER' | translate}}" formControlName='phoneNumber' required>
        <div
          *ngIf="fieldsRegisterFrm('phoneNumber').invalid && (fieldsRegisterFrm('phoneNumber').dirty || fieldsRegisterFrm('phoneNumber').touched)">
          <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('phoneNumber').errors.required">
            {{'FIELD_PHONENUMBER_REQUIRED' | translate}}
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <select formControlName='role' class="form-control" name="role" style="
          background: transparent;
          border-radius: 0px;
          border: 1px solid white;">
          <option [value]="null" disabled selected>Votre catégorie</option>
          <option *ngFor="let cat of categories" [value]="cat.value">{{cat.label | translate}}</option>
        </select>
        <div
          *ngIf="fieldsRegisterFrm('role').invalid && (fieldsRegisterFrm('role').dirty || fieldsRegisterFrm('role').touched)">
          <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('role').errors.required">
            {{'FIELD_CAT_REQUIRED' | translate}}
          </p>
        </div>
      </div>
    </div>
    <input formControlName="favoriteAddressDisplay" type="text" class="form-control form-white" autocomplete="nope"
      placeholder="{{'FIELD_FULL_ADDRESS' | translate}}" #addressPharmacy>
    <div
      *ngIf="fieldsRegisterFrm('favoriteAddressDisplay').invalid && (fieldsRegisterFrm('favoriteAddressDisplay').dirty || fieldsRegisterFrm('favoriteAddressDisplay').touched)">
      <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('favoriteAddressDisplay').errors.required">
        {{'FIELD_ADDRESS_REQUIRED' | translate}}
      </p>
    </div>
    <input id="username" style="display:none" type="text" name="fakeusernameremembered">
    <input id="password" style="display:none" type="password" name="fakepasswordremembered">
    <input type="email" class="form-control form-white" autocomplete="nope" name="mail"
      placeholder="{{'FIELD_MAIL' | translate}}" formControlName='mail' required>
    <div
      *ngIf="fieldsRegisterFrm('mail').invalid && (fieldsRegisterFrm('mail').dirty || fieldsRegisterFrm('mail').touched)">
      <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('mail').errors.required">
        {{'FIELD_MAIL_REQUIRED' | translate}}
      </p>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <input type="password" class="form-control form-white" name="password"
          placeholder="{{'FIELD_PASSWORD' | translate}}" autocomplete="new-password" id="passwordPharma"
          formControlName='password' required>
        <div
          *ngIf="fieldsRegisterFrm('password').invalid && (fieldsRegisterFrm('password').dirty || fieldsRegisterFrm('password').touched)">
          <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('password').errors.required">
            {{'FIELD_PASSWORD_REQUIRED' | translate}}
          </p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <input type="password" class="form-control form-white" name="confirmPassword"
          placeholder="{{'FIELD_CONFIRM_PASSWORD' | translate}}" id="confirmPasswordPharma"
          formControlName='passwordConfirm' required>
        <div
          *ngIf="fieldsRegisterFrm('passwordConfirm').invalid && (fieldsRegisterFrm('passwordConfirm').dirty || fieldsRegisterFrm('passwordConfirm').touched)">
          <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('passwordConfirm').errors.required">
            {{'FIELD_CONFIRM_PASSWORD_REQUIRED' | translate}}
          </p>
        </div>
      </div>
    </div>
  </form>

  <!-- <form action="#" class="popup-form" id="myRegister" *ngIf="role">
    <div class="row">
      <div class="col-6">
        <input type="text" class="form-control form-white" name="name" placeholder="{{'FIELD_FIRSTNAME' | translate}}"
          [(ngModel)]='user.name' required>
      </div>
      <div class="col-6">
        <input type="text" class="form-control form-white" name="lastName"
          placeholder="{{'FIELD_LASTNAME' | translate}}" [(ngModel)]='user.lastName' required>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <input type="text" class="form-control form-white" name="phoneNumber"
          placeholder="{{'FIELD_PHONE_NUMBER' | translate}}" [(ngModel)]='user.phoneNumber' required>
      </div>
      <div class="col-6">
        <input type="email" class="form-control form-white" name="mail" placeholder="{{'FIELD_MAIL' | translate}}"
          [(ngModel)]='user.mail' required>
      </div>
    </div>
    <input type="text" class="form-control form-white" name="fullAddress"
      placeholder="{{'FIELD_FULL_ADDRESS' | translate}}" #address>
    <input type="password" class="form-control form-white" name="password"
      placeholder="{{'FIELD_PASSWORD' | translate}}" id="password1" [(ngModel)]='user.password' required>
    <input type="password" class="form-control form-white" name="confirmPassword"
      placeholder="{{'FIELD_CONFIRM_PASSWORD' | translate}}" id="password2" [(ngModel)]='confirmPassword' required>
    <div class="checkbox-holder text-left">
      <div class="checkbox">
        <input type="checkbox" [(ngModel)]="user.becomeDeliverer" id="becomeDeliverer" name="becomeDeliverer"
          (change)="becomeDeliverer($event)" />
        <label for="becomeDeliverer"><span>
            <strong>{{'LABEL_I_BECOME_DELIVERER' | translate}}</strong></span></label>
      </div>
    </div>
    <div class="row" *ngIf="user.role === 'ROLE_DELIVERER'">
      <div class="col-6">
        <input type="text" class="form-control form-white" name="siret" placeholder="{{'FIELD_SIRET' | translate}}"
        formControlName='siret' required>
      </div>
    </div>
  </form> -->
</div>
<div mat-dialog-actions>
  <div class="col-12">
    <div class="row">
      <div class="col-md-6 col-sm-12">
        <button type="submit" class="btn btn-submit" style="width: 100%; margin-bottom: 20px;" (click)="onNoClick()">Annuler</button>
      </div>
      <div class="col-md-6 col-sm-12">
        <button *ngIf="!role" type="submit" class="btn btn-submit" style="width: 100%;" (click)="submit()">
          S'inscrire
        </button>
      </div>
    </div>
  </div>


  <!-- <button *ngIf="role" type="submit" class="btn btn-submit" (click)="submit()" [disabled]="!registerFormGroup.valid">
    S'inscrire
  </button> -->
</div>