<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>{{'TITLE_MANAGE_ADMIN' | translate}}
                <small class="text-muted">{{'SUBTITLE_MANAGE_ADMIN' | translate }}</small>
            </h2>
        </div>
    </div>
</div>
<div *ngIf="selectedForShowDetails" class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>{{titleDetails.label | translate:titleDetails.params}}</strong></h2>
                <ul class="header-dropdown">
                    <li class="remove">
                        <a role="button" class="boxs-close"><i class="zmdi zmdi-close" (click)="closeDetails()"></i></a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-6">
                        <small class="text-muted">{{'FIELD_LASTNAME' | translate }}: </small>
                        <p>{{selectedForShowDetails.lastName}}</p>
                        <hr>
                        <small class="text-muted">{{'FIELD_MAIL' | translate }}: </small>
                        <p>{{selectedForShowDetails.mail}}</p>
                        <hr>
                    </div>
                    <div class="col-6">
                        <small class="text-muted">{{'FIELD_FIRSTNAME' | translate }}: </small>
                        <p>{{selectedForShowDetails.name}}</p>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div [hidden]="hideEditForm" class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>{{titleForm.label | translate:titleForm.params}}</strong></h2>
                <ul class="header-dropdown">
                    <li class="remove">
                        <a role="button" class="boxs-close"><i class="zmdi zmdi-close" (click)="closeEdit()"></i></a>
                    </li>
                </ul>
            </div>
            <div class="body">
                <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">
                    <input type="text" class="form-control col-3 inline-block" name="name"
                        placeholder="{{'FIELD_LASTNAME' | translate }}" [(ngModel)]="adminSelected.lastName">
                    <input type="text" class="form-control col-3 inline-block" name="name"
                        placeholder="{{'FIELD_FIRSTNAME' | translate }}" [(ngModel)]="adminSelected.name">
                    <input type="text" class="form-control col-3 inline-block" name="name"
                        placeholder="{{'FIELD_PHONE_NUMBER' | translate }}" [(ngModel)]="adminSelected.phoneNumber">
                </div>
                <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">
                    <input type="text" class="form-control col-6 inline-block" name="mail"
                        placeholder="{{'FIELD_MAIL' | translate }}" [(ngModel)]="adminSelected.mail">
                </div>
                <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">
                    <input type="password" placeholder="{{'FIELD_PASSWORD' | translate }}" name="password"
                        class="form-control col-3 inline-block" [(ngModel)]="adminSelected.password" />
                    <input type="password" placeholder="{{'FIELD_CONFIRM_PASSWORD' | translate }}" name="password"
                        class="form-control col-3 inline-block" [(ngModel)]="adminSelected.confirmPassword" />
                </div>
                <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">
                    <button (click)="submitForm()" type="button"
                        [disabled]="!adminSelected.lastName 
                            || !adminSelected.name 
                            || !adminSelected.phoneNumber 
                            || !adminSelected.mail 
                            || (passwordMandatory && (!adminSelected.password || adminSelected.password === '' || adminSelected.password !== adminSelected.confirmPassword))"
                        class="col-6btn btn-raised btn-success btn-round waves-effect">{{'CONFIRM' | translate}}</button>
                </div>
                <div *ngIf="error" class="alert alert-danger" style="margin-top: 10px;">
                    {{error | translate}}
                </div>
            </div>
        </div>
    </div>
</div>

<div [hidden]="hideList" class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>Admin List</strong></h2>
            </div>
            <div class="body table-responsive">
                <div *ngIf="errorList" class="alert alert-danger">
                    {{errorList | translate}}
                </div>
                <div *ngIf="successList" class="alert alert-success">
                    {{successList | translate}}
                </div>
                <button (click)="addAdmin()" class="btn btn-success btn-icon  btn-icon-mini btn-round">
                    <i class="zmdi zmdi-account-add"></i>
                </button>
                <div class="row" style="margin-top: 20px;">
                    <div class="col-4">
                        <div class="input-group">
                            <input (keyup.enter)="refreshList()" type="text" class="form-control" [(ngModel)]="text" placeholder="Rechercher (nom, prénom, mail, ville)">
                            <span class="input-group-addon">
                                <i class="zmdi zmdi-search"></i>
                            </span>
                        </div>
                    </div>
                    <div class="col-3">
                        <button (click)="refreshList()" type="button" 
                            class="col-6btn btn-raised btn-success btn-round waves-effect">{{'SEARCH_INPUT' | translate}}</button>
                    </div>
                </div>
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>{{'COL_LAST_NAME' | translate }}</th>
                            <th>{{'COL_NAME' | translate }}</th>
                            <th>{{'COL_EMAIL_ADDRESS' | translate }}</th>
                            <th>{{'COL_STATUS' | translate }}</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let user of listUsers">
                            <th scope="row">{{user.lastName}}</th>
                            <th scope="row">{{user.name}}</th>
                            <td>{{user.mail}}</td>
                            <td><span [ngClass]="{'badge-danger': user.status==='DELETED', 
                                'badge-warning':user.status==='BLOCKED', 
                                'badge-success':user.status==='ACTIVE'  }"
                                    class="badge m-l-10">{{user.status | translate}}</span></td>
                            <td style="text-align: center" *ngIf="session.currentAdmin()._id !== user._id">
                                <button tooltip="{{'TOOLTIP_SHOW_DETAILS' | translate}}" (click)="showDetails(user)"
                                    class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round btn-default"><i
                                        class="zmdi zmdi-info" ></i></button>
                                <button tooltip="{{'TOOLTIP_EDIT_ACCOUNT' | translate}}" (click)="editAdmin(user)"
                                    class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round btn-success"><i
                                        class="zmdi zmdi-edit"></i></button>
                                <button tooltip="{{'TOOLTIP_UNLOCK_ACCOUNT' | translate}}" *ngIf="user.status === 'BLOCKED'" (click)="changeStatus(user, 'ACTIVE')"
                                    class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round btn-warning"><i
                                        class="zmdi zmdi-lock-open"></i></button>
                                <button tooltip="{{'TOOLTIP_BLOCK_ACCOUNT' | translate}}" *ngIf="user.status === 'ACTIVE'" (click)="changeStatus(user, 'BLOCKED')"
                                    class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round btn-warning"><i
                                        class="zmdi zmdi-lock"></i></button>
                                <button tooltip="{{'TOOLTIP_DELETE_ACCOUNT' | translate}}" type="button" *ngIf="user.status !== 'DELETED'"
                                    (click)="changeStatus(user, 'DELETED')"
                                    class="btn btn-icon btn-simple btn-icon-mini btn-round btn-danger">
                                    <i class="zmdi zmdi-delete"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="card" *ngIf="listUsers.length > 0">
            <div class="body">
                <ul class="pagination pagination-primary m-b-0">
                    <li class="page-item" [ngClass]="{'disabled': page <= 0}"><a class="page-link"
                            (click)="changePage(page-1)"><i class="zmdi zmdi-arrow-left"></i></a>
                    </li>
                    <li class="page-item active"><a class="page-link">{{page+1}}</a></li>
                    <li class="page-item" *ngIf="((page + 1 ) * limit) < nbTotal"><a class="page-link"
                            (click)="changePage(page+1)"><i class="zmdi zmdi-arrow-right"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>