<div class="container">
  <div class="row justify-content-center">
    <div class="col-12">
      <div class="row justify-content-center">
        <div class="col-md-4" style="text-align: center; padding:20px;">
          <h3>{{'SOCIAL_SECURITY_NUMBER' | translate}}</h3>
          <div class="box_style_2 hidden-xs" id="help">
            <div id="thumb" style="background-color: transparent; ">
              <input style="display: none" type="file" accept="image/*" (change)="changeFile($event, 'socialSecurityNumber')"
                #fileInputSocialSecurityNumber>
              <img (click)="fileInputSocialSecurityNumber.click()" src="{{socialSecurityNumberUrl?socialSecurityNumberUrl:'assets/images/upload.svg'}}" alt=""
                style="width: 100%; height: 100%;">
            </div>
          </div>
        </div>
        <div class="col-md-4 offset-2" style="text-align: center; padding:20px;">
          <h3>{{'FIELD_MUTUAL' | translate}}</h3>
          <div class="box_style_2 hidden-xs" id="help">
            <div id="thumb" style="background-color: transparent;">
              <input style="display: none" type="file" (change)="changeFile($event, 'mutual')" accept="image/*" #fileInputMutual>
              <img (click)="fileInputMutual.click()" src="{{mutualUrl?mutualUrl:'assets/images/upload.svg'}}" alt=""
                style="width: 100%; height: 100%;">
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-8">
          <button (click)="update()" style="font-weight: 600; margin-top: 48px;" type="button"
            [disabled]="!profileFormGroup.valid" *ngIf="session.currentUser().status === 'ACTIVE'"
            class="btn btn-primary w-100 text-uppercase btn-accept">{{'UPDATE_DOCUMENTS' | translate}}</button>
        </div>
      </div>
    </div>
  </div>

</div><!-- End container -->