<ion-content>
  <div class="row h-100">
    <div class="col-xs-12 col-sm-12">
      <div class="rest-container">
        <div class="text-center header-icon-logo-margin">
          <img src="assets/images/logo.png" class="logo-app"  alt="Main Logo">
        </div>
        <div class="address-title">{{'TITLE_ADD_NEW_ADDRESS' | translate}}</div>

        <!-- Add New Address Start-->
        <div class="sign-up-form-container text-center">
          <form class="width-100">
            <app-address-input (onChange)="setAddress($event)"></app-address-input>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="fas fa-building icon-color"></span>
                </div>
                <input class="form-control" [(ngModel)]="compAddress" type="text" autocomplete="off" name="compAddress"
                  placeholder="{{'FIELD_COMP_ADDRESS' | translate}}">
              </div>
            </div>

            <div class="form-submit-button text-center">
                <a (click)="submit()"
                    class="btn btn-primary text-uppercase  w-100 btn-accept">{{'BTN_ADD_ADDRESS' | translate}}</a>
            </div>
          </form>
        </div>
        <!-- Add New Address End-->

      </div>
    </div>

  </div>
</ion-content>