<ion-content>
  <div class="row h-100">
    <div class="col-xs-12 col-sm-12 remaining-height">

      <div class="rest-container">
        <div class="all-history-items remaining-height">

          <div [hidden]="deliveries.length > 0" class="address-title">{{'NO_HISTORY' | translate }}</div>

          <ion-list>
            <ion-item *ngFor="let delivery of deliveries" class="history-items-container history-items-padding">
              <div class="history-item">
                <div id="map_{{delivery._id}}" class="mapsHistory"></div>
                <div class="border-bottom-primary thin">
                  <div class="status-container">
                    <div class="date float-left">
                      {{delivery.formatDate}}
                    </div>
                    <div class="status float-right text-uppercase">
                      {{delivery.status | translate }}
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="status-container" *ngIf="delivery.formatDeliveryDate && delivery.status === 'SCHEDULED'">
                    <div class="date float-left">
                      Planifié pour le {{delivery.formatDeliveryDate}}
                    </div>
                    <div class="clearfix"></div>
                  </div>
                  <div class="status-container" *ngIf="delivery.customerOfMerchant">
                    <div class="date float-left">
                      Pour le client: {{delivery.customerOfMerchant.name + ' ' + delivery.customerOfMerchant.lastname}}
                    </div>
                    <div class="clearfix"></div>
                  </div>
                </div>
  
                <div class="addresses-container position-relative">
                  <div class="height-auto">
                    <div class="w-100 map-input-container map-input-container-top">
                      <span class="fas fa-location-arrow location-icon-rotate  map-input-icon"></span>
                      <div class="map-input display-flex" style="border-bottom: 1px solid #F1F3F8;">
                        <input class="controls flex-1 font-weight-light" type="text"
                          placeholder="Enter an origin location" value="{{delivery.merchantFavoriteAddress.fullAddress}}"
                          disabled>
                      </div>
                    </div>
                    <a class="href-decoration-none">
                      <div class="w-100 map-input-container map-input-container-bottom">
                        <span class="map-input-icon"><img src="assets/icons/circle.svg"
                            alt="Current Location Icon"></span>
                        <div class="map-input display-flex controls flex-1 align-items-center">
                          {{delivery.address.fullAddress}}
                        </div>
                        <span class="dotted-line"></span>
                      </div>
                    </a>
                  </div>
                </div>
                <div *ngIf="delivery.status !== 'AWAITING_VALIDATION' && delivery.invoice">
                  <a (click)="showDetails(delivery)"
                    class="btn btn-primary w-100 box-shadow-0 font-weight-light text-uppercase"> {{'COMMANDS_DETAILS' |
                    translate }} <span class="question-icon fas fa-receipt"></span></a>
                </div>
                <div style="margin-top: 10px;" *ngIf="(delivery.status !== 'DELIVERED' || !delivery.checkDeliverySuccessfullyByCustomer )
                    && delivery.status !== 'REFUSED' && delivery.status !== 'REFUSED_AMOUNT'">
                  <a (click)="showOnMap(delivery)"
                    class="btn btn-primary w-100 box-shadow-0 font-weight-light text-uppercase"> {{'VIEW_ON_MAP' |
                    translate }} <span class="question-icon fas fa-question-circle"></span></a>
                </div>
                <div *ngIf="delivery.status === 'SCHEDULED'">
                  <a (click)="edit(delivery)" style="margin-top: 10px; color: white !important;"
                    class="btn btn-primary w-100 box-shadow-0 font-weight-light text-uppercase btn-deep-blue">
                    {{'EDIT_DELIVERY' | translate }} <span class="question-icon fas fa-edit"></span></a>
                </div>
                <div *ngIf="delivery.status === 'SCHEDULED'">
                  <a (click)="cancel(delivery)" style="margin-top: 10px; color: white !important;"
                    class="btn btn-danger w-100 box-shadow-0 font-weight-light text-uppercase"> {{'CANCEL' | translate }}
                    <span class="question-icon fas fa-times"></span></a>
                </div>
              </div>
            </ion-item>
          </ion-list>

          <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
            <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Loading more data...">
            </ion-infinite-scroll-content>
          </ion-infinite-scroll>
        </div>
      </div>
    </div>
  </div>
</ion-content>