ion-slide
{
    display:block;
}

.btn-apple{
    background-color: black !important;
    appearance: none;
    -webkit-appearance: none;
    border: none;
    color: white;
    padding: 9px 26px;
    width: 100%;
    cursor: pointer;
    border-radius: 7px;
    font-size: 24px;
    max-height: 56px;
}

ion-progress-bar
{
    margin-bottom:5%;
}

.Comfortaa{
    font-family: Comfortaa;
}