<ion-content>


  <div class="row h-100">
    <div class="col-xs-12 col-sm-12">
      <div class="rest-container">

        <!--Sign Up Container Start-->
        <div class="sign-up-form-container text-center" [hidden]="infoFb.connectionType">
          <form class="width-100" [formGroup]="registerFormGroup">
            <ion-slides #slides  >
              <ion-slide>

                <div class="header_slide">
                  <span style="float: right;margin-right: 5%;    font-size: 14px;">1/6</span>
                  <ion-progress-bar value="0.14"></ion-progress-bar>
                  <span class = "Comfortaa">{{'FULLNAME_TITLE' | translate}} </span> <img src="assets/images/icone_form/profile.png" style="width: 5%;">

                </div>


                <!--Sign Up Input Field Start-->


                <div class="form-group">
                  <div class="input-group"
                       [class.input-invalid]="fieldsRegisterFrm('lastName').invalid && (fieldsRegisterFrm('lastName').dirty || fieldsRegisterFrm('lastName').touched)">
                    <div class="input-group-prepend">
                      <span class="fas fa-user icon-color"></span>
                    </div>
                    <input class="form-control" formControlName="lastName" type="text" autocomplete="off" name="lastName"
                           placeholder="{{'FIELD_LASTNAME' | translate}} *" style="font-family:'Roboto';" >
                  </div>
                  <div
                          *ngIf="fieldsRegisterFrm('lastName').invalid && (fieldsRegisterFrm('lastName').dirty || fieldsRegisterFrm('lastName').touched)">
                    <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('lastName').errors.required">
                      {{'FIELD_LASTNAME_REQUIRED' | translate}}
                    </p>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group"
                       [class.input-invalid]="fieldsRegisterFrm('name').invalid && (fieldsRegisterFrm('name').dirty || fieldsRegisterFrm('name').touched)">
                    <div class="input-group-prepend">
                      <span class="fas fa-user icon-color"></span>
                    </div>
                    <input class="form-control" formControlName="name" type="text" autocomplete="off" name="name"
                           placeholder="{{'FIELD_NAME' | translate}} *"  style="font-family:'Roboto';">
                  </div>
                  <div
                          *ngIf="fieldsRegisterFrm('name').invalid && (fieldsRegisterFrm('name').dirty || fieldsRegisterFrm('name').touched)">
                    <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('name').errors.required">
                      {{'FIELD_NAME_REQUIRED' | translate}}
                    </p>
                  </div>
                </div>
                <div class="sign-up-btn-container">
                  <button (click)="slideNext()" class="btn-apple"  style="margin-top: 10px;"> {{'NEXT_STEP_SLIDES' | translate}}</button>
                </div>

              </ion-slide>

              <ion-slide  >

                <div class="header_slide">
                  <a (click)="slidePrev()">  <img src="assets/images/icone_form/arrow.png" style="float: left;margin-left:5%;    width: 20px;"></a>
                  <span style="float: right;margin-right: 5%;    font-size: 14px;">2/6</span>
                  <ion-progress-bar value="0.28"></ion-progress-bar>
                  <span class = "Comfortaa">{{'EMAIL_TITLE' | translate }} </span> <img src="assets/images/icone_form/email.png" style="width: 5%;">
                </div>


                <!--Sign Up Input Field Start-->


                <div class="form-group">

                  <div class="input-group"
                       [class.input-invalid]="fieldsRegisterFrm('mail').invalid && (fieldsRegisterFrm('mail').dirty || fieldsRegisterFrm('mail').touched)">
                    <div class="input-group-prepend">
                      <span class="fas fa-envelope icon-color"></span>
                    </div>
                    <input class="form-control" formControlName="mail" type="text" autocomplete="off" name="email"
                           placeholder="Email *"  style="font-family:'Roboto';" >
                  </div>
                  <div
                          *ngIf="fieldsRegisterFrm('mail').invalid && (fieldsRegisterFrm('mail').dirty || fieldsRegisterFrm('mail').touched)">
                    <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('mail').errors.required">
                      {{'FIELD_MAIL_REQUIRED' | translate}}
                    </p>
                  </div>
                </div>
                <div class="sign-up-btn-container">
                  <button (click)="slideNext()" class="btn-apple"  style="margin-top: 10px;"> {{'NEXT_STEP_SLIDES' | translate}}</button>
                </div>

              </ion-slide  >
              <ion-slide  >

                <div class="header_slide">
                  <a (click)="slidePrev()"> <img src="assets/images/icone_form/arrow.png" style="float: left;margin-left:5%;    width: 20px;"></a>
                  <span style="float: right;margin-right: 5%;    font-size: 14px;">3/6</span>
                  <ion-progress-bar value="0.42"></ion-progress-bar>
                  <span class = "Comfortaa">{{'MDP_TITLE' | translate }}  </span> <img src="assets/images/icone_form/lock.png" style="width: 5%;">
                </div>




                <div #passwordsBox>
                  <!--Sign Up Input Field End-->
                  <!--Sign Up Input Field Start-->
                  <app-password-field required="true" formControlName="password"
                                      placeholder="{{'FIELD_PASSWORD' | translate}} *">
                  </app-password-field>
                  <!--Sign Up Input Field End-->

                  <!--Sign Up Input Field Start-->
                  <app-password-field required="true" formControlName="passwordConfirm"
                                      placeholder="{{'FIELD_CONFIRM_PASSWORD' | translate}} *"></app-password-field>
                  <!--Sign Up Input Field End-->
                </div>
                <div class="sign-up-btn-container">
                  <button (click)="slideNext()" class="btn-apple"  style="margin-top: 10px;"> {{'NEXT_STEP_SLIDES' | translate}}</button>
                </div>

              </ion-slide>

              <ion-slide>

                <div class="header_slide">
                  <a (click)="slidePrev()"> <img src="assets/images/icone_form/arrow.png" style="float: left;margin-left:5%;    width: 20px;"></a>
                  <span style="float: right;margin-right: 5%;    font-size: 14px;">4/6</span>
                  <ion-progress-bar value="0.56"></ion-progress-bar>
                  <p class = "Comfortaa">{{'PHONE_TITLE' | translate }} </p>
                  <span class = "Comfortaa">{{'PHONE_TEXT' | translate }}</span> <img src="assets/images/icone_form/phone.png" style="width: 5%;">
                </div>




                <div class="form-group">
                  <div class="input-group"
                       [class.input-invalid]="fieldsRegisterFrm('phoneNumber').invalid && (fieldsRegisterFrm('phoneNumber').dirty || fieldsRegisterFrm('phoneNumber').touched)">
                    <input class="form-control h-100" id="phone-input-sign-up-customer" type="tel" name="phone"
                           autocomplete="off" data-intl-tel-input-id="0" placeholder="(201) 555-0123  *"
                           formControlName="phoneNumber"  style="font-family:'Roboto';" >
                  </div>
                  <div
                          *ngIf="fieldsRegisterFrm('phoneNumber').invalid && (fieldsRegisterFrm('phoneNumber').dirty || fieldsRegisterFrm('phoneNumber').touched)">
                    <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('phoneNumber').errors.required">
                      {{'FIELD_PHONENUMBER_REQUIRED' | translate}}
                    </p>
                  </div>
                </div>
                <div class="sign-up-btn-container">
                  <button (click)="slideNext()" class="btn-apple"  style="margin-top: 10px;"> {{'NEXT_STEP_SLIDES' | translate}}</button>
                </div>
                <!--Sign Up Input Field End-->
              </ion-slide>

              <ion-slide>

                <div class="header_slide">
                  <a (click)="slidePrev()"> <img src="assets/images/icone_form/arrow.png" style="float: left;margin-left:5%;    width: 20px;"></a>
                  <span style="float: right;margin-right: 5%;    font-size: 14px;">5/6</span>
                  <ion-progress-bar value="0.7"></ion-progress-bar>
                  <span class = "Comfortaa">{{'ADRESS_TITLE' | translate }} </span> <img src="assets/images/icone_form/address.png" style="width: 5%;">
                </div>



                <app-address-input required="true" (onChange)="setAddress($event)" ></app-address-input>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="fas fa-building icon-color"></span>
                    </div>
                    <input class="form-control" formControlName="compAddress" type="text" autocomplete="off"
                           name="compAddress" placeholder="{{'FIELD_COMP_ADDRESS' | translate}}"  style="font-family:'Roboto';" >
                  </div>
                </div>
                <div class="sign-up-btn-container">
                  <button (click)="slideNext()" class="btn-apple"  style="margin-top: 10px;"> {{'NEXT_STEP_SLIDES' | translate}}</button>
                </div>
              </ion-slide>

              <ion-slide>

                <div class="header_slide">
                  <a (click)="slidePrev()"> <img src="assets/images/icone_form/arrow.png" style="float: left;margin-left:5%;    width: 20px;"></a>
                  <span style="float: right;margin-right: 5%;    font-size: 14px;">6/6</span>
                  <ion-progress-bar value="1"></ion-progress-bar>
                  <p class = "Comfortaa">{{'CODE_PARRAIN_TITLE' | translate }} </p>
                  <span class = "Comfortaa">{{'CODE_PARRAIN_TEXT' | translate }}  </span> <img src="assets/images/icone_form/badge.png" style="width: 5%;">
                </div>




                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="fas fa-ticket-alt icon-color"></span>
                    </div>
                    <input class="form-control" formControlName="referralCodeReferrer" type="text" autocomplete="off"
                           name="referralCodeReferrer" placeholder="{{'FIELD_REFERRAL_CODE' | translate}}"  style="font-family:'Roboto';" >
                  </div>
                </div>
                
                <div class="form-submit-button"
                     [attr.disabled]="address === null || !registerFormGroup.valid ? true : null">
                  <a class="btn btn-primary text-uppercase font-weight-normal"
                     (click)="submit()" style="background-color: #D8418F!important;">{{'SIGN_UP' | translate}}</a>
                </div>

                <div class="container-sms-rate-text width-100 font-11" style="
        text-align: center;
        padding-bottom: 20px;">
                  <span class="light-gray font-weight-light">En vous inscrivant vous êtes d'accord avec nos </span>
                  <br />
                  <a (click)="openCgu()" class="dark-link">
                    <span class="font-weight-light">Conditions générales d'utilisation</span>
                  </a>
                </div>
              </ion-slide>

            </ion-slides>

          </form>
        </div>
        <!--Sign Up Container Start-->
        <!--Sign Up Container Start-->
        <div class="sign-up-form-container text-center" [hidden]="!infoFb.connectionType">
          <form class="width-100" [formGroup]="registerSocialFormGroup">

            <ion-slides #slides  >
              <ion-slide>
                <ion-progress-bar value="0.2"></ion-progress-bar>
                <!--Sign Up Input Field Start-->
                <span class = "Comfortaa">{{'FULLNAME_TITLE' | translate}} </span> <img src="assets/images/icone_form/profile.png" style="width: 10%;">

                <div class="form-group">
                  <div class="input-group"
                       [class.input-invalid]="fieldsRegisterSocialFrm('lastName').invalid && (fieldsRegisterSocialFrm('lastName').dirty || fieldsRegisterSocialFrm('lastName').touched)">
                    <div class="input-group-prepend">
                      <span class="fas fa-user icon-color"></span>
                    </div>
                    <input class="form-control" formControlName="lastName" type="hidden" autocomplete="off" name="lastName"
                           placeholder="{{'FIELD_LASTNAME' | translate}} *">
                  </div>
                  <div
                          *ngIf="fieldsRegisterSocialFrm('lastName').invalid && (fieldsRegisterSocialFrm('lastName').dirty || fieldsRegisterSocialFrm('lastName').touched)">
                    <p class="text-danger text-required" *ngIf="fieldsRegisterSocialFrm('lastName').errors.required">
                      {{'FIELD_LASTNAME_REQUIRED' | translate}}
                    </p>
                  </div>
                </div>

                <div class="form-group">
                  <div class="input-group"
                       [class.input-invalid]="fieldsRegisterSocialFrm('name').invalid && (fieldsRegisterSocialFrm('name').dirty || fieldsRegisterSocialFrm('name').touched)">
                    <div class="input-group-prepend">
                      <span class="fas fa-user icon-color"></span>
                    </div>
                    <input class="form-control" formControlName="name" type="text" autocomplete="off" name="name"
                           placeholder="{{'FIELD_NAME' | translate}} *">
                  </div>
                  <div
                          *ngIf="fieldsRegisterSocialFrm('name').invalid && (fieldsRegisterSocialFrm('name').dirty || fieldsRegisterSocialFrm('name').touched)">
                    <p class="text-danger text-required" *ngIf="fieldsRegisterSocialFrm('name').errors.required">
                      {{'FIELD_NAME_REQUIRED' | translate}}
                    </p>
                  </div>
                </div>

                <div class="sign-up-btn-container">
                  <button (click)="slideNext()" class="btn-apple"  style="margin-top: 10px;"> {{'NEXT_STEP_SLIDES' | translate}}</button>
                </div>

              </ion-slide>

              <ion-slide  >
                <ion-progress-bar value="0.4"></ion-progress-bar>
                <!--Sign Up Input Field Start-->
                <span class = "Comfortaa">{{'EMAIL_TITLE' | translate }} </span> <img src="assets/images/icone_form/email.png" style="width: 10%;">


                <div class="form-group">
                  <div class="input-group"
                       [class.input-invalid]="fieldsRegisterSocialFrm('mail').invalid && (fieldsRegisterSocialFrm('mail').dirty || fieldsRegisterSocialFrm('mail').touched)">
                    <div class="input-group-prepend">
                      <span class="fas fa-envelope icon-color"></span>
                    </div>
                    <input class="form-control" autocomplete="off" formControlName="mail" type="text" autocomplete="off"
                           name="email" placeholder="Email *">
                  </div>
                  <div
                          *ngIf="fieldsRegisterSocialFrm('mail').invalid && (fieldsRegisterSocialFrm('mail').dirty || fieldsRegisterSocialFrm('mail').touched)">
                    <p class="text-danger text-required" *ngIf="fieldsRegisterSocialFrm('mail').errors.required">
                      {{'FIELD_MAIL_REQUIRED' | translate}}
                    </p>
                  </div>
                </div>



                <div class="sign-up-btn-container">
                  <button (click)="slideNext()" class="btn-apple"  style="margin-top: 10px;"> {{'NEXT_STEP_SLIDES' | translate}}</button>
                </div>

              </ion-slide  >
              <ion-slide>
                <ion-progress-bar value="0.6"></ion-progress-bar>
                <p class = "Comfortaa">{{'PHONE_TITLE' | translate }} </p>
                <span class = "Comfortaa">{{'PHONE_TEXT' | translate }}</span> <img src="assets/images/icone_form/phone.png" style="width: 10%;">

                <div class="form-group">
                  <div class="input-group"
                       [class.input-invalid]="fieldsRegisterSocialFrm('phoneNumber').invalid && (fieldsRegisterSocialFrm('phoneNumber').dirty || fieldsRegisterSocialFrm('phoneNumber').touched)">
                    <input class="form-control h-100" id="phone-input-sign-up-customer-social" type="tel" name="phone"
                           autocomplete="off" data-intl-tel-input-id="0" placeholder="(201) 555-0123 *"
                           formControlName="phoneNumber">
                  </div>
                  <div
                          *ngIf="fieldsRegisterSocialFrm('phoneNumber').invalid && (fieldsRegisterSocialFrm('phoneNumber').dirty || fieldsRegisterSocialFrm('phoneNumber').touched)">
                    <p class="text-danger text-required" *ngIf="fieldsRegisterSocialFrm('phoneNumber').errors.required">
                      {{'FIELD_PHONENUMBER_REQUIRED' | translate}}
                    </p>
                  </div>
                </div>




                <div class="sign-up-btn-container">
                  <button (click)="slideNext()" class="btn-apple"  style="margin-top: 10px;"> {{'NEXT_STEP_SLIDES' | translate}}</button>
                </div>
                <!--Sign Up Input Field End-->
              </ion-slide>

              <ion-slide>
                <ion-progress-bar value="0.8"></ion-progress-bar>
                <span class = "Comfortaa">{{'ADRESS_TITLE' | translate }} </span> <img src="assets/images/icone_form/address.png" style="width: 10%;">


                <app-address-input required="true" (onChange)="setAddress($event)"></app-address-input>

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="fas fa-building icon-color"></span>
                    </div>
                    <input class="form-control" formControlName="compAddress" type="text" autocomplete="off"
                           name="compAddress" placeholder="{{'FIELD_COMP_ADDRESS' | translate}}">
                  </div>
                </div>


                <div class="sign-up-btn-container">
                  <button (click)="slideNext()" class="btn-apple"  style="margin-top: 10px;"> {{'NEXT_STEP_SLIDES' | translate}}</button>
                </div>
              </ion-slide>

              <ion-slide>
                <ion-progress-bar value="1"></ion-progress-bar>
                <p class = "Comfortaa">{{'CODE_PARRAIN_TITLE' | translate }} </p>
                <span class = "Comfortaa">{{'CODE_PARRAIN_TEXT' | translate }}  </span> <img src="assets/images/icone_form/badge.png" style="width: 10%;">

                <div class="form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="fas fa-ticket-alt icon-color"></span>
                    </div>
                    <input class="form-control" formControlName="referralCodeReferrer" type="text" autocomplete="off"
                           name="referralCodeReferrer" placeholder="{{'FIELD_REFERRAL_CODE' | translate}}">
                  </div>
                </div>

                <div class="form-submit-button"
                     [attr.disabled]="address === null || !registerSocialFormGroup.valid ? true : null">
                  <a class="btn btn-primary text-uppercase font-weight-normal"
                     (click)="submit()">{{'SIGN_UP' | translate}}</a>
                </div>
                <div class="container-sms-rate-text width-100 font-11" style="
        text-align: center;
        padding-bottom: 20px;">
                  <span class="light-gray font-weight-light">En vous inscrivant vous êtes d'accord avec nos </span>
                  <br />
                  <a (click)="openCgu()" class="dark-link">
                    <span class="font-weight-light">Conditions générales d'utilisation</span>
                  </a>
                </div>
              </ion-slide>

            </ion-slides>
          </form>
        </div>
        <!--Sign Up Container Start-->


      </div>
    </div>

  </div>
</ion-content>