<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">{{'MY_CARDS' | translate}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-page-main-wrapper">
  <div class="container">
    <div class="row justify-content-center full-width" style="margin-top: 20px;">
      <div class="col-md-8">
          <form action="/" method="post" id="payment-form">

              <div class="form-row">
                  <div id="card-element">
                      <!-- a Stripe Element will be inserted here. -->
                  </div>

                  <!-- Used to display Element errors -->
                  <div id="card-errors" role="alert"></div>
              </div>

              <div class="text-center">
                <button class="col-4" type="submit" class="btn btn-submit">
                  {{'BTN_SUBMIT' | translate }}
                </button>
              </div>
          </form>
      </div><!-- End row -->
    </div>
  </div>
</div>
