<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">{{myProfile.lastName}} {{myProfile.name}}</h1>
          <ol class="breadcrumb">
            <li><a href="#"
                title="Home">{{userService.getFavoriteAddress(session.currentUser().addresses).fullAddress}}</a></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-page-main-wrapper">
  <div class="container">
    <div class="row">
      <main class="col-12 main-content">
        <div class="post-row">
            <div class="row">
                <div class="col-12">
                  </div>
            </div>
          <div class="row">
            <div class="col-md-4">
              <div class="box_style_2 hidden-xs" id="help">
                <div class="row justify-content-center">
                    <div id="thumb" style="background-color: transparent;">
                      <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInput>
                      <img (click)="fileInput.click()"
                        src="{{session.currentUser().avatar === 'undefined' ? 'assets/img/user.svg': session.currentUser().avatar}}"
                        alt="" style="width: 100%; height: 100%;"></div>
                  <div class="col-md-12 col-xs-12" style="text-align: center;margin-top: 20px;">
                    <i class="icon-phone"></i>
                    <a href="tel://{{session.currentUser().phoneNumber}}"
                      class="phone">{{session.currentUser().phoneNumber}}</a>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12 col-xs-12" style="text-align: center;">
                    <i class="icon-mail"></i>
                    <a href="mail://{{session.currentUser().mail}}" class="phone">{{session.currentUser().mail}}</a>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-8">
              <div class="box_style_2">
                <h2 class="inner">{{'TITLE_SECURITY'| translate}}</h2>
                <div *ngIf="successSecurity" class="alert alert-success">
                  {{successSecurity | translate}}
                </div>
                <div *ngIf="errorSecurity" class="alert alert-danger">
                  {{errorSecurity | translate}}
                </div>
                <form [formGroup]="securityFormGroup">
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>{{'FIELD_MAIL' | translate}}</label>
                        <input formControlName="mail" type="text" class="form-control" name="mail"
                          placeholder="{{'FIELD_MAIL' | translate}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>{{'FIELD_CURRENT_PASSWORD' | translate}}</label>
                        <input formControlName="currentPassword" type="password" class="form-control" name="password"
                          placeholder="{{'FIELD_CURRENT_PASSWORD' | translate}}">
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>{{'FIELD_NEW_PASSWORD' | translate}}</label>
                        <input formControlName="newPassword" type="password" class="form-control" name="newPassword"
                          placeholder="{{'FIELD_NEW_PASSWORD' | translate}}">
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                      <button [disabled]="!securityFormGroup.valid" (click)="submitSecurityForm()"type="submit"
                      class="btn btn-submit">
                      {{'BTN_SAVE_MODIFICATION' | translate }}
                    </button>
                  </div>
                </form>
              </div><!-- End box_style_1 -->
              <div class="box_style_2">
                <h2 class="inner">{{'TITLE_ACCOUNT'| translate}}</h2>
                <div *ngIf="successInformation" class="alert alert-success">
                  {{successInformation | translate}}
                </div>
                <div *ngIf="errorInformation" class="alert alert-danger">
                  {{errorInformation | translate}}
                </div>
                <form [formGroup]="informationFormGroup">
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>{{'FIELD_LASTNAME' | translate}}</label>
                        <input formControlName="lastName" type="text" class="form-control" name="lastName"
                          placeholder="{{'FIELD_LASTNAME' | translate}}">
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>{{'FIELD_FIRSTNAME' | translate}}</label>
                        <input formControlName="name" type="text" class="form-control" name="name"
                          placeholder="{{'FIELD_FIRSTNAME' | translate}}">
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6 col-sm-6">
                      <div class="form-group">
                        <label>{{'FIELD_PHONE_NUMBER' | translate}}</label>
                        <input formControlName="phoneNumber" type="text" class="form-control" name="mail"
                          placeholder="{{'FIELD_PHONE_NUMBER' | translate}}">
                      </div>
                    </div>
                  </div>
                  <div class="text-center">
                      <button [disabled]="!informationFormGroup.valid" (click)="submitInformationForm()" type="submit"
                      class="btn btn-submit">
                      {{'BTN_SAVE_MODIFICATION' | translate }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </div>
</div>