<div id="live-chat">

  <div class="clearfix header app-icon" [attr.data-count]="count" (click)="minimizedTchat()">

    <a *ngIf="!hideCloseBtn" (click)="close()" class="chat-close">x</a>

    <h4>{{delivery.customer.name + ' ' + delivery.customer.lastName}} 
    </h4>

    <span class="chat-message-counter">3</span>

  </div>

  <div [hidden]="minimized" class="chat">

    <div style="overflow: scroll; height: xyz;" #scrollMe [scrollTop]="scrollMe.scrollHeight" id="history" class="chat-history">
      <div  *ngFor="let message of privateMessages">
          <div class="chat-message clearfix">

              <img src="{{message.avatarUrl ? message.avatarUrl :'assets/img/user.svg'}}" alt="" width="32" height="32">
      
              <div class="chat-message-content clearfix">
      
                <span class="chat-time">{{message.insertAt | date:'dd LLLL yyyy HH:mm'}}</span>
      
                <h5>{{ message.author.role === USER_ROLE.ROLE_CUSTOMER
                        ? message.author.name + ' ' + message.author.lastName : message.author.name }}</h5>
      
                <p>{{message.message}}</p>
      
              </div> <!-- end chat-message-content -->
      
            </div> <!-- end chat-message -->
      
            <hr>
      </div>
      
    </div> <!-- end chat-history -->

    <form (keydown)="submit($event)">

      <fieldset>

        <input type="text" [(ngModel)]="message" name="message" placeholder="{{'FIELD_MESSAGE' | translate}}" autofocus>

      </fieldset>

    </form>

  </div> <!-- end chat -->

</div> <!-- end live-chat -->