<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>{{'TITLE_CONFIGURATION' | translate}}
            </h2>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="card">
            <div class="header">
                <h2><strong>{{'TITLE_CONFIGURATION' | translate}}</strong></h2>
            </div>
            <div class="body table-responsive">
                <div *ngIf="successList" class="alert alert-success">
                    {{successList | translate}}
                </div>
                <div class="row clearfix">
                    <h4>Catégorie de professionnel disponible sur l'application</h4>
                    <div class="col-sm-8 offset-sm-2" *ngFor="let cat of categories">
                        <div class="checkbox">
                            <input id="checkbox_{{cat.label}}" type="checkbox" [value]="cat.value"
                                (change)="onCheckChange($event)" [checked]="categoriesSelected.includes(cat.value)">
                            <label for="checkbox_{{cat.label}}">
                                {{cat.label | translate}}
                            </label>
                        </div>
                    </div>

                    <div class="col-sm-8 offset-sm-2">
                        <button (click)="submit()" type="button"
                            class="col-6btn btn-raised btn-success btn-round waves-effect">{{'CONFIRM' |
                            translate}}</button>
                    </div>
                </div>
            </div>

        </div>
        <div class="card">
            <div class="header">
                <h2><strong>{{'TITLE_CONFIGURATION' | translate}}</strong></h2>
            </div>
            <div class="body table-responsive">
                <div *ngIf="successListVersions" class="alert alert-success">
                    {{successListVersions | translate}}
                </div>
                <h4>Versions</h4>
                <div class="row clearfix">
                    <form [formGroup]="formGroup"  class="col-sm-12 offset-sm-2">

                        <label>
                            {{'VERSION_IOS_MIN' | translate}}
                        </label>
                        <input type="text" class="form-control col-4 inline-block" name="versionIosMin"
                            placeholder="{{'VERSION_IOS_MIN' | translate }}" formControlName="versionIosMin">

                        <label style="margin-top: 20px;">
                            {{'VERSION_ANDROID_MIN' | translate}}
                        </label>
                        <input type="text" class="form-control col-4 inline-block" name="versionAndroidMin"
                            placeholder="{{'VERSION_ANDROID_MIN' | translate }}" formControlName="versionAndroidMin">

                    </form>

                    <div  style="margin-top: 20px;" class="col-sm-8 offset-sm-2">
                        <button (click)="submitForm()" type="button"
                            class="col-6btn btn-raised btn-success btn-round waves-effect">{{'CONFIRM' |
                            translate}}</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>