<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">{{'TITLE_ASK_YOUR_QUESTION' | translate }}</h1>
          <ol class="breadcrumb">
            <li><a href="#" title="Home">{{'TITLE_ASK_YOUR_QUESTION' | translate }}</a></li>
            <li class="item-current"><span>{{'SUBTITLE_ASK_YOUR_QUESTION' | translate }}</span></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-page-main-wrapper">
  <div class="container">
    <div class="row">
      <main class="col-12 main-content">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <form [formGroup]="topicFormGroup">
              <div class="row">
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>{{'FIELD_TOPIC_TITLE' | translate }}</label>
                    <input formControlName="title" type="text" class="form-control" id="name_contact"
                      name="name_contact">
                  </div>
                </div>
                <div class="col-md-6 col-sm-6">
                  <div class="form-group">
                    <label>{{'FIELD_CATEGORY' | translate }}</label>
                    <select class="form-control" name="category" id="category" formControlName="category">
                      <option *ngFor="let categorie of categories" [value]="categorie._id">
                        {{categorie.title | translate }}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12 col-sm-12">
                  <div class="form-group">
                    <label>{{'FIELD_TOPIC_QUESTION' | translate }}</label>
                    <textarea formControlName="description" name="message" class="form-control styled"
                      style="height:150px;"></textarea>
                  </div>
                </div>
              </div>
              <hr style="border-color:#dddddd;">
              <div class="text-center">
                <button [disabled]="!topicFormGroup.valid" class="col-4" type="submit" class="btn btn-submit"
                  (click)="submit()">
                  {{'BTN_SUBMIT' | translate }}
                </button>
              </div>
            </form>
          </div><!-- End col  -->
        </div>
      </main>
    </div>
  </div>
</div>