<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>{{'TITLE_MY_PROFILE' | translate}}
                <small class="text-muted">{{'SUBTITLE_MY_PROFILE' | translate}}</small>
            </h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-4 col-md-12">
            <div class="card member-card">
                <div class="header l-green">
                    <h4 class="m-t-10">{{session.currentAdmin().lastName}} {{session.currentAdmin().name}}</h4>
                </div>
                <div class="member-img">
                    <input style="display: none" type="file" (change)="onFileChanged($event)" #fileInputPharma>
                    <a (click)="fileInputPharma.click()" class="">
                        <img src="{{session.currentAdmin().avatar === 'undefined' ? 'assets/images/user.svg': session.currentAdmin().avatar}}"
                            class="rounded-circle" alt="profile-image">
                    </a>
                </div>
                <div class="body">
                    <div class="col-12">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                                    href="#about">{{'TITLE_MY_INFORMATION' | translate}}</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane body active" id="about">
                                <small class="text-muted">{{'FIELD_MAIL' | translate }}: </small>
                                <p>{{session.currentAdmin().mail}}</p>
                                <hr>
                                <small class="text-muted">{{'FIELD_PHONE_NUMBER' | translate }}: </small>
                                <p>{{session.currentAdmin().phoneNumber}}</p>
                                <hr>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8 col-md-12">
            <!-- <div class="card">
                <ul class="nav nav-tabs">
                    <li class="nav-item"><a class="nav-link active" data-toggle="tab"
                            href="#usersettings">{{'TAB_SETTINGS'| translate}}</a></li>
                </ul>
            </div> -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="usersettings">
                    <div class="card">
                        <div class="header">
                            <h2><strong>{{'TITLE_SECURITY'| translate}}</strong></h2>
                        </div>
                        <div class="body">
                            <div *ngIf="successSecurity" class="alert alert-success">
                                {{successSecurity | translate}}
                            </div>
                            <div *ngIf="errorSecurity" class="alert alert-danger">
                                {{errorSecurity | translate}}
                            </div>
                            <form [formGroup]="securityFormGroup">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="{{'FIELD_MAIL' | translate }}"
                                        formControlName="mail">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control"
                                        placeholder="{{'FIELD_CURRENT_PASSWORD' | translate }}"
                                        formControlName="currentPassword">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control"
                                        placeholder="{{'FIELD_NEW_PASSWORD' | translate }}"
                                        formControlName="newPassword">
                                </div>
                                <button (click)="submitSecurityForm()" [disabled]="!securityFormGroup.valid"
                                    class="btn btn-info btn-round">{{'BTN_SAVE_MODIFICATION' | translate}}</button>
                            </form>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2><strong>{{'TITLE_ACCOUNT'| translate}}</strong></h2>
                        </div>
                        <div class="body">
                            <div *ngIf="successInformation" class="alert alert-success">
                                {{successInformation | translate}}
                            </div>
                            <div *ngIf="errorInformation" class="alert alert-danger">
                                {{errorInformation | translate}}
                            </div>
                            <form [formGroup]="informationFormGroup">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control"
                                                placeholder="{{'FIELD_FIRSTNAME' | translate }}" formControlName="name">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control"
                                                placeholder="{{'FIELD_LASTNAME' | translate }}"
                                                formControlName="lastName">
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12">
                                        <div class="form-group">
                                            <input type="text" class="form-control"
                                                placeholder="{{'FIELD_PHONE_NUMBER' | translate }}"
                                                formControlName="phoneNumber">
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button (click)="submitInformationForm()"
                                            [disabled]="!informationFormGroup.valid"
                                            class="btn btn-primary btn-round">{{'BTN_SAVE_MODIFICATION' | translate}}</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>