/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import 'node_modules/angular2-toaster/src/toaster';

.pac-container:after{
    content:none !important;
}

.bootstrap-select {
    border: none !important;
    padding: 0 !important;
}

.btn.dropdown-toggle.bs-placeholder.btn-round.btn-simple{
    display:none !important;
}

button:disabled,
button[disabled]{
    border: none;
    background-color: #cccccc !important;
    color: #666666 !important;
}

.sidebar .user-info .image img:focus{
    outline: -webkit-focus-ring-color auto 0px;
}
.sidebar .user-info .image img, .pointer-link, .member-card .member-img img{
    cursor: pointer;
}

.break-word{
    word-break: break-word;
    max-width: 204px;
}


  .ng-tooltip {
    position: absolute;
    max-width: 150px;
    font-size: 14px;
    text-align: center;
    color: #f8f8f2;
    padding: 3px 8px;
    background: #282a36;
    border-radius: 4px;
    z-index: 1000;
    opacity: 0;
  }
  .ng-tooltip:after {
    content: "";
    position: absolute;
    border-style: solid;
  }
  .ng-tooltip-top:after {
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: black transparent transparent transparent;
  }
  .ng-tooltip-bottom:after {
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-color: transparent transparent black transparent;
  }
  .ng-tooltip-left:after {
    top: 50%;
    left: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent transparent transparent black;
  }
  .ng-tooltip-right:after {
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-color: transparent black transparent transparent;
  }
  .ng-tooltip-show {
    opacity: 1;
  }