:host {
    ::ng-deep.mat-pseudo-checkbox{
      display: none !important;
    }
}

.mat-list-option{
  height: 100% !important;
}

#listShops.mat-selection-list{
  max-height: 400px;
  overflow: overlay;
}
.mat-selection-list::-webkit-scrollbar {
    display: none;
}

mat-list-option[aria-selected="true"] {
  background: #54bbec59;
}

#productList{
  max-height: 975px;
  overflow-y: scroll;
}
#productList::-webkit-scrollbar {
    display: none;
}

#productList, #shoppingCart{
  max-height: 975px;
  overflow: overlay;
}

.scan-prompt-not-display{
  position: absolute;
  height: 0%;
  top: 0;
  width: 100%;
  opacity: 0;
  left: 0;
}

::ng-deep .mat-horizontal-stepper-header{
  pointer-events: none !important;
}

.img-product{
  width:140px;
}

.category{
  text-align: center;
  padding: 12px;
  border-radius: 20px;
  cursor: pointer;
}

.selected-cat{
  background-color: #54BBEC;
  padding: 12px;
  border-radius: 20px;
}

.selected-cat .label-shop{
  color: white;
}

.prev{
  margin-right: 20px;
}

.btn-nextStep:hover
{
    background-color:#ea2c9299!important;
}

@media screen and (max-width: 575.98px){
 	.row-responsive{
 		 display:block!important;
 	}
 	.col-responsive{
 	  max-width: 100%;
 	}
 	.btn-nextStep{
 	  width: 100%!important;
 	}
 	.row-offset-responsive
 	{
 	  padding-top: 10%;
 	}
 	.responsive_category
 	{
 	  width: 30%!important;
 	}

 	.apercu-medic-responsive
 	{
 	  width: 100%!important;
 	}
 }
.form-row{
   padding: 10px;
 }

 .StripeElement {
   width: 100%;
   background-color: white;
   padding: 8px 12px;
   border-radius: 4px;
   border: 1px solid transparent;
   box-shadow: 0 1px 3px 0 #e6ebf1;
   -webkit-transition: box-shadow 150ms ease;
   transition: box-shadow 150ms ease;
 }

 .StripeElement--focus {
   box-shadow: 0 1px 3px 0 #cfd7df;
 }

 .StripeElement--invalid {
   border-color: #fa755a;
 }

 .StripeElement--webkit-autofill {
   background-color: #fefde5 !important;
 }

.input-icons i {
  position: absolute;
}

.input-icons {
  width: 100%;
  margin-bottom: 10px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.input-field {
  width: 100%;
  padding: 10px;
  text-align: center;
}
