<head> <meta name="viewport" content="width=device-width"/></head>
<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">{{'TITLE_COMMAND' | translate}}</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-page-main-wrapper">
  <mat-horizontal-stepper linear #stepper>
    <mat-step [completed]="true">
      <ng-template matStepLabel>Choissisez votre pharmacie</ng-template>
      <div class="container" #selectShop style="margin-left: 0%; max-width: 100%;">
        <div class="row justify-content-center row-responsive" style="margin-bottom:2%;">
          <input type="text" [(ngModel)]="searchMerchant" class="form-control form-white" name="searchMerchant"  style="margin: auto;"
                 placeholder="{{'SEARCH_MERCHANT' | translate}}" (keyup)="onSearchTextChange($event)">
        </div>
        <div class="row justify-content-center row-responsive" style="display: -webkit-box;">
          <div class="col-9 col-responsive">
            <div #map id="map" style="height: 600px;"></div>
          </div>

          <div class="col-3 col-responsive">
            <!-- <h3>Filtrer par catégorie:</h3>-->
            <div class="row" >
              <!--
              <div *ngFor="let category of categories" class="col-4 category" (click)="categoryChange(category)"
                   [class.selected-cat]="category.value === categorySelected">
                <h5 class="label-shop">{{category.label | translate}}</h5>

              </div>  -->
              <div>
              <span *ngIf="merchantList.length === 0"
                    style=" color: #B7B7B7; font-weight: 600; font-size: 15px;">{{'NO_RESULT' |
                translate}}</span>
                <mat-selection-list id="listShops" #listShops (selectionChange)="onChangeShops()" style="max-height: 600px;">
                  <mat-list-option *ngFor="let merchant of merchantList" [value]="merchant" style="margin-bottom: 40px;">
                    <a class="payment-options-list disabled href-decoration-none"
                       style="display: flex; flex-direction: column; color: #B7B7B7; font-size: 16px; font-weight: 600; text-align: center;">
                  <span style="display: flex;">
                    <span class="icon" style="width: 230px; height: auto;">
                      <img style="width: 100%;"
                           src="{{merchant.urlAvatar?merchant.urlAvatar:'assets/images/stand.svg'}}" alt="pills icon">
                    </span>
                    <span>
                      {{merchant.name}}<br>
                      {{merchant.favoriteAddress.fullAddress}}<br>
                    </span>
                  </span>
                      <mat-chip-list style="margin-top: 10px;">
                        <mat-chip *ngIf="merchant.isOpen === true" style="background-color: lightgreen;color: white;">
                          {{'OPEN' | translate}}
                        </mat-chip>
                        <mat-chip *ngIf="merchant.isOpen === false" style="background-color:#D8418F; color: white;">
                          {{'CLOSE' | translate}}
                        </mat-chip>
                      </mat-chip-list>
                      <span style="text-align: center;">
                    <span *ngIf="merchant.isOpen === undefined" style="color: #D8418F;">
                      {{'PLANNING_NOT_FILLED' | translate}}
                    </span>
                  </span>
                      <span *ngIf="merchant.isOpen !== undefined">
                    <button style="margin-bottom: 5px; font-weight: 400; margin-top: 10px;" type="button"
                            class="btn btn-primary w-100 text-uppercase btn-accept"
                            (click)="displayPlanning($event, merchant.openingTime)">{{'PLANNING' |
                      translate}}</button>
                  </span>
                    </a>
                  </mat-list-option>
                  <button *ngIf="total > limit" class="btn btn-submit" style="width: 90%; margin: auto;"
                          (click)="loadMore()">{{'BTN_MORE' | translate}}</button>
                </mat-selection-list>
              </div>
            </div>
          </div>




      </div>

        <div class="row justify-content-center row-responsive" style="margin-top:2%;">
          <button class="btn btn-submit btn-nextStep red "  style="width: 80%; margin: auto;"
                  (click)="goCustomerInformation(stepper)">{{'NEXT_STEP' | translate}}</button>
        </div>

        <!--
        <div class="row justify-content-center row-responsive">
          <div class="col-8 col-responsive" >
            <div>
              <div class="row">-->
                <!--
                <div [hidden]="!hideListAddresses" class="col-6">
                  <input type="text" class="form-control form-white" name="fullAddress"
                    placeholder="{{'FIELD_FULL_ADDRESS' | translate}}" #address>
                </div>
                -->
        <!--
                <div [hidden]="hideListAddresses" class="col-6">
                  <p *ngIf="myAddresses.length === 0">
                    Vous n'avez aucune adresse enregistrée
                  </p>
                  <select style="height: 100%; max-height: 66px;" *ngIf="myAddresses.length > 0" class="form-control"
                    (change)="onChangeAddressAlreadyExist($event)" [(ngModel)]="stockedAddress">
                    <option *ngFor="let address of myAddresses" [ngValue]="address"
                      [selected]="stockedAddress && stockedAddress._id === address._id">
                      {{address.fullAddress}}
                    </option>
                  </select>
                </div>
                <div class="col-6">
                -->
                  <!--
                  <button [hidden]="!hideListAddresses"
                    style="margin-right: 10px; background-color: #54BBEC; color: #fff; margin-bottom: 20px;"
                    type="submit" (click)="showListAddresses()" class="btn btn-submit">
                    {{'USE_ADDRESSE_ALREADY_EXIST' | translate }}
                  </button>
                  -->
        <!--
                  <button [hidden]="hideListAddresses"
                    style="margin-right: 10px; background-color: #54BBEC; color: #fff; margin-bottom: 20px;"
                    type="submit" (click)="enterNewAddress()" class="btn btn-submit">
                    {{'USE_NEW_ADDRESS' | translate }}
                  </button>
                </div>
              </div>
            </div>
            <div #map id="map"></div>
          </div>


          <div class="col-4 col-responsive">
            <div class="row" style="margin-bottom: 19%;">
              <div class="col-12">
                <input type="text" [(ngModel)]="searchMerchant" class="form-control form-white" name="searchMerchant"
                  placeholder="{{'SEARCH_MERCHANT' | translate}}" (keyup)="onSearchTextChange($event)"> -->
                <!--
                <div id="cover" style="margin-top:0%">
                  <div class="td"><input type="text" [(ngModel)]="searchMerchant" class="form-control form-white" name="searchMerchant"
                                         placeholder="{{'SEARCH_MERCHANT' | translate}}" (keyup)="onSearchTextChange($event)"></div>
                  <div class="td" >
                    <div class="buttonSearch">
                      <div id="s-circle"></div>
                      <span></span>
                    </div>
                  </div>


                </div>
                -->
          <!--
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h3>Filtrer par catégorie:</h3>
              </div>
              <div *ngFor="let category of categories" class="col-4 category" (click)="categoryChange(category)"
                [class.selected-cat]="category.value === categorySelected">
                <h5 class="label-shop">{{category.label | translate}}</h5>
              </div>
            </div>
            <div>
              <span *ngIf="merchantList.length === 0"
                style=" color: #B7B7B7; font-weight: 600; font-size: 15px;">{{'NO_RESULT' |
                translate}}</span>
            </div>
            <mat-selection-list id="listShops" #listShops (selectionChange)="onChangeShops()">
              <mat-list-option *ngFor="let merchant of merchantList" [value]="merchant" style="margin-bottom: 40px;">
                <a class="payment-options-list disabled href-decoration-none"
                  style="display: flex; flex-direction: column; color: #B7B7B7; font-size: 16px; font-weight: 600; text-align: center;">
                  <span style="display: flex;">
                    <span class="icon" style="width: 230px; height: auto;">
                      <img style="width: 100%;"
                        src="{{merchant.urlAvatar?merchant.urlAvatar:'assets/images/stand.svg'}}" alt="pills icon">
                    </span>
                    <span>
                      {{merchant.name}}<br>
                      {{merchant.favoriteAddress.fullAddress}}<br>
                    </span>
                  </span>
                  <mat-chip-list style="margin-top: 10px;">
                    <mat-chip *ngIf="merchant.isOpen === true" style="background-color: lightgreen;color: white;">
                      {{'OPEN' | translate}}
                    </mat-chip>
                    <mat-chip *ngIf="merchant.isOpen === false" style="background-color:#D8418F; color: white;">
                      {{'CLOSE' | translate}}
                    </mat-chip>
                  </mat-chip-list>
                  <span style="text-align: center;">
                    <span *ngIf="merchant.isOpen === undefined" style="color: #D8418F;">
                      {{'PLANNING_NOT_FILLED' | translate}}
                    </span>
                  </span>
                  <span *ngIf="merchant.isOpen !== undefined">
                    <button style="margin-bottom: 5px; font-weight: 400; margin-top: 10px;" type="button"
                      class="btn btn-primary w-100 text-uppercase btn-accept"
                      (click)="displayPlanning($event, merchant.openingTime)">{{'PLANNING' |
                      translate}}</button>
                  </span>
                </a>
              </mat-list-option>
              <button *ngIf="total > limit" class="btn btn-submit" style="width: 90%; margin: auto;"
                (click)="loadMore()">{{'BTN_MORE' | translate}}</button>
            </mat-selection-list>
          </div>
        </div>
        <div class="row justify-content-right">
          <div class="col-8 col-responsive">
            <button class="btn btn-submit btn-nextStep red " style="width: 100%; margin: auto;"
              (click)="goCustomerInformation(stepper)">{{'NEXT_STEP' | translate}}</button>
          </div>

        </div>
         -->
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Boutique Parapharmacie</ng-template>
      <div class="container" #shop style="margin-left:0%;max-width: 100%;">
        <div class="row">
          <div class="col-12">
            <div id="selectCategory" style="font-size: 18px;">
              <mat-selection-list #listCategories (selectionChange)="onChangeCategory()">
                <mat-list-option *ngFor="let category of categoriesProduct" [value]="category" class="responsive_category"
                                 style="margin-bottom: 10px;    width: 12%; display: inline-block;box-shadow: 0px 1px 20px 2px rgb(0 12 31 / 8%);margin: 0% 1% 1% 1%;padding-top: 0.5%;">
                  <div class="border-bottom-pr imary"   style="padding-bottom: 10%;width: 100%;">

                    <a class="href-decoration-none home-options-list" style="font-weight: 600; color: #D8418F">

                      <!--{{category | translate}}-->
                      <img src="assets/images/command/categories/{{category}}.png" > <span style="margin-left:5%">{{category | translate}}</span> <br>
                      <span style="font-size:80%;"></span>
                      <!--
                      <span class="icon choose float-right">
                        <span class="fas fa-chevron-right icon-color"></span>
                      </span>
                      -->

                    </a>
                  </div>
                </mat-list-option>
              </mat-selection-list>
              <input [(ngModel)]="searchProduct" class="form-control" type="search"
                     placeholder="{{'SEARCH' | translate}}" (keyup)="onSearchProductTextChange($event)">
            </div>
          </div>
        </div>
        <div class="row row-responsive" style="margin-top: 40px;">
          <div class="col-2 col-responsive"  style="padding-left: 0%;padding-right: 0%;">
            <div class="row justify-content-center" style="margin-top: 20px;">
            <button type="button" class="col-8 btn btn-primary w-100 text-uppercase btn-accept"
                    (click)="fileInputPrescription.click()">
              {{'ADD_JUSTIFICATION_FILE' | translate}}</button>
            <input class="scan-prompt-not-display" type="file" accept="image/*"
                   (change)="changeFile($event, 'socialSecurityNumber')" #fileInputPrescription>
            <div class="row justify-content-center">
              <img class="col-6" *ngIf="images.length > 0" [src]="urlOrder" />
            </div>

              <button *ngIf="images.length > 0" type="button"
                      class="col-8 btn btn-primary w-100 text-uppercase btn-accept" (click)="deleteImageOrder(indexOrder)">
                <span class="fas fa-trash"></span> {{'DELETE_THIS_ORDER' | translate}}</button>
            </div>
            <!--
            <div id="selectCategory" style="font-size: 18px;">

              <input [(ngModel)]="searchProduct" class="form-control" type="search"
                placeholder="{{'SEARCH' | translate}}" (keyup)="onSearchProductTextChange($event)">

              <mat-selection-list #listCategories (selectionChange)="onChangeCategory()">
                <mat-list-option *ngFor="let category of categoriesProduct" [value]="category"
                  style="margin-bottom: 10px;">
                  <div class="border-bottom-primary"   style="padding-bottom: 10%;">
                    <a class="href-decoration-none home-options-list" style="font-weight: 600; color: #D8418F">
                      {{category | translate}}
                      <img src="assets/images/command/categories/{{category}}.png" >
                      <span class="icon choose float-right">
                        <span class="fas fa-chevron-right icon-color"></span>
                      </span>
                    </a>
                  </div>
                </mat-list-option>
              </mat-selection-list>
            </div>-->
          </div>
          <div class="col-8 col-responsive">
            <div id="productList" style="max-height: 1321px;">
              <span *ngIf="!selectedCategory"
                style=" color: #B7B7B7; font-weight: 600; font-size: 15px;">{{'NO_SELECTED_CATEGORY' |
                translate}}</span>
              <span *ngIf="selectedCategory && productList.length === 0"
                style=" color: #B7B7B7; font-weight: 600; font-size: 15px; ">{{'NO_PRODUCT_IN_CATEGORY' |
                translate}}</span>

              <div class="row">
              <div *ngFor="let product of productList;let index=index;"  style="display: inline-block;width: 25%;margin-left: 3%;height: 50%;margin-right: 3%;" class="apercu-medic-responsive">
                <div class="payment-options-list disabled href-decoration-none"
                  style="display: flex;flex-direction: column;
                                color: #B7B7B7; margin: 16px 0px; font-size: 18px; border-bottom: 0px;    box-shadow: 0px 1px 20px 2px rgb(0 12 31 / 8%);">
                  <div class="icon" style="width: 100%; text-align: center;">
                    <img class="img-product" src="{{product.url?product.url:'assets/images/pills.svg'}}"
                      alt="pills icon">
                  </div>
                  <h5 style="text-align: center;height: 100px;">{{product.label}}</h5>


                    <div class="accordion">
                      <div  class="card" style="margin-bottom: 20px;border: 0;">
                        <div class="accordion-header" id="accordionHeading{{index + 'cancellation'}}">
                          <h5 class="mb-0">
                            <button class="accordion-btn collapsed" type="button" data-toggle="collapse" [attr.data-target]="'#accordionItem' + index  + 'cancellation'"
                                    aria-expanded="false" [attr.aria-controls]="'accordionItem' + index  + 'cancellation'" style="padding-left: 3%;">
                              <span style="color:#b9b9b9;text-align:center;"><h3> description </h3> </span>
                              <span class="accordion-arrow"><i class="arrow_carrot-down" style="color: #54BBEC; background-color: #eff2f7;"></i></span>
                            </button>
                          </h5>
                        </div>
                        <div id="accordionItem{{index  + 'cancellation'}}" class="collapse" [attr.aria-labelledby]="'accordionHeading' + index  + 'cancellation'"
                             data-parent="#iconicAccordion">
                          <div class="card-body " style="font-size: 16px;">
                            {{product.description}}
                          </div>
                        </div>
                      </div>
                    </div>

                  <button class="btn btn-submit" style="width: 90%; margin: auto; margin-top: 20px;"
                    (click)="addProduct(product)"> {{'BTN_ADD_TO_BASKET' | translate}}</button>
                </div>
                </div>
              </div>
            </div>

          </div>
          <div class="col-2 col-responsive" id="shoppingCart">
            <h4>Votre panier</h4>
            <span *ngIf="listProductSelectedDisplay.length === 0"
              style=" color: #B7B7B7; font-weight: 600; font-size: 15px; ">{{'EMPTY_SHOPPING_CART' |
              translate}}</span>
            <div *ngFor="let product of listProductSelectedDisplay">
              <div>
                <div class="payment-options-list disabled href-decoration-none"
                  style="display: flex;
                          flex-direction: row; justify-content: space-between; color: #B7B7B7; margin: 16px 0px; font-size: 18px;">
                  <div>
                    <span><strong>{{product.label}}</strong></span><br>
                    <span>Quantité: {{product.quantity}}</span>
                  </div>
                  <i (click)="deleteProduct(product)" class="fas fa-trash"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center row-responsive" style="margin-top: 40px;">
          <div class="col-6 col-responsive">
            <button class="btn btn-submit " style="width: 90%; margin: auto;"
              (click)="goBack(stepper)">{{'BTN_RETURN' | translate}}</button>
          </div>
          <div class="col-6 col-responsive" style="text-align: center;">
            <button class="btn btn-submit red " (click)="goToLastStep(stepper)" style="width: 100%;">{{'BTN_GO_TO_LAST_STEP' |     translate}}</button>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Vos informations</ng-template>
      <div class="container" #formDelivery>
        <div class="row justify-content-center full-width" style="margin-bottom: 10px;">
          <div class="col-md-6">

            <form [formGroup]="deliveryFormGroup">
              <input id="phone-input-command" formControlName="phoneNumber" type="text" class="form-control"
                     placeholder="{{'FIELD_PHONE_NUMBER' | translate}}" style="border-color: #d8418f;">
              <div
                *ngIf="fieldsRegisterFrm('phoneNumber').invalid && (fieldsRegisterFrm('phoneNumber').dirty || fieldsRegisterFrm('phoneNumber').touched)">
                <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('phoneNumber').errors.required">
                  {{'FIELD_PHONENUMBER_REQUIRED' | translate}}
                </p>
              </div>
              <!--
              <div class="row" style="margin-bottom: 20px;">
                <div class="col-lg-12">
                  <input id="phone-input-command" formControlName="phoneNumber" type="text" class="form-control"
                         placeholder="{{'FIELD_PHONE_NUMBER' | translate}}" style="border-color: #d8418f;">
                  <div
                    *ngIf="fieldsRegisterFrm('phoneNumber').invalid && (fieldsRegisterFrm('phoneNumber').dirty || fieldsRegisterFrm('phoneNumber').touched)">
                    <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('phoneNumber').errors.required">
                      {{'FIELD_PHONENUMBER_REQUIRED' | translate}}
                    </p>
                  </div>
                </div>
              </div>
              -->
              <div  style="margin-top: 10px;">
              <div [hidden]="!hideListAddresses" >
                <div class="input-icons">
                  <i class="far fa-solid fa-compass"style="padding-top: 2%;padding-left: 2%;color: #00bdf2;"></i>
                <input   type="text" class="form-control form-white input-field" name="fullAddress"
                       placeholder="{{'FIELD_FULL_ADDRESS' | translate}}" #addressInformation style="border-color: #d8418f;" >
                  </div>
              </div>
              <div [hidden]="hideListAddresses">
                <p *ngIf="myAddresses.length === 0">
                  Vous n'avez aucune adresse enregistrée
                </p>
                <div class="input-icons">
                  <i class="far fa-solid fa-compass" style="padding-top: 2%;padding-left: 2%;color: #00bdf2;"></i>
                <select style="height: 100%; max-height: 66px;border-color: #d8418f;padding-left:7%;" *ngIf="myAddresses.length > 0"
                        class="form-control  input-field" (change)="onChangeAddressAlreadyExist($event)" [(ngModel)]="stockedAddress"
                        [ngModelOptions]="{standalone: true}">
                  <option *ngFor="let address of myAddresses" [ngValue]="address"
                          [selected]="stockedAddress && stockedAddress._id === address._id" >
                    {{address.fullAddress}}
                  </option>
                </select>
                </div>
              </div>

              </div>
              <div  style="margin-top: 10px;">
                <button [hidden]="!hideListAddresses"
                        style="margin-right: 10px; background-color: #d8418f; color: #fff; margin-bottom: 20px;width: 100%;"
                        type="submit" (click)="showListAddresses()" class="btn btn-submit">
                  {{'USE_ADDRESSE_ALREADY_EXIST' | translate }}
                </button>
                <button [hidden]="hideListAddresses"
                        style="margin-right: 10px; background-color: #d8418f; color: #fff; margin-bottom: 20px;width: 100%;"
                        type="submit" (click)="enterNewAddress()" class="btn btn-submit">
                  {{'USE_NEW_ADDRESS' | translate }}
                </button>
              </div>
              <div
                   *ngIf="fieldsRegisterFrm('addressId').invalid && (fieldsRegisterFrm('addressId').dirty || fieldsRegisterFrm('addressId').touched)">
                <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('addressId').errors.required">
                  {{'FIELD_ADDRESS_REQUIRED' | translate}}
                </p>
              </div>

              <div class="alert alert-danger" role="alert" *ngIf="cards.length == 0">
                Aucun moyen de paiement enregistré ! <a routerLink="/cards">Cliquez-ici</a>
              </div>
              <div class="input-icons">
                <i class="far fa-credit-card"style="padding-top: 2%;padding-left: 2%;color: #00bdf2;"></i>
              <select class="form-control  input-field" style="height: 100%; max-height: 66px;border-color: #d8418f;padding-left: 7%;" name="cardId" id="cardId"
                      formControlName="cardId">
                <option [value]="null" disabled selected>Sélectionner votre moyen de paiement</option>
                <option *ngFor="let card of cards" [value]="card.id" >
                  XXXX XXXX XXXX {{card.card.last4 +' / Exp: ' + card.card.exp_month + '/' +
                  card.card.exp_year}}
                </option>
              </select>
              </div>
              <div
                *ngIf="fieldsRegisterFrm('cardId').invalid && (fieldsRegisterFrm('cardId').dirty || fieldsRegisterFrm('cardId').touched)">
                <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('cardId').errors.required">
                  {{'FIELD_CARD_REQUIRED' | translate}}
                </p>
              </div>

              <!--
              <div class="row justify-content-center">
                <div class="col-12">
                  <div class="row">

                    <div [hidden]="!hideListAddresses" class="col-12">
                      <input type="text" class="form-control form-white" name="fullAddress"
                             placeholder="{{'FIELD_FULL_ADDRESS' | translate}}" #addressInformation style="border-color: #d8418f;">
                    </div>
                    <div [hidden]="hideListAddresses" class="col-12">
                      <p *ngIf="myAddresses.length === 0">
                        Vous n'avez aucune adresse enregistrée
                      </p>
                      <select style="height: 100%; max-height: 66px;" *ngIf="myAddresses.length > 0"
                              class="form-control" (change)="onChangeAddressAlreadyExist($event)" [(ngModel)]="stockedAddress"
                              [ngModelOptions]="{standalone: true}">
                        <option *ngFor="let address of myAddresses" [ngValue]="address"
                                [selected]="stockedAddress && stockedAddress._id === address._id">
                          {{address.fullAddress}}
                        </option>
                      </select>
                    </div>
                    <div class="col-12" style="margin-top: 10px;">
                      <button [hidden]="!hideListAddresses"
                              style="margin-right: 10px; background-color: #d8418f; color: #fff; margin-bottom: 20px;width: 100%;"
                              type="submit" (click)="showListAddresses()" class="btn btn-submit">
                        {{'USE_ADDRESSE_ALREADY_EXIST' | translate }}
                      </button>
                      <button [hidden]="hideListAddresses"
                              style="margin-right: 10px; background-color: #d8418f; color: #fff; margin-bottom: 20px;width: 100%;"
                              type="submit" (click)="enterNewAddress()" class="btn btn-submit">
                        {{'USE_NEW_ADDRESS' | translate }}
                      </button>
                    </div>
                    <div class="col-12"
                         *ngIf="fieldsRegisterFrm('addressId').invalid && (fieldsRegisterFrm('addressId').dirty || fieldsRegisterFrm('addressId').touched)">
                      <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('addressId').errors.required">
                        {{'FIELD_ADDRESS_REQUIRED' | translate}}
                      </p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-12">
                      <div class="alert alert-danger" role="alert" *ngIf="cards.length == 0">
                        Aucun moyen de paiement enregistré ! <a routerLink="/cards">Cliquez-ici</a>
                      </div>
                      <select class="form-control" style="height: 100%; max-height: 66px;" name="cardId" id="cardId"
                              formControlName="cardId">
                        <option [value]="null" disabled selected>Sélectionner votre moyen de paiement</option>
                        <option *ngFor="let card of cards" [value]="card.id">
                          XXXX XXXX XXXX {{card.card.last4 +' / Exp: ' + card.card.exp_month + '/' +
                          card.card.exp_year}}
                        </option>
                      </select>
                      <div
                        *ngIf="fieldsRegisterFrm('cardId').invalid && (fieldsRegisterFrm('cardId').dirty || fieldsRegisterFrm('cardId').touched)">
                        <p class="text-danger text-required" *ngIf="fieldsRegisterFrm('cardId').errors.required">
                          {{'FIELD_CARD_REQUIRED' | translate}}
                        </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>-->
              <div class="row" style="margin-top: 20px;">
                <div class="col-lg-6">
                  <input type="text" class="form-control form-white" formControlName="codePromo"
                         placeholder="{{'FIELD_CODE_PROMOTION' | translate}}" style="border-color: #d8418f;">
                </div>
              </div>
              <div class="row" style="margin-top: 50px;">
                <div class="col-12">
                  Vous avez la possibilité de planifier une commande.
                  <br>
                  Votre demande de livraison sera envoyée au
                  marchand à la date et l'heure que vous aurez renseigné.
                </div>
              </div>
              <div class="row" style="margin-top: 10px;">
                <div class="col-8">
                  <mat-form-field class="datetime-picker form-control">
                    <input matInput [ngxMatDatetimePicker]="picker" placeholder="Sélectionner une date"
                           formControlName="deliveryDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <ngx-mat-datetime-picker #picker>
                    </ngx-mat-datetime-picker>
                  </mat-form-field>
                </div>
              </div>
            </form>
          </div>
          <div class="col-lg-5 offset-1 row-offset-responsive">
            <div class="font-weight-light wishes-main-text" style="text-align: center;">
              <div class="row justify-content-center" style="margin-bottom: 20px;">
                <div class="input-icons">
                  <i class="fas fa-plus" style="padding-top: 2.5%;padding-left: 2%;color: #00bdf2;"></i>
                <button type="button" class="col-8 btn btn-primary w-100 text-uppercase btn-accept input-field"
                        (click)="fileInputPrescription.click() " style="border-color: #d8418f;">
                  {{'ADD_JUSTIFICATION_FILE' | translate}}</button></div>
                <input class="scan-prompt-not-display" type="file" accept="image/*"
                       (change)="changeFile($event, 'socialSecurityNumber')" #fileInputPrescription>
              </div>

              <div class="row justify-content-center" style="margin-bottom: 20px;">
                <div class="input-icons">
                  <i class="fas fa-plus" style="padding-top: 2.5%;padding-left: 2%;color: #00bdf2;"></i>
                <button type="button" class="col-8 btn btn-primary w-100 text-uppercase btn-accept input-field"
                        (click)="fileInputPrescription.click()" style="border-color: #d8418f;">
                  {{'Ajouter votre attestation de droit' | translate}}</button></div>
                <a href="https://www.ameli.fr/" target="_blank">
                  <div class="input-icons">
                    <i class="fas fa-globe" style="padding-top: 2.5%;padding-left: 2%;"></i>
                    <button type="button" class="col-8 btn btn-primary w-100 text-uppercase btn-accept input-field" style="border-color: #d8418f;"> {{'Site Ameli' | translate}}</button></div></a>
                <input class="scan-prompt-not-display" type="file" accept="image/*"
                       (change)="changeFile($event, 'socialSecurityNumber')" #fileInputPrescription>
              </div>

              <div class="row" *ngIf="images.length > 1">
                <div class="col-12">
                  <button style="margin-right: 10px; background-color: #54BBEC; color: #fff; margin-bottom: 20px;"
                          (click)="prevOrder()" class="col-5 btn btn-submit" [disabled]="indexOrder === 0">
                    <span class="icon-arrow-left"></span> Précédente
                  </button>
                  <button style="margin-right: 10px; background-color: #54BBEC; color: #fff; margin-bottom: 20px;"
                          (click)="nextOrder()" class="col-5 btn btn-submit" [disabled]="indexOrder+1 >= images.length">
                    Suivante <span class="icon-arrow-right"></span></button>
                </div>
              </div>



              <div *ngIf="images.length === 0" class="col-12" style="padding: 15px;">
                {{'NO_UPLOADED_ORDER' | translate}}</div>

              <div class="row justify-content-center">
                <img class="col-6" *ngIf="images.length > 0" [src]="urlOrder" />
              </div>
              <div class="row justify-content-center" style="margin-top: 20px;">
                <button *ngIf="images.length > 0" type="button"
                        class="col-8 btn btn-primary w-100 text-uppercase btn-accept" (click)="deleteImageOrder(indexOrder)">
                  <span class="fas fa-trash"></span> {{'DELETE_THIS_ORDER' | translate}}</button>
              </div>
              <div class="container">

                    <form action="/" method="post" id="payment-form">

                      <div class="form-row">
                        <div id="card-element">
                          <!-- a Stripe Element will be inserted here. -->
                        </div>

                        <!-- Used to display Element errors -->
                        <div id="card-errors" role="alert"></div>
                      </div>

                      <div class="text-center">
                        <button class="col-4" type="submit" class="btn btn-submit">
                          {{'BTN_SUBMIT' | translate }}
                        </button>
                      </div>
                    </form>

              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-right">
          <div class="col-6">
            <button class="btn btn-submit " style="width: 90%; margin: auto;"
                    (click)="goBack(stepper)">{{'BTN_RETURN' | translate}}</button>
          </div>
          <div class="col-6">
            <button class="btn btn-submit red" style="width: 90%; margin: auto;"
                    (click)="confirmInformation(stepper)">{{'BTN_CONFIRM_INFORMATION' | translate}}</button>
          </div>
        </div>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Récapitulatif</ng-template>
      <div class="container" #recap>
        <div class="row row-responsive">
          <div class="col-9 col-responsive">
            <div class="row" *ngIf="selectedMerchant">
              <div class="col-3 col-responsive">
                <img src="assets/images/command/livmeds_pharmacie_livraison.png" >
              </div>
              <div class="col-9 col-responsive">
                <ul class="no-dot">
                  <li><strong>Nom: </strong>{{selectedMerchant.name}}</li>
                  <li><strong>Adresse: </strong>{{selectedMerchant.favoriteAddress.fullAddress}}</li>
                </ul>
              </div>
            </div>

            <div class="row row-responsive" *ngIf="stockedAddress">
              <div class="col-3 col-responsive">
                <img src="assets/images/command/7.png">
              </div>
              <div class="col-9 col-responsive" style="margin-top: 4%;">
                <ul class="no-dot">
                  <li><strong>Adresse: </strong>{{stockedAddress.fullAddress}}</li>
                  <li><strong>Numéro de téléphone: </strong>{{deliveryFormGroup.value.phoneNumber}}</li>
                  <li><strong>Moyen de paiement: </strong>{{getCardLabel(deliveryFormGroup.value.cardId)}}</li>
                </ul>
              </div>
            </div>
            <div class="row justify-content-center">
              <div class="col-3 col-responsive">
                <img src="assets/images/command/9.png">
              </div>
              <div class="col-9 col-responsive" style="margin-top: 4%;">
                <div *ngIf="images.length === 0">
                  {{'NO_UPLOADED_ORDER' | translate}}
                </div>

                <div class="font-weight-light wishes-main-text">
                  <a class="prev" (click)="prevOrder()" *ngIf="indexOrder > 0">
                    <span class="fas fa-backward"></span>
                  </a>
                  <a class="next" (click)="nextOrder()" *ngIf="indexOrder+1 < images.length">
                    <span class="fas fa-forward"></span>
                  </a>

                  <div class="row justify-content-center row-responsive">
                    <img class="col-6" *ngIf="images.length > 0" [src]="urlOrder" />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3 col-responsive" id="shoppingCart">
           <h4 style="color: #ea2c92;border: solid;border-right: none;border-color: #00bdf2;border-left: none;"> <img src="assets/images/command/8.png" >Votre panier</h4>
            <span *ngIf="listProductSelectedDisplay.length === 0"
              style=" color: #B7B7B7; font-weight: 600; font-size: 15px;padding-left: 50%; ">{{'EMPTY_SHOPPING_CART' |
              translate}}</span>
            <div *ngFor="let product of listProductSelectedDisplay">
              <div>
                <div class="payment-options-list disabled href-decoration-none"
                  style="display: flex;
                          flex-direction: row; justify-content: space-between; color: #B7B7B7; margin: 16px 0px; font-size: 18px;">
                  <div>
                    <span><strong>{{product.label}}</strong></span><br>
                    <span>Quantité: {{product.quantity}}</span>
                  </div>
                  <i (click)="deleteProduct(product)" class="fas fa-trash"></i>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center row-responsive">
          <div class="col-9 col-responsive" style="border:solid;    border-color: #d8418f;">
            <p>
              Le montant total de votre commande sera disponible après le traitement de l'officine. Lorsque la pharmacie aura traitée cette dernière,
              il suffira simplement de valider le montant de la commande et un livreur est alors mandaté.<img src="assets/images/command/10.png" style="    width: 10%;">
            </p>
          </div>
        </div>
        <div class="row justify-content-right" style="margin-top: 40px;">
          <div class="col-6 col-responsive">
            <button class="btn btn-submit " style="width: 90%; margin: auto;"
              (click)="goBack(stepper)">{{'BTN_RETURN' | translate}}</button>
          </div>
          <div class="col-6 col-responsive">
            <button class="btn btn-submit red" style="width: 90%; margin: auto;"
              (click)="confirmCommand()">{{'BTN_CONFIRM_COMMAND' | translate}}</button>
          </div>

        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
