<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>{{'TITLE_MANAGE_BLOG' | translate}}
                <small class="text-muted">{{'SUBTITLE_MANAGE_BLOG' | translate }}</small>
            </h2>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row clearfix">
        <div class="col-lg-12">
            <div [hidden]="hideEditForm" class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>{{titleForm.label | translate:titleForm.params}}</strong></h2>
                            <ul class="header-dropdown">
                                <li class="remove">
                                    <a role="button" class="boxs-close"><i class="zmdi zmdi-close"
                                            (click)="closeEdit()"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="body">
                            <form [formGroup]="topicFormGroup">
                                <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">
                                    <input type="text" class="form-control col-3 col-sm-3 inline-block" name="title"
                                        placeholder="{{'FIELD_TOPIC_TITLE' | translate }}" formControlName="title" />
                                </div>
                                <div class="row justify-content-md-center" style="margin-top: 10px;">
                                    <div class="col-4 col-sm-4">
                                        <select *ngIf="categories.length > 0" class="form-control show-tick"
                                            name="category" id="category" formControlName="category">
                                            <option [value]="">{{'DEFAULT_PLEASE_SELECT_CAT' | translate}}</option>
                                            <option *ngFor="let categorie of categories" [value]="categorie._id">
                                                {{categorie.title | translate }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center" style="margin-top: 10px;">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <textarea name="description" formControlName="description" rows="4"
                                                class="form-control no-resize"
                                                placeholder="{{'FIELD_TOPIC_QUESTION' | translate }}"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">
                                    <button (click)="submitForm()" type="button" [disabled]="!topicFormGroup.valid"
                                        class="col-6btn btn-raised btn-success btn-round waves-effect">{{'CONFIRM' | translate}}</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div [hidden]="hideManageMessage" class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>{{'TITLE_MANAGE_MESSAGES' | translate}}</strong></h2>
                            <ul class="header-dropdown">
                                <li class="remove">
                                    <a role="button" class="boxs-close"><i class="zmdi zmdi-close"
                                            (click)="closeManageMessage()"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="body table-responsive">
                            <form [formGroup]="messageFormGroup">
                                <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">
                                    <input type="text" class="form-control col-3 col-sm-3 inline-block" name="message"
                                        placeholder="{{'FIELD_MESSAGE' | translate }}" formControlName="content" />
                                </div>
                                <div class="row justify-content-md-center" style="margin-top: 10px; height: 2.375rem;">
                                    <button (click)="submitAddMessage()" type="button"
                                        [disabled]="!messageFormGroup.valid"
                                        class="col-3 btn btn-raised btn-success btn-round waves-effect">{{'CONFIRM' | translate}}</button>
                                </div>
                            </form>
                            <table style="margin-top: 10px; height: 2.375rem;"
                                class="table table-hover m-b-0 c_list footable footable-1 footable-paging footable-paging-center breakpoint breakpoint-md">
                                <thead>
                                    <tr class="footable-header">
                                        <th class="footable-sortable" style="display: table-cell;">
                                            {{'FIELD_MESSAGE' | translate}}<span class="fooicon fooicon-sort"></span>
                                        </th>
                                        <th data-breakpoints="xs" class="footable-sortable"
                                            style="display: table-cell;">
                                            {{'FIELD_AUTHOR' | translate}}<span class="fooicon fooicon-sort"></span>
                                        </th>
                                        <th data-breakpoints="xs sm md" class="footable-sortable">
                                            {{'FIELD_CREATION_DATE' | translate}}<span
                                                class="fooicon fooicon-sort"></span></th>
                                        <th data-breakpoints="xs" class="footable-sortable footable-last-visible"
                                            style="display: table-cell;">{{'COL_ACTION' | translate}}<span
                                                class="fooicon fooicon-sort"></span></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let message of selectedTopicMessages">
                                        <td style="display: table-cell;">
                                            <p class="c_name">
                                                {{message.content}}
                                            </p>
                                        </td>
                                        <td style="display: table-cell;">
                                            <p class="c_name">
                                                {{message.author.lastName}} {{message.author.name}}
                                            </p>
                                        </td>
                                        <td style="display: table-cell;">
                                            <span class="phone">{{ message.insertAt | date:'dd LLLL yyyy HH:mm'}}</span>
                                        </td>
                                        <td class="footable-last-visible" style="display: table-cell;">
                                            <button (click)="deleteMessage(message._id)"
                                                class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round"><i
                                                    class="zmdi zmdi-delete"></i></button>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot></tfoot>
                            </table>
                            <ul class="pagination pagination-primary m-b-0">
                                <li [ngClass]="{'disabled': pageMessages <= 0}" class="page-item"><a class="page-link"
                                        (click)="changePageMessages(pageMessages-1)"><i
                                            class="zmdi zmdi-arrow-left"></i></a>
                                </li>
                                <li class="page-item active"><a class="page-link">{{pageMessages+1}}</a></li>
                                <li class="page-item" *ngIf="((pageMessages + 1 ) * limitMessages) < nbTotalMessages"><a
                                        class="page-link" (click)="changePageMessages(pageMessages+1)"><i
                                            class="zmdi zmdi-arrow-right"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <ul class="row profile_state list-unstyled">
                            <li class="col-lg-6 col-md-6 col-6">
                                <div class="body">
                                    <i class="zmdi zmdi-format-subject col-amber"></i>
                                    <h4>{{nbTotal}}</h4>
                                    <span>{{'NB_POSTS' | translate}}</span>
                                </div>
                            </li>
                            <li class="col-lg-6 col-md-6 col-6">
                                <div class="body">
                                    <i class="zmdi zmdi-comment-text col-red"></i>
                                    <h4>{{nbTotalMessages}}</h4>
                                    <span>{{'NB_COMMENTS' | translate}}</span>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="card action_bar">
                <div class="body">
                    <div class="row clearfix">
                        <div class="col-lg-5 col-md-5 col-6">
                            <div class="input-group search">
                                <input type="text" class="form-control" (change)="setSearchText($event)"
                                    placeholder="{{'SEARCH_INPUT' | translate}}">
                                <span class="input-group-addon">
                                    <i class="zmdi zmdi-search"></i>
                                </span>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-5 col-3">
                            <button (click)="displayAddForm()" type="button"
                                class="btn btn-default btn-icon btn-simple btn-icon-mini btn-round hidden-sm-down">
                                <i class="zmdi zmdi-plus-circle"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-lg-12">
            <div class="card">
                <div class="body table-responsive">
                    <table
                        class="table table-hover m-b-0 c_list footable footable-1 footable-paging footable-paging-center breakpoint breakpoint-md">
                        <thead>
                            <tr class="footable-header">
                                <th class="footable-sortable" style="display: table-cell;">
                                    {{'FIELD_TOPIC_TITLE' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs" class="footable-sortable" style="display: table-cell;">
                                    {{'FIELD_AUTHOR' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs sm md" class="footable-sortable">
                                    {{'FIELD_CREATION_DATE' | translate}}<span class="fooicon fooicon-sort"></span></th>
                                <th data-breakpoints="xs" class="footable-sortable footable-last-visible"
                                    style="display: table-cell;">{{'COL_ACTION' | translate}}<span
                                        class="fooicon fooicon-sort"></span></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td *ngIf="topics.length === 0" colspan="4" style="text-align: center;">{{'NO_DATA' | translate}}</td>
                            </tr>
                            <tr *ngFor="let topic of topics">
                                <td style="display: table-cell;">
                                    <p class="c_name">
                                        {{topic.title}} 
                                        <span class="badge badge-info m-l-10 hidden-sm-down">{{topic.category.title | translate}}</span>
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <p class="c_name">{{topic.author.lastName}} {{topic.author.name}}
                                    </p>
                                </td>
                                <td style="display: table-cell;">
                                    <span class="phone">{{ topic.insertAt | date:'dd LLLL yyyy HH:mm'}}</span>
                                </td>
                                <td class="footable-last-visible" style="display: table-cell;">
                                    <button tooltip="{{'TOOLTIP_EDIT' | translate}}" (click)="displayEditForm(topic)"
                                        class="btn btn-success btn-icon btn-simple btn-icon-mini btn-round"><i
                                            class="zmdi zmdi-edit"></i></button>
                                    <button tooltip="{{'TOOLTIP_DISPLAY_MESSAGES' | translate}}" (click)="displayManageMessage(topic)"
                                        class="btn btn-info btn-icon btn-simple btn-icon-mini btn-round"><i
                                            class="material-icons">message</i></button>
                                    <button tooltip="{{'TOOLTIP_DELETE' | translate}}" (click)="deleteElement(topic._id)"
                                        class="btn btn-danger btn-icon btn-simple btn-icon-mini btn-round"><i
                                            class="zmdi zmdi-delete"></i></button>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot></tfoot>
                    </table>
                </div>
            </div>
            <div class="card" *ngIf="topics.length > 0">
                <div class="body">
                    <ul class="pagination pagination-primary m-b-0">
                        <li class="page-item" [ngClass]="{'disabled': page <= 0}"><a class="page-link"
                                (click)="changePage(page-1)"><i class="zmdi zmdi-arrow-left"></i></a>
                        </li>
                        <li class="page-item active"><a class="page-link">{{page+1}}</a></li>
                        <li class="page-item" *ngIf="((page + 1 ) * limit) < nbTotal"><a class="page-link"
                                (click)="changePage(page+1)"><i class="zmdi zmdi-arrow-right"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>