<div class="page-title bg-img bg-5">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="page-title-content align-items-center">
          <h1 class="page-name">{{eventPolling.myDeliveries.length}} {{'TITLE_NB_DELIVERIES' | translate}}</h1>
          <ol class="breadcrumb">
            <li class="item-current"><span>{{sessionService.currentUser().addresses[0].fullAddress}}</span></li>
          </ol>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="blog-page-main-wrapper">
  <div class="container">

    <!--<div class="row full-width">
      <div class="col-md-4">
        <button routerLink="/create-delivery-btob" class="btn btn-submit">
          {{'BTN_CREATE_DELIVERY_BTOB' | translate}}
        </button>
        <button routerLink="/create-delivery-customer" class="btn btn-submit" style="margin-top:20px;">
          {{'BTN_CREATE_DELIVERY_CUSTOMER' | translate}}
        </button>
        <button routerLink="/deliveries-historical" class="btn btn-submit" style="margin-top:20px;">
          {{'Historique des commandes' | translate}}
        </button>
      </div>
    </div>-->
    <div class="row justify-content-center full-width" style="margin-top: 20px;">
      <div class="col-md-12">
        <div *ngIf="eventPolling.myDeliveries.length === 0" class="main_title">
          <p>{{'NO_REQUESTED_DELIVERIES' | translate}}</p>
        </div>

        <div class="delivery-card" *ngFor="let delivery of eventPolling.myDeliveries">
          <mat-card *ngIf="delivery.status == 'AWAITING_VALIDATION' || delivery.status == 'AWAITING_VALIDATION_AMOUNT' || delivery.status == 'IN_DELIVERY' || delivery.status == 'SCHEDULED'" >
            <mat-card-header *ngIf="!delivery.isBtoB && !delivery.isForCustomer " >
            <div mat-card-avatar class="example-header-image">
              <div class="thumb_strip zoom" style="background-color: white;">
                <img (click)="seeImage('FIELD_CERTIFICATE', delivery.image)" style="width: 100%;"
                    src="{{delivery.urlCertification?delivery.urlCertification:'assets/images/logo.png'}}" alt="">
              </div>
            </div>
            <mat-card-title>
              <h3 *ngIf="delivery.customer.role !== 'ROLE_CUSTOMER'">{{'MEDICAL_ACTOR' | translate}}:
                {{delivery.customer.name + ' ' + delivery.customer.lastName}}</h3>
              <h3 *ngIf="delivery.customer.role !== 'ROLE_CUSTOMER'">{{'CUSTOMER' | translate}}:
                {{delivery.customerOfMerchant.name + ' ' + delivery.customerOfMerchant.lastname}}</h3>

              <h3 *ngIf="delivery.customer.role === 'ROLE_CUSTOMER'">{{'CUSTOMER' | translate}}:
                {{delivery.customer.name + ' ' + delivery.customer.lastName}}</h3>
            </mat-card-title>
            <mat-card-subtitle>{{'DELIVERY_REFERENCE' | translate}}: {{delivery.reference}} -- {{delivery.deliveryDate | date:'dd LLLL yyyy HH:mm'}} --
              {{'STATUS' | translate}}:
              <strong><span [ngClass]="delivery.statusClass">{{delivery.status | translate}}</span></strong>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content *ngIf="!delivery.isBtoB && !delivery.isForCustomer">
            <div *ngIf="delivery.status === 'SCHEDULED'">
              <div class="">
                Livraison planifiée pour : {{delivery.deliveryDate | date:'dd LLLL yyyy HH:mm'}}
              </div>
            </div>
            <div *ngIf="delivery.customer.role !== 'ROLE_CUSTOMER'">
              <div class="location">
                <strong>{{'ADDRESS' | translate}}:</strong> {{delivery.address.fullAddress}}
              </div>
              <div class="location">
                <strong>{{'FIELD_PHONE_NUMBER' | translate}}:</strong> {{delivery.phoneNumber}}
              </div>
            </div>
            <div *ngIf="delivery.customer.role === 'ROLE_CUSTOMER'">
              <div class="location">
                <strong>{{'ADDRESS' | translate}}:</strong> {{delivery.address.fullAddress}}
              </div>
              <div class="location">
                <strong>{{'FIELD_PHONE_NUMBER' | translate}}:</strong> {{delivery.phoneNumber}}
              </div>
            </div>
            <div *ngIf="delivery.deliverer">
              <strong>{{'DELIVERER' | translate}}:</strong> {{delivery.deliverer.lastName + ' ' + delivery.deliverer.name}}
            </div>
            <div class="location" style="margin-top: 10px;">
              <strong>{{'STEPS' | translate}}:</strong>
              <ul>
                <li style="display: block;">{{'PACKAGE_WITH_DELIVERER' | translate}} <i
                    [ngClass]="(delivery.recoveredPackageByDeliverer)?'ok':'no'" class="icon_check_alt2"></i></li>
                <li style="display: block;">{{'PACKAGE_DELIVERED_BY_DELIVERER' | translate}} <i
                    [ngClass]="(delivery.checkDeliverySuccessfullyByDeliverer)?'ok':'no'" class="icon_check_alt2"></i>
                </li>
                <li style="display: block;">{{'PACKAGE_RECEIVED_BY_CUSTOMER' | translate}} <i
                    [ngClass]="(delivery.checkDeliverySuccessfullyByCustomer)?'ok':'no'" class="icon_check_alt2"></i>
                </li>
              </ul>
            </div>
          </mat-card-content>
          <mat-card-actions *ngIf="!delivery.isBtoB && !delivery.isForCustomer">
            <button *ngIf="delivery.customer.role === 'ROLE_CUSTOMER'" style="margin-right: 10px; background-color: #54BBEC; color: #fff; margin-bottom: 20px;"
              type="submit" (click)="seeImage('FIELD_SOCIAL_SECURITY_NUMBER', delivery.customer.socialSecurityNumber)"
              class="btn btn-submit">
              {{'SEE_SECURITY_NUMBER' | translate }}
            </button>
            <button *ngIf="delivery.customer.role === 'ROLE_CUSTOMER'" style="margin-right: 10px; background-color: #54BBEC; color: #fff; margin-bottom: 20px;"
              type="submit" (click)="seeImage('FIELD_MUTUAL', delivery.customer.mutual)" class="btn btn-submit">
              {{'SEE_MUTUAL' | translate }}
            </button>

            <button *ngIf="delivery.customer.role !== 'ROLE_CUSTOMER'" style="margin-right: 10px; background-color: #54BBEC; color: #fff; margin-bottom: 20px;"
              type="submit" (click)="seeImage('FIELD_SOCIAL_SECURITY_NUMBER', delivery.customerOfMerchant.socialSecurityNumber)"
              class="btn btn-submit">
              {{'SEE_SECURITY_NUMBER' | translate }}
            </button>
            <button *ngIf="delivery.customer.role !== 'ROLE_CUSTOMER'" style="margin-right: 10px; background-color: #54BBEC; color: #fff; margin-bottom: 20px;"
              type="submit" (click)="seeImage('FIELD_MUTUAL', delivery.customerOfMerchant.mutual)" class="btn btn-submit">
              {{'SEE_MUTUAL' | translate }}
            </button>
            <br>
            <button style="margin-right: 10px;"
              *ngIf="delivery.status === 'IN_DELIVERY' && !delivery.packageGivenToDeliverer" type="submit"
              class="btn btn-submit" (click)="givePackage(delivery._id)">
              {{'PACKAGE_GIVEN_TO_DELIVERER' | translate }}
            </button>
            <button style="margin-right: 10px;" *ngIf="delivery.status === 'AWAITING_VALIDATION'" type="submit"
              class="btn btn-submit" (click)="validDelivery(delivery._id)">
              {{'VALID_DELIVERY' | translate }}
            </button>
            <button style="margin-right: 10px;" *ngIf="delivery.status === 'AWAITING_VALIDATION'" type="submit"
              class="btn btn-submit red" (click)="refuseDelivery(delivery._id)">
              {{'REFUSE_DELIVERY' | translate }}
            </button>
            <button style="margin-right: 10px;" *ngIf="delivery.status !== 'AWAITING_VALIDATION'" type="submit"
              class="btn btn-submit red" (click)="viewInvoice(delivery._id)">
              {{'VIEW_INVOICE' | translate }}
            </button>
            <button style="margin-right: 10px;" *ngIf="!['DELIVERD', 'CANCELLED', 'NOT_RECEIVED', 'REFUSED_AMOUNT', 'REFUSED_BY_DELIVERER', 'REFUSED', 'RETURN_PACKAGE'].includes(delivery.status) && !delivery.recoveredPackageByDeliverer"
              type="submit"
              class="btn btn-submit app-icon" [attr.data-count]="count[delivery._id+'-TO_PHARMACY']" (click)="openChat(delivery)">
              {{'TCHAT' | translate }}
            </button>
          </mat-card-actions>
          <mat-card-header *ngIf="delivery.isBtoB">
            <mat-card-title>
              <h3>{{'ADDRESS' | translate}}: {{delivery.address.fullAddress}}</h3>
            </mat-card-title>
            <mat-card-subtitle>{{'DELIVERY_REFERENCE' | translate}}: {{delivery.reference}} -- {{delivery.deliveryDate | date:'dd LLLL yyyy HH:mm'}} --
              {{'STATUS' | translate}}:
              <strong><span [ngClass]="delivery.statusClass">{{delivery.status+'_BTOB' | translate}}</span></strong>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content *ngIf="delivery.isBtoB">
            <div class="location">
              <strong>{{'FIELD_NB_PACKAGE' | translate}}:</strong> {{delivery.nbPackage}}
            </div>
            <div class="location">
              <strong>{{'SIZE_PACKAGE' | translate}}:</strong> {{delivery.sizePackage | translate}}
            </div>
            <div class="location">
              <strong>{{'DELIVERY_PRICE' | translate}}:</strong> {{delivery.invoice.amountMerchant}}€
            </div>

            <div class="location" style="margin-top: 10px;">
              <strong>{{'STEPS' | translate}}:</strong>
              <ul>
                <li style="display: block;">{{'PACKAGE_WITH_DELIVERER' | translate}} <i
                    [ngClass]="(delivery.recoveredPackageByDeliverer)?'ok':'no'" class="icon_check_alt2"></i></li>
                <li style="display: block;">{{'PACKAGE_DELIVERED_BY_DELIVERER' | translate}} <i
                    [ngClass]="(delivery.checkDeliverySuccessfullyByDeliverer)?'ok':'no'" class="icon_check_alt2"></i>
                </li>
              </ul>
            </div>
          </mat-card-content>
          <mat-card-actions *ngIf="delivery.isBtoB">
            <button style="margin-right: 10px;"
              *ngIf="delivery.status === 'IN_DELIVERY' && !delivery.packageGivenToDeliverer" type="submit"
              class="btn btn-submit" (click)="givePackage(delivery._id)">
              {{'PACKAGE_GIVEN_TO_DELIVERER' | translate }}
            </button>
            <button style="margin-right: 10px;" *ngIf="delivery.status === 'DELIVERED' && delivery.isBtoB" type="submit"
              class="btn btn-submit red" (click)="viewDeliveryBill(delivery._id)">
              {{'VIEW_DELIVERY_BILL' | translate }}
            </button>
            <button style="margin-right: 10px;" *ngIf="delivery.status === 'AWAITING_VALIDATION'" type="submit"
              class="btn btn-submit" (click)="validDelivery(delivery._id)">
              {{'VALID_DELIVERY' | translate }}
            </button>
          </mat-card-actions>


          <mat-card-header *ngIf="delivery.isForCustomer">
            <mat-card-title>
              <h3>{{'ADDRESS' | translate}}: {{delivery.address.fullAddress}}</h3>
            </mat-card-title>
            <mat-card-subtitle>{{'DELIVERY_REFERENCE' | translate}}: {{delivery.reference}} -- {{delivery.deliveryDate | date:'dd LLLL yyyy HH:mm'}} --
              {{'STATUS' | translate}}:
              <strong *ngIf="delivery.status !== 'VALID'"><span [ngClass]="delivery.statusClass">{{delivery.status | translate}}</span></strong>
              <strong *ngIf="delivery.status === 'VALID'"><span [ngClass]="delivery.statusClass">{{'VALID_IS_FOR_CUSTOMER' | translate}}</span></strong>
            </mat-card-subtitle>
          </mat-card-header>
          <mat-card-content *ngIf="delivery.isForCustomer">
            <div class="location">
              <strong>{{'CUSTOMER' | translate}}:</strong> {{delivery.nameCustomer + ' ' + delivery.lastnameCustomer}}
            </div>
            <div class="location" style="margin-top: 10px;">
              <strong>{{'STEPS' | translate}}:</strong>
              <ul>
                <li style="display: block;">{{'PACKAGE_WITH_DELIVERER' | translate}} <i
                    [ngClass]="(delivery.recoveredPackageByDeliverer)?'ok':'no'" class="icon_check_alt2"></i></li>
                <li style="display: block;">{{'PACKAGE_DELIVERED_BY_DELIVERER' | translate}} <i
                    [ngClass]="(delivery.checkDeliverySuccessfullyByDeliverer)?'ok':'no'" class="icon_check_alt2"></i>
                </li>
              </ul>
            </div>
          </mat-card-content>
          <mat-card-actions *ngIf="delivery.isForCustomer">
            <button style="margin-right: 10px;"
              *ngIf="delivery.status === 'IN_DELIVERY' && !delivery.packageGivenToDeliverer" type="submit"
              class="btn btn-submit" (click)="givePackage(delivery._id)">
              {{'PACKAGE_GIVEN_TO_DELIVERER' | translate }}
            </button>
            <button style="margin-right: 10px;" *ngIf="delivery.status === 'DELIVERED'" type="submit"
              class="btn btn-submit red" (click)="viewDeliveryBill(delivery._id)">
              {{'VIEW_DELIVERY_BILL' | translate }}
            </button>
            <button style="margin-right: 10px;" *ngIf="delivery.status !== 'AWAITING_VALIDATION'" type="submit"
              class="btn btn-submit red" (click)="viewInvoice(delivery._id)">
              {{'VIEW_INVOICE' | translate }}
            </button>
          </mat-card-actions>
        </mat-card>
        </div>

      </div><!-- End row -->
      <app-tchat *ngIf="deliveryChat" [delivery]="deliveryChat" (onClose)="closeChat()" (onMinimized)="minimized($event)"></app-tchat>
    </div>
  </div>
</div>
